Repository microsoft/PowerToys, pull requests merged in 2020-04, with the labels that each got.

#1682 Tests: Editor settings tests
  src/tests/win-app-driver/FancyZonesTests/EditorSettingsTests.cs
Labels: Area-Tests

#2118 xaml adjustments, including contributors
  src/core/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/KeyboardManagerPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerPreviewPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerRenamePage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml
Labels: Product-Settings

#2133 removing everything references
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/PowerLauncher/MainWindow.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/ReportWindow.xaml.cs
  src/modules/launcher/Wox.Infrastructure/Exception/ExceptionFormatter.cs
  src/modules/launcher/Wox.Infrastructure/Wox.cs
  src/modules/launcher/Wox/App.xaml.cs
  src/modules/launcher/Wox/Helper/ErrorReporting.cs
  src/modules/launcher/Wox/ReportWindow.xaml.cs
  src/modules/launcher/Wox/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#2135 Detect Shortcut: Hold Esc/Enter to Cancel/Accept
  src/modules/keyboardmanager/common/KeyDelay.cpp
  src/modules/keyboardmanager/common/KeyDelay.h
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj.filters
  src/modules/keyboardmanager/common/KeyboardManagerState.cpp
  src/modules/keyboardmanager/common/KeyboardManagerState.h
  src/modules/keyboardmanager/common/Shortcut.cpp
  src/modules/keyboardmanager/common/Shortcut.h
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
Labels: Product-Keyboard Shortcut Manager

#2124 Search result thumbnail for PowerLauncher
  src/modules/launcher/Plugins/Wox.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/PowerLauncher.UI/LauncherControl.xaml
  src/modules/launcher/PowerLauncher/Msg.xaml
  src/modules/launcher/PowerLauncher/Msg.xaml.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageCache.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageHashGenerator.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
  src/modules/launcher/Wox.Infrastructure/Image/ThumbnailReader.cs
  src/modules/launcher/Wox.Infrastructure/Wox.Infrastructure.csproj
  src/modules/launcher/Wox.Plugin/Result.cs
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
  src/modules/launcher/Wox/Msg.xaml
  src/modules/launcher/Wox/Msg.xaml.cs
  src/modules/launcher/Wox/PublicAPIInstance.cs
  src/modules/launcher/Wox/ViewModel/PluginViewModel.cs
  src/modules/launcher/Wox/ViewModel/ResultViewModel.cs
Labels: Product-Launcher

#2144 Set MainWindow visibility to hidden on startup
  src/modules/launcher/PowerLauncher/App.xaml.cs
Labels: Product-Launcher

#2145 Handle RAlt, RCtrl and other extended keys correctly (dev/build-features)
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/Shortcut.cpp
  src/modules/keyboardmanager/dll/dllmain.cpp
Labels: Product-Keyboard Shortcut Manager

#2181 Enable CI build on PowerLauncher Branch
  .pipelines/ci/ci.yml
  .pipelines/ci/templates/build-powertoys-steps.yml
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
Labels: Product-Launcher

#2177 tweak text
  src/modules/launcher/PowerLauncher.UI/LauncherControl.xaml
Labels: Product-Launcher

#2116 Implementing changes suggested in #1992
  installer/PowerToysSetup/Product.wxs
Labels: Area-Setup/Install

#2129 Added Tests and Refactored code
  PowerToys.sln
  src/core/Microsoft.PowerToys.Settings.Test/Microsoft.PowerToys.Settings.Test.csproj
  src/core/Microsoft.PowerToys.Settings.Test/UnitTest1.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/FZConfigProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/PowerRenameLocalProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/PowerRenameProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/PowerRenameSettings.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/SettingsUtils.cs
  src/core/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/ViewModels/FancyZonesViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/ViewModels/GeneralViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/ViewModels/PowerPreviewViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/ViewModels/PowerRenameViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml.cs
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerPreviewPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerPreviewPage.xaml.cs
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerRenamePage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerRenamePage.xaml.cs
  src/core/Microsoft.PowerToys.Settings.UnitTest/Assets/LockScreenLogo.scale-200.png
  src/core/Microsoft.PowerToys.Settings.UnitTest/Assets/SplashScreen.scale-200.png
  src/core/Microsoft.PowerToys.Settings.UnitTest/Assets/Square150x150Logo.scale-200.png
  src/core/Microsoft.PowerToys.Settings.UnitTest/Assets/Square44x44Logo.scale-200.png
  src/core/Microsoft.PowerToys.Settings.UnitTest/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  src/core/Microsoft.PowerToys.Settings.UnitTest/Assets/StoreLogo.png
  src/core/Microsoft.PowerToys.Settings.UnitTest/Assets/Wide310x150Logo.scale-200.png
  src/core/Microsoft.PowerToys.Settings.UnitTest/Microsoft.PowerToys.Settings.UnitTest.csproj
  src/core/Microsoft.PowerToys.Settings.UnitTest/ModelsTests/BasePTModuleSettingsTest.cs
  src/core/Microsoft.PowerToys.Settings.UnitTest/ModelsTests/BasePTSettingsTest.cs
  src/core/Microsoft.PowerToys.Settings.UnitTest/ModelsTests/SettingsUtilsTests.cs
  src/core/Microsoft.PowerToys.Settings.UnitTest/Package.appxmanifest
  src/core/Microsoft.PowerToys.Settings.UnitTest/Properties/AssemblyInfo.cs
  src/core/Microsoft.PowerToys.Settings.UnitTest/UnitTestApp.xaml
  src/core/Microsoft.PowerToys.Settings.UnitTest/UnitTestApp.xaml.cs
  src/core/Microsoft.PowerToys.Settings.UnitTest/ViewModelTests/GeneralSettingsViewModelTest.cs
Labels: Product-Settings

#2093 [Window Walker] Migrate to Launcher
  PowerToys.sln
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Components/FuzzyMatching.cs
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Components/InteropAndHelpers.cs
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Components/LivePreview.cs
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Components/OpenWindows.cs
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Components/SearchController.cs
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Components/SearchResult.cs
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Components/SearchString.cs
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Components/Window.cs
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Components/WindowResult.cs
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Images/windowwalker.png
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Languages/en.xaml
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Main.cs
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Wox.Plugin.WindowWalker.csproj
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/plugin.json
Labels: Product-Launcher

#2192 Remove Autosuggest box
  PowerToys.sln
  src/modules/launcher/PowerLauncher.UI/LauncherControl.xaml
  src/modules/launcher/PowerLauncher.UI/LauncherControl.xaml.cs
  src/modules/launcher/PowerLauncher.UI/PowerLauncher.UI.csproj
  src/modules/launcher/PowerLauncher.UI/ResultList.xaml
  src/modules/launcher/PowerLauncher.UI/ResultList.xaml.cs
  src/modules/launcher/PowerLauncher/MainWindow.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/Wox/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#2179 Keyboard Manager UI tweaks (dev/build-features)
  src/core/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/core/Microsoft.PowerToys.Settings.UI/Views/KeyboardManagerPage.xaml
Labels: Product-Keyboard Shortcut Manager

#2140 Add drop down key selection support to Keyboard Manager UI (dev/build-features)
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/LayoutMap.cpp
  src/modules/keyboardmanager/common/LayoutMap.h
  src/modules/keyboardmanager/common/Shortcut.cpp
  src/modules/keyboardmanager/common/Shortcut.h
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.h
  src/modules/keyboardmanager/ui/KeyboardManagerUI.vcxproj
  src/modules/keyboardmanager/ui/KeyboardManagerUI.vcxproj.filters
  src/modules/keyboardmanager/ui/MainWindow.cpp
  src/modules/keyboardmanager/ui/MainWindow.h
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.h
Labels: Product-Keyboard Shortcut Manager

#2218 Remove White background of list
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/ResultListBox.xaml
Labels: Product-Launcher

#2158 FZ editor: Splitted zones positioning
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditor.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridZone.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/RowColInfo.cs
  src/modules/fancyzones/editor/FancyZonesEditor/SplitEventArgs.cs
  src/tests/win-app-driver/FancyZonesTests/EditorGridZoneResizeTests.cs
  src/tests/win-app-driver/FancyZonesTests/FancyZonesEditor.cs
Labels: FancyZones-Editor

#2154 Added a mutex to ZoneWindow, ensured no data races occur
  src/modules/fancyzones/lib/ZoneWindow.cpp
Labels: Area-Quality, Product-FancyZones

#2184 [Kbm] Save the remaps to file[part-1]
  src/core/Microsoft.PowerToys.Settings.UI.Lib/GenericProperty.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/KeyboadManagerConfigModel.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/KeyboardManagerProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/KeyboardManagerSettings.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/KeysDataModel.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/RemapKeysDataModel.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/ShortcutsKeyDataModel.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/Utilities/Helper.cs
  src/core/Microsoft.PowerToys.Settings.UI/ViewModels/KeyboardManagerViewModel.cs
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj.filters
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/common/KeyboardManagerState.cpp
  src/modules/keyboardmanager/common/KeyboardManagerState.h
  src/modules/keyboardmanager/common/Shortcut.cpp
  src/modules/keyboardmanager/common/Shortcut.h
  src/modules/keyboardmanager/common/pch.h
  src/modules/keyboardmanager/dll/dllmain.cpp
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.h
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.h
  src/modules/keyboardmanager/ui/pch.h
Labels: Product-Keyboard Shortcut Manager

#2237 Move KBM warnings at Apply to Flyouts
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
Labels: Product-Keyboard Shortcut Manager

#2156 Dpi unaware placement bug - multimontior with same DPI settings fix
  src/common/monitors.cpp
  src/common/monitors.h
  src/modules/fancyzones/lib/Zone.cpp
Labels: FancyZones-Dragging&UI

#2242 Added MSI support for Launcher
  installer/PowerToysSetup/Product.wxs
Labels: Product-Launcher

#2255 Pull changes from master to dev/powerLauncher
  installer/PowerToysSetup/Product.wxs
  src/common/monitors.cpp
  src/common/monitors.h
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditor.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridZone.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/RowColInfo.cs
  src/modules/fancyzones/editor/FancyZonesEditor/SplitEventArgs.cs
  src/modules/fancyzones/lib/Zone.cpp
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/powerrename/dll/dllmain.cpp
  src/modules/powerrename/lib/Settings.cpp
  src/modules/powerrename/lib/Settings.h
  src/modules/powerrename/ui/PowerRenameUI.cpp
  src/modules/powerrename/ui/PowerRenameUI.h
  src/modules/previewpane/MarkdownPreviewHandler/MarkdownPreviewHandlerControl.cs
  src/runner/tray_icon.cpp
  src/tests/win-app-driver/FancyZonesTests/EditorGridZoneResizeTests.cs
  src/tests/win-app-driver/FancyZonesTests/FancyZonesEditor.cs
Labels: Product-Launcher

#2141 runner: initial automatic update
  .pipelines/pipeline.user.windows.yml
  PowerToys.sln
  installer/PowerToysSetup/Product.wxs
  src/action_runner/action_runner.cpp
  src/action_runner/action_runner.vcxproj
  src/common/common.vcxproj
  src/common/common.vcxproj.filters
  src/common/msi_to_msix_upgrade_lib/msi_to_msix_upgrade.cpp
  src/common/msi_to_msix_upgrade_lib/msi_to_msix_upgrade.h
  src/common/msi_to_msix_upgrade_lib/pch.h
  src/common/updating/pch.cpp
  src/common/updating/pch.h
  src/common/updating/updating.cpp
  src/common/updating/updating.h
  src/common/updating/updating.vcxproj
  src/common/updating/updating.vcxproj.filters
  src/common/version.cpp
  src/common/version.h
  src/runner/action_runner_utils.cpp
  src/runner/action_runner_utils.h
  src/runner/general_settings.cpp
  src/runner/general_settings.h
  src/runner/main.cpp
  src/runner/resource.h
  src/runner/runner.rc
  src/runner/runner.vcxproj
  src/runner/runner.vcxproj.filters
  src/runner/settings_window.cpp
  src/runner/trace.cpp
  src/runner/tray_icon.cpp
  src/runner/tray_icon.h
  src/runner/update_state.cpp
  src/runner/update_state.h
  src/runner/update_utils.cpp
  src/runner/update_utils.h
  src/settings-web/src/components/GeneralSettings.tsx
  src/settings/settings-html/dist/bundle.js
Labels: Area-Setup/Install

#2273 Remove list view animation
  src/modules/launcher/PowerLauncher.UI/App.xaml
  src/modules/launcher/PowerLauncher.UI/ResultList.xaml
Labels: Product-Launcher

#2220 Fixed KBM interaction with Shortcut Guide (dev/build-features)
  src/common/common.vcxproj
  src/common/common.vcxproj.filters
  src/common/shared_constants.h
  src/modules/keyboardmanager/dll/dllmain.cpp
  src/modules/shortcut_guide/target_state.cpp
Labels: Product-Keyboard Shortcut Manager, Product-Shortcut Guide

#2186 Enable CI for dev/build-features branch
  .pipelines/ci/ci.yml
  .pipelines/ci/templates/build-powertoys-steps.yml
  src/core/Microsoft.PowerToys.Settings.UI/Assets/LockScreenLogo.scale-200.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/Logo.scale-200.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/SplashScreen.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/SplashScreen.scale-200.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/Square150x150Logo.scale-200.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/Square44x44Logo.scale-200.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/StoreLogo.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/StoreLogo.scale-100.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/Wide310x150Logo.scale-200.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/logo.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/logo150.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/logo44.png
  src/core/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/core/Microsoft.PowerToys.Settings.UI/Package.appxmanifest
Labels: Product-Keyboard Shortcut Manager

#2108 msi: detect and set previous installation path via a custom action
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetupCustomActions/CustomAction.cpp
  installer/PowerToysSetupCustomActions/CustomAction.def
  installer/PowerToysSetupCustomActions/PowerToysSetupCustomActions.vcxproj
  installer/PowerToysSetupCustomActions/stdafx.h
Labels: Area-Setup/Install

#2110 Compare window desktop id with currently active work area desktop id.
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/lib/VirtualDesktopUtils.cpp
  src/modules/fancyzones/lib/VirtualDesktopUtils.h
  src/modules/fancyzones/lib/ZoneWindow.h
Labels: FancyZones-VirtualDesktop

#2290 Fix compilation problems related to the Interop project
  src/common/common-md-flag/common-md-flag.vcxproj
  src/core/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/core/Microsoft.PowerToys.Settings.UnitTest/Microsoft.PowerToys.Settings.UnitTest.csproj
Labels: Product-Settings

#2292 Removed folder plugin
  PowerToys.sln
  src/modules/launcher/Plugins/Wox.Plugin.Folder/ContextMenuLoader.cs
  src/modules/launcher/Plugins/Wox.Plugin.Folder/FolderLink.cs
  src/modules/launcher/Plugins/Wox.Plugin.Folder/FolderPluginSettings.xaml
  src/modules/launcher/Plugins/Wox.Plugin.Folder/FolderPluginSettings.xaml.cs
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Images/copy.png
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Images/deletefilefolder.png
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Images/file.png
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Images/folder.png
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Images/user.png
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Languages/de.xaml
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Languages/en.xaml
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Languages/pl.xaml
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Languages/tr.xaml
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Main.cs
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Settings.cs
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Wox.Plugin.Folder.csproj
  src/modules/launcher/Plugins/Wox.Plugin.Folder/plugin.json
Labels: Product-Launcher

#2217 Fix Ctrl/Alt/Shift single key remapping
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
Labels: Product-Keyboard Shortcut Manager

#2256 Fix colors in KBM UI and add support for light/dark theme
  src/modules/keyboardmanager/common/KeyboardManagerState.cpp
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.h
Labels: Product-Keyboard Shortcut Manager

#2221 Fix issue where Key name list would change based on keyboard state (dev/build-features)
  src/common/keyboard_layout.cpp
Labels: Product-Keyboard Shortcut Manager

#2233 Changed KBM output directory to modules (dev/build-features)
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj
  src/modules/keyboardmanager/dll/KeyboardManager.vcxproj
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditKeyboardWindow.h
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.h
  src/modules/keyboardmanager/ui/KeyboardManagerUI.vcxproj
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.h
Labels: Product-Keyboard Shortcut Manager

#2298 removed deployment for uwp apps
  PowerToys.sln
Labels: Product-Launcher

#2250 Win+R shouldn't launch WindowWalker
  src/modules/launcher/Plugins/Wox.Plugin.Shell/Main.cs
Labels: Product-Launcher

#2315 Select text whenever launcher is set to visible after being hidden
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
Labels: Product-Launcher

#2334 Update nuget packages across solution to latest
  PowerToys.sln
  src/common/common.vcxproj
  src/common/common.vcxproj.filters
  src/common/notifications_winrt/notifications.vcxproj
  src/common/notifications_winrt/notifications.vcxproj.filters
  src/common/notifications_winrt/packages.config
  src/common/packages.config
  src/modules/fancyzones/dll/FancyZonesModule.vcxproj
  src/modules/fancyzones/dll/FancyZonesModule.vcxproj.filters
  src/modules/fancyzones/dll/packages.config
  src/modules/fancyzones/editor/FancyZonesEditor/FancyZonesEditor.csproj
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj
  src/modules/fancyzones/lib/packages.config
  src/modules/fancyzones/tests/UnitTests/UnitTests.vcxproj
  src/modules/fancyzones/tests/UnitTests/packages.config
  src/modules/launcher/Plugins/Wox.Plugin.Calculator/Wox.Plugin.Calculator.csproj
  src/modules/launcher/Plugins/Wox.Plugin.Program/Wox.Plugin.Program.csproj
  src/modules/launcher/Plugins/Wox.Plugin.Shell/Wox.Plugin.Shell.csproj
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Wox.Plugin.WindowWalker.csproj
  src/modules/launcher/PowerLauncher.UI/PowerLauncher.UI.csproj
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/Wox.Core/Wox.Core.csproj
  src/modules/launcher/Wox.Infrastructure/Wox.Infrastructure.csproj
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
  src/modules/launcher/Wox.Test/Wox.Test.csproj
  src/modules/launcher/Wox/Wox.csproj
  src/modules/previewpane/MarkDownPreviewHandler/MarkDownPreviewHandler.csproj
  src/modules/previewpane/PreviewPaneUnitTests/UnitTests-MarkdownPreviewHandler.csproj
  src/modules/windowwalker/app/Window Walker/Window Walker.csproj
  src/runner/packages.config
  src/runner/runner.vcxproj
  src/tests/win-app-driver/packages.config
  src/tests/win-app-driver/win-app-driver.csproj
Labels: Product-Launcher

#2327 simplifying the xaml and making things tighter
  src/modules/launcher/PowerLauncher.UI/LauncherControl.xaml
  src/modules/launcher/PowerLauncher.UI/ResultList.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml
Labels: Product-Launcher

#2308 Add support for Common Win key in KBM
  src/common/keyboard_layout.cpp
  src/common/shared_constants.h
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/common/KeyboardManagerState.h
  src/modules/keyboardmanager/common/Shortcut.cpp
  src/modules/keyboardmanager/common/Shortcut.h
  src/modules/keyboardmanager/dll/dllmain.cpp
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
Labels: Product-Keyboard Shortcut Manager

#2299 Update the KBM UI to use a Grid based layout rather than stack panels
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.h
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.h
Labels: Product-Keyboard Shortcut Manager

#2355 Launcher MSI - Added a required dll and removed folder plugin
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/PowerLauncher.UI/PowerLauncher.UI.csproj
Labels: Product-Launcher

#2356 stopping deployment of UWP App
  PowerToys.sln
Labels: Product-Keyboard Shortcut Manager, Product-Settings

#2361 Modify scoring algorithm for fuzzy search
  src/modules/launcher/Wox.Infrastructure/StringMatcher.cs
Labels: Product-Launcher

#2248 Deprecate ATL based IPC wrapper library
  PowerToys.sln
  src/common/common-md-flag/common-md-flag.vcxproj
  src/common/common-md-flag/common-md-flag.vcxproj.filters
  src/common/common.vcxproj
  src/common/common.vcxproj.filters
  src/common/interop-tests/Properties/AssemblyInfo.cs
  src/common/interop-tests/UnitTest1.cs
  src/common/interop-tests/interop-tests.csproj
  src/common/interop-tests/packages.config
  src/common/interop/interop.h
  src/common/two_way_pipe_message_ipc.cpp
  src/common/two_way_pipe_message_ipc.h
  src/common/two_way_pipe_message_ipc_impl.h
  src/core/Microsoft.PowerToys.Settings.IPCWrapperPS/Microsoft.PowerToys.Settings.IPCWrapperPS.vcxproj
  src/core/Microsoft.PowerToys.Settings.IPCWrapperPS/Microsoft.PowerToys.Settings.IPCWrapperPS.vcxproj.filters
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/TwoWayIPCLib.cpp
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/TwoWayIPCLib.def
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/TwoWayIPCLib.idl
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/TwoWayIPCLib.rc
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/TwoWayIPCLib.rgs
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/TwoWayIPCLib.vcxproj
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/TwoWayIPCLib.vcxproj.filters
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/TwoWayIPCLibps.def
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/TwoWayIPCManager.cpp
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/TwoWayIPCManager.h
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/TwoWayIPCManager.rgs
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/_ITwoWayIPCManagerEvents_CP.h
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/dllmain.cpp
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/dllmain.h
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/framework.h
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/pch.cpp
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/pch.h
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/resource.h
  src/core/Microsoft.PowerToys.Settings.TwoWayIPCLib/targetver.h
  src/core/Microsoft.PowerToys.Settings.UI.Runner/MainWindow.xaml.cs
  src/core/Microsoft.PowerToys.Settings.UI.Runner/Microsoft.PowerToys.Settings.UI.Runner.csproj
  src/core/Microsoft.PowerToys.Settings.UI.Runner/Program.cs
  src/settings/main.cpp
Labels: Product-Settings

#2369 adjusting how programs are displayed.
  src/modules/launcher/Plugins/Wox.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Wox.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/Plugins/Wox.Plugin.Program/Programs/Win32.cs
  src/modules/launcher/Plugins/Wox.Plugin.Shell/Main.cs
Labels: Product-Launcher

#2372 Folder Plugin
  src/modules/launcher/PowerLauncher.UI/LauncherControl.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
Labels: Product-Launcher

#2374 Add the folder plugin wxs back in
  installer/PowerToysSetup/Product.wxs
Labels: Product-Launcher

#2375 Deduping results for program plugin
  src/modules/launcher/Plugins/Wox.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/Plugins/Wox.Plugin.Program/Programs/Win32.cs
Labels: Product-Launcher

#2381 disabling WinR
  src/modules/launcher/Plugins/Wox.Plugin.Shell/Main.cs
  src/modules/launcher/Plugins/Wox.Plugin.Shell/Settings.cs
Labels: Product-Launcher

#2370 Push program execution to background thread
  src/modules/launcher/Wox/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#2351 MSI update for SettingsV2 and KBM
  PowerToys.sln
  installer/PowerToysSetup/Product.wxs
  src/core/Microsoft.PowerToys.Settings.UI.Runner/Microsoft.PowerToys.Settings.UI.Runner.csproj
  src/core/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/runner/settings_window.cpp
Labels: Area-Setup/Install, Product-Keyboard Shortcut Manager, Product-Settings

#2385 Fix dll loading at runtime
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/Wox/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#2380 Fixes cursor jumping around issue.
  src/modules/launcher/Plugins/Wox.Plugin.Folder/Main.cs
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/Wox/MainWindow.xaml.cs
  src/modules/launcher/Wox/PublicAPIInstance.cs
  src/modules/launcher/Wox/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#2404 Reindex UWP Apps when apps are installed or uninstalled.
  src/modules/launcher/Plugins/Wox.Plugin.Program/Main.cs
Labels: Product-Launcher

#2276 PowerLauncherSettings unit tests
  src/core/Microsoft.PowerToys.Settings.UI.Lib/PowerLauncherSettings.cs
  src/core/Microsoft.PowerToys.Settings.UI/ViewModels/PowerLauncherViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UnitTest/Microsoft.PowerToys.Settings.UnitTest.csproj
  src/core/Microsoft.PowerToys.Settings.UnitTest/ViewModelTests/PowerLauncherViewModelTest.cs
  src/modules/fancyzones/tests/UnitTests/UnitTests.vcxproj.filters
Labels: Product-Launcher, Product-Settings

#2386 Improve warnings for KBM (dev/build-features)
  src/common/keyboard_layout.cpp
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/common/Shortcut.cpp
  src/modules/keyboardmanager/common/Shortcut.h
  src/modules/keyboardmanager/dll/dllmain.cpp
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.h
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.h
Labels: Product-Keyboard Shortcut Manager

#2346 runner: autoupdate improvements
  src/common/VersionHelper.cpp
  src/common/VersionHelper.h
  src/common/notifications.cpp
  src/common/notifications.h
  src/common/updating/updating.cpp
Labels: Area-Quality, Area-Setup/Install

#2475 correct spelling mistakes for en-us :)
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml
  src/modules/keyboardmanager/common/KeyboardManagerState.h
  src/modules/keyboardmanager/dll/dllmain.cpp
  src/modules/launcher/Plugins/Wox.Plugin.WindowWalker/Components/Window.cs
  src/modules/windowwalker/app/Window Walker/Components/Window.cs
Labels: Product-Settings

#2477 [Launcher] Fluent UX enhancements
  src/modules/launcher/PowerLauncher.UI/App.xaml
  src/modules/launcher/PowerLauncher.UI/LauncherControl.xaml
  src/modules/launcher/PowerLauncher.UI/ResultList.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
Labels: Product-Launcher

#2318 "Unhooked" the Shortcut guide module from the PT event dispatcher
  src/modules/shortcut_guide/shortcut_guide.cpp
  src/modules/shortcut_guide/shortcut_guide.h
Labels: Area-Quality

#2339 Handle scenario with only primary desktop and no desktop switch in current session.
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/lib/JsonHelpers.cpp
  src/modules/fancyzones/lib/JsonHelpers.h
  src/modules/fancyzones/lib/RegistryHelpers.h
  src/modules/fancyzones/lib/VirtualDesktopUtils.cpp
  src/modules/fancyzones/lib/VirtualDesktopUtils.h
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/lib/ZoneWindow.cpp
Labels: FancyZones-VirtualDesktop

#2347 FancyZones now does its own event processing
  src/modules/fancyzones/dll/dllmain.cpp
Labels: Area-Quality

#2510 Merge missing commits from power launcher
  src/modules/launcher/PowerLauncher.UI/App.xaml
  src/modules/launcher/PowerLauncher.UI/LauncherControl.xaml
  src/modules/launcher/PowerLauncher.UI/ResultList.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
Labels: Product-Launcher
