Repository microsoft/PowerToys, pull requests merged in 2020-10, with the labels that each got.

#6952 [KBM] Avoid checking reserved/unassigned/oem-specific/undefined key codes during shortcut remaps
  src/modules/keyboardmanager/common/Shortcut.cpp
Labels: Hot Fix, Product-Keyboard Shortcut Manager

#6880 Shift to ControlzEx HC code
  src/modules/launcher/Wox.Plugin/ThemeManager.cs
Labels: Product-Launcher

#6959 [KBM] Moved unregistering of key delays to always run on the dispatcher thread to avoid mutex re-entrancy
  src/modules/keyboardmanager/common/KeyDelay.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
Labels: Hot Fix, Product-Keyboard Shortcut Manager

#6960 [Settings] Add AppxBundlePlatform to remove warning
  src/core/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
Labels: Product-Settings

#6988 [Run] Fix autosuggest
  src/modules/launcher/Wox.Core/Plugin/PluginManager.cs
  src/modules/launcher/Wox.Test/PluginManagerTest.cs
Labels: Hot Fix, Product-Launcher

#6943 [FancyZones] Localize strings in FancyZones editor
  src/modules/fancyzones/editor/FancyZonesEditor/App.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
Labels: Area-Localization, FancyZones-Editor

#6958 Add exception handling in win32 program
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
Labels: Hot Fix, Product-Launcher

#6981 [Run] Fix for IndexOutOfBounds exception
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#7139 [PT Run] Add null check in SelectPrevTabItem
  src/modules/launcher/PowerLauncher/ViewModel/ResultsViewModel.cs
Labels: Product-Launcher

#6882 Fix Docker desktop not found in program plugin issue
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramFileSystemWatchers.cs
Labels: Product-Launcher

#7140 Catch security and unauthorized access exception while trying to read from file
  src/modules/launcher/Wox.Infrastructure/FileSystemHelper/FileWrapper.cs
Labels: Product-Launcher

#7116 [FancyZones] Clone parent data only for new VD
  src/modules/fancyzones/lib/FancyZonesData.cpp
  src/modules/fancyzones/lib/FancyZonesData.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
Labels: Hot Fix, Product-FancyZones

#7136 Fix Tab Trap in SettingsHotkey Custom Control
  src/common/interop/KeyboardHook.cpp
  src/common/interop/KeyboardHook.h
  src/core/Microsoft.PowerToys.Settings.UI.Lib/HotkeySettings.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/HotkeySettingsControlHook.cs
  src/core/Microsoft.PowerToys.Settings.UI/Controls/HotkeySettingsControl.xaml.cs
  src/core/Microsoft.PowerToys.Settings.UI/Helpers/NativeKeyboardHelper.cs
  src/core/Microsoft.PowerToys.Settings.UI/Helpers/NativeMethods.cs
  src/core/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
Labels: Area-Accessibility, Product-Settings

#6803 [KBM] Refactor KBM's thread safety logic to avoid mutex re-entrancy bugs and improve performance
  src/modules/keyboardmanager/common/KeyboardManagerState.cpp
  src/modules/keyboardmanager/common/KeyboardManagerState.h
  src/modules/keyboardmanager/common/RemapShortcut.h
  src/modules/keyboardmanager/common/Shortcut.h
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.h
  src/modules/keyboardmanager/dll/dllmain.cpp
  src/modules/keyboardmanager/test/LoadingAndSavingRemappingTests.cpp
  src/modules/keyboardmanager/ui/BufferValidationHelpers.cpp
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/LoadingAndSavingRemappingHelper.cpp
  src/modules/keyboardmanager/ui/LoadingAndSavingRemappingHelper.h
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.h
Labels: Product-Keyboard Shortcut Manager

#7166 [KBM] Modify dummy key event to send both key down and key up to improve compatibility
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
Labels: Product-Keyboard Shortcut Manager

#7143 [KBM] Fix remaps to arrow keys/Home/Ins, etc not working with Windows Terminal
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/test/SetKeyEventTests.cpp
Labels: Product-Keyboard Shortcut Manager

#7189 Fix build farm failing due to localization
  src/modules/keyboardmanager/dll/loc/hu/src/modules/keyboardmanager/dll/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/loc/hu/src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Properties/Resources.resx.lcl
Labels: Area-Localization

#6883 [File Explorer] Fix enable/disable for File Explorer PowerToy
  src/core/Microsoft.PowerToys.Settings.UI.Lib/PowerPreviewSettings.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/ViewModels/PowerPreviewViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/PowerPreview.cs
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Styles/_Thickness.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerPreviewPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerPreviewPage.xaml.cs
  src/modules/previewpane/powerpreview/Resources.resx
  src/modules/previewpane/powerpreview/powerpreview.cpp
  src/modules/previewpane/powerpreview/powerpreview.h
  src/modules/previewpane/powerpreview/powerpreview.vcxproj
  src/modules/previewpane/powerpreview/powerpreview.vcxproj.filters
  src/modules/previewpane/powerpreview/preview_handler.cpp
  src/modules/previewpane/powerpreview/preview_handler.h
  src/modules/previewpane/powerpreview/registry_wrapper.cpp
  src/modules/previewpane/powerpreview/registry_wrapper.h
  src/modules/previewpane/powerpreview/registry_wrapper_interface.h
  src/modules/previewpane/powerpreview/settings.cpp
  src/modules/previewpane/powerpreview/settings.h
  src/modules/previewpane/powerpreview/thumbnail_provider.cpp
  src/modules/previewpane/powerpreview/thumbnail_provider.h
  src/modules/previewpane/powerpreviewTest/FileExplorerPreviewSettingsTest.cpp
Labels: Product-File Explorer

#7206 [KBM] Change declaration order of _delayThread member in KeyDelay
  src/modules/keyboardmanager/common/KeyDelay.h
Labels: Product-Keyboard Shortcut Manager

#7125 [FancyZones] Responsive drawing
  src/common/on_thread_executor.cpp
  src/common/on_thread_executor.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
Labels: Product-FancyZones

#7127 Restart the Launcher if it had crashed when invoked
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
Labels: Product-Launcher

#6908 [FancyZones] Screen enumeration improvement
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/ZoneWindow.h
  src/modules/fancyzones/lib/util.cpp
  src/modules/fancyzones/lib/util.h
  src/modules/fancyzones/tests/UnitTests/Util.Spec.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneWindow.Spec.cpp
Labels: Product-FancyZones

#7022 [FancyZones] Refactor Zone class
  src/modules/fancyzones/lib/Zone.cpp
  src/modules/fancyzones/lib/Zone.h
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/tests/UnitTests/Zone.Spec.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneSet.Spec.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneWindow.Spec.cpp
Labels: Product-FancyZones

#7300 Fix duplicate zone drawing
  src/modules/fancyzones/lib/Settings.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/ZoneWindowDrawing.cpp
  src/modules/fancyzones/lib/ZoneWindowDrawing.h
Labels: Product-FancyZones

#7171 [KBM] Fix shortcut remap scenarios that should/should not open start menu
  src/modules/keyboardmanager/common/RemapShortcut.h
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/test/OSLevelShortcutRemappingTests.cpp
Labels: Product-Keyboard Shortcut Manager

#7309 [PowerRename] new icon
  src/modules/powerrename/ui/PowerRename.ico
Labels: Product-PowerRename

#7307 Remove Drop Down from combo box name as it is redundant
  src/modules/keyboardmanager/dll/Resources.resx
Labels: Area-Accessibility, Product-Keyboard Shortcut Manager

#7292 [PT Run] Open folder using shell instead of explorer.exe
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/IShellAction.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/Result/CreateOpenCurrentFolderResult.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/Result/FileItemResult.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/Result/FolderItemResult.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/ShellAction.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/UserFolderResult.cs
Labels: hacktoberfest-accepted

#7278 Get rid of indexes in dropdowns
  src/common/keyboard_layout.cpp
  src/common/keyboard_layout.h
  src/common/keyboard_layout_impl.h
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/Shortcut.cpp
  src/modules/keyboardmanager/common/Shortcut.h
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/test/BufferValidationTests.cpp
  src/modules/keyboardmanager/test/KeyboardManagerHelperTests.cpp
  src/modules/keyboardmanager/test/ShortcutTests.cpp
  src/modules/keyboardmanager/test/TestHelpers.cpp
  src/modules/keyboardmanager/ui/BufferValidationHelpers.cpp
  src/modules/keyboardmanager/ui/BufferValidationHelpers.h
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.h
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
Labels: Product-Keyboard Shortcut Manager

#6129 Add action keywords for each plugin
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/plugin.json
  src/modules/launcher/Wox.Core/Plugin/QueryBuilder.cs
Labels: hacktoberfest-accepted

#7401 Use task delay instead of thread sleep
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/ConcurrentQueueEventHandlerTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/EventHandler.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
Labels: Product-Launcher

#7383 [Localization] Fix Settings resw path on the build farm
  tools/localization/move_uwp_resources.ps1
Labels: Area-Localization, Product-Settings

#7426 [Settings] Add null check for WindowsXamlHost_ChildChanged handler to prevent NullRefException
  src/core/Microsoft.PowerToys.Settings.UI.Runner/MainWindow.xaml.cs
Labels: Product-Settings

#7335 Dev documentation of SettingsV2
  doc/devdocs/settingsv2/communication-with-modules.md
  doc/devdocs/settingsv2/compatibility-legacy-settings.md
  doc/devdocs/settingsv2/hotkeycontrol.md
  doc/devdocs/settingsv2/project-overview.md
  doc/devdocs/settingsv2/readme.md
  doc/devdocs/settingsv2/runner-ipc.md
  doc/devdocs/settingsv2/settings-utilities.md
  doc/devdocs/settingsv2/telemetry.md
  doc/devdocs/settingsv2/ui-architecture.md
  doc/devdocs/settingsv2/viewmodels.md
  doc/devdocs/settingsv2/xaml-island-tweaks.md
  doc/images/settingsv2/settingshotkeycontrol.png
  doc/images/settingsv2/ui-architecture.png
Labels: Issue-Docs, Product-Settings

#7333 Dev Documentation of PowerToys Run
  doc/devdocs/modules/launcher/architecture.md
  doc/devdocs/modules/launcher/debugging.md
  doc/devdocs/modules/launcher/plugins/calculator.md
  doc/devdocs/modules/launcher/plugins/folder.md
  doc/devdocs/modules/launcher/plugins/indexer.md
  doc/devdocs/modules/launcher/plugins/overview.md
  doc/devdocs/modules/launcher/plugins/program.md
  doc/devdocs/modules/launcher/plugins/shell.md
  doc/devdocs/modules/launcher/plugins/uri.md
  doc/devdocs/modules/launcher/plugins/windowwalker.md
  doc/devdocs/modules/launcher/project_structure.md
  doc/devdocs/modules/launcher/readme.md
  doc/devdocs/modules/launcher/telemetry.md
  doc/images/launcher/launcher_dependency.PNG
  doc/images/launcher/plugins/calculator.png
  doc/images/launcher/plugins/folder.png
  doc/images/launcher/plugins/indexer.png
  doc/images/launcher/plugins/program.png
  doc/images/launcher/plugins/shell.png
  doc/images/launcher/plugins/uri.png
  doc/images/launcher/plugins/windowwalker.png
  doc/images/launcher/pt_run_ui.png
  doc/images/launcher/ui_vm_interaction.PNG
  doc/images/launcher/vm_plugin_interaction.PNG
Labels: Issue-Docs, Product-Launcher

#7392 Fix autocomplete text issue on query change
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/Wox.Test/MainViewModelTest.cs
Labels: Product-Launcher

#7386 [KBM] Ignore IME keys while checking keyboard state for Shortcut Remaps
  src/modules/keyboardmanager/common/Shortcut.cpp
Labels: Product-Keyboard Shortcut Manager

#7422 Fix dropdown popup narrator bug
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
Labels: Area-Accessibility, Product-Keyboard Shortcut Manager

#7406 bootstrapper: add cmd argument for custom log location
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
Labels: Area-Setup/Install

#7414 previewpane: use RAII for FileExplorerPreviewSettings classes to avoi…
  src/modules/previewpane/powerpreview/powerpreview.cpp
  src/modules/previewpane/powerpreview/powerpreview.h
  src/modules/previewpane/powerpreview/preview_handler.h
  src/modules/previewpane/powerpreview/settings.cpp
  src/modules/previewpane/powerpreview/settings.h
  src/modules/previewpane/powerpreview/thumbnail_provider.h
  src/modules/previewpane/powerpreviewTest/FileExplorerPreviewSettingsTest.cpp
Labels: Product-File Explorer

#7405 bootstrapper: treat invalid flags as fatal errors
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
Labels: Area-Setup/Install

#7315 Tweaked KBM comment, removed redundant assignment, and avoid sending key up for one case when not necessary
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
Labels: Product-Keyboard Shortcut Manager

#7372 [FancyZones] Add AutomationProperties.Name to focusable elements
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasEditorWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
Labels: Area-Accessibility, FancyZones-Editor

#7438 Fix exceptions and incorrect results within the calculator plugin
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator.UnitTest/ExtendedCalculatorParserTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/CalculateHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/CalculateResult.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/ResultHelper.cs
Labels: Product-Launcher

#7394 settings: use actionable toast notifications for file explorer module…
  src/common/common.vcxproj
  src/common/common.vcxproj.filters
  src/common/notifications/fancyzones_notifications.h
  src/common/toast_dont_show_again.cpp
  src/common/toast_dont_show_again.h
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
  src/modules/previewpane/powerpreview/Resources.resx
  src/modules/previewpane/powerpreview/powerpreview.cpp
  src/runner/main.cpp
Labels: Product-File Explorer, Product-Settings

#7475 [PowerRename] Widen "Search for" and "Replace with" area for localized strings
  src/modules/powerrename/ui/PowerRenameUI.base.rc
Labels: Product-PowerRename

#7317 [Image Resizer] Upgraded to .NET Core 3.1
  PowerToys.sln
  installer/PowerToysSetup/Product.wxs
  src/modules/imageresizer/tests/App.config
  src/modules/imageresizer/tests/ImageResizerUITest.csproj
  src/modules/imageresizer/ui/App.config
  src/modules/imageresizer/ui/App.xaml
  src/modules/imageresizer/ui/App.xaml.cs
  src/modules/imageresizer/ui/Helpers/Observable.cs
  src/modules/imageresizer/ui/Helpers/RelayCommand.cs
  src/modules/imageresizer/ui/ImageResizerUI.csproj
  src/modules/imageresizer/ui/Models/ResizeSize.cs
  src/modules/imageresizer/ui/Properties/Settings.cs
  src/modules/imageresizer/ui/ViewModels/AdvancedViewModel.cs
  src/modules/imageresizer/ui/ViewModels/InputViewModel.cs
  src/modules/imageresizer/ui/ViewModels/MainViewModel.cs
  src/modules/imageresizer/ui/ViewModels/ProgressViewModel.cs
  src/modules/imageresizer/ui/ViewModels/ResultsViewModel.cs
  src/modules/imageresizer/ui/Views/MainWindow.xaml
  src/modules/imageresizer/ui/Views/ProgressPage.xaml
Labels: hacktoberfest-accepted

#7455 Remove unused pinyin code
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/PowerLauncher/PublicAPIInstance.cs
  src/modules/launcher/Wox.Infrastructure/Alphabet.cs
  src/modules/launcher/Wox.Infrastructure/IAlphabet.cs
  src/modules/launcher/Wox.Infrastructure/StringMatcher.cs
  src/modules/launcher/Wox.Infrastructure/UserSettings/Settings.cs
  src/modules/launcher/Wox.Infrastructure/Wox.Infrastructure.csproj
  src/modules/launcher/Wox.Infrastructure/pinyindb/pinyin_gwoyeu_mapping.xml
  src/modules/launcher/Wox.Infrastructure/pinyindb/pinyin_mapping.xml
  src/modules/launcher/Wox.Infrastructure/pinyindb/unicode_to_hanyu_pinyin.txt
Labels: Product-Launcher

#7496 Define Heading levels in Settings App
  src/core/Microsoft.PowerToys.Settings.UI/Styles/TextBlock.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/ShellPage.xaml
Labels: Accessibility [E+D], Area-Accessibility, Product-Settings

#7355 [PT Run] Option for override theme
  src/common/ManagedCommon/Theme.cs
  src/core/Microsoft.PowerToys.Settings.UI.Library/Microsoft.PowerToys.Settings.UI.Library.csproj
  src/core/Microsoft.PowerToys.Settings.UI.Library/PowerLauncherProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/QueryInternalDirectory.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWPApplication.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Main.cs
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/PowerLauncher/PublicAPIInstance.cs
  src/modules/launcher/PowerLauncher/SettingsWatcher.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
  src/modules/launcher/Wox.Infrastructure/UserSettings/Settings.cs
  src/modules/launcher/Wox.Plugin/IPublicAPI.cs
  src/modules/launcher/Wox.Plugin/ThemeManager.cs
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
Labels: Area-User Interface, Product-Launcher, hacktoberfest-accepted

#7492 [Keyboard Manager] new icon
  src/modules/keyboardmanager/dll/Keyboard.ico
Labels: Product-Keyboard Shortcut Manager

#7387 [FancyZones] Align zone numbers between Editor and FancyZonesLib
  src/modules/fancyzones/editor/FancyZonesEditor/Models/Settings.cs
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/Zone.cpp
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/lib/ZoneSet.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/ZoneWindowDrawing.cpp
  src/modules/fancyzones/lib/ZoneWindowDrawing.h
  src/modules/fancyzones/tests/UnitTests/ZoneSet.Spec.cpp
Labels: FancyZones-Editor, Product-FancyZones

#7481 Add dev docs for Localization
  .pipelines/pipeline.user.windows.yml
  doc/devdocs/localization.md
Labels: Area-Localization, Issue-Docs

#7505 [Settings] Switch focus to last Image Size ListViewItem on adding new size
  src/core/Microsoft.PowerToys.Settings.UI.Library/ViewModels/ImageResizerViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml.cs
Labels: Area-Accessibility, Product-Settings

#7553 Catch Exceptions when settings.json is corrupted
  src/core/Microsoft.PowerToys.Settings.UI.Library/SettingsUtils.cs
Labels: Product-Settings

#7537 Update string color represention when color format changed, but mouse…
  src/modules/colorPicker/ColorPickerUI/Mouse/MouseInfoProvider.cs
Labels: Product-Color Picker

#7563 Handle error in fetching Win32 program description
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/ShellLinkHelper.cs
Labels: Product-Launcher

#7261 [Settings] Added improved narrator support for custom shortcut control
  src/core/Microsoft.PowerToys.Settings.UI/Controls/HotkeySettingsControl.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml
Labels: Accessibility [E+D], Area-Accessibility, Product-Settings

#7530 [Settings] Fixing inconsistent theme/app mode naming
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml
Labels: Product-Settings

#7564 [KBM] Added tooltips for Add and Delete buttons
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
Labels: Accessibility [E+D], Product-Keyboard Shortcut Manager

#7566 [KBM] Select all text in Target App textbox on getting focus
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
Labels: Accessibility [E+D], Product-Keyboard Shortcut Manager

#7577 Doc fix misspellings
  README.md
  doc/devdocs/modules/keyboardmanager/keyboardmanagerui.md
  doc/devdocs/modules/launcher/debugging.md
  doc/devdocs/modules/launcher/plugins/indexer.md
  doc/devdocs/modules/launcher/plugins/program.md
  doc/devdocs/modules/launcher/plugins/uri.md
  doc/devdocs/runner.md
  doc/devdocs/settingsv2/compatibility-legacy-settings.md
  doc/devdocs/settingsv2/viewmodels.md
  doc/devdocs/settingsv2/xaml-island-tweaks.md
  doc/unofficalInstallMethods.md
  tools/project_template/README.md
Labels: Issue-Docs, hacktoberfest-accepted

#7561 Add help text to be read out before reading out the version number
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
Labels: Accessibility [E+D], Area-Accessibility, Product-Settings

#7568 Added a main landmark to all settings pages
  src/core/Microsoft.PowerToys.Settings.UI/Views/ColorPickerPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/KeyboardManagerPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerPreviewPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerRenamePage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml
Labels: Accessibility [E+D], Area-Accessibility, Product-Settings

#7589 Display Drive detection warning only for multiple drives
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/DriveDetection/DriveInfoWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/DriveDetection/IndexerDriveDetection.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interface/IDriveInfoWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Properties/Resources.resx
  src/modules/launcher/Wox.Test/Plugins/WindowsIndexerTest.cs
Labels: Product-Launcher

#7586 [KBM] Move Focus to Type button in new row on Adding a remap
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/KeyboardManagerUI.vcxproj
  src/modules/keyboardmanager/ui/KeyboardManagerUI.vcxproj.filters
  src/modules/keyboardmanager/ui/UIHelpers.cpp
  src/modules/keyboardmanager/ui/UIHelpers.h
Labels: Accessibility [E+D], Product-Keyboard Shortcut Manager

#7617 [PT Run] Remove duplicated dll's from Plugins
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Microsoft.Plugin.Calculator.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Microsoft.Plugin.Folder.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Microsoft.Plugin.Indexer.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Microsoft.Plugin.Program.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Microsoft.Plugin.Shell.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Microsoft.Plugin.Uri.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Microsoft.Plugin.WindowWalker.csproj
Labels: Product-Launcher

#7643 [Accessibility][FancyZones Editor] Close Edit Canvas Layout and Edit Grid Layout windows by pressing Esc
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasEditorWindow.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditorWindow.xaml.cs
Labels: Area-Accessibility, FancyZones-Editor

#7547 [FancyZones] Use Direct2D to draw
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/ZoneWindow.h
  src/modules/fancyzones/lib/ZoneWindowDrawing.cpp
  src/modules/fancyzones/lib/ZoneWindowDrawing.h
  src/modules/fancyzones/tests/UnitTests/ZoneWindow.Spec.cpp
Labels: Product-FancyZones

#7689 [Localization] Unreachable input box in FancyZones Editor fix.
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
Labels: Area-Localization, FancyZones-Editor

#7644 Add unit tests for incorrect settings json files
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/BackwardsCompatibility/TestFiles/CorruptJson/Microsoft/PowerToys/settings.json
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ModelsTests/SettingsUtilsTests.cs
Labels: Product-Settings

#7696 [PowerRename] Split "status message" / "items count label" into two lines
  src/modules/powerrename/ui/PowerRenameUI.base.rc
  src/modules/powerrename/ui/PowerRenameUI.cpp
  src/modules/powerrename/ui/PowerRenameUI.h
  src/modules/powerrename/ui/Resources.resx
  src/modules/powerrename/ui/resource.base.h
Labels: Area-Localization, Product-PowerRename

#7628 [PowerLauncher] Remove MahApps dependency and add own LibraryThemeProvider
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/PowerLauncher/App.xaml
  src/modules/launcher/PowerLauncher/Themes/Dark.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrast1.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrast2.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrastBlack.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrastWhite.xaml
  src/modules/launcher/PowerLauncher/Themes/Light.xaml
  src/modules/launcher/Wox.Plugin/CustomLibraryThemeProvider.cs
  src/modules/launcher/Wox.Plugin/LibraryThemes/GeneratorParameters.json
  src/modules/launcher/Wox.Plugin/LibraryThemes/Theme.Template.xaml
  src/modules/launcher/Wox.Plugin/ThemeManager.cs
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
Labels: Product-Launcher
