Repository microsoft/PowerToys, pull requests merged in 2020-08, with the labels that each got.

#5558 Fixing potentially infinite loop with logs in Color Picker
  src/modules/colorPicker/ColorPickerUI/Helpers/Logger.cs
  src/modules/colorPicker/ColorPickerUI/Settings/UserSettings.cs
Labels: Hot Fix

#5551 notifications: provide default app id to fix FZ toast crashes
  src/bootstrapper/bootstrapper.cpp
  src/common/notifications.cpp
  src/common/notifications.h
  src/runner/main.cpp
Labels: Hot Fix

#5565 Fix bootstrapper getting stuck on "installing dotnet"
  src/common/common.cpp
  src/common/common.h
Labels: Hot Fix

#5588 Fixed Launcher not exiting when PT is terminated
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Hot Fix

#5615 Fixed exceptions in dispose not allowing PT Run to terminate
  src/modules/launcher/PowerLauncher/App.xaml.cs
Labels: Hot Fix, Product-Launcher

#5318 bootstrapper: use a dedicated solution
  .pipelines/build-bootstrapper.cmd
  .pipelines/pipeline.user.windows.yml
  PowerToys.sln
  installer/PowerToysBootstrapper/PowerToysBootstrapper.sln
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.rc
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.vcxproj
  installer/PowerToysBootstrapper/bootstrapper/packages.config
  installer/PowerToysBootstrapper/bootstrapper/pch.cpp
  installer/PowerToysBootstrapper/bootstrapper/pch.h
  installer/PowerToysBootstrapper/bootstrapper/resource.h
Labels: Area-Build

#5627 Adding null check for HotKey Manager before using unregister hotkey function
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#5314 runner: initialize COM security, so toast notifications work in elevated context from non-admin account
  src/common/comUtils.cpp
  src/common/comUtils.h
  src/common/common.h
  src/common/common.vcxproj
  src/common/common.vcxproj.filters
  src/runner/main.cpp
  src/settings/main.cpp
Labels: Area-Runner

#5610 Fix Code Related PT Run Accessibility issues
  src/modules/launcher/PowerLauncher/Languages/da.xaml
  src/modules/launcher/PowerLauncher/Languages/de.xaml
  src/modules/launcher/PowerLauncher/Languages/en.xaml
  src/modules/launcher/PowerLauncher/Languages/fr.xaml
  src/modules/launcher/PowerLauncher/Languages/it.xaml
  src/modules/launcher/PowerLauncher/Languages/ja.xaml
  src/modules/launcher/PowerLauncher/Languages/ko.xaml
  src/modules/launcher/PowerLauncher/Languages/nb-NO.xaml
  src/modules/launcher/PowerLauncher/Languages/nl.xaml
  src/modules/launcher/PowerLauncher/Languages/pl.xaml
  src/modules/launcher/PowerLauncher/Languages/pt-br.xaml
  src/modules/launcher/PowerLauncher/Languages/ru.xaml
  src/modules/launcher/PowerLauncher/Languages/sk.xaml
  src/modules/launcher/PowerLauncher/Languages/sr.xaml
  src/modules/launcher/PowerLauncher/Languages/tr.xaml
  src/modules/launcher/PowerLauncher/Languages/uk-UA.xaml
  src/modules/launcher/PowerLauncher/Languages/zh-cn.xaml
  src/modules/launcher/PowerLauncher/Languages/zh-tw.xaml
  src/modules/launcher/PowerLauncher/LauncherControl.xaml
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/PowerLauncher/Properties/Resources.Designer.cs
  src/modules/launcher/PowerLauncher/ResultList.xaml
Labels: Product-Launcher

#5597 [FancyZones] Do not restore maximized windows
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
  src/modules/fancyzones/lib/util.cpp
  src/modules/fancyzones/lib/util.h
Labels: Product-FancyZones

#5603 [FancyZones] Don't restore minimized windows after layout is updated
  src/modules/fancyzones/lib/util.cpp
Labels: Product-FancyZones

#5601 [FancyZones] Focus layout zones mismatch in Editor and applied layout
  src/modules/fancyzones/editor/FancyZonesEditor/Models/Settings.cs
  src/modules/fancyzones/lib/ZoneSet.cpp
Labels: FancyZones-Editor

#5480 Color picker respects right monitor side boundaries and does not go o…
  src/modules/colorPicker/ColorPickerUI/Behaviors/ChangeWindowPositionBehavior.cs
Labels: Product-Color Picker

#5742 Unlinked the MaxSearchCount value from Indexer Settings and set to fixed value of 30
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/IndexerSettings.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
Labels: Product-Launcher

#5289 [FancyZones] feature to create zone layouts spanning multiple monitors
  src/core/Microsoft.PowerToys.Settings.UI.Lib/FZConfigProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/ViewModels/FancyZonesViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
  src/core/Microsoft.PowerToys.Settings.UnitTest/ViewModelTests/FancyZones.cs
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasZone.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/Settings.cs
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/MonitorWorkAreaHandler.cpp
  src/modules/fancyzones/lib/Settings.cpp
  src/modules/fancyzones/lib/Settings.h
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/lib/ZoneSet.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/ZoneWindow.h
  src/modules/fancyzones/lib/fancyzones.rc
  src/modules/fancyzones/lib/resource.h
  src/modules/fancyzones/lib/trace.cpp
  src/modules/fancyzones/lib/util.h
  src/modules/fancyzones/tests/UnitTests/FancyZones.Spec.cpp
  src/modules/fancyzones/tests/UnitTests/FancyZonesSettings.Spec.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneSet.Spec.cpp
  src/tests/win-app-driver/FancyZonesTests/FancyZonesSettingsTests.cs
Labels: Product-FancyZones

#5590 bootstrapper: add support for silent arg
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
  installer/PowerToysBootstrapper/bootstrapper/pch.h
  src/action_runner/action_runner.cpp
  src/common/common.cpp
  src/common/common.h
Labels: Area-Setup/Install

#5796 Remove all plugin results on query change
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultsViewModel.cs
Labels: Product-Launcher

#5843 Consolidate folder and shell plugin
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Microsoft.Plugin.Shell.csproj
Labels: Product-Launcher

#5743 Reduce program plugin results
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Settings.cs
Labels: Product-Launcher

#5315 [FancyZones] Clasify strings in FancyZones to localizable and non-localizable
  src/modules/fancyzones/dll/dllmain.cpp
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasEditor.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditor.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridZone.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/LayoutPreview.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/CanvasLayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/GridLayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/Settings.cs
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZonesData.cpp
  src/modules/fancyzones/lib/Settings.cpp
  src/modules/fancyzones/lib/Settings.h
  src/modules/fancyzones/lib/VirtualDesktopUtils.cpp
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/fancyzones.rc
  src/modules/fancyzones/lib/resource.h
  src/modules/fancyzones/lib/trace.cpp
  src/modules/fancyzones/lib/util.cpp
Labels: Area-Localization, Product-FancyZones

#5850 Stable sorting of ResultCollection
  src/modules/launcher/PowerLauncher/Helper/ResultCollection.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultsViewModel.cs
Labels: Product-Launcher

#5748 [PT Run] Split indexer plugin's queries into a fast and slow query
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/SearchHelper/OleDBSearch.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/SearchHelper/WindowsSearchAPI.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/Wox.Core/Plugin/PluginManager.cs
  src/modules/launcher/Wox.Plugin/IDelayedExecutionPlugin.cs
  src/modules/launcher/Wox.Test/Plugins/WindowsIndexerTest.cs
Labels: Product-Launcher

#5631 Reduce folder plugin results
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/FolderSettings.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Images/Warning.dark.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Images/Warning.light.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Microsoft.Plugin.Folder.csproj
Labels: Product-Launcher

#5912 [PT Run] Handled exceptions in indexer plugin and delayed execution logic
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/SearchHelper/OleDBSearch.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#5906 Fix for PowerLauncher crash - Type Load Exception
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Microsoft.Plugin.Calculator.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Microsoft.Plugin.Folder.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Microsoft.Plugin.Indexer.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Microsoft.Plugin.Program.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Microsoft.Plugin.Shell.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Microsoft.Plugin.Uri.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Microsoft.Plugin.WindowWalker.csproj
  src/modules/launcher/Wox.Core/Wox.Core.csproj
  src/modules/launcher/Wox.Infrastructure/Properties/AssemblyInfo.cs
  src/modules/launcher/Wox.Infrastructure/Wox.Infrastructure.csproj
  src/modules/launcher/Wox.Plugin/Properties/AssemblyInfo.cs
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
  src/modules/launcher/Wox.Test/Wox.Test.csproj
Labels: Product-Launcher

#5925 [stylecop] program plugin unit tests part2
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Programs/UWPTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Programs/Win32Tests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/ListRepositoryTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
Labels: Area-Quality

#5939 Getting dev startup script to autodetect VS version
  doc/devdocs/readme.md
Labels: Issue-Docs

#5949 Correcting floating point error on calculator
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Main.cs
Labels: Product-Launcher

#5917 [stylecop] Run's program plugin - Whitespace and type fixes
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/AddProgramSource.xaml.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Logger/ProgramLogger.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/ProgramPluginSettings.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/ApplicationActivationHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/AppxPackageHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/IShellLinkHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/PackageCatalogWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/PackageWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/ShellLinkHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWPApplication.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/PackageRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramFileSystemWatchers.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Views/Commands/ProgramSettingDisplay.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Views/ProgramSetting.xaml.cs
Labels: Area-Quality

#5945 [stylecop] Program Plugin, last needed PR
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Microsoft.Plugin.Program.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Programs/Win32Tests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWPApplication.cs
Labels: Area-Build, Area-Quality

#5909 [stylecop] PowerLauncher project
  src/modules/launcher/PowerLauncher/Helper/DataWebRequestFactory.cs
  src/modules/launcher/PowerLauncher/Helper/ResultCollection.cs
  src/modules/launcher/PowerLauncher/Helper/SingleInstance.cs
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/PublicAPIInstance.cs
  src/modules/launcher/PowerLauncher/ReportWindow.xaml.cs
  src/modules/launcher/PowerLauncher/Settings.cs
  src/modules/launcher/PowerLauncher/Storage/HistoryItem.cs
  src/modules/launcher/PowerLauncher/Storage/QueryHistory.cs
  src/modules/launcher/PowerLauncher/Storage/TopMostRecord.cs
  src/modules/launcher/PowerLauncher/ViewModel/ContextMenuItemViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultsViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/SettingWindowViewModel.cs
Labels: Area-Quality

#5718 Refactored Keyboard Manager UI code and added unit tests for Keyboard Manager UI
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/RemapShortcut.h
  src/modules/keyboardmanager/common/Shortcut.cpp
  src/modules/keyboardmanager/common/Shortcut.h
  src/modules/keyboardmanager/test/BufferValidationTests.cpp
  src/modules/keyboardmanager/test/KeyboardManagerHelperTests.cpp
  src/modules/keyboardmanager/test/KeyboardManagerTest.vcxproj
  src/modules/keyboardmanager/test/KeyboardManagerTest.vcxproj.filters
  src/modules/keyboardmanager/test/LoadingAndSavingRemappingTests.cpp
  src/modules/keyboardmanager/test/ShortcutTests.cpp
  src/modules/keyboardmanager/test/TestHelpers.cpp
  src/modules/keyboardmanager/test/TestHelpers.h
  src/modules/keyboardmanager/test/pch.h
  src/modules/keyboardmanager/ui/BufferValidationHelpers.cpp
  src/modules/keyboardmanager/ui/BufferValidationHelpers.h
  src/modules/keyboardmanager/ui/Dialog.cpp
  src/modules/keyboardmanager/ui/Dialog.h
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.h
  src/modules/keyboardmanager/ui/KeyboardManagerUI.vcxproj
  src/modules/keyboardmanager/ui/KeyboardManagerUI.vcxproj.filters
  src/modules/keyboardmanager/ui/LoadingAndSavingRemappingHelper.cpp
  src/modules/keyboardmanager/ui/LoadingAndSavingRemappingHelper.h
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.h
Labels: Product-Keyboard Shortcut Manager

#5530 Trying to dispose mouse hook earlier to potentialy fix the lagging mo…
  src/modules/colorPicker/ColorPickerUI/Mouse/MouseHook.cs
  src/modules/colorPicker/ColorPickerUI/Mouse/MouseInfoProvider.cs
Labels: Product-Color Picker

#5931 Warning: calling convention changed
  src/common/interop/KeyboardHook.cpp
  src/common/interop/KeyboardHook.h
Labels: Area-Build, Area-Quality

#5921 Move hardcoded strings in Keyboard Manager projects to rc file
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/dll/KeyboardManager.rc
  src/modules/keyboardmanager/dll/resource.h
  src/modules/keyboardmanager/ui/Dialog.cpp
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
Labels: Product-Keyboard Shortcut Manager

#6011 [FancyZonesEditor] Delete custom layout if it has malformed data
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutModel.cs
Labels: FancyZones-Editor

#6034 Fix accessibility issues related to the General Settings page
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
Labels: Area-Accessibility, Product-Settings

#6027 Run UI contrast accessibility
  src/modules/launcher/PowerLauncher/Themes/Dark.xaml
  src/modules/launcher/PowerLauncher/Themes/Light.xaml
Labels: Product-Launcher

#6033 [Localization] Add localization step to pipeline and enable localization on C# projects with resx/resw resource files
  .pipelines/build-localization.cmd
  .pipelines/pipeline.user.windows.yml
  .pipelines/restore-localization.cmd
  src/core/Microsoft.PowerToys.Settings.UI/LocProject.json
  src/modules/colorPicker/ColorPickerUI/LocProject.json
  src/modules/fancyzones/editor/FancyZonesEditor/LocProject.json
  src/modules/imageresizer/ui/LocProject.json
  src/modules/launcher/PowerLauncher/LocProject.json
  src/modules/previewpane/MarkdownPreviewHandler/LocProject.json
  src/modules/previewpane/SvgPreviewHandler/LocProject.json
Labels: Area-Localization

#6054 Fix sequence empty exception on calling max in program plugin
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
Labels: Product-Launcher

#5250 [PowerRename] Using File Attributes Update
  src/modules/powerrename/lib/Helpers.cpp
  src/modules/powerrename/lib/Helpers.h
  src/modules/powerrename/lib/PowerRenameManager.cpp
  src/modules/powerrename/unittests/PowerRenameManagerTests.cpp
Labels: Product-PowerRename

#6025 [Shortcut Guide] fix Virtual-Key Code range
  src/modules/shortcut_guide/keyboard_state.cpp
Labels: Product-Shortcut Guide

#6066 [FancyZones] ZoneWindow: thread safety
  src/modules/fancyzones/lib/ZoneWindow.cpp
Labels: Area-Quality, Product-FancyZones

#6065 [FancyZones] Failing unit tests update
  src/modules/fancyzones/lib/FancyZonesData.h
  src/modules/fancyzones/tests/UnitTests/FancyZonesSettings.Spec.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneSet.Spec.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneWindow.Spec.cpp
Labels: Area-Tests, Product-FancyZones

#6039 [FancyZones] Shift + StickyKeys behavior fix
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/lib/GenericKeyHook.cpp
  src/modules/fancyzones/lib/GenericKeyHook.h
  src/modules/fancyzones/lib/KeyState.h
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
  src/modules/fancyzones/lib/WindowMoveHandler.h
Labels: Area-Accessibility, Product-FancyZones

#6073 Refactor common and fancyzones/utils
  src/common/common.cpp
  src/common/common.h
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/JsonHelpers.cpp
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/util.cpp
  src/modules/fancyzones/lib/util.h
  src/modules/fancyzones/tests/UnitTests/JsonHelpers.Tests.cpp
  src/modules/fancyzones/tests/UnitTests/Util.Spec.cpp
  src/modules/shortcut_guide/shortcut_guide.cpp
Labels: Product-FancyZones, Product-Shortcut Guide

#6109 Fix Accessibility issues of the Image Resizer settings page
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml
Labels: Area-Accessibility, Product-Settings

#6101 Fix Accessibility issues in the PowerRename settings page
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerRenamePage.xaml
Labels: Area-Accessibility, Product-Settings

#6099 Fix Accessibility issues of the File Explorer Preview Settings page
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerPreviewPage.xaml
Labels: Area-Accessibility, Product-Settings

#6097 Fix Accessibility issues in the color picker settings page
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/ColorPickerPage.xaml
Labels: Area-Accessibility, Product-Settings

#6091 Fix Accessibility issues of the shortcut guide settings page
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml
Labels: Area-Accessibility, Product-Settings

#6107 Remove the code for saving/loadingprogram plugin cache
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
Labels: Product-Launcher

#6104 [Localization] Migrate resources to resx for Shortcut Guide
  src/modules/shortcut_guide/LocProject.json
  src/modules/shortcut_guide/Resources.resx
  src/modules/shortcut_guide/overlay_window.cpp
  src/modules/shortcut_guide/resource.base.h
  src/modules/shortcut_guide/resource.h
  src/modules/shortcut_guide/shortcut_guide.base.rc
  src/modules/shortcut_guide/shortcut_guide.cpp
  src/modules/shortcut_guide/shortcut_guide.h
  src/modules/shortcut_guide/shortcut_guide.rc
  src/modules/shortcut_guide/shortcut_guide.vcxproj
  src/modules/shortcut_guide/shortcut_guide.vcxproj.filters
Labels: Area-Localization, Product-Shortcut Guide

#6112 [Localization] Migrate resources to resx for PowerRename
  src/modules/powerrename/UWPui/PowerRenameUWPUI.rc
  src/modules/powerrename/UWPui/PowerRenameUWPUI.vcxproj
  src/modules/powerrename/dll/LocProject.json
  src/modules/powerrename/dll/PowerRenameExt.base.rc
  src/modules/powerrename/dll/PowerRenameExt.cpp
  src/modules/powerrename/dll/PowerRenameExt.rc
  src/modules/powerrename/dll/PowerRenameExt.vcxproj
  src/modules/powerrename/dll/PowerRenameExt.vcxproj.filters
  src/modules/powerrename/dll/Resources.resx
  src/modules/powerrename/dll/dllmain.cpp
  src/modules/powerrename/dll/resource.base.h
  src/modules/powerrename/dll/resource.h
  src/modules/powerrename/ui/LocProject.json
  src/modules/powerrename/ui/PowerRenameUI.base.rc
  src/modules/powerrename/ui/PowerRenameUI.cpp
  src/modules/powerrename/ui/PowerRenameUI.h
  src/modules/powerrename/ui/PowerRenameUI.rc
  src/modules/powerrename/ui/PowerRenameUI.vcxproj
  src/modules/powerrename/ui/PowerRenameUI.vcxproj.filters
  src/modules/powerrename/ui/Resources.resx
  src/modules/powerrename/ui/resource.base.h
  src/modules/powerrename/ui/resource.h
  tools/build/convert-resx-to-rc.ps1
Labels: Area-Localization, Product-PowerRename

#6017 [PowerRename] Add Filtering Feature
  src/modules/powerrename/dll/PowerRenameExt.cpp
  src/modules/powerrename/lib/Helpers.cpp
  src/modules/powerrename/lib/PowerRenameInterfaces.h
  src/modules/powerrename/lib/PowerRenameItem.cpp
  src/modules/powerrename/lib/PowerRenameItem.h
  src/modules/powerrename/lib/PowerRenameManager.cpp
  src/modules/powerrename/lib/PowerRenameManager.h
  src/modules/powerrename/lib/PowerRenameRegEx.cpp
  src/modules/powerrename/lib/PowerRenameRegEx.h
  src/modules/powerrename/testapp/PowerRenameTest.cpp
  src/modules/powerrename/ui/PowerRenameUI.cpp
  src/modules/powerrename/ui/PowerRenameUI.h
  src/modules/powerrename/unittests/PowerRenameManagerTests.cpp
  src/modules/powerrename/unittests/PowerRenameRegExTests.cpp
Labels: Product-PowerRename

#5910 Fix FancyZones and common lib build warnings.
  src/common/interop/interop.vcxproj
Labels: Area-Build, Area-Quality

#6162 Added missing ! to condition check in Indexer Plugin
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/SearchHelper/OleDBSearch.cs
Labels: Product-Launcher

#6155 [ColorPicker] proper Trace::UnregisterProvider(); call
  src/modules/colorPicker/ColorPicker/dllmain.cpp
Labels: Product-Color Picker

#6185 Fix runner crashing on launching Keyboard Manager UI
  src/runner/PowerToys.exe.manifest
Labels: Area-Runner, Product-Keyboard Shortcut Manager

#6182 [FancyZones] Enable to manually zone child windows
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/util.cpp
  src/modules/fancyzones/lib/util.h
Labels: Product-FancyZones

#6220 Fix issue with autocomplete text not getting cleared
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
Labels: Product-Launcher

#6222 Fix inconsistency in the color of QueryTextBox
  src/modules/launcher/PowerLauncher/LauncherControl.xaml
Labels: Product-Launcher

#6221 [PowerToys Run] Fix error reporting window for exceptions that are not on the dispatcher thread
  src/modules/launcher/PowerLauncher/Helper/ErrorReporting.cs
Labels: Product-Launcher
