Repository microsoft/PowerToys, pull requests merged in 2020-06, with the labels that each got.

#3852 [FancyZones] Removed the stampZone argument
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/lib/ZoneSet.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneSet.Spec.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneWindow.Spec.cpp
Labels: Product-FancyZones

#3868 [ImageResizer & Installer] Move ImageResizer to separate folder
  .pipelines/pipeline.user.windows.yml
  installer/PowerToysSetup/Product.wxs
  src/modules/imageresizer/dll/ImageResizerExt.vcxproj
  src/modules/imageresizer/tests/ImageResizerUITest.csproj
  src/modules/imageresizer/ui/ImageResizerUI.csproj
  src/modules/imageresizer/ui/Models/AdvancedSettings.cs
  src/runner/main.cpp
Labels: Product-Image Resizer

#3842 Fix for Camera App not showing up
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
Labels: Product-Launcher

#3949 [KeyboardManager&Installer] Move Keyboard Manager to separat build&install folder
  .pipelines/pipeline.user.windows.yml
  installer/PowerToysSetup/Product.wxs
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj
  src/modules/keyboardmanager/dll/KeyboardManager.vcxproj
  src/modules/keyboardmanager/ui/KeyboardManagerUI.vcxproj
Labels: Product-Keyboard Shortcut Manager

#3256 [intern] Quick screen resolution - Added readme
  src/modules/quick_resolution/readme.md
Labels: intern

#3874 Fix for Unexpected priority of search results for 'term'
  src/modules/launcher/Wox.Infrastructure/StringMatcher.cs
Labels: Product-Launcher

#3979 Added KeyboardManager directory to runner
  src/runner/main.cpp
Labels: Product-Keyboard Shortcut Manager

#3961 [FancyZones&Installer] Move FancyZones to separate build&install dir
  installer/PowerToysSetup/Product.wxs
  src/modules/fancyzones/dll/FancyZonesModule.vcxproj
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj
  src/modules/fancyzones/tests/UnitTests/UnitTests.vcxproj
Labels: Product-FancyZones

#3931 [FancyZones] Remove workarounds related to 0000 dekstop GUID
  src/modules/fancyzones/lib/JsonHelpers.cpp
  src/modules/fancyzones/lib/VirtualDesktopUtils.cpp
Labels: Product-FancyZones

#3969 Fix for File explorer not showing up and multiple notepads
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32.cs
  src/modules/launcher/Wox.Test/FuzzyMatcherTest.cs
  src/modules/launcher/Wox.Test/Plugins/ProgramPluginTest.cs
  src/modules/launcher/Wox.Test/Wox.Test.csproj
Labels: Product-Launcher

#4003 Launcher hot fixes
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32.cs
  src/modules/launcher/Wox.Infrastructure/StringMatcher.cs
  src/modules/launcher/Wox.Test/FuzzyMatcherTest.cs
  src/modules/launcher/Wox.Test/Plugins/ProgramPluginTest.cs
  src/modules/launcher/Wox.Test/Wox.Test.csproj
Labels: Product-Launcher

#3932 [FancyZones] App zone history on multiple desktops
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/JsonHelpers.cpp
  src/modules/fancyzones/lib/JsonHelpers.h
  src/modules/fancyzones/lib/MonitorWorkAreaHandler.cpp
  src/modules/fancyzones/lib/MonitorWorkAreaHandler.h
  src/modules/fancyzones/tests/UnitTests/JsonHelpers.Tests.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneWindow.Spec.cpp
Labels: Product-FancyZones

#4020 Fix for PWAs and command prompt not showing up as the first result
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/ShellLinkHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32.cs
Labels: Product-Launcher

#3965 Fix remapping to Alt+Tab/Win+Space style shortcuts
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
Labels: Product-Keyboard Shortcut Manager

#4083 Fix remapping from Num Lock
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.h
  src/modules/keyboardmanager/dll/dllmain.cpp
Labels: Product-Keyboard Shortcut Manager

#4008 Fix for UWP icons not showing up
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
Labels: Product-Launcher

#3059 [intern] Defined backend interface
  src/modules/gifmaker/AnimatedGifRecorder/AnimatedGifRecorder.csproj
  src/modules/gifmaker/AnimatedGifRecorder/FrameInfo.cs
  src/modules/gifmaker/AnimatedGifRecorder/Recorder.cs
  src/modules/gifmaker/AnimatedGifRecorder/RecorderConfiguration.cs
  src/modules/gifmaker/AnimatedGifRecorder/packages.config
Labels: intern

#4023 making alt-f4 ignored
  src/modules/launcher/PowerLauncher/MainWindow.xaml
  src/modules/launcher/Wox/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#3863 [Action runner] Support running generic targets as non-elevated
  src/action_runner/action_runner.cpp
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
Labels: Area-Runner

#4113 Fixed initial focus on WPF issue
  src/modules/launcher/PowerLauncher/MainWindow.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
Labels: Product-Launcher

#4206 Case invariant hash code calculation for removing duplicates
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32.cs
Labels: Product-Launcher

#4253 Tweaked OS Detection project structure and added os check for PT Run
  src/common/common.vcxproj
  src/common/common.vcxproj.filters
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
  src/runner/runner.vcxproj
  src/runner/settings_window.cpp
Labels: Product-Launcher

#4004 KBM - Set up tests for keyboard hook remapping logic
  PowerToys.sln
  src/modules/keyboardmanager/common/InputInterface.h
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj.filters
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/common/KeyboardManagerState.h
  src/modules/keyboardmanager/common/Shortcut.cpp
  src/modules/keyboardmanager/common/Shortcut.h
  src/modules/keyboardmanager/common/packages.config
  src/modules/keyboardmanager/dll/Input.cpp
  src/modules/keyboardmanager/dll/Input.h
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.h
  src/modules/keyboardmanager/dll/KeyboardManager.vcxproj
  src/modules/keyboardmanager/dll/KeyboardManager.vcxproj.filters
  src/modules/keyboardmanager/dll/dllmain.cpp
  src/modules/keyboardmanager/dll/packages.config
  src/modules/keyboardmanager/test/KeyboardManagerRemapLogicTest.cpp
  src/modules/keyboardmanager/test/KeyboardManagerTest.vcxproj
  src/modules/keyboardmanager/test/KeyboardManagerTest.vcxproj.filters
  src/modules/keyboardmanager/test/MockedInput.cpp
  src/modules/keyboardmanager/test/MockedInput.h
  src/modules/keyboardmanager/test/TestHelpers.cpp
  src/modules/keyboardmanager/test/TestHelpers.h
  src/modules/keyboardmanager/test/packages.config
  src/modules/keyboardmanager/test/pch.cpp
  src/modules/keyboardmanager/test/pch.h
  src/modules/keyboardmanager/ui/KeyboardManagerUI.vcxproj
  src/modules/keyboardmanager/ui/KeyboardManagerUI.vcxproj.filters
  src/modules/keyboardmanager/ui/packages.config
Labels: Product-Keyboard Shortcut Manager

#4217 Search packaged apps in development mode
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
Labels: Product-Launcher

#4224 Fix Launcher Network Path
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Main.cs
Labels: Product-Launcher

#4221 PWAs should not show up when searching for the main app
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/ja.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/ShellLinkHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32.cs
  src/modules/launcher/Wox.Test/Plugins/ProgramPluginTest.cs
Labels: Product-Launcher

#4123 Add workaround for IME Caps Lock issue
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.h
  src/modules/keyboardmanager/test/KeyboardManagerRemapLogicTest.cpp
  src/modules/keyboardmanager/test/MockedInput.cpp
  src/modules/keyboardmanager/test/MockedInput.h
  src/modules/keyboardmanager/test/TestHelpers.cpp
Labels: Product-Keyboard Shortcut Manager

#4181 [PowerRename] capturing groups fix
  src/modules/powerrename/lib/PowerRenameRegEx.cpp
Labels: Product-PowerRename

#4218 [FancyZones] Move window into last known position on active work area (if possible)
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/util.cpp
Labels: Product-FancyZones

#4216 Runner: autoupdate should prefer .exe installer instead of .msi
  src/action_runner/action_runner.cpp
  src/common/updating/updating.cpp
  src/common/updating/updating.h
  src/runner/main.cpp
  src/runner/update_state.cpp
  src/runner/update_state.h
  src/runner/update_utils.cpp
Labels: Area-Setup/Install

#4325 Remove hidden files from indexer results
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interface/ISearch.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/SearchHelper/OleDBResult.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/SearchHelper/OleDBSearch.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/SearchHelper/WindowsSearchAPI.cs
  src/modules/launcher/Wox.Test/Plugins/WindowsIndexerTest.cs
Labels: Product-Launcher

#4391 Fix exceptions thrown by uninitialized Win32 description
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32.cs
Labels: Product-Launcher

#4186 [WinAppDriver tests] Affection on user setting files fix
  src/modules/fancyzones/lib/JsonHelpers.h
  src/tests/win-app-driver/FancyZonesTests/EditorCanvasZoneResizeTests.cs
  src/tests/win-app-driver/FancyZonesTests/EditorCustomLayoutsTests.cs
  src/tests/win-app-driver/FancyZonesTests/EditorGridZoneResizeTests.cs
  src/tests/win-app-driver/FancyZonesTests/EditorOpeningTests.cs
  src/tests/win-app-driver/FancyZonesTests/EditorSettingsTests.cs
  src/tests/win-app-driver/FancyZonesTests/EditorTemplatesApplyTests.cs
  src/tests/win-app-driver/FancyZonesTests/EditorTemplatesEditTests.cs
  src/tests/win-app-driver/FancyZonesTests/FancyZonesEditor.cs
  src/tests/win-app-driver/FancyZonesTests/FancyZonesSettingsTests.cs
  src/tests/win-app-driver/PowerToysSession.cs
  src/tests/win-app-driver/PowerToysTrayTests.cs
  src/tests/win-app-driver/TestShortcutHelper.cs
Labels: Area-Tests

#4377 Runner: improve debugging experience with hooks
  src/common/common.vcxproj
  src/common/common.vcxproj.filters
  src/common/debug_control.h
  src/common/interop/KeyboardHook.cpp
  src/modules/fancyzones/dll/dllmain.cpp
  src/modules/fancyzones/lib/SecondaryMouseButtonsHook.cpp
  src/modules/fancyzones/lib/ShiftKeyHook.cpp
  src/modules/keyboardmanager/dll/dllmain.cpp
  src/modules/shortcut_guide/shortcut_guide.cpp
  src/runner/lowlevel_keyboard_event.cpp
Labels: Area-Runner

#4380 FancyZones: fix possible crash in GetWorkAreasByDesktopId
  src/modules/fancyzones/lib/MonitorWorkAreaHandler.cpp
Labels: Product-FancyZones

#4379 Runner: move Launcher to its own folder and simplify dll loading
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Microsoft.Launcher/Microsoft.Launcher.vcxproj
  src/runner/main.cpp
  src/runner/powertoy_module.cpp
  src/runner/powertoy_module.h
Labels: Area-Setup/Install

#4422 Index Desktop Applications
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Settings.cs
  src/modules/launcher/Wox.Test/Plugins/ProgramPluginTest.cs
Labels: Product-Launcher

#4362 Fix Launcher focus for most cases
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/Wox/Helper/WindowsInteropHelper.cs
Labels: Product-Launcher

#4426 upgrade xaml based nuget packages
  src/core/Microsoft.PowerToys.Settings.UI.Runner/Microsoft.PowerToys.Settings.UI.Runner.csproj
  src/core/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/modules/launcher/Wox.Infrastructure/Wox.Infrastructure.csproj
  src/modules/launcher/Wox.Plugin/ContextMenuResult.cs
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
Labels: Product-Launcher, Product-Settings

#4428 Hotfix for blank settings dialog
  src/core/Microsoft.PowerToys.Settings.UI.Runner/MainWindow.xaml
  src/core/Microsoft.PowerToys.Settings.UI.Runner/MainWindow.xaml.cs
Labels: Product-Settings

#4385 [Settings] Check for updates button behavior changed
  src/action_runner/action_runner.cpp
  src/common/notifications.cpp
  src/common/notifications.h
  src/common/updating/http_client.cpp
  src/common/updating/http_client.h
  src/common/updating/toast_notifications_helper.cpp
  src/common/updating/toast_notifications_helper.h
  src/common/updating/updating.cpp
  src/common/updating/updating.h
  src/common/updating/updating.vcxproj
  src/common/updating/updating.vcxproj.filters
  src/core/Microsoft.PowerToys.Settings.UI.Runner/MainWindow.xaml.cs
  src/core/Microsoft.PowerToys.Settings.UI/ViewModels/GeneralViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/Views/ShellPage.xaml.cs
  src/runner/main.cpp
  src/runner/settings_window.cpp
  src/runner/update_utils.cpp
  src/runner/update_utils.h
Labels: Area-Setup/Install

#4418 [PT Run] Find applications using the PATH env variable
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/ja.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Settings.cs
  src/modules/launcher/Wox.Test/Plugins/ProgramPluginTest.cs
Labels: Product-Launcher

#4449 Dispose keyboard hook object in Settings
  src/common/interop/KeyboardHook.cpp
  src/core/Microsoft.PowerToys.Settings.UI.Lib/HotkeySettingsControlHook.cs
  src/core/Microsoft.PowerToys.Settings.UI/Controls/HotkeySettingsControl.xaml.cs
Labels: Product-Settings

#4474 Fix missing dlls in MSI for 0.19
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/Wox/Wox.csproj
Labels: Area-Setup/Install

#4455 Enable code analysis on Keyboard Manager projects
  src/modules/keyboardmanager/common/KeyDelay.cpp
  src/modules/keyboardmanager/common/KeyDelay.h
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/dll/KeyboardManager.vcxproj
  src/modules/keyboardmanager/test/KeyboardManagerTest.vcxproj
  src/modules/keyboardmanager/ui/KeyboardManagerUI.vcxproj
Labels: Product-Keyboard Shortcut Manager

#4398 Fix remapping issues to Home/PgUp and other keys which are also present on NumPad
  src/common/common.vcxproj
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj
  src/modules/keyboardmanager/dll/KeyboardManager.vcxproj
  src/modules/keyboardmanager/dll/pch.h
  src/modules/keyboardmanager/test/KeyboardManagerRemapLogicTest.cpp
  src/modules/keyboardmanager/test/pch.h
Labels: Product-Keyboard Shortcut Manager

#4496 Fix settings process not terminating on FZ and PT Run pages
  src/core/Microsoft.PowerToys.Settings.UI.Runner/Program.cs
Labels: Product-Settings

#4472 PowerToys Run cache issue
  src/common/ManagedCommon/RunnerHelper.cs
  src/core/Microsoft.PowerToys.Settings.UI.Runner/Program.cs
  src/modules/fancyzones/editor/FancyZonesEditor/App.xaml.cs
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/Wox.Infrastructure/Alphabet.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageCache.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
  src/modules/launcher/Wox/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#4433 Partial Fix for Memory issue - Limiting the number of ImageSources cached
  src/modules/launcher/Wox.Infrastructure/Image/ImageCache.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
Labels: Product-Launcher

#4519 Scoring Tweak - Reduced the description weight by half
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32.cs
Labels: Product-Launcher

#4498 Fixed hint text casing
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
Labels: Product-Launcher

#4520 Skip ErrorIcon and DefaultIcon while resizing the dictionary
  src/modules/launcher/Wox.Infrastructure/Image/ImageCache.cs
Labels: Product-Launcher

#4479 [PT Run] Clear binary and json storage files on version upgrade
  src/modules/launcher/Wox.Infrastructure/Storage/BinaryStorage.cs
  src/modules/launcher/Wox.Infrastructure/Storage/JsonStorage.cs
  src/modules/launcher/Wox.Infrastructure/Storage/StoragePowerToysVersionInfo.cs
Labels: Product-Launcher

#4524 Fix settings issue where settings.json would get reset on runner startup
  src/runner/general_settings.cpp
  src/runner/general_settings.h
  src/runner/main.cpp
Labels: Area-Runner

#4526 [Run] Minor UX tweaks
  src/modules/launcher/PowerLauncher/LauncherControl.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml
  src/modules/launcher/PowerLauncher/ResultList.xaml
  src/modules/launcher/PowerLauncher/ResultList.xaml.cs
Labels: Product-Launcher

#4499 Theme aware plugin
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Images/calculator_dark.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Images/calculator_light.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Microsoft.Plugin.Calculator.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/Wox.Core/Plugin/PluginManager.cs
  src/modules/launcher/Wox.Core/Wox.Core.csproj
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
  src/modules/launcher/Wox.Plugin/IPublicAPI.cs
  src/modules/launcher/Wox.Plugin/ThemeManager.cs
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
  src/modules/launcher/Wox/PublicAPIInstance.cs
  src/modules/launcher/Wox/ViewModel/ResultViewModel.cs
Labels: Product-Launcher

#4530 Add calculator images to MSI
  installer/PowerToysSetup/Product.wxs
Labels: Product-Launcher

#4586 Fixed null reference exception on context menu buttons
  src/modules/launcher/Wox/ViewModel/ResultViewModel.cs
Labels: Product-Launcher

#4587 Cleanup null reference fix with correct code practice
  src/modules/launcher/Wox/ViewModel/ResultViewModel.cs
Labels: Product-Launcher
