Repository microsoft/PowerToys, pull requests merged in 2020-12, with the labels that each got.

#8286 LEGO: Pull request from lego/hb_2939_20201201033406876 to master
  installer/PowerToysBootstrapper/bootstrapper/loc/cs/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/de/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/es/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/hu/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/nl/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/pl/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/pt-BR/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/pt-PT/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/tr/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/zh-Hant/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  src/action_runner/loc/zh-Hant/src/action_runner/Resources.resx.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/cs/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/hu/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/it/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pl/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pt-BR/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/sv/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/colorPicker/ColorPickerUI/loc/cs/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/ja/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/pl/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/tr/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pt-BR/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/lib/loc/hu/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/lib/loc/pt-BR/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/imageresizer/dll/loc/hu/src/modules/imageresizer/dll/Resources.resx.lcl
  src/modules/keyboardmanager/dll/loc/it/src/modules/keyboardmanager/dll/Resources.resx.lcl
  src/runner/loc/zh-Hant/src/runner/Resources.resx.lcl
Labels: Area-Localization

#8180 [Docs] Updated ImageResizer hero-images
  doc/images/overview/ImageResizer_large.png
  doc/images/overview/ImageResizer_small.png
  doc/images/overview/Original/ImageResizer.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/Modules/ImageResizer.png
Labels: Issue-Docs

#8183 [Docs] Updated color picker hero images
  doc/images/overview/ColorPicker_large.png
  doc/images/overview/ColorPicker_small.png
  doc/images/overview/Original/ColorPicker.png
  src/core/Microsoft.PowerToys.Settings.UI/Assets/Modules/ColorPicker.png
Labels: Issue-Docs

#8310 [Color Picker] Update README.md with updated module description
  .github/actions/spell-check/expect.txt
  README.md
Labels: Issue-Docs, Product-Color Picker

#8328 Hiding remove context menu when there are no colors in the history
  src/modules/colorPicker/ColorPickerUI/Views/ColorEditorView.xaml
Labels: Issue-Bug, Product-Color Picker

#8422 [FancyZones] Logging on the editor exit event
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/JsonHelpers.cpp
Labels: Area-Logging, Product-FancyZones

#8376 Fixing issues when color picker freezes
  src/modules/colorPicker/ColorPickerUI/Helpers/AppStateHandler.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/ClipboardHelper.cs
  src/modules/colorPicker/ColorPickerUI/Keyboard/KeyboardMonitor.cs
  src/modules/colorPicker/ColorPickerUI/NativeMethods.cs
Labels: Issue-Bug, Product-Color Picker

#8266 [Bootstrapper] --install_dir arg
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
Labels: Area-Setup/Install

#8386 FxCop to UnitTests for ColorPicker
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorConverterTest.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorRepresentationHelperTest.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/UnitTest-ColorPickerUI.csproj
Labels: Area-Tests, Product-Color Picker

#8456 install: update the installed dotnet version
  src/common/updating/dotnet_installation.cpp
Labels: Area-Setup/Install, Hot Fix

#8469 [FancyZones] Reduce VRAM use
  src/modules/fancyzones/lib/ZoneWindow.cpp
Labels: Hot Fix, Product-FancyZones

#8481 color picker freeze hotfix into stable
  src/modules/colorPicker/ColorPickerUI/Helpers/AppStateHandler.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/ClipboardHelper.cs
  src/modules/colorPicker/ColorPickerUI/Keyboard/KeyboardMonitor.cs
  src/modules/colorPicker/ColorPickerUI/NativeMethods.cs
Labels: Product-Color Picker

#8417 Color picker netcore 31
  .pipelines/pipeline.user.windows.yml
  installer/PowerToysSetup/Product.wxs
  src/modules/colorPicker/ColorPicker/dllmain.cpp
  src/modules/colorPicker/ColorPickerUI/App.config
  src/modules/colorPicker/ColorPickerUI/App.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/AppearAnimationBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/ChangeWindowPositionBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/CloseZoomWindowBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/DragAndDropReorderBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/DragWindowBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/GridEffectBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/MoveWindowBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/ResizeBehavior.cs
  src/modules/colorPicker/ColorPickerUI/ColorEditorWindow.xaml
  src/modules/colorPicker/ColorPickerUI/ColorPickerUI.csproj
  src/modules/colorPicker/ColorPickerUI/Controls/ColorPickerControl.xaml.cs
  src/modules/colorPicker/ColorPickerUI/MainWindow.xaml
  src/modules/colorPicker/ColorPickerUI/Program.cs
  src/modules/colorPicker/ColorPickerUI/Views/ColorEditorView.xaml
  src/modules/colorPicker/ColorPickerUI/Views/ZoomView.xaml
  src/modules/colorPicker/ColorPickerUI/ZoomWindow.xaml
Labels: Product-Color Picker

#8489 [PT Run] Add logs for Launcher
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
  src/modules/launcher/PowerLauncher/Helper/NativeEventWaiter.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#8412 Migrate winappdriver test project to .NET Core 3.1
  PowerToys.sln
  src/tests/win-app-driver/packages.config
  src/tests/win-app-driver/win-app-driver.csproj
Labels: Area-Tests

#8325 [KBM] Open Remap Shortcuts/Remap Keyboard window on the same monitor as Settings.
  src/common/common.vcxproj
  src/common/common.vcxproj.filters
  src/common/monitor_utils.h
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/util.h
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/UIHelpers.cpp
  src/modules/keyboardmanager/ui/UIHelpers.h
Labels: Product-Keyboard Shortcut Manager

#8296 updating: add support for prereleases
  src/action_runner/action_runner.vcxproj
  src/common/common.cpp
  src/common/updating/notifications.cpp
  src/common/updating/updating.cpp
  src/common/updating/updating.h
  src/runner/runner.vcxproj
  src/runner/settings_window.cpp
  src/runner/update_utils.cpp
  src/runner/update_utils.h
Labels: Area-Setup/Install, Idea-Enhancement

#8432 [PreviewPane] Porting .NET Core 3.1
  .github/actions/spell-check/expect.txt
  .pipelines/pipeline.user.windows.yml
  installer/PowerToysSetup/Product.wxs
  src/modules/previewpane/MarkdownPreviewHandler/MarkdownPreviewHandler.csproj
  src/modules/previewpane/PreviewPaneUnitTests/MarkdownPreviewHandlerTest.cs
  src/modules/previewpane/PreviewPaneUnitTests/UnitTests-MarkdownPreviewHandler.csproj
  src/modules/previewpane/STATestClassAttribute.cs
  src/modules/previewpane/STATestMethodAttribute.cs
  src/modules/previewpane/SvgPreviewHandler/SvgPreviewHandler.csproj
  src/modules/previewpane/SvgThumbnailProvider/SvgThumbnailProvider.csproj
  src/modules/previewpane/SvgThumbnailProvider/packages.config
  src/modules/previewpane/UnitTests-PreviewHandlerCommon/UnitTests-PreviewHandlerCommon.csproj
  src/modules/previewpane/UnitTests-PreviewHandlerCommon/WebBrowserExtUnitTests.cs
  src/modules/previewpane/UnitTests-SvgPreviewHandler/SvgPreviewControlTests.cs
  src/modules/previewpane/UnitTests-SvgPreviewHandler/SvgPreviewHandlerHelperTests.cs
  src/modules/previewpane/UnitTests-SvgPreviewHandler/UnitTests-SvgPreviewHandler.csproj
  src/modules/previewpane/UnitTests-SvgThumbnailProvider/SvgThumbnailProviderTests.cs
  src/modules/previewpane/UnitTests-SvgThumbnailProvider/UnitTests-SvgThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-SvgThumbnailProvider/packages.config
  src/modules/previewpane/common/PreviewHandlerCommon.csproj
Labels: Product-File Explorer

#8129 [PowerRename] Fix tests inconsistency, improve test performance
  .github/actions/spell-check/expect.txt
  src/modules/powerrename/dll/PowerRenameExt.cpp
  src/modules/powerrename/dll/dllmain.cpp
  src/modules/powerrename/lib/Helpers.cpp
  src/modules/powerrename/lib/Helpers.h
  src/modules/powerrename/lib/PowerRenameInterfaces.h
  src/modules/powerrename/lib/PowerRenameItem.cpp
  src/modules/powerrename/lib/PowerRenameItem.h
  src/modules/powerrename/lib/PowerRenameManager.cpp
  src/modules/powerrename/lib/PowerRenameManager.h
  src/modules/powerrename/lib/PowerRenameRegEx.cpp
  src/modules/powerrename/lib/PowerRenameRegEx.h
  src/modules/powerrename/lib/Settings.cpp
  src/modules/powerrename/ui/PowerRenameUI.cpp
  src/modules/powerrename/unittests/MockPowerRenameItem.cpp
  src/modules/powerrename/unittests/MockPowerRenameItem.h
  src/modules/powerrename/unittests/MockPowerRenameManagerEvents.cpp
  src/modules/powerrename/unittests/MockPowerRenameRegExEvents.cpp
  src/modules/powerrename/unittests/MockPowerRenameRegExEvents.h
  src/modules/powerrename/unittests/PowerRenameManagerTests.cpp
  src/modules/powerrename/unittests/PowerRenameRegExBoostTests.cpp
  src/modules/powerrename/unittests/PowerRenameRegExTests.cpp
Labels: Product-PowerRename

#8508 [Color Picker] Fix for wrong style of right-click context menu
  src/modules/colorPicker/ColorPickerUI/Controls/ColorFormatControl.xaml
Labels: Area-User Interface, Product-Color Picker

#8585 [CI] enable PowerRename tests
  .pipelines/ci/templates/build-powertoys-steps.yml
Labels: Area-Build, Product-PowerRename

#8367 Remove the indexer plugin from constant search plugins
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/SearchHelper/WindowsSearchAPI.cs
  src/modules/launcher/Wox.Test/Plugins/WindowsIndexerTest.cs
Labels: Product-Launcher, Run-Plugin

#8553 Color Picker - show color name
  .github/actions/spell-check/expect.txt
  src/core/Microsoft.PowerToys.Settings.UI.Library/ColorPickerProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI.Library/ViewModels/ColorPickerViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/ColorPickerPage.xaml
  src/modules/colorPicker/ColorPickerUI/Behaviors/AppearAnimationBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Converters/BoolToInvertedVisibilityConverter.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/ColorNameHelper.cs
  src/modules/colorPicker/ColorPickerUI/MainWindow.xaml
  src/modules/colorPicker/ColorPickerUI/Properties/Resources.Designer.cs
  src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx
  src/modules/colorPicker/ColorPickerUI/Resources/Styles.xaml
  src/modules/colorPicker/ColorPickerUI/Settings/IUserSettings.cs
  src/modules/colorPicker/ColorPickerUI/Settings/UserSettings.cs
  src/modules/colorPicker/ColorPickerUI/ViewModelContracts/IMainViewModel.cs
  src/modules/colorPicker/ColorPickerUI/ViewModels/MainViewModel.cs
  src/modules/colorPicker/ColorPickerUI/Views/MainView.xaml
Labels: Product-Color Picker

#8350 [Docs] Added Microsoft.Plugin.Sys DevDoc
  doc/devdocs/modules/launcher/plugins/sys.md
  doc/devdocs/modules/launcher/readme.md
  doc/images/launcher/plugins/sys.gif
Labels: Issue-Docs, Product-Launcher

#8567 [Image Resizer] Handling percentage unit
  src/modules/imageresizer/ui/Models/ResizeSize.cs
  src/modules/imageresizer/ui/Views/MainWindow.xaml
Labels: Product-Image Resizer

#8674 [Image Resizer] Handling percentage unit fix
  src/modules/imageresizer/tests/Models/ResizeSizeTests.cs
  src/modules/imageresizer/ui/Models/ResizeSize.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ImageSize.cs
Labels: Product-Image Resizer

#8797 FZ: fix currently selected zone tracking
  src/modules/fancyzones/dll/dllmain.cpp
  src/modules/fancyzones/lib/GenericKeyHook.h
Labels: Product-FancyZones

#8817 [FancyZones] initialize zone container window state
  src/modules/fancyzones/lib/ZoneWindow.cpp
Labels: Hot Fix, Product-FancyZones

#8857 [PowerRename] don't show an error message for invalid regex syntax
  src/modules/powerrename/lib/PowerRenameManager.cpp
Labels: Hot Fix, Product-PowerRename
