Repository microsoft/PowerToys, pull requests merged in 2020-07, with the labels that each got.

#4463 [FancyZones] Restore size of zoned windows
  src/common/dpi_aware.cpp
  src/common/dpi_aware.h
  src/core/Microsoft.PowerToys.Settings.UI.Lib/FZConfigProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/ViewModels/FancyZonesViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
  src/core/Microsoft.PowerToys.Settings.UnitTest/ViewModelTests/FancyZones.cs
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/Settings.cpp
  src/modules/fancyzones/lib/Settings.h
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/lib/fancyzones.rc
  src/modules/fancyzones/lib/resource.h
  src/modules/fancyzones/lib/trace.cpp
  src/modules/fancyzones/lib/util.cpp
  src/modules/fancyzones/lib/util.h
  src/modules/fancyzones/tests/UnitTests/FancyZones.Spec.cpp
  src/modules/fancyzones/tests/UnitTests/FancyZonesSettings.Spec.cpp
  src/tests/win-app-driver/FancyZonesTests/FancyZonesSettingsTests.cs
  src/tests/win-app-driver/PowerToysSession.cs
Labels: Product-FancyZones

#4653 [FancyZones] Fixed shift behavior
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
Labels: Severity-Regression

#4183 [PowerRename] upper/lower/titlecase transform feature
  src/modules/powerrename/lib/Helpers.cpp
  src/modules/powerrename/lib/Helpers.h
  src/modules/powerrename/lib/PowerRenameInterfaces.h
  src/modules/powerrename/lib/PowerRenameManager.cpp
  src/modules/powerrename/lib/PowerRenameRegEx.cpp
  src/modules/powerrename/ui/PowerRenameUI.cpp
  src/modules/powerrename/ui/PowerRenameUI.rc
  src/modules/powerrename/ui/resource.h
  src/modules/powerrename/unittests/PowerRenameManagerTests.cpp
Labels: Product-PowerRename

#4590 Fix for Binding error on startup
  src/modules/launcher/PowerLauncher/ResultList.xaml
Labels: Product-Launcher

#4592 Clean up Keyboard Manager Test project
  src/modules/keyboardmanager/test/KeyboardManagerTest.vcxproj
  src/modules/keyboardmanager/test/KeyboardManagerTest.vcxproj.filters
  src/modules/keyboardmanager/test/MockedInputSanityTests.cpp
  src/modules/keyboardmanager/test/OSLevelShortcutRemappingTests.cpp
  src/modules/keyboardmanager/test/SetKeyEventTests.cpp
  src/modules/keyboardmanager/test/SingleKeyRemappingTests.cpp
Labels: Product-Keyboard Shortcut Manager

#4597 Fix for Memory issue with context menu items
  src/modules/launcher/Wox.Plugin/BaseModel.cs
  src/modules/launcher/Wox.Test/Wox.Test.csproj
  src/modules/launcher/Wox.Test/WoxTest.cs
  src/modules/launcher/Wox/ViewModel/ContextMenuItemViewModel.cs
  src/modules/launcher/Wox/ViewModel/ResultViewModel.cs
Labels: Product-Launcher

#4727 [FancyZones] draw active zones on top of inactive zones
  src/modules/fancyzones/lib/ZoneWindow.cpp
Labels: Product-FancyZones

#4710 Rework the HotkeyManager and KeyboardHook interop classes
  src/common/interop/HotkeyManager.cpp
  src/common/interop/HotkeyManager.h
  src/common/interop/KeyboardHook.cpp
  src/common/interop/KeyboardHook.h
  src/core/Microsoft.PowerToys.Settings.UI.Runner/Program.cs
Labels: Hot Fix, Product-Launcher, Product-Settings

#4702 Add keyboard shortcut in tooltip for context menu items
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/ContextMenuLoader.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/ContextMenuLoader.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/ja.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Microsoft.Plugin.Indexer.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/ja.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Languages/zh-tw.xaml
Labels: Product-Launcher

#4735 Mitigated the race condition in os detection
  src/common/os-detection/os-detect.cpp
Labels: Product-Settings

#4758 [FancyZones Editor] Fix odd-number zones Grid layout difference between Editor and engine
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditor.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/Settings.cs
Labels: FancyZones-Editor

#4800 [FancyZones] Invalidate cached work areas when display resolution or taskbar position changes
  src/modules/fancyzones/lib/FancyZones.cpp
Labels: Product-FancyZones

#4279 [FancyZones] Remove Editor tmp files paths cmd args and make Editor 'debugable' easier
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/Settings.cs
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/JsonHelpers.cpp
  src/modules/fancyzones/lib/JsonHelpers.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/ZoneWindow.h
  src/modules/fancyzones/tests/UnitTests/ZoneWindow.Spec.cpp
Labels: FancyZones-Editor

#4628 [Keyboard Manager] Enable App-specific shortcuts in the KBM backend
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/InputInterface.h
  src/modules/keyboardmanager/common/KeyboardManagerState.cpp
  src/modules/keyboardmanager/common/KeyboardManagerState.h
  src/modules/keyboardmanager/dll/Input.cpp
  src/modules/keyboardmanager/dll/Input.h
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/dll/dllmain.cpp
  src/modules/keyboardmanager/test/AppSpecificShortcutRemappingTests.cpp
  src/modules/keyboardmanager/test/KeyboardManagerTest.vcxproj
  src/modules/keyboardmanager/test/KeyboardManagerTest.vcxproj.filters
  src/modules/keyboardmanager/test/MockedInput.cpp
  src/modules/keyboardmanager/test/MockedInput.h
  src/modules/keyboardmanager/test/TestHelpers.cpp
Labels: Product-Keyboard Shortcut Manager

#4589 Tooltip for indexer and program plugin
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/ja.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/ja.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32.cs
  src/modules/launcher/PowerLauncher/ResultList.xaml
  src/modules/launcher/PowerLauncher/Themes/Dark.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrast1.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrast2.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrastBlack.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrastWhite.xaml
  src/modules/launcher/PowerLauncher/Themes/Light.xaml
  src/modules/launcher/Wox.Plugin/Result.cs
  src/modules/launcher/Wox.Plugin/ToolTipData.cs
  src/modules/launcher/Wox.Test/Plugins/ResultTest.cs
  src/modules/launcher/Wox.Test/Plugins/ToolTipDataTest.cs
Labels: Product-Launcher

#4745 Set the name(not the description) as the Title of the Result
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/ja.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/IProgram.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32.cs
  src/modules/launcher/Wox.Test/Plugins/Win32Tests.cs
Labels: Product-Launcher

#4361 [FancyZones] Open window on active monitor
  src/core/Microsoft.PowerToys.Settings.UI.Lib/FZConfigProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/ViewModels/FancyZonesViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
  src/core/Microsoft.PowerToys.Settings.UnitTest/ViewModelTests/FancyZones.cs
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/Settings.cpp
  src/modules/fancyzones/lib/Settings.h
  src/modules/fancyzones/lib/fancyzones.rc
  src/modules/fancyzones/lib/resource.h
  src/modules/fancyzones/lib/trace.cpp
  src/modules/fancyzones/tests/UnitTests/FancyZonesSettings.Spec.cpp
Labels: Product-FancyZones

#4755 [FancyZones] Don't create new custom layout when applying Focus layout
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/CanvasLayoutModel.cs
  src/modules/fancyzones/lib/ZoneSet.cpp
Labels: FancyZones-Editor

#4696 [FancyZones] Update app zone history on window removal
  src/modules/fancyzones/lib/JsonHelpers.cpp
  src/modules/fancyzones/lib/JsonHelpers.h
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
Labels: Product-FancyZones

#4739 [Run] Open in console functionality
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/ContextMenuLoader.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Microsoft.Plugin.Folder.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/ContextMenuLoader.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/ja.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Microsoft.Plugin.Indexer.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/ja.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32.cs
  src/modules/launcher/Wox.Infrastructure/Helper.cs
  src/modules/launcher/Wox.Plugin/ContextMenuResult.cs
  src/modules/launcher/Wox.Test/Plugins/FolderPluginTest.cs
  src/modules/launcher/Wox.Test/Plugins/Win32Tests.cs
  src/modules/launcher/Wox.Test/Plugins/WindowsIndexerTest.cs
  src/modules/launcher/Wox.Test/Wox.Test.csproj
Labels: Product-Launcher

#4807 Add run as admin context menu item for application results returned by the Indexer Plugin
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/ContextMenuLoader.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/ja.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Microsoft.Plugin.Indexer.csproj
  src/modules/launcher/Wox.Infrastructure/Helper.cs
  src/modules/launcher/Wox.Test/Plugins/WindowsIndexerTest.cs
Labels: Product-Launcher

#4804 [Keyboard Manager] Add app-specific shortcuts to Remap shortcuts UI
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/common/trace.cpp
  src/modules/keyboardmanager/common/trace.h
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.h
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
Labels: Product-Keyboard Shortcut Manager

#4874 [PT Run] Added dummy key event to prevent Start Menu from popping up
  src/common/interop/HotkeyManager.cpp
Labels: Product-Launcher

#4850 [FancyZones] Hold Ctrl to select any number of zones
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/lib/GenericKeyHook.cpp
  src/modules/fancyzones/lib/GenericKeyHook.h
  src/modules/fancyzones/lib/ShiftKeyHook.cpp
  src/modules/fancyzones/lib/ShiftKeyHook.h
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
  src/modules/fancyzones/lib/WindowMoveHandler.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/ZoneWindow.h
  src/modules/fancyzones/tests/UnitTests/ZoneWindow.Spec.cpp
Labels: Product-FancyZones

#4921 Packaged apps test
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/AppxManifests/DevelopmentApp/AppxManifest.xml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/AppxManifests/FrameworkApp/AppxManifest.xml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/AppxManifests/PackagedApp/AppxManifest.xml
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Microsoft.Plugin.Program.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Programs/UWPTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Microsoft.Plugin.Program.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/IPackage.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/IPackageManager.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/PackageWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/PackagemanagerWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/PackageRepository.cs
Labels: Product-Launcher

#4840 [Keyboard Manager] Add JSON support for App Specific shortcuts
  src/core/Microsoft.PowerToys.Settings.UI.Lib/AppSpecificKeysDataModel.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/KeysDataModel.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/RemapKeysDataModel.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/ShortcutsKeyDataModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/ViewModels/KeyboardManagerViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/Views/KeyboardManagerPage.xaml
  src/core/Microsoft.PowerToys.Settings.UnitTest/Microsoft.PowerToys.Settings.UnitTest.csproj
  src/core/Microsoft.PowerToys.Settings.UnitTest/ViewModelTests/KeyboardManager.cs
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/common/KeyboardManagerState.cpp
  src/modules/keyboardmanager/dll/dllmain.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
Labels: Product-Keyboard Shortcut Manager

#4902 [Keyboard Manager] Fixed app-specific shortcut causing app to lose focus scenario
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/common/KeyboardManagerState.cpp
  src/modules/keyboardmanager/common/KeyboardManagerState.h
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.h
  src/modules/keyboardmanager/test/AppSpecificShortcutRemappingTests.cpp
  src/modules/keyboardmanager/test/TestHelpers.cpp
Labels: Product-Keyboard Shortcut Manager

#4880 [Keyboard Manager] Cleanup header file references to improve incremental build time
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/InputInterface.h
  src/modules/keyboardmanager/common/KeyDelay.h
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj
  src/modules/keyboardmanager/common/KeyboardManagerState.cpp
  src/modules/keyboardmanager/common/KeyboardManagerState.h
  src/modules/keyboardmanager/common/Shortcut.cpp
  src/modules/keyboardmanager/common/Shortcut.h
  src/modules/keyboardmanager/common/pch.h
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.h
  src/modules/keyboardmanager/dll/KeyboardManager.vcxproj
  src/modules/keyboardmanager/dll/pch.h
  src/modules/keyboardmanager/test/KeyboardManagerTest.vcxproj
  src/modules/keyboardmanager/test/OSLevelShortcutRemappingTests.cpp
  src/modules/keyboardmanager/test/SingleKeyRemappingTests.cpp
  src/modules/keyboardmanager/test/TestHelpers.cpp
  src/modules/keyboardmanager/test/TestHelpers.h
  src/modules/keyboardmanager/test/pch.h
  src/modules/keyboardmanager/ui/Dialog.cpp
  src/modules/keyboardmanager/ui/Dialog.h
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditKeyboardWindow.h
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.h
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.h
  src/modules/keyboardmanager/ui/KeyboardManagerUI.vcxproj
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.h
  src/modules/keyboardmanager/ui/Styles.cpp
  src/modules/keyboardmanager/ui/Styles.h
  src/modules/keyboardmanager/ui/XamlBridge.cpp
  src/modules/keyboardmanager/ui/XamlBridge.h
  src/modules/keyboardmanager/ui/pch.h
Labels: Product-Keyboard Shortcut Manager

#4974 Allow selecting multiple adjacent zones even when they slightly overlap
  src/modules/fancyzones/lib/ZoneSet.cpp
Labels: Product-FancyZones

#4971 Fix for File Not Found exception while indexing invalid Package App
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Programs/UWPTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/PackageWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/PackageRepository.cs
Labels: Product-Launcher

#4095 [FZEditor] Grid layout resizers fixes
  src/modules/fancyzones/editor/FancyZonesEditor/FancyZonesEditor.csproj
  src/modules/fancyzones/editor/FancyZonesEditor/GridData.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridDragHandles.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditor.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridResizer.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/GridLayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/Settings.cs
  src/modules/fancyzones/editor/FancyZonesEditor/RowColInfo.cs
Labels: FancyZones-Editor

#4927 Fix for result on empty query
  src/modules/launcher/Wox/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#5045 Fix Focus issue on clicking list view
  src/modules/launcher/PowerLauncher/ResultList.xaml
Labels: Product-Launcher

#4960 Functionality to detect Win32 apps which are installed, deleted or renamed while PowerToys is running
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Microsoft.Plugin.Program.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/IShellLinkHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/ShellLinkHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramFileSystemWatchers.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Views/Commands/ProgramSettingDisplay.cs
  src/modules/launcher/Wox.Core/Plugin/PluginManager.cs
  src/modules/launcher/Wox.Infrastructure/FileSystemHelper/FileVersionInfoWrapper.cs
  src/modules/launcher/Wox.Infrastructure/FileSystemHelper/FileWrapper.cs
  src/modules/launcher/Wox.Infrastructure/FileSystemHelper/IFileVersionInfoWrapper.cs
  src/modules/launcher/Wox.Infrastructure/FileSystemHelper/IFileWrapper.cs
  src/modules/launcher/Wox.Infrastructure/Storage/FileSystemWatcherWrapper.cs
  src/modules/launcher/Wox.Infrastructure/Storage/IFileSystemWatcherWrapper.cs
  src/modules/launcher/Wox.Infrastructure/Storage/ListRepository.cs
Labels: Product-Launcher

#5015 Detect if all Drives are indexed and show a warning if they aren't
  installer/PowerToysSetup/Product.wxs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/PowerLauncherProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/ViewModels/PowerLauncherViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
  src/core/Microsoft.PowerToys.Settings.UnitTest/ViewModelTests/PowerLauncherViewModelTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/DriveDetection/IndexerDriveDetection.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/DriveDetection/RegistryWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Images/Warning.dark.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Images/Warning.light.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interface/IRegistryWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/ja.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/zh-tw.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Microsoft.Plugin.Indexer.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/SearchHelper/WindowsSearchAPI.cs
  src/modules/launcher/PowerLauncher/SettingsWatcher.cs
  src/modules/launcher/Wox.Test/Plugins/WindowsIndexerTest.cs
Labels: Product-Launcher

#5109 Fix for the issue where PT Run was preventing UWP apps from building in VS
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/PackageWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
Labels: Product-Launcher

#5028 [FancyZones] Split and reorganize FancyZonesData and JSON Helpers
  src/modules/fancyzones/dll/dllmain.cpp
  src/modules/fancyzones/editor/FancyZonesEditor/Native.cs
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZonesData.cpp
  src/modules/fancyzones/lib/FancyZonesData.h
  src/modules/fancyzones/lib/FancyZonesDataTypes.cpp
  src/modules/fancyzones/lib/FancyZonesDataTypes.h
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/lib/JsonHelpers.cpp
  src/modules/fancyzones/lib/JsonHelpers.h
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/lib/ZoneSet.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/ZoneWindow.h
  src/modules/fancyzones/lib/pch.h
  src/modules/fancyzones/lib/trace.cpp
  src/modules/fancyzones/lib/util.cpp
  src/modules/fancyzones/lib/util.h
  src/modules/fancyzones/tests/UnitTests/FancyZones.Spec.cpp
  src/modules/fancyzones/tests/UnitTests/JsonHelpers.Tests.cpp
  src/modules/fancyzones/tests/UnitTests/Util.h
  src/modules/fancyzones/tests/UnitTests/ZoneSet.Spec.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneWindow.Spec.cpp
Labels: Product-FancyZones

#5140 Fix registration of PowerRename to work with OneDrive placeholders
  installer/PowerToysSetup/Product.wxs
Labels: Product-PowerRename

#5102 [FancyZones] Dragging a window across monitors transparency fix
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/ZoneWindow.h
  src/modules/fancyzones/tests/UnitTests/ZoneWindow.Spec.cpp
Labels: Product-FancyZones

#5131 Fix for internet shortcut app not showing up on installation
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
  src/modules/launcher/Wox.Infrastructure/FileSystemHelper/FileWrapper.cs
  src/modules/launcher/Wox.Infrastructure/Storage/IFileSystemWatcherWrapper.cs
Labels: Product-Launcher

#5067 Added functionality for left/right key navigation
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultsViewModel.cs
  src/modules/launcher/Wox.Core/Plugin/PluginManager.cs
  src/modules/launcher/Wox.Test/ResultsViewModelTest.cs
Labels: Product-Launcher

#5110 [KBM] Updated menu key name, and added missing IME key codes
  src/common/keyboard_layout.cpp
Labels: Product-Keyboard Shortcut Manager

#5132 Minor text refinement in drive detection
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/de.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/en.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/ja.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/pl.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/tr.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/zh-cn.xaml
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Languages/zh-tw.xaml
Labels: Product-Launcher

#4457 [FancyZones Editor] Prevent new zones from being unreachable
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasEditorWindow.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/Settings.cs
Labels: FancyZones-Editor

#5172 Removing Incremental clean for Launcher
  src/modules/launcher/Directory.Build.targets
Labels: Product-Launcher

#5197 Fix saving to JSON in PT Settings
  src/core/Microsoft.PowerToys.Settings.UI.Lib/BasePTModuleSettings.cs
Labels: Product-Settings

#5070 [Keyboard Manager] Added in Shortcut to Key and Key to Shortcut remapping
  src/core/Microsoft.PowerToys.Settings.UI/Views/KeyboardManagerPage.xaml
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj.filters
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/common/KeyboardManagerState.cpp
  src/modules/keyboardmanager/common/KeyboardManagerState.h
  src/modules/keyboardmanager/common/ModifierKey.h
  src/modules/keyboardmanager/common/RemapShortcut.h
  src/modules/keyboardmanager/common/Shortcut.h
  src/modules/keyboardmanager/common/trace.cpp
  src/modules/keyboardmanager/common/trace.h
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.h
  src/modules/keyboardmanager/dll/dllmain.cpp
  src/modules/keyboardmanager/dll/pch.h
  src/modules/keyboardmanager/test/AppSpecificShortcutRemappingTests.cpp
  src/modules/keyboardmanager/test/MockedInput.cpp
  src/modules/keyboardmanager/test/OSLevelShortcutRemappingTests.cpp
  src/modules/keyboardmanager/test/SetKeyEventTests.cpp
  src/modules/keyboardmanager/test/SingleKeyRemappingTests.cpp
  src/modules/keyboardmanager/ui/Dialog.cpp
  src/modules/keyboardmanager/ui/Dialog.h
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.h
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.h
Labels: Product-Keyboard Shortcut Manager

#5201 Add telemetry event for measuring time taken to display PT Run
  src/modules/launcher/PowerLauncher.Telemetry/Events/LauncherColdStateHotkeyEvent.cs
  src/modules/launcher/PowerLauncher.Telemetry/Events/LauncherWarmStateHotkeyEvent.cs
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#5173 [PT Run] Add additional checks in version info methods to avoid exceptions
  src/modules/launcher/Wox.Infrastructure/Storage/StoragePowerToysVersionInfo.cs
Labels: Product-Launcher

#5170 [PT Run] Resolve text alignment issues for RTL input languages (not for mixed strings)
  src/modules/launcher/PowerLauncher/LauncherControl.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#5199 Fix for handling exceptions thrown by dispatcher which were crashing PT Run
  src/modules/launcher/PowerLauncher/Languages/da.xaml
  src/modules/launcher/PowerLauncher/Languages/de.xaml
  src/modules/launcher/PowerLauncher/Languages/en.xaml
  src/modules/launcher/PowerLauncher/Languages/fr.xaml
  src/modules/launcher/PowerLauncher/Languages/it.xaml
  src/modules/launcher/PowerLauncher/Languages/ja.xaml
  src/modules/launcher/PowerLauncher/Languages/ko.xaml
  src/modules/launcher/PowerLauncher/Languages/nb-NO.xaml
  src/modules/launcher/PowerLauncher/Languages/nl.xaml
  src/modules/launcher/PowerLauncher/Languages/pl.xaml
  src/modules/launcher/PowerLauncher/Languages/pt-br.xaml
  src/modules/launcher/PowerLauncher/Languages/ru.xaml
  src/modules/launcher/PowerLauncher/Languages/sk.xaml
  src/modules/launcher/PowerLauncher/Languages/sr.xaml
  src/modules/launcher/PowerLauncher/Languages/tr.xaml
  src/modules/launcher/PowerLauncher/Languages/uk-UA.xaml
  src/modules/launcher/PowerLauncher/Languages/zh-cn.xaml
  src/modules/launcher/PowerLauncher/Languages/zh-tw.xaml
  src/modules/launcher/PowerLauncher/ReportWindow.xaml
  src/modules/launcher/PowerLauncher/ReportWindow.xaml.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
  src/modules/launcher/Wox.Infrastructure/Wox.cs
Labels: Product-Launcher

#5221 Drive Detection Indexer warning refinement
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/DriveDetection/IndexerDriveDetection.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Wox.Test/Plugins/WindowsIndexerTest.cs
Labels: Product-Launcher

#5223 Add theme aware default icons to usage dictionary
  src/modules/launcher/Wox.Infrastructure/Image/ImageCache.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
Labels: Product-Launcher

#5204 Autoupdate: implement updating bootstrapper utility
  .pipelines/build-bootstrapper.cmd
  .pipelines/pipeline.user.windows.yml
  PowerToys.sln
  installer/PowerToysSetupCustomActions/CustomAction.cpp
  installer/PowerToysSetupCustomActions/PowerToysSetupCustomActions.vcxproj
  src/action_runner/action_runner.cpp
  src/action_runner/service_runner.vcxproj.filters
  src/bootstrapper/bootstrapper.cpp
  src/bootstrapper/bootstrapper.rc
  src/bootstrapper/bootstrapper.vcxproj
  src/bootstrapper/packages.config
  src/bootstrapper/resource.h
  src/common/RcResource.cpp
  src/common/RcResource.h
  src/common/RestartManagement.cpp
  src/common/appMutex.h
  src/common/common.cpp
  src/common/common.h
  src/common/common.vcxproj
  src/common/common.vcxproj.filters
  src/common/notifications.cpp
  src/common/notifications.h
  src/common/processApi.h
  src/common/updating/dotnet_installation.cpp
  src/common/updating/dotnet_installation.h
  src/common/updating/pch.h
  src/common/updating/toast_notifications_helper.cpp
  src/common/updating/toast_notifications_helper.h
  src/common/updating/updating.cpp
  src/common/updating/updating.h
  src/common/updating/updating.vcxproj
  src/common/updating/updating.vcxproj.filters
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
  src/runner/main.cpp
Labels: Area-Setup/Install

#5248 [FancyZonesEditor] Don't load malformed custom layout and show appropriate message
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutModel.cs
Labels: FancyZones-Editor

#5216 Improving UI performance
  src/modules/launcher/PowerLauncher/Helper/ResultCollection.cs
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultsViewModel.cs
Labels: Product-Launcher

#5268 CDPx: do not use span header
  src/bootstrapper/bootstrapper.cpp
  src/common/RcResource.cpp
  src/common/RcResource.h
Labels: Area-Setup/Install

#5278 file moved to wiki
  doc/devdocs/run-as-admin-detection.md
  doc/images/runAsAdmin/elevatedWindows.png
  doc/images/runAsAdmin/uac.png
Labels: Issue-Docs

#5284 adjust for modules images in settings
  installer/PowerToysSetup/Product.wxs
Labels: Area-Setup/Install

#5317 chore: add most used projects helper build script
  tools/build/build-essentials.ps1
Labels: Area-Build

#5324 autoupdate: handle exceptions in download_update
  src/runner/main.cpp
Labels: Area-Setup/Install

#5323 PowerToys interface: remove powertoys events functionality
  doc/devdocs/modules/interface.md
  doc/devdocs/shared-hooks.md
  src/common/LowlevelKeyboardEvent.h
  src/common/WinHookEvent.h
  src/common/common.vcxproj
  src/common/common.vcxproj.filters
  src/common/keyboard_layout_impl.h
  src/modules/colorPicker/ColorPicker/dllmain.cpp
  src/modules/fancyzones/dll/dllmain.cpp
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZones.h
  src/modules/imageresizer/dll/dllmain.cpp
  src/modules/interface/lowlevel_keyboard_event_data.h
  src/modules/interface/powertoy_module_interface.h
  src/modules/interface/powertoy_system_menu.h
  src/modules/interface/win_hook_event_data.h
  src/modules/keyboardmanager/common/KeyDelay.h
  src/modules/keyboardmanager/common/KeyboardManagerState.h
  src/modules/keyboardmanager/common/Shortcut.cpp
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.h
  src/modules/keyboardmanager/dll/dllmain.cpp
  src/modules/keyboardmanager/test/MockedInput.h
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
  src/modules/powerrename/dll/dllmain.cpp
  src/modules/previewpane/powerpreview/powerpreview.cpp
  src/modules/previewpane/powerpreview/powerpreview.h
  src/modules/shortcut_guide/shortcut_guide.cpp
  src/modules/shortcut_guide/shortcut_guide.h
  src/runner/lowlevel_keyboard_event.cpp
  src/runner/lowlevel_keyboard_event.h
  src/runner/main.cpp
  src/runner/powertoy_module.cpp
  src/runner/powertoy_module.h
  src/runner/powertoys_events.cpp
  src/runner/powertoys_events.h
  src/runner/runner.vcxproj
  src/runner/runner.vcxproj.filters
  src/runner/system_menu_helper.cpp
  src/runner/system_menu_helper.h
  src/runner/win_hook_event.cpp
  src/runner/win_hook_event.h
  tools/project_template/ModuleTemplate/dllmain.cpp
Labels: Area-Module interface

#5336 enabling stylecop on ColorPicker
  src/modules/colorPicker/ColorPickerUI/App.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/AppearAnimationBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/ChangeWindowPositionBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/CloseZoomWindowBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/MoveWindowBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/ResizeBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Bootstrapper.cs
  src/modules/colorPicker/ColorPickerUI/ColorPickerUI.csproj
  src/modules/colorPicker/ColorPickerUI/Common/RelayCommand.cs
  src/modules/colorPicker/ColorPickerUI/Common/ViewModelBase.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/AppStateHandler.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/Logger.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/MonitorResolutionHelper.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/ZoomWindowHelper.cs
  src/modules/colorPicker/ColorPickerUI/Keyboard/GlobalKeyboardHook.cs
  src/modules/colorPicker/ColorPickerUI/Keyboard/GlobalKeyboardHookEventArgs.cs
  src/modules/colorPicker/ColorPickerUI/Keyboard/KeyboardMonitor.cs
  src/modules/colorPicker/ColorPickerUI/MainWindow.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Mouse/CursorManager.cs
  src/modules/colorPicker/ColorPickerUI/Mouse/IMouseInfoProvider.cs
  src/modules/colorPicker/ColorPickerUI/Mouse/MouseHook.cs
  src/modules/colorPicker/ColorPickerUI/Mouse/MouseInfoProvider.cs
  src/modules/colorPicker/ColorPickerUI/Settings/IUserSettings.cs
  src/modules/colorPicker/ColorPickerUI/Settings/SettingItem.cs
  src/modules/colorPicker/ColorPickerUI/Settings/UserSettings.cs
  src/modules/colorPicker/ColorPickerUI/Telemetry/ColorPickerCancelledEvent.cs
  src/modules/colorPicker/ColorPickerUI/Telemetry/ColorPickerShowEvent.cs
  src/modules/colorPicker/ColorPickerUI/Telemetry/ColorPickerZoomOpenedEvent.cs
  src/modules/colorPicker/ColorPickerUI/ViewModelContracts/IMainViewModel.cs
  src/modules/colorPicker/ColorPickerUI/ViewModelContracts/IZoomViewModel.cs
  src/modules/colorPicker/ColorPickerUI/ViewModels/MainViewModel.cs
  src/modules/colorPicker/ColorPickerUI/ViewModels/ZoomViewModel.cs
  src/modules/colorPicker/ColorPickerUI/Views/MainView.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Views/ZoomView.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Win32Apis.cs
  src/modules/colorPicker/ColorPickerUI/ZoomWindow.xaml.cs
Labels: Product-Color Picker

#5370 Improve query cancellation and ResultCollection performance
  src/modules/launcher/PowerLauncher/Helper/ResultCollection.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultsViewModel.cs
Labels: Product-Launcher
