Repository microsoft/PowerToys, pull requests merged in 2020-09, with the labels that each got.

#6146 [Pt Run] Narrator support for result view navigation
  src/modules/launcher/PowerLauncher/CustomSearchBox.cs
  src/modules/launcher/PowerLauncher/LauncherControl.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/ViewModel/ContextMenuItemViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultViewModel.cs
  src/modules/launcher/Wox.Plugin/Result.cs
Labels: Product-Launcher

#6269 [PT Run] Fix for argument out of range exception
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
Labels: Product-Launcher

#6299 [Settings] Changed ImageSize class to parse as double instead of int
  src/core/Microsoft.PowerToys.Settings.UI.Lib/ImageSize.cs
Labels: Product-Settings

#6242 Zoom window pixel grid reveal effect + small visual improvements for Color Picker
  src/modules/colorPicker/ColorPickerUI/Behaviors/GridEffectBehavior.cs
  src/modules/colorPicker/ColorPickerUI/ColorPickerUI.csproj
  src/modules/colorPicker/ColorPickerUI/Helpers/ZoomWindowHelper.cs
  src/modules/colorPicker/ColorPickerUI/Shaders/Global.cs
  src/modules/colorPicker/ColorPickerUI/Shaders/GridShader.cso
  src/modules/colorPicker/ColorPickerUI/Shaders/GridShader.fx
  src/modules/colorPicker/ColorPickerUI/Shaders/GridShaderEffect.cs
  src/modules/colorPicker/ColorPickerUI/Views/MainView.xaml
  src/modules/colorPicker/ColorPickerUI/Views/ZoomView.xaml
  src/modules/colorPicker/ColorPickerUI/ZoomWindow.xaml
Labels: Product-Color Picker

#6335 [FancyZones] Fix span accross monitors feature
  src/core/Microsoft.PowerToys.Settings.UI.Lib/ViewModels/FancyZonesViewModel.cs
  src/modules/fancyzones/lib/Settings.h
Labels: Product-FancyZones

#6254 [Settings] Temporary string showing latest available version
  src/common/updating/updating.cpp
  src/common/updating/updating.h
  src/core/Microsoft.PowerToys.Settings.UI.Lib/ViewModels/GeneralViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI.Runner/MainWindow.xaml.cs
  src/core/Microsoft.PowerToys.Settings.UI.Runner/Program.cs
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml.cs
  src/core/Microsoft.PowerToys.Settings.UI/Views/ShellPage.xaml.cs
  src/runner/settings_window.cpp
  src/runner/update_utils.cpp
  src/runner/update_utils.h
Labels: Area-Setup/Install, Product-Settings

#6248 [FancyZones] Set 3-zones PriorityGrid as default layout
  src/modules/fancyzones/lib/FancyZonesData.cpp
  src/modules/fancyzones/tests/UnitTests/Util.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneWindow.Spec.cpp
Labels: Product-FancyZones

#6304 [Settings] Fix tabbing issues on KBM settings page
  src/core/Microsoft.PowerToys.Settings.UI/Views/KeyboardManagerPage.xaml
Labels: Area-Accessibility, Product-Settings

#6301 [Pt Run] Show context menu for first folder plugin result
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Properties/Resources.resx
  src/modules/launcher/PowerLauncher/PublicAPIInstance.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#6381 [FancyZones] Update 'span zones across monitors' feature description and add message box warning accordingly
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/Resources.resx
Labels: Product-FancyZones

#6249 [FancyZones] Validate zone rect before adding it into layout
  src/modules/fancyzones/lib/Zone.cpp
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneSet.Spec.cpp
Labels: Product-FancyZones

#6431 [CDPx] add bootstrapper symbols
  .pipelines/pipeline.user.windows.yml
Labels: Area-Build

#6295 [PT Run] Mitigate JSON Deserialization exception
  src/core/Microsoft.PowerToys.Settings.UI.Lib/PowerLauncherSettings.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/SettingsUtils.cs
  src/modules/launcher/PowerLauncher/Helper/ErrorReporting.cs
  src/modules/launcher/PowerLauncher/Properties/Resources.Designer.cs
  src/modules/launcher/PowerLauncher/Properties/Resources.resx
  src/modules/launcher/PowerLauncher/SettingsWatcher.cs
Labels: Product-Launcher

#6289 Fix KBM Settings page Property related and screen reader Accessibility issues
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/KeyboardManagerPage.xaml
Labels: Area-Accessibility, Product-Keyboard Shortcut Manager, Product-Settings

#6341 Corrected querytext display on action keyword
  src/modules/launcher/PowerLauncher/ViewModel/ResultViewModel.cs
  src/modules/launcher/Wox.Core/Plugin/PluginManager.cs
  src/modules/launcher/Wox.Test/PluginManagerTest.cs
Labels: Product-Launcher

#6181 [PowerToys Run] Remove unused wox resources and move hardcoded strings to resx file
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/ContextMenuLoader.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/ContextMenuLoader.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWPApplication.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Properties/Resources.resx
  src/modules/launcher/PowerLauncher/Properties/Resources.Designer.cs
  src/modules/launcher/PowerLauncher/Properties/Resources.resx
Labels: Area-Localization, Product-Launcher

#6379 Fix KBM Accessibility issues
  src/modules/keyboardmanager/dll/Resources.resx
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/ui/pch.h
Labels: Area-Accessibility, Product-Keyboard Shortcut Manager

#6393 Add in missing telemetry for Keyboard Manager usage
  src/modules/keyboardmanager/common/trace.cpp
  src/modules/keyboardmanager/common/trace.h
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
Labels: Product-Keyboard Shortcut Manager

#6456 Fix for FileNotFoundException exception in win32 programs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
Labels: Product-Launcher

#6356 Create unit tests for Calculator plugin
  .pipelines/ci/templates/build-powertoys-steps.yml
  PowerToys.sln
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator.UnitTest/BracketHelperTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator.UnitTest/ExtendedCalculatorParserTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator.UnitTest/Microsoft.Plugin.Calculator.UnitTest.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/BracketHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/CalculateEngine.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/CalculateHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/CalculateResult.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/ResultHelper.cs
Labels: Area-Tests, Product-Launcher, Run-Plugin

#6534 [FancyZones] Introduce several fallback scenarios when obtaining GUID for current virtual desktop
  src/modules/fancyzones/lib/VirtualDesktopUtils.cpp
Labels: Product-FancyZones

#6497 Fix Null Reference exception in PT Settings
  src/core/Microsoft.PowerToys.Settings.UI.Lib/ViewModels/PowerLauncherViewModel.cs
Labels: Product-Settings

#6450 Fixed KBM shortcut remapping not working after using Japanese IME
  src/modules/keyboardmanager/common/Shortcut.cpp
Labels: Product-Keyboard Shortcut Manager

#6488 [KBM] Prevent keyboard manager crash when index is not found
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
Labels: Product-Keyboard Shortcut Manager

#6446 [FancyZones] Use Ctrl+Win+Alt+arrows to Expand/shrink windows to adjacent zones
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
  src/modules/fancyzones/lib/WindowMoveHandler.h
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/lib/ZoneSet.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/ZoneWindow.h
Labels: Product-FancyZones

#6549 [FancyZones] Do not zone window if it merges with other window
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
Labels: Product-FancyZones

#6580 To catch URI Format Exception in PT Run
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
Labels: Product-Launcher

#6547 Fix for Drive detection warning checkbox from settings was not reflecting changes in PT Run
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Properties/Resources.resx
  src/modules/launcher/PowerLauncher/SettingsWatcher.cs
Labels: Product-Launcher, Product-Settings

#6565 [FZ Editor] Improved a function in GridData.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridData.cs
Labels: Area-Quality, FancyZones-Editor

#6589 Fix for null reference exception
  src/modules/launcher/PowerLauncher/App.xaml.cs
Labels: Product-Launcher

#6588 Fixed Visibility OnPropertyChanged getting invoked on clicking away from PT Run
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
Labels: Product-Launcher

#6585 [PowerToys Run] Fix mouse click handler for PowerToys Run results
  src/modules/launcher/PowerLauncher/MainWindow.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#6619 [FancyZones] Do not zone window if it should be maximized
  src/modules/fancyzones/lib/WindowMoveHandler.cpp
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/util.cpp
  src/modules/fancyzones/lib/util.h
Labels: Product-FancyZones

#6626 [Settings] Fix settings process not terminating on closing settings while minimized
  src/core/Microsoft.PowerToys.Settings.UI.Runner/MainWindow.xaml.cs
Labels: Product-Settings

#6582 Fix for ArgumentOutOfRange Exception in Result List
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Product-Launcher

#6657 [FancyZones] Remove migration from registry logic and delete registry data if present
  src/modules/fancyzones/lib/FancyZonesData.cpp
  src/modules/fancyzones/lib/FancyZonesData.h
Labels: Product-FancyZones

#6674 Handle exception in Packaged program loading at startup
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/PackageWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/PackagemanagerWrapper.cs
Labels: Product-Launcher

#6554 [FancyZones] Configurable sensitivity radius
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/Settings.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
  src/modules/fancyzones/lib/FancyZonesData.cpp
  src/modules/fancyzones/lib/FancyZonesData.h
  src/modules/fancyzones/lib/FancyZonesDataTypes.h
  src/modules/fancyzones/lib/JsonHelpers.cpp
  src/modules/fancyzones/lib/JsonHelpers.h
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/lib/ZoneSet.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/tests/UnitTests/JsonHelpers.Tests.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneSet.Spec.cpp
Labels: Product-FancyZones

#6063 [FancyZones] Initial improvements in FancyZones exception handling
  src/modules/fancyzones/dll/dllmain.cpp
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZones.h
  src/modules/fancyzones/lib/FancyZonesData.cpp
  src/modules/fancyzones/lib/Resources.resx
  src/modules/fancyzones/lib/Settings.cpp
  src/modules/fancyzones/tests/UnitTests/FancyZones.Spec.cpp
  src/runner/main.cpp
  src/runner/powertoy_module.cpp
Labels: Area-Quality, Product-FancyZones

#6692 Enable localization on all folders under PowerToys root
  .pipelines/build-localization.cmd
Labels: Area-Localization

#6708 Fix logging string format
  src/modules/launcher/Wox.Infrastructure/Storage/BinaryStorage`1.cs
  src/modules/launcher/Wox.Infrastructure/Storage/JsonStorage`1.cs
Labels: Product-Launcher

#6672 [Keyboard Manager] Fix focusable elements should have different names accessibility issue
  src/modules/keyboardmanager/dll/Resources.resx
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.h
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.h
Labels: Area-Accessibility, Product-Keyboard Shortcut Manager

#6660 [Launcher] Use a keyboard hook in the runner to invoke the Launcher
  src/action_runner/action_runner.cpp
  src/common/interop/interop.h
  src/common/settings_objects.cpp
  src/common/settings_objects.h
  src/common/shared_constants.h
  src/modules/interface/powertoy_module_interface.h
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/PowerLauncher/Helper/NativeEventWaiter.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/Wox.Infrastructure/UserSettings/Settings.cs
  src/runner/centralized_kb_hook.cpp
  src/runner/centralized_kb_hook.h
  src/runner/main.cpp
  src/runner/pch.h
  src/runner/powertoy_module.cpp
  src/runner/powertoy_module.h
  src/runner/runner.vcxproj
  src/runner/runner.vcxproj.filters
  src/runner/settings_window.cpp
Labels: Area-Module interface, Area-Runner, Product-Launcher

#6714 [Keyboard Manager] Fix crash in Keyboard Manager by ignoring MapToSameKey warnings on loading
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.h
Labels: Product-Keyboard Shortcut Manager

#6755 [Keyboard Manager] Enabled horizontal scroll on scroll viewers and tweaked ScrollViewer layout
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
Labels: Product-Keyboard Shortcut Manager

#6774 Fixed scaling Accessibility issues in Settings
  src/core/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml
Labels: Area-Accessibility, Product-Settings

#6817 Fix settings changes that were made in PR #6620
  src/core/Microsoft.PowerToys.Settings.UI.Lib/ViewModels/GeneralViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI.Lib/ViewModels/ImageResizerViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/General.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/ImageResizer.cs
  src/core/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml.cs
Labels: Product-Settings

#6818 [Settings] Added recursive delete for IOProvider DeleteDirectory to prevent crash on non-empty directory
  src/core/Microsoft.PowerToys.Settings.UI.Lib/Utilities/SystemIOProvider.cs
Labels: Product-Settings

#6821 Add delay to File System watchers to prevent Calibre installation issue
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/ConcurrentQueueEventHandlerTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/ShellLinkHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/EventHandler.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
Labels: Product-Launcher

#6839 Fix settings UpgradeSettingsConfiguration code path
  src/core/Microsoft.PowerToys.Settings.UI.Lib/SettingsUtils.cs
Labels: Product-Settings

#6832 Changed default theme in settings to be consistent with that of shortcut guide
  src/core/Microsoft.PowerToys.Settings.UI.Lib/ShortcutGuideProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/ShortcutGuide.cs
Labels: Product-Settings

#6815 [FancyZones Editor] Crash with big 'Space around zones' values
  src/modules/fancyzones/editor/FancyZonesEditor/LayoutPreview.xaml.cs
Labels: FancyZones-Editor
