Repository microsoft/PowerToys, pull requests merged in 2020-11, with the labels that each got.

#7621 [Accessibility] [FancyZones Editor] Associate Name label with textbox
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditorWindow.xaml
Labels: Area-Accessibility, FancyZones-Editor

#7716 ImageResizer: fix hyperlink buttons role
  src/modules/imageresizer/ui/Views/AccessibleHyperlink.cs
  src/modules/imageresizer/ui/Views/AdvancedWindow.xaml
  src/modules/imageresizer/ui/Views/CustomizableHyperlinkAutomationPeer.cs
  src/modules/imageresizer/ui/Views/InputPage.xaml
Labels: Area-Accessibility, Product-Image Resizer

#7713 Fix test project UnitTest-ColorPickerUI
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorHelperTest.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/UnitTest-ColorPickerUI.csproj
Labels: Product-Color Picker

#7638 [FancyZones] Adjust template tab non-highlighted color
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
Labels: Area-Accessibility, FancyZones-Editor

#7711 [PT Run] Folder path starting with backslash
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/Path/FolderHelper.cs
Labels: Product-Launcher

#7781 Image resizer: fix Color contrast of 'Resize Your Pictures'
  src/modules/imageresizer/ui/App.xaml
Labels: Area-Accessibility, Product-Image Resizer

#7782 ImageResizer: fix Color contrast of ComboBox
  src/modules/imageresizer/ui/App.xaml
  src/modules/imageresizer/ui/Views/InputPage.xaml
Labels: Area-Accessibility, Product-Image Resizer

#7796 [PT Run] Handle theme at startup
  src/modules/launcher/PowerLauncher/SettingsWatcher.cs
Labels: Product-Launcher

#7785 [FancyZones] Adjust colors of secondary buttons to maintain 3:1 contrast ratio against white background
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasEditorWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditorWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
Labels: Area-Accessibility, FancyZones-Editor

#7799 added in abstraction to WSX
  installer/PowerToysSetup/Product.wxs
Labels: Area-Setup/Install

#7827 [Settings] Added delete button tooltip to Image Resizer page
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml
Labels: Product-Image Resizer, Product-Settings

#7826 [Settings] Added hyperlink button to wiki for keys that can't be remapped
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/KeyboardManagerPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml
Labels: Product-Keyboard Shortcut Manager, Product-Settings

#7844 [common, shortcutguide] move d2d files from common to scg
  doc/devdocs/common.md
  src/common/common.vcxproj
  src/common/common.vcxproj.filters
  src/common/pch.h
  src/modules/shortcut_guide/d2d_svg.cpp
  src/modules/shortcut_guide/d2d_svg.h
  src/modules/shortcut_guide/d2d_text.cpp
  src/modules/shortcut_guide/d2d_text.h
  src/modules/shortcut_guide/d2d_window.cpp
  src/modules/shortcut_guide/d2d_window.h
  src/modules/shortcut_guide/overlay_window.cpp
  src/modules/shortcut_guide/overlay_window.h
  src/modules/shortcut_guide/pch.h
  src/modules/shortcut_guide/shortcut_guide.vcxproj
  src/modules/shortcut_guide/shortcut_guide.vcxproj.filters
Labels: Product-Shortcut Guide

#7831 [Accessibility][FancyZones Editor] Add Grid Layout Editor name property
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditorWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
Labels: Area-Accessibility, FancyZones-Editor

#7820 [PT Run] Wox.Core merged into PowerLauncher
  PowerToys.sln
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/PowerLauncher/Helper/FontHelper.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginConfig.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginInstaller.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginManager.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginsLoader.cs
  src/modules/launcher/PowerLauncher/Plugin/QueryBuilder.cs
  src/modules/launcher/PowerLauncher/Plugin/README.md
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/PowerLauncher/PublicAPIInstance.cs
  src/modules/launcher/PowerLauncher/SettingsWatcher.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultViewModel.cs
  src/modules/launcher/Wox.Core/FodyWeavers.xml
  src/modules/launcher/Wox.Core/FodyWeavers.xsd
  src/modules/launcher/Wox.Core/README.md
  src/modules/launcher/Wox.Core/Wox.Core.csproj
  src/modules/launcher/Wox.Test/PluginManagerTest.cs
  src/modules/launcher/Wox.Test/QueryBuilderTest.cs
  src/modules/launcher/Wox.Test/Wox.Test.csproj
Labels: Product-Launcher

#7787 [KBM] Added banded rows
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.cpp
  src/modules/keyboardmanager/ui/KeyDropDownControl.h
  src/modules/keyboardmanager/ui/ShortcutControl.cpp
  src/modules/keyboardmanager/ui/ShortcutControl.h
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/ui/SingleKeyRemapControl.h
  src/modules/keyboardmanager/ui/UIHelpers.cpp
  src/modules/keyboardmanager/ui/UIHelpers.h
Labels: Product-Keyboard Shortcut Manager

#7816 Replace deprecated C headers with their C++ equivalent
  src/modules/keyboardmanager/ui/pch.h
  tools/CleanUp_tool/main.cpp
Labels: Needs-Author-Feedback

#7815 Remove unneeded variable for GetLastError();
  src/common/common.cpp
Labels: Needs-Author-Feedback

#7909 LEGO: Pull request from lego/hb_2939_20201106230530020 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/pl/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pt-PT/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/imageresizer/ui/loc/pt-PT/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/previewpane/powerpreview/loc/pt-PT/src/modules/previewpane/powerpreview/Resources.resx.lcl
Labels: Area-Localization

#7923 [README] [Fix] Links to File Explorer addons is a bit misleading
  README.md
Labels: Issue-Docs

#7950 localization: Fix action_runner/runner folder names
  src/action_runner/loc/cs/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/de/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/es/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/fr/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/hu/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/it/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/ja/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/ko/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/nl/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/pl/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/pt-BR/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/pt-PT/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/ru/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/sv/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/tr/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/zh-Hans/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/zh-Hant/src/action_runner/Resources.resx.lcl
  src/runner/loc/cs/src/runner/Resources.resx.lcl
  src/runner/loc/de/src/runner/Resources.resx.lcl
  src/runner/loc/es/src/runner/Resources.resx.lcl
  src/runner/loc/fr/src/runner/Resources.resx.lcl
  src/runner/loc/hu/src/runner/Resources.resx.lcl
  src/runner/loc/it/src/runner/Resources.resx.lcl
  src/runner/loc/ja/src/runner/Resources.resx.lcl
  src/runner/loc/ko/src/runner/Resources.resx.lcl
  src/runner/loc/nl/src/runner/Resources.resx.lcl
  src/runner/loc/pl/src/runner/Resources.resx.lcl
  src/runner/loc/pt-BR/src/runner/Resources.resx.lcl
  src/runner/loc/pt-PT/src/runner/Resources.resx.lcl
  src/runner/loc/ru/src/runner/Resources.resx.lcl
  src/runner/loc/sv/src/runner/Resources.resx.lcl
  src/runner/loc/tr/src/runner/Resources.resx.lcl
  src/runner/loc/zh-Hans/src/runner/Resources.resx.lcl
  src/runner/loc/zh-Hant/src/runner/Resources.resx.lcl
Labels: Area-Localization, Area-Runner

#7935 [PT Run] Log file not created
  src/modules/launcher/PowerLauncher/ReportWindow.xaml.cs
  src/modules/launcher/Wox.Plugin/Logger/Log.cs
Labels: Area-Logging, Product-Launcher

#7555 [ColorPicker] Add HSB, HSI, HWB and NCol color representation
  .github/actions/spell-check/expect.txt
  .github/actions/spell-check/patterns.txt
  src/core/Microsoft.PowerToys.Settings.UI.Library/ColorPickerProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI.Library/ColorPickerSettings.cs
  src/core/Microsoft.PowerToys.Settings.UI.Library/Enumerations/ColorRepresentationType.cs
  src/core/Microsoft.PowerToys.Settings.UI.Library/ViewModels/ColorPickerViewModel.cs
  src/core/Microsoft.PowerToys.Settings.UI/Views/ColorPickerPage.xaml
  src/core/Microsoft.PowerToys.Settings.UI/Views/ColorPickerPage.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/ColorHelper.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/ColorRepresentationHelper.cs
  src/modules/colorPicker/ColorPickerUI/Settings/IUserSettings.cs
  src/modules/colorPicker/ColorPickerUI/Settings/UserSettings.cs
  src/modules/colorPicker/ColorPickerUI/ViewModels/MainViewModel.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorHelperTest.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorRepresentationHelperTest.cs
Labels: Product-Color Picker

#7959 runner: localize tray menu item labels
  .github/actions/spell-check/expect.txt
  src/runner/Resources.resx
  src/runner/tray_icon.cpp
Labels: Area-Localization, Area-Runner

#7973 [FancyZones] Localize names of predefined layotus
  src/modules/fancyzones/editor/FancyZonesEditor/Models/Settings.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
Labels: Area-Localization, FancyZones-Editor

#7977 [FancyZones] Enable keyboard accessibility for template and custom layout items
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
Labels: Area-Accessibility, FancyZones-Editor, Product-FancyZones

#7974 LEGO: Pull request from lego/hb_2939_20201110110635301 to master
  installer/PowerToysBootstrapper/bootstrapper/loc/ja/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/pl/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/sv/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/zh-Hans/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  src/action_runner/loc/ja/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/pl/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/zh-Hans/src/action_runner/Resources.resx.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/cs/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/de/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/es/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/fr/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/hu/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/it/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/ja/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/ko/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/nl/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pl/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pt-BR/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pt-PT/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/ru/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/sv/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/tr/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/zh-Hans/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/zh-Hant/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/es/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/ja/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pl/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pt-PT/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/sv/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/zh-Hans/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/lib/loc/es/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/lib/loc/ko/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/lib/loc/pl/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/lib/loc/pt-PT/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/powerrename/dll/loc/it/src/modules/powerrename/dll/Resources.resx.lcl
  src/modules/powerrename/ui/loc/ja/src/modules/powerrename/ui/Resources.resx.lcl
  src/modules/powerrename/ui/loc/pl/src/modules/powerrename/ui/Resources.resx.lcl
  src/modules/powerrename/ui/loc/sv/src/modules/powerrename/ui/Resources.resx.lcl
  src/modules/powerrename/ui/loc/zh-Hans/src/modules/powerrename/ui/Resources.resx.lcl
  src/runner/loc/ja/src/runner/Resources.resx.lcl
  src/runner/loc/pl/src/runner/Resources.resx.lcl
  src/runner/loc/sv/src/runner/Resources.resx.lcl
  src/runner/loc/zh-Hans/src/runner/Resources.resx.lcl
Labels: Area-Localization

#7990 LEGO: Pull request from lego/hb_2939_20201111110613998 to master
  installer/PowerToysBootstrapper/bootstrapper/loc/pt-PT/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  src/action_runner/loc/pt-PT/src/action_runner/Resources.resx.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/cs/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/ko/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/nl/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pl/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pt-PT/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/sv/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pt-PT/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/lib/loc/sv/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/powerrename/dll/loc/cs/src/modules/powerrename/dll/Resources.resx.lcl
  src/modules/powerrename/dll/loc/ko/src/modules/powerrename/dll/Resources.resx.lcl
  src/modules/powerrename/dll/loc/nl/src/modules/powerrename/dll/Resources.resx.lcl
  src/modules/powerrename/dll/loc/pl/src/modules/powerrename/dll/Resources.resx.lcl
  src/modules/powerrename/ui/loc/pt-PT/src/modules/powerrename/ui/Resources.resx.lcl
  src/modules/shortcut_guide/loc/de/src/modules/shortcut_guide/Resources.resx.lcl
  src/modules/shortcut_guide/loc/sv/src/modules/shortcut_guide/Resources.resx.lcl
  src/runner/loc/pt-PT/src/runner/Resources.resx.lcl
Labels: Area-Localization

#7983 added made with love
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
Labels: Product-Settings

#7971 [FancyZones Editor][Accessibility] Default focused elements in all FancyZones Editor windows
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasEditorWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditorWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditorWindow.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
  src/modules/fancyzones/lib/FancyZones.cpp
Labels: Area-Accessibility, FancyZones-Editor

#8017 LEGO: Pull request from lego/hb_2939_20201113000515080 to master
  src/modules/fancyzones/editor/FancyZonesEditor/loc/es/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/it/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
Labels: Area-Localization

#8024 Fix compilation errors for VS 16.8.1
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.vcxproj
  installer/PowerToysSetupCustomActions/CustomAction.cpp
  installer/PowerToysSetupCustomActions/PowerToysSetupCustomActions.vcxproj
  src/action_runner/action_runner.cpp
  src/common/common-md-flag/common-md-flag.vcxproj
  src/common/updating/notifications.h
  src/modules/fancyzones/lib/JsonHelpers.cpp
  src/modules/fancyzones/tests/UnitTests/FancyZonesSettings.Spec.cpp
  src/modules/keyboardmanager/dll/KeyboardEventHandlers.cpp
  src/runner/update_utils.cpp
Labels: Area-Build

#8028 [FancyZones Editor][Accessibility] Remove Left/Right Window Commands
  src/modules/fancyzones/editor/FancyZonesEditor/EditorOverlay.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
Labels: Area-Accessibility, FancyZones-Editor, Product-FancyZones

#8027 [FancyZones] Add custom announcement to tab items
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
Labels: Area-Accessibility, FancyZones-Editor, Product-FancyZones

#8026 LEGO: Pull request from lego/hb_2939_20201113120703275 to master
  src/modules/fancyzones/editor/FancyZonesEditor/loc/de/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/ja/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/nl/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pl/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/zh-Hant/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
Labels: Area-Localization

#8043 [Installer] High Contrast Support
  installer/PowerToysSetup/Bitmaps/banner.bmp
  installer/PowerToysSetup/Bitmaps/dialog.bmp
  installer/PowerToysSetup/Images/banner.png
  installer/PowerToysSetup/Images/dialog.png
  installer/PowerToysSetup/Product.wxs
Labels: Area-Accessibility, Area-Setup/Install

#8006 [FancyZones] Refactor a function in ZoneWindowDrawing
  src/modules/fancyzones/lib/ZoneWindowDrawing.cpp
Labels: Area-Quality, Product-FancyZones

#8063 [KeyboardManager] icon update
  src/modules/keyboardmanager/dll/Keyboard.ico
Labels: Area-User Interface, Product-Keyboard Shortcut Manager

#8034 LEGO: Pull request from lego/hb_2939_20201114000606270 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/de/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/es/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/it/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/ja/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pt-BR/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/tr/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/zh-Hans/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/zh-Hant/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/hu/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pt-BR/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pt-PT/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/ru/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/tr/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/runner/loc/ru/src/runner/Resources.resx.lcl
Labels: Area-Localization

#8041 LEGO: Pull request from lego/hb_2939_20201114120538945 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/cs/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/nl/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pl/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/cs/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
Labels: Area-Localization

#8057 LEGO: Pull request from lego/hb_2939_20201116000536744 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/ko/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pt-PT/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/ko/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
Labels: Area-Localization

#8065 LEGO: Pull request from lego/hb_2939_20201116120631658 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/sv/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/powerrename/dll/loc/sv/src/modules/powerrename/dll/Resources.resx.lcl
Labels: Area-Localization

#7920 [Image Resizer] Fluent UI and theming support
  .github/actions/spell-check/expect.txt
  installer/PowerToysSetup/Product.wxs
  src/modules/imageresizer/tests/Properties/AppFixture.cs
  src/modules/imageresizer/ui/App.xaml
  src/modules/imageresizer/ui/App.xaml.cs
  src/modules/imageresizer/ui/ImageResizerUI.csproj
  src/modules/imageresizer/ui/Properties/Resources.Designer.cs
  src/modules/imageresizer/ui/Properties/Resources.resx
  src/modules/imageresizer/ui/Themes/Dark.xaml
  src/modules/imageresizer/ui/Themes/HighContrast1.xaml
  src/modules/imageresizer/ui/Themes/HighContrast2.xaml
  src/modules/imageresizer/ui/Themes/HighContrastBlack.xaml
  src/modules/imageresizer/ui/Themes/HighContrastWhite.xaml
  src/modules/imageresizer/ui/Themes/Light.xaml
  src/modules/imageresizer/ui/Utilities/CustomLibraryThemeProvider.cs
  src/modules/imageresizer/ui/Utilities/ThemeManager.cs
  src/modules/imageresizer/ui/Views/AdvancedWindow.xaml
  src/modules/imageresizer/ui/Views/AdvancedWindow.xaml.cs
  src/modules/imageresizer/ui/Views/InputPage.xaml
  src/modules/imageresizer/ui/Views/MainWindow.xaml
  src/modules/imageresizer/ui/Views/ProgressPage.xaml
  src/modules/imageresizer/ui/Views/ResultsPage.xaml
Labels: Accessibility [E+D], Area-User Interface, Product-Image Resizer

#8061 Change Settings' Resources.resw to use the name PowerRename consistently.
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
Labels: Area-User Interface, Product-Settings

#8078 LEGO: Pull request from lego/hb_2939_20201117000533444 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/fr/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/ru/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/cs/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/de/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/es/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/fr/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/hu/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/it/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/nl/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pl/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pt-PT/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/ru/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/zh-Hans/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/zh-Hant/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
Labels: Area-Localization

#7994 [FancyZones] Update primary desktop data on virtual desktop switch
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZonesData.cpp
  src/modules/fancyzones/lib/VirtualDesktopUtils.cpp
Labels: FancyZones-VirtualDesktop, Product-FancyZones

#8079 Suggested v2 WPF color picker adjustments
  src/core/Microsoft.PowerToys.Settings.UI.Library/ColorPickerProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/core/Microsoft.PowerToys.Settings.UI/Views/ColorPickerPage.xaml
  src/modules/colorPicker/ColorPickerUI/Properties/Resources.Designer.cs
  src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx
Labels: Idea-Enhancement, Product-Color Picker

#8097 LEGO: Pull request from lego/hb_2939_20201118000548825 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/hu/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/hu/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/cs/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/de/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/es/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/fr/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/hu/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/it/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/ja/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/ko/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/nl/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/pl/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/pt-BR/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/pt-PT/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/ru/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/sv/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/tr/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/zh-Hans/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/zh-Hant/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
Labels: Area-Localization

#8068 Runner logging
  .github/actions/spell-check/expect.txt
  PowerToys.sln
  deps/spdlog.props
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
  src/common/logger/framework.h
  src/common/logger/logger.cpp
  src/common/logger/logger.h
  src/common/logger/logger.vcxproj
  src/common/logger/logger.vcxproj.filters
  src/common/logger/logger_settings.cpp
  src/common/logger/logger_settings.h
  src/common/logger/packages.config
  src/common/logger/pch.cpp
  src/common/logger/pch.h
  src/common/settings_helpers.cpp
  src/common/settings_helpers.h
  src/logging/logging.vcxproj
  src/modules/launcher/Microsoft.Launcher/Microsoft.Launcher.vcxproj
  src/modules/launcher/Microsoft.Launcher/Microsoft.Launcher.vcxproj.filters
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
  src/runner/general_settings.h
  src/runner/main.cpp
  src/runner/runner.vcxproj
  src/runner/settings_window.cpp
Labels: Area-Logging, Area-Runner

#8096 StyleCop for UnitTest-ColorPickerUI
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorConverterTest.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorHelperTest.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorRepresentationHelperTest.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/UnitTest-ColorPickerUI.csproj
Labels: Area-Tests, Product-Color Picker

#8112 Adjustments for runner process logging
  src/common/logger/logger.cpp
  src/common/logger/logger.h
  src/common/logger/logger_settings.h
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
  src/runner/main.cpp
Labels: Area-Logging, Area-Runner, Idea-Enhancement

#8095 StyleCop Microsoft.PowerToys.Settings.UI.UnitTests
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/BackwardsCompatibility/BackCompatTestProperties.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/Microsoft.PowerToys.Settings.UI.UnitTests.csproj
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/Mocks/IIOProviderMocks.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/Mocks/ISettingsUtilsMocks.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ModelsTests/BasePTModuleSettingsTest.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ModelsTests/SettingsRepositoryTest.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ModelsTests/SettingsUtilsTests.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/ColorPicker.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/FancyZones.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/General.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/ImageResizer.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/PowerLauncherViewModelTest.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/PowerPreview.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/PowerRename.cs
  src/core/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/ShortcutGuide.cs
Labels: Area-Tests, Product-Settings

#8114 [FancyZones Editor] Reset layout
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/CanvasLayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutSettings.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/MainWindowSettingsModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
  src/modules/fancyzones/editor/FancyZonesEditor/Utils/FancyZonesEditorIO.cs
  src/modules/fancyzones/lib/JsonHelpers.cpp
  src/modules/fancyzones/lib/ZoneWindow.cpp
Labels: FancyZones-Editor

#8106 CI on the stable branch as well
  .pipelines/ci/ci.yml
Labels: Area-Build

#8124 LEGO: Pull request from lego/hb_2939_20201119000611307 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/cs/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/de/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/es/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/fr/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/nl/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pl/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pt-BR/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/ru/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/cs/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/de/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/es/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/fr/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/nl/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pl/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pt-BR/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/ru/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/cs/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/de/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/es/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/fr/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/ko/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/nl/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/pl/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/ru/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/tr/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
Labels: Area-Localization

#8121 Dev/crutkas/fx cop fz editor pass1
  src/modules/fancyzones/editor/FancyZonesEditor/App.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasZone.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/FancyZonesEditor.csproj
  src/modules/fancyzones/editor/FancyZonesEditor/GridData.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditor.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridZone.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/Device.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/MainWindowSettingsModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/NativeMethods.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Overlay.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Utils/FancyZonesEditorIO.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Utils/RelayCommand.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Utils/RelayCommand`1.cs
Labels: FancyZones-Editor, Product-FancyZones

#8131 FZ: fix keyboard layout mapping for dead characters
  src/common/keyboard_layout.cpp
Labels: FancyZones-Settings

#8132 LEGO: Pull request from lego/hb_2939_20201119120652245 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/ja/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/ko/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/sv/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/tr/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/zh-Hans/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/ja/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/ko/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/sv/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/tr/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/zh-Hans/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/ja/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/zh-Hans/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
Labels: Area-Localization

#8149 LEGO: Pull request from lego/hb_2939_20201120000551890 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/it/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pt-PT/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/it/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pt-PT/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/sv/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/hu/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/it/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/pt-PT/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
  src/modules/imageresizer/ui/loc/sv/src/modules/imageresizer/ui/Properties/Resources.resx.lcl
Labels: Area-Localization

#8158 LEGO: Pull request from lego/hb_2939_20201120120553737 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/ru/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/cs/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/de/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/es/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/fr/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/hu/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/it/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/ja/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/ko/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/nl/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pl/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pt-BR/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/pt-PT/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/ru/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/sv/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/tr/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/zh-Hans/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/zh-Hant/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
Labels: Area-Localization

#8145 DLL without signature
  .pipelines/pipeline.user.windows.yml
Labels: Area-Build

#8168 LEGO: Pull request from lego/hb_2939_20201121000545634 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/hu/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/sv/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/hu/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/sv/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
Labels: Area-Localization

#8186 kbm: increase compiler memory limit
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj
  src/settings/settings.vcxproj
Labels: Area-Build

#8188 colorpicker: fix .sln issue with unittest project
  src/modules/colorPicker/UnitTest-ColorPickerUI/UnitTest-ColorPickerUI.csproj
Labels: Area-Build, Product-Color Picker

#8178 LEGO: Pull request from lego/hb_2939_20201122000609690 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/cs/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/de/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/es/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/fr/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/hu/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/it/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/ja/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/ko/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/nl/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pl/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pt-BR/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pt-PT/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/ru/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/sv/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/tr/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/zh-Hans/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/zh-Hant/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/colorPicker/ColorPickerUI/loc/cs/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/de/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/es/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/fr/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/hu/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/it/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/ja/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/ko/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/nl/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/pl/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/pt-BR/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/pt-PT/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/ru/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/sv/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/tr/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/zh-Hans/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/zh-Hant/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
Labels: Area-Localization

#8189 LEGO: Pull request from lego/hb_2939_20201123120634392 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/ko/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/sv/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/zh-Hans/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/colorPicker/ColorPickerUI/loc/ko/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/sv/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
Labels: Area-Localization

#8197 LEGO: Pull request from lego/hb_2939_20201124000528125 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/de/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/es/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/zh-Hant/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/colorPicker/ColorPickerUI/loc/de/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/es/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/zh-Hant/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
Labels: Area-Localization

#8122 [FancyZones Editor] Porting .NET Core 3.1
  .pipelines/pipeline.user.windows.yml
  PowerToys.sln
  installer/PowerToysSetup/Product.wxs
  src/modules/fancyzones/editor/FancyZonesEditor/FancyZonesEditor.csproj
Labels: FancyZones-Editor, Idea-Enhancement

#8191 shortcut guide logs
  src/common/logger/logger_settings.h
  src/modules/shortcut_guide/ShortcutGuideLogger.cpp
  src/modules/shortcut_guide/ShortcutGuideLogger.h
  src/modules/shortcut_guide/shortcut_guide.cpp
  src/modules/shortcut_guide/shortcut_guide.vcxproj
Labels: Area-Logging, Product-Shortcut Guide

#8196 [Wox.Plugin] Mark string with DO NOT LOCALIZE
  src/modules/launcher/Wox.Plugin/ToolTipData.cs
Labels: Area-Localization

#8214 LEGO: Pull request from lego/hb_2939_20201125000600534 to master
  installer/PowerToysBootstrapper/bootstrapper/loc/cs/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/de/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/es/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/nl/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/pl/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  src/action_runner/loc/cs/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/de/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/es/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/nl/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/pl/src/action_runner/Resources.resx.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/fr/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/pt-BR/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/colorPicker/ColorPickerUI/loc/fr/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/pt-BR/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/runner/loc/cs/src/runner/Resources.resx.lcl
  src/runner/loc/de/src/runner/Resources.resx.lcl
  src/runner/loc/es/src/runner/Resources.resx.lcl
  src/runner/loc/nl/src/runner/Resources.resx.lcl
  src/runner/loc/pl/src/runner/Resources.resx.lcl
Labels: Area-Localization

#8190 added logs to fancy zones
  src/common/logger/logger_settings.h
  src/modules/fancyzones/dll/FancyZonesModule.vcxproj
  src/modules/fancyzones/dll/dllmain.cpp
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj
  src/modules/fancyzones/lib/FancyZonesLogger.cpp
  src/modules/fancyzones/lib/FancyZonesLogger.h
Labels: Area-Logging, Product-FancyZones

#8219 build: remove compiler memory limits
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj
  src/settings/settings.vcxproj
Labels: Area-Build

#8220 LEGO: Pull request from lego/hb_2939_20201125120624164 to master
  installer/PowerToysBootstrapper/bootstrapper/loc/it/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/ja/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/ko/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  src/action_runner/loc/it/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/ja/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/ko/src/action_runner/Resources.resx.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/it/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/nl/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/colorPicker/ColorPickerUI/loc/it/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/modules/colorPicker/ColorPickerUI/loc/nl/src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx.lcl
  src/runner/loc/it/src/runner/Resources.resx.lcl
  src/runner/loc/ja/src/runner/Resources.resx.lcl
  src/runner/loc/ko/src/runner/Resources.resx.lcl
Labels: Area-Localization

#8062 [PT Run] Sys Plugin Port from Wox.Plugins.Sys
  .github/actions/spell-check/expect.txt
  PowerToys.sln
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys.UnitTests/ImageTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys.UnitTests/Microsoft.Plugin.Sys.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys.UnitTests/QueryTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Images/lock.dark.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Images/lock.light.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Images/logoff.dark.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Images/logoff.light.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Images/recyclebin.dark.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Images/recyclebin.light.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Images/restart.dark.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Images/restart.light.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Images/shutdown.dark.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Images/shutdown.light.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Images/sleep.dark.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Images/sleep.light.png
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Microsoft.Plugin.Sys.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/Win32/NativeMethods.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Sys/plugin.json
  src/modules/launcher/Wox.Infrastructure/StringMatcher.cs
Labels: Idea-Enhancement, Product-Launcher, Run-Plugin

#8243 LEGO: Pull request from lego/hb_2939_20201127000526832 to master
  installer/PowerToysBootstrapper/bootstrapper/loc/pt-BR/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/pt-PT/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  installer/PowerToysBootstrapper/bootstrapper/loc/ru/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  src/action_runner/loc/pt-BR/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/pt-PT/src/action_runner/Resources.resx.lcl
  src/action_runner/loc/ru/src/action_runner/Resources.resx.lcl
  src/runner/loc/pt-BR/src/runner/Resources.resx.lcl
  src/runner/loc/pt-PT/src/runner/Resources.resx.lcl
  src/runner/loc/ru/src/runner/Resources.resx.lcl
Labels: Area-Localization

#8259 LEGO: Pull request from lego/hb_2939_20201128000545286 to master
  src/core/Microsoft.PowerToys.Settings.UI/loc/pt-PT/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/modules/fancyzones/editor/FancyZonesEditor/loc/cs/src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx.lcl
  src/modules/fancyzones/lib/loc/pt-PT/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/imageresizer/dll/loc/pt-PT/src/modules/imageresizer/dll/Resources.resx.lcl
  src/modules/launcher/PowerLauncher/loc/pt-PT/src/modules/launcher/PowerLauncher/Properties/Resources.resx.lcl
Labels: Area-Localization

#8232 LEGO: Pull request from lego/hb_2939_20201126120617106 to master
  installer/PowerToysBootstrapper/bootstrapper/loc/sv/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  src/action_runner/loc/sv/src/action_runner/Resources.resx.lcl
  src/core/Microsoft.PowerToys.Settings.UI/loc/ja/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/runner/loc/sv/src/runner/Resources.resx.lcl
Labels: Area-Localization

#8256 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Issue-Docs, Needs-Author-Feedback

#8211 Fix runner warnings
  .github/actions/spell-check/expect.txt
  src/common/logger/logger.cpp
  src/common/logger/logger.h
  src/common/logger/logger_settings.cpp
  src/common/timeutil.h
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorConverterTest.cs
  src/modules/fancyzones/dll/dllmain.cpp
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj
  src/modules/fancyzones/lib/FancyZonesLogger.cpp
  src/modules/fancyzones/lib/FancyZonesLogger.h
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
  src/modules/shortcut_guide/ShortcutGuideLogger.cpp
  src/modules/shortcut_guide/ShortcutGuideLogger.h
  src/modules/shortcut_guide/shortcut_guide.cpp
  src/modules/shortcut_guide/shortcut_guide.vcxproj
  src/runner/main.cpp
  src/runner/settings_window.cpp
Labels: Area-Quality, Issue-Refactoring

#8272 LEGO: Pull request from lego/hb_2939_20201130074650503 to master
  installer/PowerToysBootstrapper/bootstrapper/loc/ko/installer/PowerToysBootstrapper/bootstrapper/Resources.resx.lcl
  src/modules/keyboardmanager/dll/loc/ko/src/modules/keyboardmanager/dll/Resources.resx.lcl
Labels: Area-Localization
