Repository microsoft/PowerToys, pull requests merged in 2021-05, with the labels that each got.

#11066 [FZ Editor] Replace ItemsControls with GridViews
  src/modules/fancyzones/editor/FancyZonesEditor/App.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
  src/modules/fancyzones/editor/FancyZonesEditor/Styles/GridViewStyles.xaml
Labels: FancyZones-Editor

#11097 [FZ Editor] Accessibility fixes
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasEditorWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditorWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
Labels: Area-Accessibility, FancyZones-Editor

#10861 improve sorting vscodeworkspaces plugin
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Main.cs
Labels: Run-Plugin

#10705 [ColorPicker] Prevent creation of duplicate colors in history
  src/modules/colorPicker/ColorPickerUI/ViewModels/MainViewModel.cs
Labels: Product-Color Picker

#11106 Ensure the lifetime of CPowerRenameProcessUI on the worker thread
  src/modules/powerrename/ui/PowerRenameUI.cpp
Labels: Product-PowerRename

#11117 [bootstrapper] Allow msi extraction on 1809 and older
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
  src/common/updating/installer.cpp
  src/common/updating/installer.h
Labels: Area-Setup/Install

#11057 [ColorPicker] Change zoom animation behavior
  .github/actions/spell-check/expect.txt
  src/modules/colorPicker/ColorPickerUI/Behaviors/MoveWindowBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/ResizeBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/ZoomWindowHelper.cs
  src/modules/colorPicker/ColorPickerUI/Views/ZoomView.xaml
  src/modules/colorPicker/ColorPickerUI/ZoomWindow.xaml
  src/modules/colorPicker/ColorPickerUI/ZoomWindow.xaml.cs
Labels: Product-Color Picker

#11138 [devdocs] new plugin localization steps
  doc/devdocs/modules/launcher/new-plugin-checklist.md
Labels: Issue-Docs, Run-Plugin

#11137 [msi] add localized resources for "System" plugin
  installer/PowerToysSetup/Product.wxs
Labels: Area-Setup/Install, Run-Plugin

#11182 [KBM] Fix for handle leak
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardManager.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardManager.h
Labels: Hot Fix, Product-Keyboard Shortcut Manager

#11185 [build] stop building PowerRenameUWPUI
  PowerToys.sln
Labels: Area-Build, Product-PowerRename

#11195 [Shortcut Guide] Drop win key long press support
  src/modules/ShortcutGuide/ShortcutGuide/shortcut_guide.cpp
  src/modules/ShortcutGuide/ShortcutGuide/shortcut_guide.h
  src/modules/ShortcutGuide/ShortcutGuide/target_state.cpp
  src/modules/ShortcutGuide/ShortcutGuide/target_state.h
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/ShortcutGuideViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/ShortcutGuide.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml
Labels: Product-Shortcut Guide

#11172 Add image hyperlink for Video Conference settings page
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/VideoConference.xaml
Labels: Product-Settings, Product-Video Conference Mute

#11207 [Shortcut Guide] Start on demand
  src/common/interop/interop.cpp
  src/common/interop/shared_constants.h
  src/modules/ShortcutGuide/ShortcutGuide/Resources.resx
  src/modules/ShortcutGuide/ShortcutGuide/main.cpp
  src/modules/ShortcutGuide/ShortcutGuide/shortcut_guide.cpp
  src/modules/ShortcutGuide/ShortcutGuide/shortcut_guide.h
  src/modules/ShortcutGuide/ShortcutGuide/target_state.cpp
  src/modules/ShortcutGuide/ShortcutGuide/target_state.h
  src/modules/ShortcutGuide/ShortcutGuide/trace.cpp
  src/modules/ShortcutGuide/ShortcutGuide/trace.h
  src/modules/ShortcutGuide/ShortcutGuideModuleInterface/shortcut_guide.cpp
  src/modules/ShortcutGuide/ShortcutGuideModuleInterface/shortcut_guide.h
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShortcutGuide.xaml.cs
  src/settings-ui/PowerToys.Settings/OobeWindow.xaml.cs
Labels: Product-Shortcut Guide

#11227 [Auto-update][PT Settings] Updated general page in the Settings
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/UpdatingSettings.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/GeneralViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Converters/UpdatingStateCannotDownloadToVisibilityConverter.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Converters/UpdatingStateReadyToDownloadToVisibilityConverter.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Converters/UpdatingStateReadyToInstallToVisibilityConverter.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Converters/UpdatingStateUpToDateToVisibilityConverter.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
Labels: Area-Setup/Install, Product-Settings

#11229 [Shortcut Guide] Icon
  src/modules/ShortcutGuide/ShortcutGuide/Shortcut-Guide.ico
  src/modules/ShortcutGuide/ShortcutGuide/ShortcutGuide.base.rc
  src/modules/ShortcutGuide/ShortcutGuide/ShortcutGuide.vcxproj
  src/modules/ShortcutGuide/ShortcutGuide/ShortcutGuide.vcxproj.filters
Labels: Product-Shortcut Guide

#11228 [Shortcut Guide] Regressions
  src/modules/ShortcutGuide/ShortcutGuide/ShortcutGuide.exe.manifest
  src/modules/ShortcutGuide/ShortcutGuide/ShortcutGuide.vcxproj
  src/modules/ShortcutGuide/ShortcutGuide/ShortcutGuide.vcxproj.filters
  src/modules/ShortcutGuide/ShortcutGuide/main.cpp
  src/modules/ShortcutGuide/ShortcutGuide/shortcut_guide.cpp
  src/modules/ShortcutGuide/ShortcutGuide/shortcut_guide.h
Labels: Product-Shortcut Guide

#11232 [Shortcut Guide] Cleanup
  src/modules/ShortcutGuide/ShortcutGuide/d2d_window.cpp
  src/modules/ShortcutGuide/ShortcutGuide/d2d_window.h
  src/modules/ShortcutGuide/ShortcutGuide/overlay_window.cpp
  src/modules/ShortcutGuide/ShortcutGuide/overlay_window.h
  src/modules/ShortcutGuide/ShortcutGuide/shortcut_guide.cpp
  src/modules/ShortcutGuide/ShortcutGuide/shortcut_guide.h
  src/modules/ShortcutGuide/ShortcutGuide/target_state.h
  src/modules/ShortcutGuide/ShortcutGuideModuleInterface/ShortcutGuideModuleInterface.vcxproj
  src/modules/ShortcutGuide/ShortcutGuideModuleInterface/ShortcutGuideModuleInterface.vcxproj.filters
  src/modules/ShortcutGuide/ShortcutGuideModuleInterface/dllmain.cpp
  src/modules/ShortcutGuide/ShortcutGuideModuleInterface/shortcut_guide.cpp
  src/modules/ShortcutGuide/ShortcutGuideModuleInterface/shortcut_guide.h
Labels: Product-Shortcut Guide

#11143 Espresso
  .github/actions/spell-check/expect.txt
  PowerToys.sln
  doc/images/icons/Espresso.png
  installer/PowerToysSetup/Product.wxs
  src/common/SettingsAPI/settings_helpers.h
  src/modules/espresso/Espresso/Core/APIHelper.cs
  src/modules/espresso/Espresso/Core/TrayHelper.cs
  src/modules/espresso/Espresso/Espresso.csproj
  src/modules/espresso/Espresso/Images/Espresso.ico
  src/modules/espresso/Espresso/NLog.config
  src/modules/espresso/Espresso/Program.cs
  src/modules/espresso/EspressoModuleInterface/EspressoConstants.h
  src/modules/espresso/EspressoModuleInterface/EspressoModuleInterface.rc
  src/modules/espresso/EspressoModuleInterface/EspressoModuleInterface.vcxproj
  src/modules/espresso/EspressoModuleInterface/EspressoModuleInterface.vcxproj.filters
  src/modules/espresso/EspressoModuleInterface/dllmain.cpp
  src/modules/espresso/EspressoModuleInterface/packages.config
  src/modules/espresso/EspressoModuleInterface/pch.cpp
  src/modules/espresso/EspressoModuleInterface/pch.h
  src/modules/espresso/EspressoModuleInterface/resource.h
  src/modules/espresso/EspressoModuleInterface/trace.cpp
  src/modules/espresso/EspressoModuleInterface/trace.h
  src/runner/main.cpp
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/EnabledModules.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/EspressoProperties.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/EspressoSettings.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ISettingsUtils.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/Microsoft.PowerToys.Settings.UI.Library.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/SettingsUtils.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/SndEspressoSettings.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/EspressoViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/Microsoft.PowerToys.Settings.UI.UnitTests.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/FluentIcons/FluentIconsEspresso.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Converters/EspressoModeToBoolConverter.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Converters/EspressoModeToReverseBoolConverter.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Enums/PowerToysModulesEnum.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeEspresso.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeEspresso.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/EspressoPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/EspressoPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShellPage.xaml
  src/settings-ui/PowerToys.Settings/PowerToys.Settings.csproj
Labels: Product-Espresso

#11211 [FZ Editor] Keyboard support for canvas editor
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasZone.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasZone.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Themes/Dark.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Themes/HighContrast1.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Themes/HighContrast2.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Themes/HighContrastBlack.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Themes/HighContrastWhite.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Themes/Light.xaml
Labels: Accessibility [E+D], Area-User Interface, FancyZones-Editor

#11261 [Shortcut Guide] Set current path to the executable's directory
  src/modules/ShortcutGuide/ShortcutGuide/main.cpp
Labels: Product-Shortcut Guide

#11253 [Shortcut Guide] Open sg shortcut
  src/modules/ShortcutGuide/ShortcutGuideModuleInterface/dllmain.cpp
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ShortcutGuideProperties.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ShortcutGuideSettingsIPCMessage.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/SndShortcutGuideSettings.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/ShortcutGuideViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml
Labels: Product-Shortcut Guide

#11283 [Shortcut Guide] Win key crash
  src/modules/ShortcutGuide/ShortcutGuide/ShortcutGuide.vcxproj
  src/modules/ShortcutGuide/ShortcutGuide/ShortcutGuide.vcxproj.filters
  src/modules/ShortcutGuide/ShortcutGuide/d2d_window.cpp
  src/modules/ShortcutGuide/ShortcutGuide/keyboard_state.cpp
  src/modules/ShortcutGuide/ShortcutGuide/keyboard_state.h
  src/modules/ShortcutGuide/ShortcutGuide/overlay_window.cpp
  src/modules/ShortcutGuide/ShortcutGuide/target_state.cpp
Labels: Product-Shortcut Guide

#11282 [Auto-update][PT Settings] File watcher monitoring UpdateState.json
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/UpdatingSettings.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/GeneralViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml.cs
Labels: Area-Setup/Install, Product-Settings

#11285 [ShortcutGuide] Installer and pipeline
  .pipelines/pipeline.user.windows.yml
  installer/PowerToysSetup/Product.wxs
Labels: Product-Shortcut Guide

#11260 [PT Run] Implement quick browser open in PT-run
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Properties/Resources.resx
Labels: Idea-Enhancement, Product-PowerToys Run, Run-Plugin

#11288 [Auto-update][PT Settings] Handle button clicks
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/GeneralViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
Labels: Area-Setup/Install, Product-Settings

#11335 [Auto-update][PT Settings] Updated UI
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/GeneralViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
Labels: Area-Setup/Install, Product-Settings

#11345 [ShortcutGuide] Registerhotkey interface
  src/common/SettingsAPI/settings_objects.h
  src/modules/ShortcutGuide/ShortcutGuide/shortcut_guide.h
  src/modules/ShortcutGuide/ShortcutGuideModuleInterface/dllmain.cpp
  src/modules/interface/powertoy_module_interface.h
  src/runner/CentralizedHotkeys.cpp
  src/runner/CentralizedHotkeys.h
  src/runner/main.cpp
  src/runner/powertoy_module.cpp
  src/runner/powertoy_module.h
  src/runner/runner.vcxproj
  src/runner/runner.vcxproj.filters
  src/runner/settings_window.cpp
  src/runner/tray_icon.cpp
Labels: Product-Shortcut Guide

#11360 [Shortcut Guide] Fix disabled apps
  src/modules/ShortcutGuide/ShortcutGuide/main.cpp
  src/modules/ShortcutGuide/ShortcutGuide/shortcut_guide.cpp
Labels: Product-Shortcut Guide

#11375 [BugReportTool] Report if admin flags are set for executables
  .github/actions/spell-check/expect.txt
  tools/BugReportTool/BugReportTool/BugReportTool.vcxproj
  tools/BugReportTool/BugReportTool/BugReportTool.vcxproj.filters
  tools/BugReportTool/BugReportTool/Main.cpp
  tools/BugReportTool/BugReportTool/RegistryUtils.cpp
  tools/BugReportTool/BugReportTool/RegistryUtils.h
  tools/BugReportTool/BugReportTool/ZipTools/zipfolder.cpp
  tools/BugReportTool/BugReportTool/ZipTools/zipfolder.h
Labels: Area-Bug Report Tool

#11397 [Auto-update][Settings] Show error text with error brush.
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
Labels: Area-Setup/Install, Product-Settings

#11401 [Auto-update][Settings] Bolden update ready/available info line
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Styles/TextBlock.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
Labels: Area-Setup/Install, Product-Settings

#11384 [ColorPicker] Improving keyboard navigation
  src/modules/colorPicker/ColorPickerUI/Controls/ColorFormatControl.xaml
  src/modules/colorPicker/ColorPickerUI/Controls/ColorPickerControl.xaml
  src/modules/colorPicker/ColorPickerUI/Controls/ColorPickerControl.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Properties/Resources.Designer.cs
  src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx
  src/modules/colorPicker/ColorPickerUI/Resources/Styles.xaml
  src/modules/colorPicker/ColorPickerUI/Views/ColorEditorView.xaml
Labels: Area-User Interface, Product-Color Picker

#11380 [ImageResizer] Minimum size width and height
  src/modules/imageresizer/ui/Views/InputPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml
Labels: Product-Image Resizer

#11378 [PowerToys Run] Logging
  src/common/utils/elevation.h
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/previewpane/powerpreview/powerpreview.vcxproj
Labels: Area-Logging, Product-PowerToys Run

#10981 [PT Run] Fix Program Plugin launching issue in Turkish locale
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Programs/Win32Tests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
Labels: Run-Plugin

#11407 [PowerToys Run] Single instance
  src/common/interop/interop.cpp
  src/common/interop/shared_constants.h
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/PowerLauncher/Helper/SingleInstance`1.cs
Labels: Product-PowerToys Run

#11428 [Issue-Docs] Update new-plugin-checklist.md
  doc/devdocs/modules/launcher/new-plugin-checklist.md
Labels: Issue-Docs

#11430 [FZ Editor] Turn off magnetic snapping when moving/resizing a zone with the keyboard
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasZone.xaml.cs
Labels: FancyZones-Editor

#11439 [Updating] Fix localization path
  src/ActionRunner/LocProject.json
Labels: Area-Build

#11435 [FZ Editor] Switch between zone and dialog with Ctrl + Tab
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasEditor.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasEditorWindow.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasZone.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Overlay.cs
Labels: FancyZones-Editor

#11303 Espresso
  .github/actions/spell-check/expect.txt
  .github/actions/spell-check/patterns.txt
  .pipelines/pipeline.user.windows.yml
  PowerToys.sln
  README.md
  doc/images/icons/Espresso.png
  doc/images/overview/Espresso_large.png
  doc/images/overview/Espresso_small.png
  doc/images/overview/Original/Espresso.png
  installer/PowerToysSetup/Product.wxs
  src/common/SettingsAPI/settings_helpers.h
  src/common/logger/logger_settings.h
  src/modules/espresso/Espresso/Core/APIHelper.cs
  src/modules/espresso/Espresso/Core/TrayHelper.cs
  src/modules/espresso/Espresso/Espresso.csproj
  src/modules/espresso/Espresso/Images/Espresso.ico
  src/modules/espresso/Espresso/NLog.config
  src/modules/espresso/Espresso/Program.cs
  src/modules/espresso/EspressoModuleInterface/EspressoConstants.h
  src/modules/espresso/EspressoModuleInterface/EspressoModuleInterface.rc
  src/modules/espresso/EspressoModuleInterface/EspressoModuleInterface.vcxproj
  src/modules/espresso/EspressoModuleInterface/EspressoModuleInterface.vcxproj.filters
  src/modules/espresso/EspressoModuleInterface/dllmain.cpp
  src/modules/espresso/EspressoModuleInterface/packages.config
  src/modules/espresso/EspressoModuleInterface/pch.cpp
  src/modules/espresso/EspressoModuleInterface/pch.h
  src/modules/espresso/EspressoModuleInterface/resource.h
  src/modules/espresso/EspressoModuleInterface/trace.cpp
  src/modules/espresso/EspressoModuleInterface/trace.h
  src/runner/main.cpp
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/EnabledModules.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/EspressoProperties.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/EspressoSettings.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ISettingsUtils.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/Microsoft.PowerToys.Settings.UI.Library.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/SettingsUtils.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/SndEspressoSettings.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/EspressoViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/Microsoft.PowerToys.Settings.UI.UnitTests.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/FluentIcons/FluentIconsEspresso.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/Modules/Espresso.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/Modules/OOBE/Espresso.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Converters/EspressoModeToBoolConverter.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Enums/PowerToysModulesEnum.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeEspresso.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeEspresso.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/EspressoPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/EspressoPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShellPage.xaml
  src/settings-ui/PowerToys.Settings/PowerToys.Settings.csproj
Labels: Product-Espresso

#11458 [Bug Report Tool] Report event viewer logs
  .github/actions/spell-check/expect.txt
  tools/BugReportTool/BugReportTool/BugReportTool.vcxproj
  tools/BugReportTool/BugReportTool/BugReportTool.vcxproj.filters
  tools/BugReportTool/BugReportTool/EventViewer.cpp
  tools/BugReportTool/BugReportTool/EventViewer.h
  tools/BugReportTool/BugReportTool/Main.cpp
  tools/BugReportTool/BugReportTool/XmlDocumentEx.cpp
  tools/BugReportTool/BugReportTool/XmlDocumentEx.h
Labels: Area-Bug Report Tool

#11487 [Bug Report Tool] Fix internal build
  tools/BugReportTool/BugReportTool/EventViewer.cpp
  tools/BugReportTool/BugReportTool/XmlDocumentEx.h
Labels: Area-Bug Report Tool

#11497 [Run Plugin] Logs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/PackageRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
Labels: Run-Plugin

#11509 [PowerToys Run] Crash on exit, logs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/Wox.Plugin/PluginPair.cs
Labels: Product-PowerToys Run
