Repository microsoft/PowerToys, pull requests merged in 2021-01, with the labels that each got.

#8901 [FancyZones] fix for secondary mouse button
  src/modules/fancyzones/lib/SecondaryMouseButtonsHook.cpp
Labels: FancyZones-Dragging&UI, Product-FancyZones

#8879 [PreviewPane] Fix SVG thumbnail
  .pipelines/pipeline.user.windows.yml
  installer/PowerToysSetup/Product.wxs
  src/modules/previewpane/SvgThumbnailProvider/SvgThumbnailProvider.csproj
Labels: Product-File Explorer

#8872 Ensure SVGs are scaled correctly when viewbox is provided
  src/modules/previewpane/SvgThumbnailProvider/SvgThumbnailProvider.cs
Labels: Product-File Explorer

#8710 [Settings] Make images clickable and fix issue with Power Preview settings image
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ColorPickerPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/KeyboardManagerPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerPreviewPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerRenamePage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml
Labels: Product-Settings

#8914 [localization] move file to its correct location
  src/core/Microsoft.PowerToys.Settings.UI/loc/ja/src/core/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Microsoft.PowerToys.Settings.UI/loc/ja/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
Labels: Area-Localization, Product-Settings

#8742 [Settings] Reset ScrollViewer on page change
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShellPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShellPage.xaml.cs
Labels: Product-Settings

#8739 [Settings] Various UX fixes
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Controls/HotkeySettingsControl.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Styles/_Sizes.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ColorPickerPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/KeyboardManagerPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerPreviewPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerRenamePage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml
Labels: Product-Settings

#8076 [PT Run] Service Plugin
  .pipelines/pipeline.user.windows.yml
  PowerToys.sln
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Action.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Helpers/ServiceHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Images/service.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Images/service.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Microsoft.PowerToys.Run.Plugin.Service.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/ServiceResult.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/plugin.json
  src/modules/launcher/PowerLauncher/Helper/LauncherNotificationActivator.cs
  src/modules/launcher/PowerLauncher/Images/icon.ico
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/PowerLauncher/PublicAPIInstance.cs
  src/modules/launcher/Wox.Plugin/IPublicAPI.cs
Labels: Idea-Enhancement, Product-Launcher, Run-Plugin

#8681 [Run] Fixing UI issues
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWPApplication.cs
  src/modules/launcher/PowerLauncher/App.xaml
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/PowerLauncher/ReportWindow.xaml
  src/modules/launcher/PowerLauncher/ResultList.xaml
  src/modules/launcher/PowerLauncher/Styles/ModernScrollBarStyle.xaml
  src/modules/launcher/PowerLauncher/Themes/Dark.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrast1.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrast2.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrastBlack.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrastWhite.xaml
  src/modules/launcher/PowerLauncher/Themes/Light.xaml
Labels: Product-Launcher

#8974 [PT Run] Sys plugin added to setup
  .pipelines/pipeline.user.windows.yml
  PowerToys.sln
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/ImageTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/Microsoft.PowerToys.Run.Plugin.System.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/QueryTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/lock.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/lock.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/logoff.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/logoff.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/recyclebin.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/recyclebin.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/restart.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/restart.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/shutdown.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/shutdown.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/sleep.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/sleep.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Microsoft.PowerToys.Run.Plugin.System.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Win32/NativeMethods.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/plugin.json
  src/modules/launcher/Wox.Infrastructure/StringMatcher.cs
Labels: Product-PowerToys Run, Run-Plugin

#9001 [Image Resizer] UI fixes
  src/modules/imageresizer/ui/Properties/Resources.Designer.cs
  src/modules/imageresizer/ui/Properties/Resources.resx
  src/modules/imageresizer/ui/Themes/HighContrastWhite.xaml
  src/modules/imageresizer/ui/Themes/Light.xaml
  src/modules/imageresizer/ui/Views/InputPage.xaml
Labels: Area-Accessibility, Product-Image Resizer

#8999 [runner] rename 'module' variables
  src/runner/main.cpp
  src/runner/powertoy_module.cpp
  src/runner/powertoy_module.h
Labels: Area-Runner

#8984 Dev docs update
  CONTRIBUTING.md
  doc/devdocs/readme.md
Labels: Issue-Docs

#9035 interop: fix issues in IPC message construction
  src/common/interop/two_way_pipe_message_ipc.cpp
  src/common/interop/two_way_pipe_message_ipc_impl.h
  src/runner/settings_window.cpp
Labels: Area-Quality

#9069 Report dotnet runtime installation info
  tools/BugReportTool/BugReportTool/BugReportTool.vcxproj
  tools/BugReportTool/BugReportTool/Main.cpp
  tools/BugReportTool/BugReportTool/packages.config
Labels: Area-Bug Report Tool

#9060 updating: require dotnet >=3.1.10
  .github/actions/spell-check/expect.txt
  src/common/updating/dotnet_installation.cpp
  src/common/updating/pch.h
Labels: Area-Setup/Install

#9099 [FZ Editor] Dialog window renders semi-off the screen
  src/modules/fancyzones/editor/FancyZonesEditor/FancyZonesEditor.csproj
Labels: FancyZones-Editor

#9086 [FZ Editor] Closing context menu after Duplicate or Delete button clicked
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
Labels: FancyZones-Editor

#9068 [Run] Fix exception
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
Labels: Product-PowerToys Run

#9066 [FZ Editor] Move zones + and - buttons to the template layouts flyout
  src/modules/fancyzones/editor/FancyZonesEditor/Converters/LayoutTypeCustomToVisibilityConverter.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Converters/LayoutTypeTemplateToVisibilityConverter.cs
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/CanvasLayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/GridLayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutSettings.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/MainWindowSettingsModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Overlay.cs
Labels: FancyZones-Editor

#8928 Added localization to default sizes
  src/modules/colorPicker/ColorPickerUI/Settings/UserSettings.cs
  src/modules/launcher/PowerLauncher/SettingsWatcher.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ISettingsUtils.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ImageResizerProperties.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ImageResizerSettings.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/SettingsRepository`1.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/SettingsUtils.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/ColorPickerViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/ImageResizerViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/KeyboardManagerViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerRenameViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/BackwardsCompatibility/BackCompatTestProperties.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/Mocks/ISettingsUtilsMocks.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ModelsTests/BasePTModuleSettingsTest.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ModelsTests/SettingsUtilsTests.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/ColorPicker.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/FancyZones.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/General.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/ImageResizer.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/PowerLauncherViewModelTest.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/PowerPreview.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/PowerRename.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/ShortcutGuide.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml.cs
Labels: Product-Image Resizer, Product-Settings

#9063 [Runner/common] Fixed two potential issues with CreateProcess
  src/common/utils/elevation.h
  src/runner/settings_window.cpp
Labels: Area-Runner

#9091 [PT Run] Black icons with light windows theme
  src/common/Microsoft.PowerToys.Common.UI/ThemeManager.cs
  src/modules/launcher/PowerLauncher/SettingsWatcher.cs
Labels: Product-PowerToys Run

#9104 [Run][Calculator Plugin] Add hyperbolic functions
  .github/actions/spell-check/expect.txt
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator.UnitTest/ExtendedCalculatorParserTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/CalculateHelper.cs
Labels: Run-Plugin

#9155 Add logging to keyboard manager
  src/common/logger/logger_settings.h
  src/modules/keyboardmanager/dll/KeyboardManager.vcxproj
  src/modules/keyboardmanager/dll/dllmain.cpp
  src/modules/keyboardmanager/dll/pch.h
  src/modules/keyboardmanager/ui/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/ui/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/ui/KeyboardManagerUI.vcxproj
  src/modules/keyboardmanager/ui/pch.h
Labels: Product-Keyboard Shortcut Manager

#9151 [FZ Editor] Editor opening fix
  src/modules/fancyzones/editor/FancyZonesEditor/GridData.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditor.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/LayoutPreview.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
Labels: FancyZones-Editor

#9167 [Run] remove KillPowerLauncher pre-build event
  src/modules/launcher/Directory.Build.targets
Labels: Area-Build

#9124 Add e to calculator
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator.UnitTest/ExtendedCalculatorParserTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/CalculateEngine.cs
Labels: Run-Plugin

#9120 Delete Fody and PropertyChanged.Fody
  src/modules/launcher/PowerLauncher/FodyWeavers.xml
  src/modules/launcher/PowerLauncher/FodyWeavers.xsd
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/PowerLauncher/ViewModel/ContextMenuItemViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultsViewModel.cs
  src/modules/launcher/Wox.Infrastructure/UserSettings/PowerToysRunSettings.cs
  src/modules/launcher/Wox.Plugin/FodyWeavers.xml
  src/modules/launcher/Wox.Plugin/FodyWeavers.xsd
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
Labels: Product-PowerToys Run

#7951 [PT Run] Registry plugin
  .github/actions/spell-check/expect.txt
  .github/actions/spell-check/patterns.txt
  .pipelines/pipeline.user.windows.yml
  PowerToys.sln
  doc/devdocs/modules/launcher/plugins/registry.md
  doc/devdocs/modules/launcher/readme.md
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Constants/KeyNameTest.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Helper/QueryHelperTest.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Helper/RegistryHelperTest.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Helper/ResultHelperTest.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Microsoft.PowerToys.Run.Plugin.Registry.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Classes/RegistryEntry.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Constants/KeyName.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Constants/MaxTextLength.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Enumerations/TruncateSide.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/ContextMenuHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/QueryHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/RegistryHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/ValueHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Images/reg.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Images/reg.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Microsoft.PowerToys.Run.Plugin.Registry.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/plugin.json
Labels: Idea-Enhancement, Product-PowerToys Run, Run-Plugin

#9191 [runner] bug report could be created from tray
  .github/actions/spell-check/expect.txt
  src/runner/Resources.resx
  src/runner/resource.base.h
  src/runner/runner.base.rc
  src/runner/tray_icon.cpp
Labels: Area-Runner

#9200 [Calculator Plugin] fix localization
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/cs/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/de/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/es/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/fr/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/hu/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/it/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/ja/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/ko/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/nl/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/pl/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/pt-BR/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/pt-PT/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/ru/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/sv/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/tr/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/zh-Hans/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/loc/zh-Hant/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/cs/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/de/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/es/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/fr/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/hu/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/it/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/ja/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/ko/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/nl/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/pl/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/pt-BR/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/pt-PT/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/ru/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/sv/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/tr/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/zh-Hans/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/loc/zh-Hant/src/modules/launcher/Plugins/Microsoft.Plugin.Calculator/Properties/Resources.resx.lcl
Labels: Area-Localization, Run-Plugin

#9205 Fix "Converting null literal or possible null value to non-nullable type" warning
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/RegistryHelper.cs
Labels: Run-Plugin

#9222 [PT Run] Service resources
  installer/PowerToysSetup/Product.wxs
Labels: Area-Setup/Install, Product-PowerToys Run, Run-Plugin

#9220 [PT Run][Service] Improved Shortcuts
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Properties/Resources.resx
Labels: Product-PowerToys Run, Run-Plugin

#9215 [Settings] ColorPicker spacing issue
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ColorPickerPage.xaml
Labels: Product-Settings

#9074 [Run][Calculator Plugin] Add number formatting for different Locales
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/NumberTranslatorTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/NumberTranslator.cs
Labels: Run-Plugin

#9295 [build] add configuration to localize new plugins
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/LocProject.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/LocProject.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/LocProject.json
Labels: Run-Plugin
