Repository microsoft/PowerToys, pull requests merged in 2021-07, with the labels that each got.

#12058 Image resizer checking for NaN, not just zero
  src/modules/imageresizer/ui/Models/ResizeSize.cs
Labels: Hot Fix

#12038 [Hotfix][FancyZones] Unable to start correctly
  src/modules/fancyzones/FancyZonesModuleInterface/dllmain.cpp
Labels: Hot Fix, Product-FancyZones

#12043 [PowerToys Run] Start PowerToys Run through the ActionRunner
  src/common/utils/elevation.h
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
Labels: Hot Fix, Product-PowerToys Run

#12018 [FancyZones] Unit tests fix
  src/modules/fancyzones/FancyZonesLib/JsonHelpers.cpp
  src/modules/fancyzones/FancyZonesTests/UnitTests/JsonHelpers.Tests.cpp
Labels: Area-Tests, Product-FancyZones

#11843 [Settings] Fix for wrong brush selected when switching themes
  src/settings-ui/Microsoft.PowerToys.Settings.UI/App.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Converters/ModuleEnabledToForegroundConverter.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Converters/ModuleEnabledToOpacityConverter.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/AwakePage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ColorPickerPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/KeyboardManagerPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerPreviewPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerRenamePage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml
Labels: Area-User Interface, Product-Settings

#12091 [FancyZones] IZoneWindowHost refactoring
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZones.h
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/FancyZonesLib/MonitorWorkAreaHandler.cpp
  src/modules/fancyzones/FancyZonesLib/MonitorWorkAreaHandler.h
  src/modules/fancyzones/FancyZonesLib/Settings.cpp
  src/modules/fancyzones/FancyZonesLib/Settings.h
  src/modules/fancyzones/FancyZonesLib/ZoneColors.h
  src/modules/fancyzones/FancyZonesLib/ZoneSet.cpp
  src/modules/fancyzones/FancyZonesLib/ZoneSet.h
  src/modules/fancyzones/FancyZonesLib/ZoneWindow.cpp
  src/modules/fancyzones/FancyZonesLib/ZoneWindow.h
  src/modules/fancyzones/FancyZonesLib/ZoneWindowDrawing.cpp
  src/modules/fancyzones/FancyZonesLib/ZoneWindowDrawing.h
  src/modules/fancyzones/FancyZonesTests/UnitTests/FancyZones.Spec.cpp
  src/modules/fancyzones/FancyZonesTests/UnitTests/ZoneSet.Spec.cpp
  src/modules/fancyzones/FancyZonesTests/UnitTests/ZoneWindow.Spec.cpp
Labels: Product-FancyZones

#12157 [Color Picker] Logs
  src/modules/colorPicker/ColorPicker/dllmain.cpp
  src/modules/colorPicker/ColorPickerUI/App.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Program.cs
Labels: Area-Logging, Product-Color Picker

#12223 [FancyZones] Rename ZoneWindow -> WorkArea
  .github/actions/spell-check/expect.txt
  src/modules/fancyzones/FancyZones/FancyZonesApp.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZones.h
  src/modules/fancyzones/FancyZonesLib/FancyZonesData.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesData.h
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/FancyZonesLib/MonitorWorkAreaHandler.cpp
  src/modules/fancyzones/FancyZonesLib/MonitorWorkAreaHandler.h
  src/modules/fancyzones/FancyZonesLib/VirtualDesktop.cpp
  src/modules/fancyzones/FancyZonesLib/VirtualDesktop.h
  src/modules/fancyzones/FancyZonesLib/WindowMoveHandler.cpp
  src/modules/fancyzones/FancyZonesLib/WindowMoveHandler.h
  src/modules/fancyzones/FancyZonesLib/WorkArea.cpp
  src/modules/fancyzones/FancyZonesLib/WorkArea.h
  src/modules/fancyzones/FancyZonesLib/Zone.h
  src/modules/fancyzones/FancyZonesLib/ZoneSet.h
  src/modules/fancyzones/FancyZonesLib/trace.cpp
  src/modules/fancyzones/FancyZonesLib/trace.h
  src/modules/fancyzones/FancyZonesTests/UnitTests/UnitTests.vcxproj
  src/modules/fancyzones/FancyZonesTests/UnitTests/UnitTests.vcxproj.filters
  src/modules/fancyzones/FancyZonesTests/UnitTests/WorkArea.Spec.cpp
Labels: Product-FancyZones

#11885 [PowerToys Run] URI Plugin: handle numeric input
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri.UnitTests/UriHelper/ExtendedUriParserTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/UriHelper/ExtendedUriParser.cs
Labels: Run-Plugin

#12284 [FancyZones] Window opening on the last zone
  src/common/utils/process_path.h
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
Labels: Product-FancyZones

#12352 [PT Run] Improve First Call Performance
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Area-Quality, Product-PowerToys Run

#12209 [Run] ViewModels Cleanup
  src/modules/launcher/PowerLauncher/ViewModel/ContextMenuItemViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultsViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/SettingWindowViewModel.cs
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
  src/modules/launcher/Wox.Test/ResultsViewModelTest.cs
Labels: Product-PowerToys Run

#12302 [Settings] Accessibility fixes
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Controls/SidePanel/SettingsPageControl.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
Labels: Area-Accessibility

#12286 [PowerToys Run] Update to net5
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetup/publish.cmd
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Community.PowerToys.Run.Plugin.UnitConverter.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Community.PowerToys.Run.Plugin.VSCodeWorkspaces.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/VSCodeHelper/VSCodeInstances.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder.UnitTests/Microsoft.Plugin.Folder.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Microsoft.Plugin.Folder.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Microsoft.Plugin.Indexer.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Microsoft.Plugin.Program.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Microsoft.Plugin.Program.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/PackageWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Microsoft.Plugin.Shell.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri.UnitTests/Microsoft.Plugin.Uri.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Microsoft.Plugin.Uri.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/Window.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Microsoft.Plugin.WindowWalker.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Microsoft.PowerToys.Run.Plugin.Calculator.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Helper/RegistryHelperTest.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Microsoft.PowerToys.Run.Plugin.Registry.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/QueryHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/RegistryHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/ValueHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Microsoft.PowerToys.Run.Plugin.Registry.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Microsoft.PowerToys.Run.Plugin.Service.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/Microsoft.PowerToys.Run.Plugin.System.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Microsoft.PowerToys.Run.Plugin.System.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/UnsupportedSettingsHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Microsoft.PowerToys.Run.Plugin.WindowsSettings.csproj
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/PowerLauncher/Helper/LauncherNotificationActivator.cs
  src/modules/launcher/PowerLauncher/Helper/WindowsInteropHelper.cs
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/PowerLauncher/PublicAPIInstance.cs
  src/modules/launcher/Wox.Infrastructure/Exception/ExceptionFormatter.cs
  src/modules/launcher/Wox.Infrastructure/Storage/BinaryStorage`1.cs
  src/modules/launcher/Wox.Infrastructure/Wox.Infrastructure.csproj
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
  src/modules/launcher/Wox.Test/Wox.Test.csproj
Labels: Product-PowerToys Run

#12425 [Bug Report Tool] Report installation folder structure
  .github/actions/spell-check/expect.txt
  tools/BugReportTool/BugReportTool/BugReportTool.vcxproj
  tools/BugReportTool/BugReportTool/BugReportTool.vcxproj.filters
  tools/BugReportTool/BugReportTool/InstallationFolder.cpp
  tools/BugReportTool/BugReportTool/InstallationFolder.h
  tools/BugReportTool/BugReportTool/Main.cpp
Labels: Area-Bug Report Tool

#12423 [PowerToys Run] Obsolete APIs and warnings introduced in .net5
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/IProgramRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/PackageRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/OpenWindows.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/Window.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Classes/RegistryEntry.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/ResultHelper.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageCache.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
  src/modules/launcher/Wox.Infrastructure/Storage/BinaryStorage`1.cs
  src/modules/launcher/Wox.Infrastructure/Storage/IStorage`1.cs
  src/modules/launcher/Wox.Infrastructure/Storage/WoxJsonStorage`1.cs
  tools/BugReportTool/BugReportTool/Main.cpp
Labels: Product-PowerToys Run

#12434 [PowerToys Run] Update to net5
  .pipelines/ci/templates/build-powertoys-steps.yml
  installer/PowerToysBootstrapper/bootstrapper/DotnetInstallation.cpp
  installer/PowerToysBootstrapper/bootstrapper/DotnetInstallation.h
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetup/publish.cmd
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Community.PowerToys.Run.Plugin.UnitConverter.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Community.PowerToys.Run.Plugin.VSCodeWorkspaces.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/VSCodeHelper/VSCodeInstances.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder.UnitTests/Microsoft.Plugin.Folder.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Microsoft.Plugin.Folder.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Microsoft.Plugin.Indexer.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Microsoft.Plugin.Program.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Microsoft.Plugin.Program.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/PackageWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/IProgramRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/PackageRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Microsoft.Plugin.Shell.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri.UnitTests/Microsoft.Plugin.Uri.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Microsoft.Plugin.Uri.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/OpenWindows.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/Window.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Microsoft.Plugin.WindowWalker.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Microsoft.PowerToys.Run.Plugin.Calculator.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Helper/RegistryHelperTest.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Microsoft.PowerToys.Run.Plugin.Registry.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Classes/RegistryEntry.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/QueryHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/RegistryHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/ValueHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Microsoft.PowerToys.Run.Plugin.Registry.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Microsoft.PowerToys.Run.Plugin.Service.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/Microsoft.PowerToys.Run.Plugin.System.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Microsoft.PowerToys.Run.Plugin.System.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/UnsupportedSettingsHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Microsoft.PowerToys.Run.Plugin.WindowsSettings.csproj
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/PowerLauncher/Helper/LauncherNotificationActivator.cs
  src/modules/launcher/PowerLauncher/Helper/WindowsInteropHelper.cs
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/PowerLauncher/PublicAPIInstance.cs
  src/modules/launcher/Wox.Infrastructure/Exception/ExceptionFormatter.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageCache.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
  src/modules/launcher/Wox.Infrastructure/Storage/BinaryStorage`1.cs
  src/modules/launcher/Wox.Infrastructure/Storage/IStorage`1.cs
  src/modules/launcher/Wox.Infrastructure/Storage/WoxJsonStorage`1.cs
  src/modules/launcher/Wox.Infrastructure/Wox.Infrastructure.csproj
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
  src/modules/launcher/Wox.Test/Wox.Test.csproj
  tools/BugReportTool/BugReportTool/Main.cpp
Labels: Area-Setup/Install, Product-PowerToys Run

#12543 Revert "[PowerToys Run] Update to net5 (#12434)"
  .pipelines/ci/templates/build-powertoys-steps.yml
  installer/PowerToysBootstrapper/bootstrapper/DotnetInstallation.cpp
  installer/PowerToysBootstrapper/bootstrapper/DotnetInstallation.h
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetup/publish.cmd
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Community.PowerToys.Run.Plugin.UnitConverter.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Community.PowerToys.Run.Plugin.VSCodeWorkspaces.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/VSCodeHelper/VSCodeInstances.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder.UnitTests/Microsoft.Plugin.Folder.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Microsoft.Plugin.Folder.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Microsoft.Plugin.Indexer.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Microsoft.Plugin.Program.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Microsoft.Plugin.Program.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/PackageWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/IProgramRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/PackageRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Microsoft.Plugin.Shell.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri.UnitTests/Microsoft.Plugin.Uri.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Microsoft.Plugin.Uri.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/OpenWindows.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/Window.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Microsoft.Plugin.WindowWalker.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Microsoft.PowerToys.Run.Plugin.Calculator.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Helper/RegistryHelperTest.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Microsoft.PowerToys.Run.Plugin.Registry.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Classes/RegistryEntry.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/QueryHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/RegistryHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/ValueHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Microsoft.PowerToys.Run.Plugin.Registry.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Microsoft.PowerToys.Run.Plugin.Service.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/Microsoft.PowerToys.Run.Plugin.System.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Microsoft.PowerToys.Run.Plugin.System.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/UnsupportedSettingsHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Microsoft.PowerToys.Run.Plugin.WindowsSettings.csproj
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/PowerLauncher/Helper/LauncherNotificationActivator.cs
  src/modules/launcher/PowerLauncher/Helper/WindowsInteropHelper.cs
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/PowerLauncher/PublicAPIInstance.cs
  src/modules/launcher/Wox.Infrastructure/Exception/ExceptionFormatter.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageCache.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
  src/modules/launcher/Wox.Infrastructure/Storage/BinaryStorage`1.cs
  src/modules/launcher/Wox.Infrastructure/Storage/IStorage`1.cs
  src/modules/launcher/Wox.Infrastructure/Storage/WoxJsonStorage`1.cs
  src/modules/launcher/Wox.Infrastructure/Wox.Infrastructure.csproj
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
  src/modules/launcher/Wox.Test/Wox.Test.csproj
  tools/BugReportTool/BugReportTool/Main.cpp
Labels: Product-PowerToys Run
