Repository microsoft/PowerToys, pull requests merged in 2021-06, with the labels that each got.

#11543 [Run-Plugin Manager] Save relative path to settings
  src/modules/launcher/PowerLauncher/SettingsReader.cs
  src/modules/launcher/Wox.Plugin/PluginMetadata.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherPluginViewModel.cs
Labels: Run-Plugin Manager

#11516 [Setup] Remove toast notifications and other dependencies from bootst…
  PowerToys.sln
  installer/PowerToysBootstrapper/PowerToysBootstrapper.sln
  installer/PowerToysBootstrapper/bootstrapper/DotnetInstallation.cpp
  installer/PowerToysBootstrapper/bootstrapper/DotnetInstallation.h
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.vcxproj
  installer/PowerToysBootstrapper/bootstrapper/pch.h
  installer/PowerToysBootstrapper/bootstrapper/progressbar_window.cpp
  installer/PowerToysSetupCustomActions/CustomAction.cpp
  src/ActionRunner/actionRunner.cpp
  src/Update/PowerToys.Update.cpp
  src/common/updating/http_client.cpp
  src/common/updating/http_client.h
  src/common/updating/installer.cpp
  src/common/updating/installer.h
  src/common/updating/notifications.cpp
  src/common/updating/notifications.h
  src/common/updating/updating.cpp
  src/common/updating/updating.h
  src/common/updating/updating.vcxproj
  src/common/updating/updating.vcxproj.filters
  src/common/utils/HttpClient.h
  src/common/utils/MsiUtils.h
  src/runner/UpdateUtils.cpp
  src/runner/UpdateUtils.h
  src/runner/main.cpp
  src/runner/settings_window.cpp
Labels: Area-Setup/Install

#11557 [Area-Build] Fix build for VS 16.10
  src/common/interop/shared_constants.h
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/BufferValidationHelpers.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/KeyDropDownControl.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/ShortcutControl.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/SingleKeyRemapControl.h
  src/modules/keyboardmanager/KeyboardManagerEditorTest/BufferValidationTests.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorTest/LoadingAndSavingRemappingTests.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineTest/AppSpecificShortcutRemappingTests.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineTest/OSLevelShortcutRemappingTests.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineTest/SingleKeyRemappingTests.cpp
Labels: Area-Build

#11573 [FancyZones] Updated pipeline
  .pipelines/pipeline.user.windows.yml
Labels: Product-FancyZones

#11571 [FancyZones] Updated bug reports
  tools/BugReportTool/BugReportTool/EventViewer.cpp
  tools/BugReportTool/BugReportTool/RegistryUtils.cpp
Labels: Product-FancyZones

#11572 [FancyZones] Updated installer
  installer/PowerToysSetup/Product.wxs
Labels: Product-FancyZones

#11546 [OOBE] Open minimized settings
  src/settings-ui/PowerToys.Settings/App.xaml.cs
Labels: Area-OOBE, Product-Settings

#11587 [Run-Plugin] Divide into parse and convert
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/InputInterpreterTests.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/UnitHandlerTests.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/ConvertModel.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/InputInterpreter.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Main.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/UnitHandler.cs
Labels: Run-Plugin

#11450 [runner] removed outdated MSIX code
  src/common/utils/appMutex.h
  src/runner/main.cpp
Labels: Area-Runner

#11596 [FancyZones] Update string resources
  src/modules/fancyzones/FancyZones/FancyZones.vcxproj
  src/modules/fancyzones/FancyZones/FancyZones.vcxproj.filters
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj
  src/modules/fancyzones/FancyZonesLib/LocProject.json
  src/modules/fancyzones/FancyZonesLib/loc/cs/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/de/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/es/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/fr/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/hu/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/it/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/ja/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/ko/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/nl/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/pl/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/pt-BR/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/pt-PT/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/ru/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/sv/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/tr/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/zh-Hans/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/loc/zh-Hant/src/modules/fancyzones/lib/Resources.resx.lcl
  src/modules/fancyzones/FancyZonesLib/resource.base.h
  src/modules/fancyzones/FancyZonesModuleInterface/FancyZonesModuleInterface.vcxproj
  src/modules/fancyzones/FancyZonesModuleInterface/FancyZonesModuleInterface.vcxproj.filters
Labels: Product-FancyZones

#11406 [PT Run][New Plugin] Unit Converter (#9800)
  .github/actions/spell-check/expect.txt
  .pipelines/ci/templates/build-powertoys-steps.yml
  .pipelines/pipeline.user.windows.yml
  PowerToys.sln
  doc/devdocs/modules/launcher/plugins/community.unitconverter.md
  doc/images/launcher/plugins/community.unitconverter.png
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/InputInterpreterTests.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/UnitHandlerTests.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Community.PowerToys.Run.Plugin.UnitConverter.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/ConvertModel.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Images/unitconverter.dark.png
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Images/unitconverter.light.png
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/InputInterpreter.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/LocProject.json
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Main.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Properties/Resources.resx
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/UnitConversionResult.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/UnitHandler.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/plugin.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Main.cs
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
Labels: Run-Plugin

#11531 [Settings] RadioButton header fixes + updated colorpicker GIF for OOBE
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/Modules/OOBE/ColorPicker.gif
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ColorPickerPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/EspressoPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml
Labels: Issue-Docs, Product-Settings

#11664 [Run-Plugin] Fix internal build
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/LocProject.json
Labels: Area-Build, Run-Plugin

#11635 [Run] Highlight search text
  .github/actions/spell-check/expect.txt
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWPApplication.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs
  src/modules/launcher/PowerLauncher/Converters/HighlightTextConverter.cs
  src/modules/launcher/PowerLauncher/ResultList.xaml
  src/modules/launcher/Wox.Plugin/Result.cs
Labels: Area-User Interface, Product-PowerToys Run

#11668 Fix internal build
  installer/PowerToysSetup/Product.wxs
Labels: Area-Build, Run-Plugin

#11663 [Run-Plugin] Settings plugin
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/expect.txt
  .pipelines/pipeline.user.windows.yml
  PowerToys.sln
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Classes/WindowsSetting.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/ContextMenuHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/JsonSettingsListHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/TranslationHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/UnsupportedSettingsHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Images/WindowsSettings.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Images/WindowsSettings.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Microsoft.PowerToys.Run.Plugin.WindowsSettings.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/WindowsSettings.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/plugin.json
Labels: Run-Plugin

#11684 [PowerToys Run] Disable module on startup
  src/common/utils/elevation.h
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
Labels: Product-PowerToys Run

#11696 [FancyZones] Terminate FancyZones with runner
  src/modules/fancyzones/FancyZones/main.cpp
Labels: Product-FancyZones

#11361 [FanzyZones] Zone activation based on zone center
  src/modules/fancyzones/lib/Settings.h
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
Labels: FancyZones-Dragging&UI, Product-FancyZones

#11788 [Run-Plugin][Windows Search] Don't crash if URI can't be parsed
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/SearchHelper/WindowsSearchAPI.cs
Labels: Run-Plugin

#11789 [PowerToys Run] Don't crash if `UserSelectedRecord.json` can not be updated
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Product-PowerToys Run

#11785 [Run-Plugin][Program] Fix null reference exception on Dispose
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Main.cs
Labels: Run-Plugin

#11815 [FancyZones] Avoid unnecessary calculations when selecting a zone
  src/modules/fancyzones/lib/Zone.cpp
  src/modules/fancyzones/lib/Zone.h
  src/modules/fancyzones/lib/ZoneSet.cpp
Labels: Product-FancyZones

#11775 [PowerToys Run] Issues with elevation
  .github/actions/spell-check/expect.txt
  src/common/utils/elevation.h
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/PowerLauncher/Helper/SingleInstance`1.cs
  src/modules/previewpane/powerpreview/powerpreview.vcxproj
Labels: Product-PowerToys Run

#11840 [FancyZones] "Match not found" error fix
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesData.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesData.h
  src/modules/fancyzones/FancyZonesLib/JsonHelpers.cpp
  src/modules/fancyzones/FancyZonesLib/JsonHelpers.h
  src/modules/fancyzones/editor/FancyZonesEditor/Models/Device.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/MainWindowSettingsModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/Monitor.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Overlay.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Utils/FancyZonesEditorIO.cs
Labels: Product-FancyZones

#11828 Log to appdata folder from the bootstrapper and the msi
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
  tools/BugReportTool/BugReportTool/Main.cpp
Labels: Area-Logging, Area-Setup/Install

#11841 [FancyZones] Add an icon to the FZ process
  src/modules/fancyzones/FancyZonesLib/fancyzones.base.rc
  src/modules/fancyzones/FancyZonesLib/icon.ico
Labels: Product-FancyZones

#11846 [FancyZones] "Match not found" fix update for the single layout for all monitors.
  src/modules/fancyzones/editor/FancyZonesEditor/Overlay.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Utils/FancyZonesEditorIO.cs
Labels: Product-FancyZones

#11858 [PT Run] Register the hotkey after PT Run is initialized
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Product-PowerToys Run

#11925 [FancyZones] Virtual desktop utils refactoring
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/FancyZonesLib/MonitorWorkAreaHandler.cpp
  src/modules/fancyzones/FancyZonesLib/MonitorWorkAreaHandler.h
  src/modules/fancyzones/FancyZonesLib/VirtualDesktop.cpp
  src/modules/fancyzones/FancyZonesLib/VirtualDesktop.h
  src/modules/fancyzones/FancyZonesLib/VirtualDesktopUtils.cpp
  src/modules/fancyzones/FancyZonesLib/VirtualDesktopUtils.h
  src/modules/fancyzones/FancyZonesLib/util.cpp
  src/modules/fancyzones/FancyZonesLib/util.h
  src/modules/fancyzones/FancyZonesTests/UnitTests/ZoneSet.Spec.cpp
Labels: FancyZones-VirtualDesktop, Product-FancyZones

#11978 [Hotfix] PowerToys Awake - fixing CPU usage
  src/modules/awake/Awake/Core/APIHelper.cs
  src/modules/awake/Awake/Program.cs
Labels: Hot Fix

#11932 [FancyZones] IFancyZonesCallback refactoring
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZones.h
  src/modules/fancyzones/FancyZonesLib/FancyZonesWinHookEventIDs.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesWinHookEventIDs.h
  src/modules/fancyzones/FancyZonesLib/Settings.cpp
  src/modules/fancyzones/FancyZonesLib/Settings.h
  src/modules/fancyzones/FancyZonesTests/UnitTests/FancyZonesSettings.Spec.cpp
Labels: Product-FancyZones
