Repository microsoft/PowerToys, pull requests merged in 2021-12, with the labels that each got.

#14793 [FancyZones][Hotfix] Fix VirtualDesktopManager init
  src/modules/fancyzones/FancyZonesLib/VirtualDesktop.cpp
  src/modules/fancyzones/FancyZonesLib/VirtualDesktop.h
Labels: Hot Fix

#14707 Update Resources.resx for issue 12545
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Properties/Resources.resx
Labels: Area-User Interface, Run-Results (Indexer)

#14810 small verb change to 0.51.1
  README.md
Labels: Issue-Docs

#14797 [BackgroundActivatorDLL] Unify dll/exe naming
  .pipelines/pipeline.user.windows.yml
  installer/PowerToysSetup/Product.wxs
  src/common/notifications/BackgroundActivatorDLL/BackgroundActivatorDLL.vcxproj
  src/common/notifications/BackgroundActivatorDLL/resource.h
  src/common/notifications/notifications.cpp
Labels: Area-Build

#14807 [ManagedCommon.dll & ManagedTelemetry.dll] Unify exe/dll naming
  .pipelines/pipeline.user.windows.yml
  installer/PowerToysSetup/Product.wxs
  src/common/ManagedCommon/ManagedCommon.csproj
  src/common/ManagedTelemetry/Telemetry/ManagedTelemetry.csproj
Labels: Area-Build

#14795 [Interop] Unify dll/exe naming
  .pipelines/pipeline.user.windows.yml
  PowerToys.sln
  installer/PowerToysSetup/Product.wxs
  src/common/interop/PowerToys.Interop.vcxproj
  src/common/interop/PowerToys.Interop.vcxproj.filters
  src/common/interop/Resource.h
  src/common/interop/interop-tests/Microsoft.Interop.Tests.csproj
  src/modules/fancyzones/editor/FancyZonesEditor/FancyZonesEditor.csproj
  src/modules/imageresizer/ui/ImageResizerUI.csproj
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/Microsoft.PowerToys.Settings.UI.Library.csproj
  src/settings-ui/PowerToys.Settings/PowerToys.Settings.csproj
Labels: Area-Build

#14786 [WindowWalker] PowerLauncher removed from results
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/OpenWindows.cs
Labels: Product-PowerToys Run

#14828 Update PT Run plugins icons and author
  src/modules/launcher/PowerLauncher/SettingsReader.cs
Labels: Product-PowerToys Run, Run-Plugin Manager

#14785 Description and Company name Fixed
  src/modules/awake/Awake/Awake.csproj
  src/modules/colorPicker/ColorPickerUI/ColorPickerUI.csproj
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
Labels: Area-Build

#14686 VCM as admin fixes
  src/modules/interface/powertoy_module_interface.h
  src/modules/videoconference/VideoConferenceModule/VideoConferenceModule.cpp
  src/modules/videoconference/VideoConferenceModule/VideoConferenceModule.h
  src/runner/general_settings.cpp
  src/runner/general_settings.h
  src/runner/main.cpp
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/EnabledModules.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/VideoConference.xaml
Labels: Product-Settings, Area-Setup/Install, Area-User Interface, Product-Video Conference Mute

#14892 [MouseUtils]Add PowerToys to window names
  src/modules/MouseUtils/FindMyMouse/FindMyMouse.cpp
  src/modules/MouseUtils/MouseHighlighter/MouseHighlighter.cpp
Labels: Product-Mouse Utilities

#14914 [Image Resizer] Try to recover metadata even when the metadata data structure is invalid (#14913)
  src/modules/imageresizer/tests/Models/ResizeOperationTests.cs
  src/modules/imageresizer/ui/Extensions/BitmapMetadataExtension.cs
  src/modules/imageresizer/ui/Models/ResizeOperation.cs
Labels: Product-Image Resizer

#14948 Add support for hex/binary numbers to calculator
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/CalculateHelper.cs
Labels: Run-Plugin

#15043 [Build Fix] Fix SettingsUI loc paths
  src/settings-ui/Settings.UI/LocProject.json
  src/settings-ui/Settings.UI/loc/cs/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/de/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/es/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/fr/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/hu/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/it/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/ja/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/ko/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/nl/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/pl/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/pt-BR/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/pt-PT/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/ru/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/sv/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/tr/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/zh-Hans/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
  src/settings-ui/Settings.UI/loc/zh-Hant/src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw.lcl
Labels: Good to go

#15023 Remove Unused Package in PT Run
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
Labels: Area-Build

#15039 Add a new YAML release pipeline to replace the old CDPx one
  .github/actions/spell-check/expect.txt
  .pipelines/CIPolicy.xml
  .pipelines/ESRPSigning_core.json
  .pipelines/ESRPSigning_installer.json
  .pipelines/ESRPSigning_vcm.json
  .pipelines/ci/templates/build-powertoys-installer.yml
  .pipelines/release-nuget.config
  .pipelines/release.yml
  .pipelines/restore.cmd
  .pipelines/versionSetting.ps1
  deps/cxxopts.props
  deps/expected.props
  deps/restore_git_submodules.props
  deps/spdlog.props
  installer/PowerToysSetup/PowerToysSetup.wixproj
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetup/publish.cmd
  src/modules/keyboardmanager/KeyboardManagerEditor/Resources.resx
  src/modules/launcher/PowerLauncher/Properties/PublishProfiles/InstallationPublishProfile.pubxml
  src/settings-ui/PowerToys.Settings/Properties/PublishProfiles/InstallationPublishProfile.pubxml
  tools/build/convert-resx-to-rc.ps1
  tools/build/move-and-rename-resx.ps1
  tools/build/move-uwp-resw.ps1
Labels: Area-Build

#15046 [Settings] Icon resizing fix
  src/settings-ui/Settings.UI/Controls/Setting/Setting.xaml
Labels: Good to go

#15035 [FancyZones] Align max negative spacing with limit in FZ Editor
  src/modules/fancyzones/FancyZonesLib/Zone.h
Labels: Good to go

#14910 [FancyZones] Zone Number Settings
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/Resources.resx
  src/modules/fancyzones/FancyZonesLib/Settings.cpp
  src/modules/fancyzones/FancyZonesLib/Settings.h
  src/modules/fancyzones/FancyZonesLib/WorkArea.cpp
  src/modules/fancyzones/FancyZonesLib/WorkArea.h
  src/modules/fancyzones/FancyZonesLib/ZoneColors.h
  src/modules/fancyzones/FancyZonesLib/ZonesOverlay.cpp
  src/modules/fancyzones/FancyZonesLib/ZonesOverlay.h
  src/modules/fancyzones/FancyZonesTests/UnitTests/WorkArea.Spec.cpp
  src/settings-ui/Settings.UI.Library/ConfigDefaults.cs
  src/settings-ui/Settings.UI.Library/FZConfigProperties.cs
  src/settings-ui/Settings.UI.Library/ViewModels/FancyZonesViewModel.cs
  src/settings-ui/Settings.UI/Controls/FancyZonesPreviewControl.xaml
  src/settings-ui/Settings.UI/Controls/FancyZonesPreviewControl.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/FancyZonesPage.xaml
Labels: Product-Settings, FancyZones-Settings, Product-FancyZones

#14888 [PTRun][Program]detect UWP trust level accurately
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWPApplication.cs
Labels: Good to go

#9071 [PT Run/FancyZones] Exclude Launcher from zonable windows improvement
  src/modules/fancyzones/FancyZonesLib/util.cpp
  src/modules/launcher/PowerLauncher/Helper/WindowsInteropHelper.cs
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
Labels: Product-PowerToys Run, Product-FancyZones

#15097 [ColorPicker] Adjust window positioning in bottom & right corners of …
  src/modules/colorPicker/ColorPickerUI/Behaviors/ChangeWindowPositionBehavior.cs
Labels: Good to go

#15129 [PT Run]Align subtitles for web search plugin
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/Main.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/Properties/Resources.resx
Labels: Run-Plugin

#15132 [PT Run] Results only for plugin with longest matching activation phrase
  .github/actions/spell-check/expect.txt
  src/modules/launcher/PowerLauncher/Plugin/QueryBuilder.cs
  src/modules/launcher/Wox.Test/QueryBuilderTest.cs
Labels: Issue-Bug, Product-PowerToys Run, Priority-0, Run-Plugin

#15144 [PT Run] Web-search plugin: Fix strings and improve log msg
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/Main.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/Properties/Resources.resx
Labels: Run-Plugin

#15178 Update to include submodule note for dev docs
  doc/devdocs/readme.md
Labels: Issue-Docs

#15198 fix regression #14715 by adding an additional check for the newly build metadata object
  src/modules/imageresizer/ui/Extensions/BitmapMetadataExtension.cs
  src/modules/imageresizer/ui/Models/ResizeOperation.cs
Labels: Product-Image Resizer

#14360 [AlwaysOnTop] Proof of concept
  .github/actions/spell-check/expect.txt
  .pipelines/pipeline.user.windows.yml
  PowerToys.sln
  doc/images/icons/Always On Top.png
  doc/images/overview/AlwaysOnTop_large.png
  doc/images/overview/AlwaysOnTop_small.png
  doc/images/overview/Original/AlwaysOnTop.png
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetupCustomActions/CustomAction.cpp
  src/common/logger/logger_settings.h
  src/modules/alwaysontop/AlwaysOnTop/AlwaysOnTop.cpp
  src/modules/alwaysontop/AlwaysOnTop/AlwaysOnTop.h
  src/modules/alwaysontop/AlwaysOnTop/AlwaysOnTop.vcxproj
  src/modules/alwaysontop/AlwaysOnTop/AlwaysOnTop.vcxproj.filters
  src/modules/alwaysontop/AlwaysOnTop/FrameDrawer.cpp
  src/modules/alwaysontop/AlwaysOnTop/FrameDrawer.h
  src/modules/alwaysontop/AlwaysOnTop/ModuleConstants.h
  src/modules/alwaysontop/AlwaysOnTop/Settings.cpp
  src/modules/alwaysontop/AlwaysOnTop/Settings.h
  src/modules/alwaysontop/AlwaysOnTop/SettingsConstants.h
  src/modules/alwaysontop/AlwaysOnTop/SettingsObserver.h
  src/modules/alwaysontop/AlwaysOnTop/Sound.h
  src/modules/alwaysontop/AlwaysOnTop/VirtualDesktopUtils.cpp
  src/modules/alwaysontop/AlwaysOnTop/VirtualDesktopUtils.h
  src/modules/alwaysontop/AlwaysOnTop/WinHookEventIDs.cpp
  src/modules/alwaysontop/AlwaysOnTop/WinHookEventIDs.h
  src/modules/alwaysontop/AlwaysOnTop/WindowBorder.cpp
  src/modules/alwaysontop/AlwaysOnTop/WindowBorder.h
  src/modules/alwaysontop/AlwaysOnTop/main.cpp
  src/modules/alwaysontop/AlwaysOnTop/packages.config
  src/modules/alwaysontop/AlwaysOnTop/pch.cpp
  src/modules/alwaysontop/AlwaysOnTop/pch.h
  src/modules/alwaysontop/AlwaysOnTop/trace.cpp
  src/modules/alwaysontop/AlwaysOnTop/trace.h
  src/modules/alwaysontop/AlwaysOnTopModuleInterface/AlwaysOnTopModuleInterface.vcxproj
  src/modules/alwaysontop/AlwaysOnTopModuleInterface/AlwaysOnTopModuleInterface.vcxproj.filters
  src/modules/alwaysontop/AlwaysOnTopModuleInterface/dllmain.cpp
  src/modules/alwaysontop/AlwaysOnTopModuleInterface/packages.config
  src/modules/alwaysontop/AlwaysOnTopModuleInterface/pch.cpp
  src/modules/alwaysontop/AlwaysOnTopModuleInterface/pch.h
  src/modules/alwaysontop/AlwaysOnTopModuleInterface/targetver.h
  src/runner/main.cpp
  src/settings-ui/PowerToys.Settings/Program.cs
  src/settings-ui/Settings.UI.Library/AlwaysOnTopProperties.cs
  src/settings-ui/Settings.UI.Library/AlwaysOnTopSettings.cs
  src/settings-ui/Settings.UI.Library/EnabledModules.cs
  src/settings-ui/Settings.UI.Library/ViewModels/AlwaysOnTopViewModel.cs
  src/settings-ui/Settings.UI/Assets/FluentIcons/FluentIconsAlwaysOnTop.png
  src/settings-ui/Settings.UI/Assets/Modules/AlwaysOnTop.png
  src/settings-ui/Settings.UI/Assets/Modules/OOBE/AlwaysOnTop.png
  src/settings-ui/Settings.UI/OOBE/Enums/PowerToysModulesEnum.cs
  src/settings-ui/Settings.UI/OOBE/Views/OobeAlwaysOnTop.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeAlwaysOnTop.xaml.cs
  src/settings-ui/Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Settings.UI/Settings.UI.csproj
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/AlwaysOnTopPage.xaml
  src/settings-ui/Settings.UI/Views/AlwaysOnTopPage.xaml.cs
  src/settings-ui/Settings.UI/Views/ShellPage.xaml
  tools/BugReportTool/BugReportTool/ProcessesList.cpp
Labels: Product-Always On Top
