Repository microsoft/PowerToys, pull requests merged in 2021-11, with the labels that each got.

#14049 [Chore] Fix PreviewPane build warnings
  src/modules/previewpane/UnitTests-PdfPreviewHandler/UnitTests-PdfPreviewHandler.csproj
  src/modules/previewpane/UnitTests-SvgPreviewHandler/SvgPreviewControlTests.cs
Labels: Area-Build

#14230 [Settings.UI.UnitTests][FancyZones] Uncomment test in CI
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/FancyZones.cs
Labels: Area-Tests

#13363 [PT Run] Improvements on EnvironmentHelper and deletion of old env vars
  .github/actions/spell-check/expect.txt
  src/modules/launcher/PowerLauncher/Helper/EnvironmentHelper.cs
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
Labels: Product-PowerToys Run, Issue-Refactoring

#13746 [PT Run] [Settings plugin] Add new settings
  .github/actions/spell-check/expect.txt
  doc/devdocs/modules/launcher/plugins/windowssettings.md
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Classes/WindowsSetting.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/WindowsSettings.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/WindowsSettings.schema.json
Labels: Run-Plugin

#14510 [Runner] Bring up maximized settings
  src/runner/settings_window.cpp
Labels: Area-Runner

#14584 [FindMyMouse]Fix duplicated settings path
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/FindMyMouseSettings.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/MouseUtilsPage.xaml.cs
Labels: Product-Mouse Utilities

#14475 [Image Resizer] Fix image resizer unexpected property type or value (#9885, #14266)
  src/modules/imageresizer/ui/Extensions/BitmapMetadataExtension.cs
  src/modules/imageresizer/ui/Models/ResizeOperation.cs
Labels: Product-Image Resizer

#14548 Show color as a float and as a decimal value
  src/modules/colorPicker/ColorPickerUI/Helpers/ColorHelper.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/ColorRepresentationHelper.cs
  src/modules/colorPicker/ColorPickerUI/ViewModels/ColorEditorViewModel.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorRepresentationHelperTest.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/Enumerations/ColorRepresentationType.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/ColorPickerViewModel.cs
Labels: Product-Color Picker

#14611 [Settings] Various bugfixes
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Controls/Setting/Setting.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShortcutGuide.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShortcutGuide.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
Labels: Product-Settings, Area-OOBE

#14649 [PT Run] [Program] FileSystemWatcher Crash
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramFileSystemWatchers.cs
Labels: Product-PowerToys Run, Run-Plugin
