Repository microsoft/PowerToys, pull requests merged in 2021-03, with the labels that each got.

#9963 [Oobe] Telemetry: When specific OOBE sections are entered/exited
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/Telemetry/Events/OobeSectionEvent.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/ViewModel/OobePowerToysModule.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeColorPicker.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFancyZones.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFileExplorer.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeImageResizer.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeKBM.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeOverview.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobePowerRename.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeRun.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShortcutGuide.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeVideoConference.xaml.cs
  src/settings-ui/PowerToys.Settings/OobeWindow.xaml
  src/settings-ui/PowerToys.Settings/OobeWindow.xaml.cs
Labels: Area-OOBE

#9964 [Shortcut guide] Activate from OOBE
  src/modules/shortcut_guide/d2d_window.cpp
  src/modules/shortcut_guide/shortcut_guide.cpp
Labels: Area-OOBE, Product-Shortcut Guide

#9967 [OOBE] Add assets to the installer
  .github/actions/spell-check/expect.txt
  installer/PowerToysSetup/Product.wxs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/FluentIcons/FluentIconsColorPicker.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/FluentIcons/FluentIconsFancyZones.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/FluentIcons/FluentIconsFileExplorerPreview.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/FluentIcons/FluentIconsImageResizer.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/FluentIcons/FluentIconsKeyboardManager.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/FluentIcons/FluentIconsPowerRename.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/FluentIcons/FluentIconsPowerToys.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/FluentIcons/FluentIconsPowerToysRun.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/FluentIcons/FluentIconsShortcutGuide.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/FluentIcons/FluentIconsVideoConferenceMute.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/FluentIcons/empty.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Assets/Modules/OOBE/OOBEShortcutGuide.png
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
Labels: Area-OOBE, Area-Setup/Install

#9981 [OOBE] Fix opening PT modules and settings at the first launch
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeColorPicker.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFancyZones.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFileExplorer.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeImageResizer.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeKBM.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeOverview.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobePowerRename.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeRun.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShortcutGuide.xaml.cs
  src/settings-ui/PowerToys.Settings/App.xaml.cs
  src/settings-ui/PowerToys.Settings/MainWindow.xaml.cs
  src/settings-ui/PowerToys.Settings/OobeWindow.xaml.cs
Labels: Area-OOBE

#9975 Additional Options in indexer had null value exception
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
Labels: Run-Plugin Manager

#9990 [OOBE] UI bugfixes
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeColorPicker.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFancyZones.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFileExplorer.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeImageResizer.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeKBM.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeOverview.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobePowerRename.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeRun.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShortcutGuide.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeVideoConference.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShellPage.xaml
Labels: Area-OOBE, Area-User Interface, Product-Settings

#10007 [ShortcutGuide] make SCG launching behavior a bit more deterministic
  src/modules/shortcut_guide/native_event_waiter.h
Labels: Area-OOBE, Product-Shortcut Guide

#10005 [PT Settings] Crash on restart with OOBE window opened.
  src/settings-ui/PowerToys.Settings/MainWindow.xaml.cs
Labels: Area-OOBE, Product-Settings

#10020 [OOBE] Changed modules order
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Enums/PowerToysModulesEnum.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
Labels: Area-OOBE

#10011 [FZ Editor] hide tool windows from alt-tab
  src/modules/fancyzones/editor/FancyZonesEditor/LayoutOverlayWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/LayoutOverlayWindow.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Utils/NativeMethods.cs
Labels: FancyZones-Editor

#10022 [Settings, OOBE] set location to center screen
  src/settings-ui/PowerToys.Settings/App.xaml.cs
  src/settings-ui/PowerToys.Settings/MainWindow.xaml
  src/settings-ui/PowerToys.Settings/MainWindow.xaml.cs
  src/settings-ui/PowerToys.Settings/OobeWindow.xaml.cs
  src/settings-ui/PowerToys.Settings/Utils.cs
Labels: Area-OOBE, Product-Settings

#10000 [PT Run] Save raw command instead of resolved command in shell history
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Main.cs
Labels: Product-PowerToys Run, Run-Plugin

#10023 [PT Settings] Rename the OOBE opening button and 'File Explorer' section
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
Labels: Area-OOBE, Product-Settings

#10030 [chore] remove unused telemetry events
  src/modules/colorPicker/ColorPicker/trace.cpp
  src/modules/launcher/Microsoft.Launcher/trace.cpp
Labels: Area-Telemetry

#10051 [chore] remove unused functions
  src/modules/colorPicker/ColorPicker/trace.h
  src/modules/launcher/Microsoft.Launcher/trace.h
Labels: Area-Telemetry

#10054 [PT Settings] PowerToys Settings and OOBE title hardcoded for localization
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/PowerToys.Settings/MainWindow.xaml
  src/settings-ui/PowerToys.Settings/MainWindow.xaml.cs
  src/settings-ui/PowerToys.Settings/OobeWindow.xaml
  src/settings-ui/PowerToys.Settings/OobeWindow.xaml.cs
Labels: Area-Localization, Area-OOBE, Product-Settings

#9962 [Run] Add Fluent icon for PT Run
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/PowerLauncher/Images/RunAsset.ico
  src/modules/launcher/PowerLauncher/Images/RunResource.ico
  src/modules/launcher/PowerLauncher/Images/icon.ico
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/PowerLauncher/Resources/placeholderLauncher.ico
Labels: Area-Setup/Install, Product-PowerToys Run

#10059 Fix localization of VSCode workspace plugin
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/LocProject.json
Labels: Area-Localization, Product-PowerToys Run

#10100 [Settings] ComboBox fix on FZ page
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
Labels: Area-User Interface, Product-Settings

#10071 VSCode to full name, disable Visual Studio Code plugin by default
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Community.PowerToys.Run.Plugin.VSCodeWorkspaces.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Images/code-dark.png
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Images/code-light.png
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Images/vscode_plugin.png
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Properties/Resources.resx
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/plugin.json
Labels: Run-Plugin, Run-Plugin Manager

#10117 Build of PowerToysSetup.sln fail on build farm
  installer/PowerToysSetup/Product.wxs
Labels: Area-Setup/Install

#10121 System.InvalidOperationException: Collection was modified
  src/modules/launcher/PowerLauncher/Plugin/PluginManager.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginsLoader.cs
Labels: Product-PowerToys Run

#9492 [PT Run] Run dialog now has monitor positioning options
  .github/actions/spell-check/expect.txt
  src/common/ManagedCommon/StartupPosition.cs
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/SettingsWatcher.cs
  src/modules/launcher/Wox.Infrastructure/UserSettings/PowerToysRunSettings.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/PowerLauncherProperties.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
Labels: Product-PowerToys Run, Product-Settings

#10152 Initialize logger to default
  src/common/logger/logger.cpp
Labels: Area-Tests

#10116 [FancyZones] Rework grid editor
  src/modules/fancyzones/editor/FancyZonesEditor/GridData.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridDragHandles.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditor.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridResizer.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridZone.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/LayoutPreview.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/MagneticSnap.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/GridLayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Overlay.cs
  src/modules/fancyzones/editor/FancyZonesEditor/RowColInfo.cs
  src/modules/fancyzones/editor/FancyZonesEditor/SplitEventArgs.cs
  src/modules/fancyzones/lib/ZoneSet.cpp
Labels: FancyZones-Editor

#9625 [FancyZones] Use a window pool for zone windows
  src/modules/fancyzones/lib/ZoneWindow.cpp
Labels: Product-FancyZones

#10163 [FancyZones editor] Fix CanvasRect not being initialized
  src/modules/fancyzones/editor/FancyZonesEditor/LayoutPreview.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/CanvasLayoutModel.cs
Labels: FancyZones-Editor, Issue-Bug, Priority-2

#9856 [FancyZones] Fix taskbar size issues
  src/modules/fancyzones/lib/Zone.cpp
  src/modules/fancyzones/lib/util.cpp
  src/modules/fancyzones/lib/util.h
Labels: FancyZones-Layouts, Product-FancyZones

#10204 Update PowerToys Run page on settings.json change
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/PowerLauncherViewModelTest.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml.cs
Labels: Product-PowerToys Run, Run-Plugin Manager

#10183 [FancyZones] Trace various function calls
  src/modules/fancyzones/lib/CallTracer.cpp
  src/modules/fancyzones/lib/CallTracer.h
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZonesData.cpp
  src/modules/fancyzones/lib/FancyZonesData.h
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj
  src/modules/fancyzones/lib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/lib/OnThreadExecutor.cpp
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/ZoneWindowDrawing.cpp
Labels: Product-FancyZones

#10200 [FZ Editor] Layout hotkeys for quick swap UI
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Models/FastAccessKeysModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutType.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/MainWindowSettingsModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/QuickKeysModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
  src/modules/fancyzones/editor/FancyZonesEditor/Utils/FancyZonesEditorIO.cs
Labels: FancyZones-Editor

#10220 [ColorPicker] UX fixes
  .github/actions/spell-check/expect.txt
  src/modules/colorPicker/ColorPickerUI/Controls/ColorPickerControl.xaml
  src/modules/colorPicker/ColorPickerUI/Controls/ColorPickerControl.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Properties/Resources.Designer.cs
  src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx
  src/modules/colorPicker/ColorPickerUI/Resources/Styles.xaml
Labels: Area-User Interface, Product-Color Picker

#10251 [Docs] Remove unused images
  doc/images/FZTutorial.jpg
  doc/images/MTNDWidget.jpg
  doc/images/WindowsKeyShortcutGuide.jpg
  doc/images/preview_pane/general-settings.png
  doc/images/preview_pane/settings-ui.png
  doc/images/runner/tray.png
  doc/images/settingsv2/file-explorer.png
  src/modules/previewpane/README.md
Labels: Issue-Docs

#10257 [FZ Editor] Updated accent color
  src/modules/fancyzones/editor/FancyZonesEditor/GridZone.xaml.cs
Labels: FancyZones-Editor

#10244 Tests on pipeline
  .pipelines/ci/templates/build-powertoys-steps.yml
  src/common/interop/interop-tests/Microsoft.Interop.Tests.csproj
  src/modules/colorPicker/UnitTest-ColorPickerUI/UnitTest-ColorPickerUI.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Microsoft.PowerToys.Run.Plugin.Registry.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/ImageTests.cs
  src/modules/previewpane/PreviewPaneUnitTests/UnitTests-MarkdownPreviewHandler.csproj
  src/modules/previewpane/UnitTests-PreviewHandlerCommon/UnitTests-PreviewHandlerCommon.csproj
  src/modules/previewpane/UnitTests-SvgPreviewHandler/SvgPreviewControlTests.cs
  src/modules/previewpane/UnitTests-SvgPreviewHandler/UnitTests-SvgPreviewHandler.csproj
  src/modules/previewpane/UnitTests-SvgThumbnailProvider/UnitTests-SvgThumbnailProvider.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/Microsoft.PowerToys.Settings.UI.UnitTests.csproj
Labels: Area-Build, Area-Tests

#10246 [MSI] Do not use advertised icon
  installer/PowerToysSetup/Product.wxs
Labels: Area-Setup/Install

#10241 [MSI installer] fix WIX build warnings
  installer/PowerToysSetup/Product.wxs
Labels: Area-Setup/Install

#10265 [FZ Settings] Options for layout quick swap: on/off keyboard hook
  .github/actions/spell-check/expect.txt
  src/modules/fancyzones/lib/Resources.resx
  src/modules/fancyzones/lib/Settings.cpp
  src/modules/fancyzones/lib/Settings.h
  src/modules/fancyzones/tests/UnitTests/FancyZones.Spec.cpp
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ConfigDefaults.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/FZConfigProperties.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/FancyZonesViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
Labels: FancyZones-Settings

#10240 [Auto-update] Turn off on Windows < 1903
  installer/PowerToysBootstrapper/bootstrapper/Resources.resx
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
  src/common/updating/installer.cpp
  src/common/updating/installer.h
  src/common/updating/updating.cpp
  src/common/utils/os-detect.h
  src/common/version/helper.cpp
  src/common/version/helper.h
Labels: Area-Setup/Install

#10287 [FZ Settings] Options for layout quick swap: telemetry
  src/modules/fancyzones/lib/trace.cpp
Labels: FancyZones-Settings

#10307 [Old Settings] Fix HTML settings build
  installer/PowerToysSetup/Product.wxs
  src/settings-web/index-dark.html
  src/settings-web/index.html
  src/settings-web/package-lock.json
  src/settings-web/package.json
  src/settings-web/src/components/App.tsx
  src/settings-web/webpack.config.js
  src/settings/settings-html/dist/bundle.js
  src/settings/settings-html/dist/bundle.js.LICENSE.txt
  src/settings/settings-html/dist/layout.css
  src/settings/settings-html/index-dark.html
  src/settings/settings-html/index.html
Labels: Product-Settings

#10312 [msi] add version number in telemetry events
  installer/PowerToysSetupCustomActions/CustomAction.cpp
Labels: Area-Setup/Install, Area-Telemetry

#10310 [FZ Editor] Layout hotkeys label should fit the dialog.
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
Labels: FancyZones-Editor

#10314 Fix versions for registry and vscode workspaces plugins
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Community.PowerToys.Run.Plugin.VSCodeWorkspaces.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Microsoft.PowerToys.Run.Plugin.Registry.csproj
Labels: Product-PowerToys Run, Run-Plugin

#10291 "Clear the previous query on launch" has a flicker
  src/modules/launcher/PowerLauncher/MainWindow.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Product-PowerToys Run

#10313 [Old Settings] Warn the user on Windows < 1903 that next version won'…
  src/settings-web/src/components/GeneralSettings.tsx
  src/settings/settings-html/dist/bundle.js
Labels: Product-Settings

#10325 [Color Picker] Use escape key to exit colour editor UI
  src/modules/colorPicker/ColorPickerUI/Helpers/AppStateHandler.cs
  src/modules/colorPicker/ColorPickerUI/Keyboard/KeyboardMonitor.cs
Labels: Product-Color Picker

#10370 [FancyZones] Quick layout switch telemetry
  src/modules/fancyzones/lib/trace.cpp
  src/modules/fancyzones/lib/trace.h
Labels: Product-FancyZones

#10375 Color picker logs path
  src/common/interop/interop.cpp
  src/common/interop/shared_constants.h
  src/modules/colorPicker/ColorPickerUI/Helpers/Logger.cs
Labels: Area-Bug Report Tool, Product-Color Picker

#10372 [Color Picker] Fix null reference exception
  src/modules/colorPicker/ColorPickerUI/Keyboard/KeyboardMonitor.cs
Labels: Product-Color Picker

#10348 [Run plugin] add tooltips to vscode workspaces plugin
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Main.cs
Labels: Area-User Interface, Run-Plugin

#10311 [FancyZones] Implement quick access keys, flashing
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/MonitorWorkAreaHandler.cpp
  src/modules/fancyzones/lib/MonitorWorkAreaHandler.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/ZoneWindow.h
  src/modules/fancyzones/lib/ZoneWindowDrawing.cpp
  src/modules/fancyzones/lib/ZoneWindowDrawing.h
Labels: Product-FancyZones

#10394 [PT Run plugin] Immediately releases AppxManifest stream objects
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
Labels: Run-Plugin

#10409 [FancyZones] Update device info when setting custom zone sets from lib
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZonesData.cpp
  src/modules/fancyzones/lib/FancyZonesDataTypes.cpp
  src/modules/fancyzones/lib/FancyZonesDataTypes.h
Labels: Product-FancyZones

#10407 [Run Settings] Don't update view if settings were not changed
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/BasePTModuleSettings.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml.cs
Labels: Issue-Bug, Product-PowerToys Run, Run-Plugin Manager

#10392 [ColorPicker] Order colors with up/down buttons.
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ColorFormatModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/ColorPickerViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ColorPickerPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ColorPickerPage.xaml.cs
Labels: Product-Color Picker, Product-Settings

#10416 [Runner] verify the existence of PT Run assets
  src/runner/main.cpp
Labels: Product-PowerToys Run

#10413 Add telemetry to ColorPicker
  src/modules/colorPicker/ColorPickerUI/ColorEditorWindow.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Controls/ColorFormatControl.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Controls/ColorPickerControl.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/AppStateHandler.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/NativeEventWaiter.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/SessionEventHelper.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/ZoomWindowHelper.cs
  src/modules/colorPicker/ColorPickerUI/Keyboard/KeyboardMonitor.cs
  src/modules/colorPicker/ColorPickerUI/Telemetry/ColorPickerCancelledEvent.cs
  src/modules/colorPicker/ColorPickerUI/Telemetry/ColorPickerSession.cs
  src/modules/colorPicker/ColorPickerUI/Telemetry/ColorPickerShowEvent.cs
  src/modules/colorPicker/ColorPickerUI/Telemetry/ColorPickerZoomOpenedEvent.cs
  src/modules/colorPicker/ColorPickerUI/ViewModels/ColorEditorViewModel.cs
  src/modules/colorPicker/ColorPickerUI/ViewModels/MainViewModel.cs
  src/modules/colorPicker/ColorPickerUI/Views/ColorEditorView.xaml
  src/modules/colorPicker/ColorPickerUI/Views/ColorEditorView.xaml.cs
Labels: Area-Telemetry, Product-Color Picker

#10437 [FancyZones Editor] Quick layout switch hotkeys
  .github/actions/spell-check/expect.txt
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutType.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/MainWindowSettingsModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/QuickKeysModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
  src/modules/fancyzones/editor/FancyZonesEditor/Utils/FancyZonesEditorIO.cs
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZonesData.cpp
  src/modules/fancyzones/lib/FancyZonesData.h
  src/modules/fancyzones/lib/FancyZonesDataTypes.cpp
  src/modules/fancyzones/lib/FancyZonesDataTypes.h
  src/modules/fancyzones/lib/JsonHelpers.cpp
  src/modules/fancyzones/lib/JsonHelpers.h
  src/modules/fancyzones/lib/MonitorWorkAreaHandler.cpp
  src/modules/fancyzones/lib/MonitorWorkAreaHandler.h
  src/modules/fancyzones/lib/Resources.resx
  src/modules/fancyzones/lib/Settings.cpp
  src/modules/fancyzones/lib/Settings.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/ZoneWindow.h
  src/modules/fancyzones/lib/ZoneWindowDrawing.cpp
  src/modules/fancyzones/lib/ZoneWindowDrawing.h
  src/modules/fancyzones/lib/trace.cpp
  src/modules/fancyzones/lib/trace.h
  src/modules/fancyzones/tests/UnitTests/FancyZones.Spec.cpp
  src/modules/fancyzones/tests/UnitTests/JsonHelpers.Tests.cpp
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ConfigDefaults.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/FZConfigProperties.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/FancyZonesViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
Labels: FancyZones-Editor, FancyZones-Hotkeys, Product-FancyZones

#10417 Settings telemetry for ColorPicker
  src/common/interop/interop.cpp
  src/common/interop/shared_constants.h
  src/modules/colorPicker/ColorPicker/dllmain.cpp
  src/modules/colorPicker/ColorPickerUI/Helpers/NativeEventWaiter.cs
  src/modules/colorPicker/ColorPickerUI/Settings/IUserSettings.cs
  src/modules/colorPicker/ColorPickerUI/Settings/UserSettings.cs
  src/modules/colorPicker/ColorPickerUI/Telemetry/ColorPickerSettings.cs
  src/modules/colorPicker/ColorPickerUI/ViewModels/MainViewModel.cs
  src/modules/interface/powertoy_module_interface.h
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
Labels: Area-Telemetry, Product-Color Picker

#10445 Logging for PT Run module interface
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
Labels: Area-Logging, Product-PowerToys Run

#10462 Centralized keyboard hook logs
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
  src/runner/centralized_kb_hook.cpp
  src/runner/powertoy_module.cpp
Labels: Area-Logging

#10502 [Tools] Add DShow webcam report tool
  .github/actions/spell-check/expect.txt
  .pipelines/build-tools.cmd
  .pipelines/ci/templates/build-powertoys-steps.yml
  .pipelines/pipeline.user.windows.yml
  tools/WebcamReportTool/DirectShowUtils.cpp
  tools/WebcamReportTool/DirectShowUtils.h
  tools/WebcamReportTool/WebcamReportTool.sln
  tools/WebcamReportTool/WebcamReportTool.vcxproj
  tools/WebcamReportTool/main.cpp
  tools/WebcamReportTool/packages.config
Labels: Product-Video Conference Mute

#10513 [ColorPicker] Disable forwarding the scroll event
  src/modules/colorPicker/ColorPickerUI/Mouse/MouseHook.cs
Labels: Product-Color Picker

#10517 [Settings] Fix UI glitch
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherViewModel.cs
Labels: Product-Settings
