Repository microsoft/PowerToys, pull requests merged in 2021-02, with the labels that each got.

#9386 [Setup] require dotnet >= 3.1.11
  src/common/updating/dotnet_installation.cpp
Labels: Area-Setup/Install

#9391 [FZ Editor] Update the small layout preview after canceling zone editing.
  src/modules/fancyzones/editor/FancyZonesEditor/EditorWindow.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/CanvasLayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/GridLayoutModel.cs
Labels: FancyZones-Editor

#9389 [FancyZones Editor] Editor window size overflow
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
Labels: FancyZones-Editor

#9438 [FZ Settings] Refactor "Override Windows Snap shortcut (Win + Arrow) to move windows between zones" settings
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/FancyZonesViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
Labels: Product-FancyZones, Product-Settings

#9225 Adding OOBE Dialog spec for review
  .github/actions/spell-check/expect.txt
  doc/images/OOBE/N.png
  doc/images/OOBE/OOBE_Utility_template.png
  doc/images/OOBE/OverviewPage.png
  doc/images/OOBE/Y.png
  doc/specs/OOBE-Dialog.md
Labels: Area-OOBE

#9489 [FanzyZones] app history and zone settings granular saving
  src/modules/fancyzones/dll/dllmain.cpp
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZonesData.cpp
  src/modules/fancyzones/lib/FancyZonesData.h
  src/modules/fancyzones/tests/UnitTests/JsonHelpers.Tests.cpp
Labels: Hot Fix, Product-FancyZones

#9494 [FanzyZones] app history and zone settings granular saving (#9489)
  src/modules/fancyzones/dll/dllmain.cpp
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZonesData.cpp
  src/modules/fancyzones/lib/FancyZonesData.h
  src/modules/fancyzones/tests/UnitTests/JsonHelpers.Tests.cpp
Labels: Product-FancyZones

#9447 [FancyZones] Improve zone selection
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/lib/ZoneSet.h
Labels: Product-FancyZones

#9589 [PT Settings] Opening windows color settings from inside PT
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Helpers/StartProcessHelper.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShortcutGuidePage.xaml.cs
Labels: Product-Settings

#9518 [PT Run] Improve logs
  .github/actions/spell-check/expect.txt
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/ShellLinkHelper.cs
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginManager.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginsLoader.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
  src/modules/launcher/Wox.Plugin/Logger/Log.cs
Labels: Product-PowerToys Run

#9579 [PT Run] Tilde as user home
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/Path/FolderHelper.cs
Labels: Product-PowerToys Run

#9576 [FanzyZones] Common ThemeManager
  .pipelines/pipeline.user.windows.yml
  installer/PowerToysSetup/Product.wxs
  src/common/Microsoft.PowerToys.Common.UI/Microsoft.PowerToys.Common.UI.csproj
  src/common/Microsoft.PowerToys.Common.UI/ThemeManager.cs
  src/modules/fancyzones/editor/FancyZonesEditor/App.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/FancyZonesEditor.csproj
  src/modules/fancyzones/editor/FancyZonesEditor/Utils/CustomLibraryThemeProvider.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Utils/ThemeManager.cs
  src/modules/launcher/PowerLauncher/Themes/HighContrast1.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrast2.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrastBlack.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrastWhite.xaml
Labels: FancyZones-Editor

#9522 tweak plugin settings
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/plugin.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/plugin.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/plugin.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/plugin.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/plugin.json
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginConfig.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginManager.cs
  src/modules/launcher/PowerLauncher/Plugin/QueryBuilder.cs
  src/modules/launcher/PowerLauncher/SettingsWatcher.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/Wox.Infrastructure/UserSettings/PluginSettings.cs
  src/modules/launcher/Wox.Infrastructure/UserSettings/PowerToysRunSettings.cs
  src/modules/launcher/Wox.Infrastructure/UserSettings/RunPlugin.cs
  src/modules/launcher/Wox.Plugin/PluginMetadata.cs
  src/modules/launcher/Wox.Test/PluginManagerTest.cs
  src/modules/launcher/Wox.Test/QueryBuilderTest.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/PowerLauncherPluginSettings.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/PowerLauncherSettings.cs
Labels: Product-PowerToys Run, Run-Plugin

#9463 [Runner] Open settings when restarted as admin
  src/runner/main.cpp
  src/runner/restart_elevated.cpp
  src/runner/restart_elevated.h
  src/runner/settings_window.cpp
Labels: Area-Runner, Product-Settings

#9641 [msi] PowerToysSetupCustomActions intermediate dir
  installer/PowerToysSetupCustomActions/PowerToysSetupCustomActions.vcxproj
Labels: Area-Build

#9644 [bootstrapper] progress bar UI polishing
  installer/PowerToysBootstrapper/bootstrapper/RcResource.cpp
  installer/PowerToysBootstrapper/bootstrapper/Resources.resx
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.vcxproj
  installer/PowerToysBootstrapper/bootstrapper/progressbar_window.cpp
  installer/PowerToysBootstrapper/bootstrapper/progressbar_window.h
Labels: Area-Setup/Install

#9637 [PT Settings] Rename "Microsoft.PowerToys.Setting.UI.Runner" to "PowerToys.Settings"
  .pipelines/pipeline.user.windows.yml
  PowerToys.sln
  doc/devdocs/settingsv2/project-overview.md
  doc/devdocs/settingsv2/runner-ipc.md
  doc/devdocs/settingsv2/ui-architecture.md
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetup/publish.cmd
  installer/PowerToysSetupCustomActions/CustomAction.cpp
  src/runner/settings_window.cpp
  src/settings-ui/PowerToys.Settings/App.xaml
  src/settings-ui/PowerToys.Settings/App.xaml.cs
  src/settings-ui/PowerToys.Settings/MainWindow.xaml
  src/settings-ui/PowerToys.Settings/MainWindow.xaml.cs
  src/settings-ui/PowerToys.Settings/PowerToys.Settings.csproj
  src/settings-ui/PowerToys.Settings/Program.cs
  src/settings-ui/PowerToys.Settings/app.manifest
  src/settings-ui/PowerToys.Settings/icon.ico
Labels: Product-Settings

#9683 [PT Run] Documentation for changes to PT Run
  doc/devdocs/modules/launcher/plugins/overview.md
Labels: Product-PowerToys Run

#9587 [OOBE] Open OOBE window by a button from settings.
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Runner/OobeWindow.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Runner/OobeWindow.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/ViewModel/OobeShellViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeDumpPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeDumpPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShellPage.xaml.cs
  src/settings-ui/PowerToys.Settings/MainWindow.xaml.cs
  src/settings-ui/PowerToys.Settings/OobeWindow.xaml
  src/settings-ui/PowerToys.Settings/OobeWindow.xaml.cs
Labels: Area-OOBE

#9679 [bootstrapper] change newer version detected action
  .github/actions/spell-check/expect.txt
  installer/PowerToysBootstrapper/bootstrapper/Resources.resx
  installer/PowerToysBootstrapper/bootstrapper/bootstrapper.cpp
Labels: Area-Setup/Install

#9685 Localize name and description
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/plugin.json
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/plugin.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/plugin.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/plugin.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/plugin.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/plugin.json
  src/modules/launcher/PowerLauncher/SettingsWatcher.cs
  src/modules/launcher/Wox.Plugin/IPlugin.cs
  src/modules/launcher/Wox.Plugin/PluginMetadata.cs
Labels: Product-PowerToys Run

#9712 [Run] Fix context menu
  src/modules/launcher/PowerLauncher/LauncherControl.xaml
Labels: Area-User Interface, Product-PowerToys Run

#9744 [Runner] Fix stealing shortcuts on older Win10 builds
  src/modules/launcher/Microsoft.Launcher/dllmain.cpp
Labels: Area-Runner

#9760 [Settings] Settings window arguments revision
  src/settings-ui/PowerToys.Settings/Program.cs
Labels: Area-Runner, Product-Settings

#9747 Show warning when plugin is not accessible
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherPluginViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/App.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Converters/BooleanInvertConverter.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Converters/BooleanToVisibilityConverter.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
Labels: Product-PowerToys Run

#9709 [FZ editor] UX update for edit dialog
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasZone.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasZone.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridZone.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/GridZone.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
  src/modules/fancyzones/editor/FancyZonesEditor/Styles/ButtonStyles.xaml
Labels: FancyZones-Editor

#9783 [Oobe] Show OOBE window at the first launch.
  src/common/SettingsAPI/settings_helpers.cpp
  src/common/SettingsAPI/settings_helpers.h
  src/runner/main.cpp
  src/runner/settings_window.cpp
  src/runner/settings_window.h
  src/settings-ui/PowerToys.Settings/App.xaml
  src/settings-ui/PowerToys.Settings/App.xaml.cs
  src/settings-ui/PowerToys.Settings/Program.cs
Labels: Area-OOBE, Area-Runner

#9691 Possibility to use the same action keyword for more than one plugin
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/ProgramArgumentParser/ProgramArgumentParserTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/ImageTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/QueryTests.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginManager.cs
  src/modules/launcher/PowerLauncher/Plugin/QueryBuilder.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/Wox.Plugin/Query.cs
  src/modules/launcher/Wox.Test/QueryBuilderTest.cs
Labels: Product-PowerToys Run

#9772 [PT Run] Service Notification Improvements
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Helpers/ServiceHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Properties/Resources.resx
  src/modules/launcher/PowerLauncher/PublicAPIInstance.cs
  src/modules/launcher/Wox.Plugin/IPublicAPI.cs
Labels: Product-PowerToys Run, Run-Plugin

#9781 Move plugin specific options under pluigin settings
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Main.cs
  src/modules/launcher/PowerLauncher/SettingsWatcher.cs
  src/modules/launcher/Wox.Plugin/ISettingProvider.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/PluginAdditionalOption.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/PowerLauncherPluginSettings.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/PowerLauncherProperties.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PluginAdditionalOptionViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherPluginViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/PowerLauncherViewModelTest.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
Labels: Product-PowerToys Run, Product-Settings, Run-Plugin

#9799 [FZ Editor] Updated (preview) zone colors
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasZone.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/GridZone.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/LayoutPreview.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Styles/LayoutPreviewStyles.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Themes/Dark.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Themes/HighContrast1.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Themes/HighContrast2.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Themes/HighContrastBlack.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Themes/HighContrastWhite.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Themes/Light.xaml
Labels: Area-User Interface, FancyZones-Editor

#8996 Svg image preview is displayed unscaled and uncentered
  .github/actions/spell-check/expect.txt
  src/modules/previewpane/SvgPreviewHandler/SvgPreviewControl.cs
  src/modules/previewpane/SvgPreviewHandler/Utilities/SvgPreviewHandlerHelper.cs
Labels: Product-File Explorer

#9538 [PT Run] Helper for Execute Shells Process Calls
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/ContextMenuLoader.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/ShellAction.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/ContextMenuLoader.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWPApplication.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/RegistryHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Helpers/ServiceHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Microsoft.PowerToys.Run.Plugin.Service.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs
  src/modules/launcher/PowerLauncher/ReportWindow.xaml.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/Wox.Infrastructure/Helper.cs
Labels: Product-PowerToys Run

#9837 [Oobe] Removed "Launch module" buttons for several modules.
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFancyZones.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFileExplorer.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeImageResizer.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeKBM.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobePowerRename.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeVideoConference.xaml
Labels: Area-OOBE

#9838 [Run] [Plugin manager] UI fixes
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherPluginViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
Labels: Product-PowerToys Run

#9875 [Oobe] Overview page
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Microsoft.PowerToys.Settings.UI.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Enums/PowerToysModulesEnum.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/ViewModel/OobePowerToysModule.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeOverview.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeOverview.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
Labels: Area-OOBE

#9880 disable plugin options when plugin is disabled
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherPluginViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
Labels: Product-PowerToys Run

#9878 Navigation from additional panel
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/PowerLauncherPluginViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/PowerLauncherPage.xaml.cs
Labels: Product-PowerToys Run

#9874 [FancyZones] Overlapping zones selection algorithm - settings
  src/modules/fancyzones/lib/FancyZones.cpp
  src/modules/fancyzones/lib/FancyZones.h
  src/modules/fancyzones/lib/Settings.cpp
  src/modules/fancyzones/lib/Settings.h
  src/modules/fancyzones/lib/ZoneSet.cpp
  src/modules/fancyzones/lib/ZoneSet.h
  src/modules/fancyzones/lib/ZoneWindow.cpp
  src/modules/fancyzones/lib/trace.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneSet.Spec.cpp
  src/modules/fancyzones/tests/UnitTests/ZoneWindow.Spec.cpp
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/FZConfigProperties.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/FancyZonesViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Styles/_Sizes.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/FancyZonesPage.xaml
Labels: Product-FancyZones, Product-Settings

#9896 [Oobe] Keep oobe window working after closing settings window
  src/settings-ui/PowerToys.Settings/MainWindow.xaml
  src/settings-ui/PowerToys.Settings/MainWindow.xaml.cs
  src/settings-ui/PowerToys.Settings/OobeWindow.xaml.cs
Labels: Area-OOBE

#9917 [Oobe] Telemetry: Date/Time of first-run
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/Telemetry/Events/OobeStartedEvent.cs
  src/settings-ui/PowerToys.Settings/App.xaml.cs
Labels: Area-OOBE

#9925 [Oobe] Telemetry
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/Telemetry/Events/OobeModuleRunEvent.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/Telemetry/Events/OobeSectionEvent.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/Telemetry/Events/OobeSettingsEvent.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/ViewModel/OobePowerToysModule.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeColorPicker.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeColorPicker.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFancyZones.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFancyZones.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFileExplorer.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFileExplorer.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeImageResizer.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeImageResizer.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeKBM.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeKBM.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobePowerRename.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobePowerRename.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeRun.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeRun.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShortcutGuide.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShortcutGuide.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeVideoConference.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeVideoConference.xaml.cs
Labels: Area-OOBE

#9924 start run, color picker, shortcut guide from oobe
  src/common/interop/interop.cpp
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeColorPicker.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeColorPicker.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeRun.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeRun.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShortcutGuide.xaml
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShortcutGuide.xaml.cs
  src/settings-ui/PowerToys.Settings/MainWindow.xaml.cs
Labels: Area-OOBE

#9940 [Oobe] Renamed button in the settings
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/GeneralPage.xaml
Labels: Area-OOBE

#9942 [OOBE - Settings] Deep linking
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeColorPicker.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFancyZones.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeFileExplorer.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeImageResizer.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeKBM.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobePowerRename.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeRun.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/OOBE/Views/OobeShortcutGuide.xaml.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ShellPage.xaml.cs
  src/settings-ui/PowerToys.Settings/MainWindow.xaml.cs
Labels: Area-OOBE
