Repository microsoft/PowerToys, pull requests merged in 2021-09, with the labels that each got.

#12996 [File Explorer] Thumbnail handlers reload
  .github/actions/spell-check/expect.txt
  src/modules/previewpane/powerpreview/settings.cpp
Labels: Product-File Explorer

#12986 [Keyboard Manager] `Alt+Tab` navigation with arrow keys i
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/common/RemapShortcut.h
Labels: Product-Keyboard Shortcut Manager

#12915 [WindowsSettings Plugin] Improve subtitle and area naming
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Classes/WindowsSetting.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/JsonSettingsListHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/TranslationHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/WindowsSettingsPathHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/WindowsSettings.json
Labels: Product-PowerToys Run, Run-Plugin

#13078 [PT Run] [WindowsSettings plugin] Translation improvements and LocProject.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/TranslationHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/LocProject.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/WindowsSettings.json
Labels: Product-PowerToys Run, Area-Localization, Run-Plugin

#12939 [PT Run] Option for system commands localization
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.resx
Labels: Product-PowerToys Run, Run-Plugin

#12920 [Run Plugin Manager] Update additional options
  src/modules/launcher/PowerLauncher/SettingsReader.cs
Labels: Product-Settings, Run-Plugin Manager

#13151 [PT Run] Settings plugin: Settings path filter and bug fixes
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Main.cs
Labels: Product-PowerToys Run, Run-Plugin

#13205 [PT Run] EnvironmentHelper: Adding logging and error handling
  src/modules/launcher/PowerLauncher/Helper/EnvironmentHelper.cs
Labels: Product-PowerToys Run

#13241 [PT Run: Settings plugin] [Installer] Update installer to include loc files
  installer/PowerToysSetup/Product.wxs
Labels: Product-PowerToys Run, Area-Setup/Install, Area-Localization

#13284 [PT Run: Registry] Handle Invalid Base Keys
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Main.cs
Labels: Run-Plugin

#13321 [Image Resizer] ComboBox UI
  src/modules/imageresizer/ui/App.xaml
  src/modules/imageresizer/ui/Properties/Resources.Designer.cs
  src/modules/imageresizer/ui/Properties/Resources.resx
  src/modules/imageresizer/ui/Views/InputPage.xaml
  src/modules/imageresizer/ui/Views/SizeTypeToVisibilityConverter.cs
Labels: Area-User Interface, Product-Image Resizer

#13285 [ImageResizer] Default values for new size
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/ImageResizerViewModel.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/ViewModelTests/ImageResizer.cs
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Microsoft.PowerToys.Settings.UI/Views/ImageResizerPage.xaml.cs
Labels: Product-Settings, Area-User Interface, Product-Image Resizer, Accessibility [E+D]

#13352 [Code refactoring] Make code comment and NullOrEmpty check more clear
  src/settings-ui/Microsoft.PowerToys.Settings.UI.Library/ViewModels/ImageResizerViewModel.cs
Labels: Issue-Refactoring
