Repository microsoft/PowerToys, pull requests merged in 2021-08, with the labels that each got.

#12597 [Runner] Open Settings Running Elevated
  .github/actions/spell-check/expect.txt
  src/runner/tray_icon.cpp
Labels: Area-Runner

#12672 [Test] Test Frameworks Consolidated
  .pipelines/ci/templates/build-powertoys-steps.yml
  src/common/interop/interop-tests/Microsoft.Interop.Tests.csproj
  src/modules/colorPicker/UnitTest-ColorPickerUI/UnitTest-ColorPickerUI.csproj
  src/modules/imageresizer/tests/ImageResizerUITest.csproj
  src/modules/imageresizer/tests/Models/CustomSizeTests.cs
  src/modules/imageresizer/tests/Models/ResizeBatchTests.cs
  src/modules/imageresizer/tests/Models/ResizeOperationTests.cs
  src/modules/imageresizer/tests/Models/ResizeSizeTests.cs
  src/modules/imageresizer/tests/Properties/AppFixture.cs
  src/modules/imageresizer/tests/Properties/SettingsTests.cs
  src/modules/imageresizer/tests/Test/AssertEx.cs
  src/modules/imageresizer/tests/Test/TestDirectory.cs
  src/modules/imageresizer/tests/Views/TimeRemainingConverterTests.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/InputInterpreterTests.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/UnitHandlerTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder.UnitTests/DriveOrSharedFolderTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder.UnitTests/InternalQueryFolderTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder.UnitTests/Microsoft.Plugin.Folder.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Microsoft.Plugin.Program.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/ProgramArgumentParser/ProgramArgumentParserTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Programs/UWPTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Programs/Win32Tests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/ConcurrentQueueEventHandlerTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/ListRepositoryTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri.UnitTests/Microsoft.Plugin.Uri.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri.UnitTests/UriHelper/ExtendedUriParserTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/BracketHelperTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/ExtendedCalculatorParserTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/NumberTranslatorTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Microsoft.PowerToys.Run.Plugin.Registry.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/ImageTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/Microsoft.PowerToys.Run.Plugin.System.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/QueryTests.cs
  src/modules/launcher/Wox.Test/FuzzyMatcherTest.cs
  src/modules/launcher/Wox.Test/MainViewModelTest.cs
  src/modules/launcher/Wox.Test/PluginManagerTest.cs
  src/modules/launcher/Wox.Test/Plugins/FolderPluginTest.cs
  src/modules/launcher/Wox.Test/Plugins/PluginInitTest.cs
  src/modules/launcher/Wox.Test/Plugins/ResultTest.cs
  src/modules/launcher/Wox.Test/Plugins/ToolTipDataTest.cs
  src/modules/launcher/Wox.Test/Plugins/WindowsIndexerTest.cs
  src/modules/launcher/Wox.Test/QueryBuilderTest.cs
  src/modules/launcher/Wox.Test/ResultsViewModelTest.cs
  src/modules/launcher/Wox.Test/Wox.Test.csproj
  src/modules/launcher/Wox.Test/WoxTest.cs
  src/modules/previewpane/PreviewPaneUnitTests/UnitTests-MarkdownPreviewHandler.csproj
  src/modules/previewpane/UnitTests-PreviewHandlerCommon/UnitTests-PreviewHandlerCommon.csproj
  src/modules/previewpane/UnitTests-SvgPreviewHandler/UnitTests-SvgPreviewHandler.csproj
  src/modules/previewpane/UnitTests-SvgThumbnailProvider/UnitTests-SvgThumbnailProvider.csproj
  src/settings-ui/Microsoft.PowerToys.Settings.UI.UnitTests/Microsoft.PowerToys.Settings.UI.UnitTests.csproj
Labels: Area-Tests, Area-Build

#12860 Fix lags for UWP application in full screen mode
  src/common/utils/process_path.h
Labels: Product-Keyboard Shortcut Manager, Product-FancyZones

#12942 [ImageResizer] Handling malformed JSON
  src/modules/imageresizer/ui/Properties/Settings.cs
Labels: Product-Image Resizer
