Repository microsoft/PowerToys, pull requests merged in 2022-11, with the labels that each got.

#21225 Update Windows Implementation Library
  src/ActionRunner/actionRunner.vcxproj
  src/ActionRunner/packages.config
  src/Update/PowerToys.Update.vcxproj
  src/Update/packages.config
  src/common/COMUtils/COMUtils.vcxproj
  src/common/COMUtils/packages.config
  src/common/interop/PowerToys.Interop.vcxproj
  src/common/interop/packages.config
  src/common/notifications/notifications.vcxproj
  src/common/notifications/packages.config
  src/common/updating/packages.config
  src/common/updating/updating.vcxproj
  src/modules/MeasureTool/MeasureToolCore/PowerToys.MeasureToolCore.vcxproj
  src/modules/MeasureTool/MeasureToolCore/packages.config
  src/modules/alwaysontop/AlwaysOnTop/AlwaysOnTop.vcxproj
  src/modules/alwaysontop/AlwaysOnTop/packages.config
  src/modules/alwaysontop/AlwaysOnTopModuleInterface/AlwaysOnTopModuleInterface.vcxproj
  src/modules/alwaysontop/AlwaysOnTopModuleInterface/packages.config
  src/modules/awake/AwakeModuleInterface/AwakeModuleInterface.vcxproj
  src/modules/awake/AwakeModuleInterface/packages.config
  src/modules/fancyzones/FancyZones/FancyZones.vcxproj
  src/modules/fancyzones/FancyZones/packages.config
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj
  src/modules/fancyzones/FancyZonesLib/packages.config
  src/modules/fancyzones/FancyZonesModuleInterface/FancyZonesModuleInterface.vcxproj
  src/modules/fancyzones/FancyZonesModuleInterface/packages.config
  src/modules/fancyzones/FancyZonesTests/UnitTests/UnitTests.vcxproj
  src/modules/fancyzones/FancyZonesTests/UnitTests/packages.config
  src/modules/imageresizer/ImageResizerContextMenu/ImageResizerContextMenu.vcxproj
  src/modules/imageresizer/ImageResizerContextMenu/ImageResizerContextMenu.vcxproj.filters
  src/modules/imageresizer/ImageResizerContextMenu/packages.config
  src/modules/launcher/Microsoft.Launcher/Microsoft.Launcher.vcxproj
  src/modules/launcher/Microsoft.Launcher/packages.config
  src/modules/poweraccent/PowerAccentModuleInterface/PowerAccentModuleInterface.vcxproj
  src/modules/powerrename/PowerRenameContextMenu/PowerRenameContextMenu.vcxproj
  src/modules/powerrename/PowerRenameContextMenu/PowerRenameContextMenu.vcxproj.filters
  src/modules/powerrename/PowerRenameContextMenu/packages.config
  src/modules/powerrename/PowerRenameUILib/PowerRenameUI.vcxproj
  src/modules/powerrename/PowerRenameUILib/packages.config
  src/modules/previewpane/powerpreview/packages.config
  src/modules/previewpane/powerpreview/powerpreview.vcxproj
  src/modules/videoconference/VideoConferenceModule/VideoConference.vcxproj
  src/modules/videoconference/VideoConferenceModule/packages.config
  src/modules/videoconference/VideoConferenceProxyFilter/VideoConferenceProxyFilter.vcxproj
  src/modules/videoconference/VideoConferenceProxyFilter/packages.config
  src/modules/videoconference/VideoConferenceShared/VideoConferenceShared.vcxproj
  src/modules/videoconference/VideoConferenceShared/packages.config
  src/runner/packages.config
  src/runner/runner.vcxproj
Labels: Needs-Review

#21658 [FancyZones] Fix: 'Space around zones' toggle does not turn off spacing
  src/modules/fancyzones/FancyZonesLib/Layout.cpp
  src/modules/fancyzones/FancyZonesTests/UnitTests/Layout.Spec.cpp
Labels: Hot Fix

#21566 ColorPicker: Adding safety code to property modification - Fix for issue #21462
  src/modules/colorPicker/ColorPickerUI/Settings/UserSettings.cs
Labels: Product-Color Picker

#21813 [GPO] Fix the admx file by removing obsolete using
  doc/gpo/assets/PowerToys.admx
Labels: Issue-Bug, Area-Enterprise

#21371 Dependencies Cleanup
  installer/PowerToysSetup/Product.wxs
  src/common/ManagedCommon/ManagedCommon.csproj
  src/common/interop/interop-tests/Microsoft.Interop.Tests.csproj
  src/modules/awake/Awake/Awake.csproj
  src/modules/colorPicker/ColorPickerUI/ColorPickerUI.csproj
  src/modules/colorPicker/UnitTest-ColorPickerUI/UnitTest-ColorPickerUI.csproj
  src/modules/fancyzones/editor/FancyZonesEditor/FancyZonesEditor.csproj
  src/modules/imageresizer/tests/ImageResizerUITest.csproj
  src/modules/imageresizer/ui/ImageResizerUI.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Community.PowerToys.Run.Plugin.VSCodeWorkspaces.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/Community.PowerToys.Run.Plugin.WebSearch.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Microsoft.Plugin.Folder.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/Result/FileSystemResult.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Microsoft.Plugin.Program.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Microsoft.Plugin.Shell.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Microsoft.Plugin.Uri.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Microsoft.Plugin.WindowWalker.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Microsoft.PowerToys.Run.Plugin.Calculator.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.History/Microsoft.PowerToys.Run.Plugin.History.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Microsoft.PowerToys.Run.Plugin.System.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Microsoft.PowerToys.Run.Plugin.TimeDate.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Helper/ResultHelper.cs
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/Wox.Infrastructure/Wox.Infrastructure.csproj
  src/modules/launcher/Wox.Plugin/BaseModel.cs
  src/modules/launcher/Wox.Plugin/Query.cs
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
  src/modules/poweraccent/PowerAccent.Core/PowerAccent.Core.csproj
  src/modules/poweraccent/PowerAccent.UI/PowerAccent.UI.csproj
  src/modules/previewpane/GcodePreviewHandler/GcodePreviewHandler.csproj
  src/modules/previewpane/MarkdownPreviewHandler/MarkdownPreviewHandler.csproj
  src/modules/previewpane/UnitTests-GcodeThumbnailProvider/UnitTests-GcodeThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-PdfThumbnailProvider/UnitTests-PdfThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-PreviewHandlerCommon/UnitTests-PreviewHandlerCommon.csproj
  src/modules/previewpane/UnitTests-StlThumbnailProvider/UnitTests-StlThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-SvgPreviewHandler/UnitTests-SvgPreviewHandler.csproj
  src/modules/previewpane/UnitTests-SvgThumbnailProvider/UnitTests-SvgThumbnailProvider.csproj
  src/settings-ui/Settings.UI.Library/Settings.UI.Library.csproj
  src/settings-ui/Settings.UI.UnitTests/Settings.UI.UnitTests.csproj
Labels: Area-Build, Needs-Review

#21815 [Settings][Quick Accent] Change name of language setting
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Idea-Enhancement, Product-Settings, Product-Quick Accent

#21586 Update COMMUNITY.md
  COMMUNITY.md
Labels: Needs-Review

#22004 PowerAccent-21531: support excluded apps
  src/modules/poweraccent/PowerAccent.Core/Services/SettingsService.cs
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.cpp
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.h
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.idl
  src/settings-ui/Settings.UI.Library/PowerAccentProperties.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
  src/settings-ui/Settings.UI/Views/PowerAccentPage.xaml
Labels: Product-Quick Accent

#21870 Fix Settings backup and restore, reports "no backup found" when they …
  src/settings-ui/Settings.UI.Library/SettingsBackupAndRestoreUtils.cs
Labels: Needs-Review

#22077 Update COMMUNITY.md
  COMMUNITY.md
Labels: Needs-Review

#21970 [AlwaysOnTop] Telemetry
  src/modules/alwaysontop/AlwaysOnTop/AlwaysOnTop.cpp
  src/modules/alwaysontop/AlwaysOnTop/trace.cpp
  src/modules/alwaysontop/AlwaysOnTop/trace.h
Labels: Needs-Review

#21747 disable trigger if letter is not longer pushed
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.cpp
Labels: Needs-Review, Product-Quick Accent

#21889 add croatian, netherlands, swedish & welsh
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
  src/settings-ui/Settings.UI/Views/PowerAccentPage.xaml
Labels: Product-Quick Accent

#21812 [Hosts][Settings] Update name and icon of "Additional lines" feature
  src/modules/Hosts/Hosts/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Idea-Enhancement, Product-Settings, Product-Hosts File Editor

#21817 [QuickAccent] Shift + Space to navigate backwards
  src/modules/poweraccent/PowerAccent.Core/PowerAccent.cs
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.cpp
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.h
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.idl
Labels: Good to merge

#21762 [Shortcut Guide] Support delayed display of shortcuts except for taskbar shortcuts
  src/modules/ShortcutGuide/ShortcutGuide/ShortcutGuideSettings.h
  src/modules/ShortcutGuide/ShortcutGuide/overlay_window.cpp
  src/modules/ShortcutGuide/ShortcutGuide/overlay_window.h
  src/modules/ShortcutGuide/ShortcutGuide/shortcut_guide.cpp
  src/modules/ShortcutGuide/ShortcutGuide/shortcut_guide.h
  src/modules/ShortcutGuide/ShortcutGuide/trace.cpp
  src/modules/ShortcutGuide/ShortcutGuideModuleInterface/dllmain.cpp
  src/settings-ui/Settings.UI.Library/ShortcutGuideProperties.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/ShortcutGuideViewModel.cs
  src/settings-ui/Settings.UI/Views/ShortcutGuidePage.xaml
Labels: Good to merge

#22146 make feedback hub item be agnostic to casing
  .github/fabricbot.json
Labels: Needs-Review

#22233 Fail build when nugets aren't consolidated
  .config/dotnet-tools.json
  .pipelines/ci/templates/build-powertoys-steps.yml
  .pipelines/verifyNugetPackages.ps1
  src/modules/FileLocksmith/FileLocksmithUI/FileLocksmithUI.csproj
Labels: Good to merge

#22228 [Quick Accent] add Catalan language accents
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
  src/settings-ui/Settings.UI/Views/PowerAccentPage.xaml
Labels: Good to merge

#22256 Fix PTRun Time Zone plugin bug
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Helper/ResultHelper.cs
Labels: Issue-Bug, Run-Plugin, Needs-Review, Good to merge

#22297 [QuickAccent] Add accents for Kurdish language (#21700)
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
  src/settings-ui/Settings.UI/Views/PowerAccentPage.xaml
Labels: Needs-Review

#22276 Fix/improve settings/oobe text
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/GeneralPage.xaml
  src/settings-ui/Settings.UI/Views/MouseUtilsPage.xaml
  src/settings-ui/Settings.UI/Views/PowerLauncherPage.xaml
  src/settings-ui/Settings.UI/Views/ShortcutGuidePage.xaml
Labels: Good to merge

#22350 [Quick Accent] add Irish and Scottish language accents
  .github/actions/spell-check/expect.txt
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
  src/settings-ui/Settings.UI/Views/PowerAccentPage.xaml
Labels: Needs-Review, In for 0.65
