Repository microsoft/PowerToys, pull requests merged in 2022-08, with the labels that each got.

#19791 PowerToys Run - FolderHelper.Expand
  .github/actions/spell-check/expect.txt
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder.UnitTests/Sources/Path/FolderHelperTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/Path/FolderHelper.cs
Labels: Run-Plugin

#19809 [PT Run] Fix web link with ports support (#14260)
  .github/actions/spell-check/expect.txt
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri.UnitTests/UriHelper/ExtendedUriParserTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Interfaces/IUriParser.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/UriHelper/ExtendedUriParser.cs
Labels: Idea-Enhancement, Run-Plugin, Needs-Review

#19829 commenting out settings button in FZ Editor
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
Labels: Needs-Review

#19878 [ARM64] Verification script for CI
  .github/actions/spell-check/expect.txt
  .pipelines/ci/templates/build-powertoys-steps.yml
  .pipelines/verifyArm64Configuration.ps1
Labels: Needs-Review

#19569 Pt run history plugin 19349
  .pipelines/ESRPSigning_core.json
  PowerToys.sln
  doc/devdocs/modules/launcher/plugins/history.md
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.History/ErrorHandler.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.History/Images/history.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.History/Images/history.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.History/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.History/Microsoft.PowerToys.Run.Plugin.History.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.History/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.History/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.History/plugin.json
  src/modules/launcher/PowerLauncher/PublicAPIInstance.cs
  src/modules/launcher/PowerLauncher/Storage/UserSelectedRecord.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultsViewModel.cs
  src/modules/launcher/Wox.Plugin/IPublicAPI.cs
  src/modules/launcher/Wox.Plugin/Query.cs
  src/modules/launcher/Wox.Plugin/Result.cs
  src/modules/launcher/Wox.Plugin/UserSelectedRecord.cs
Labels: Needs-Review

#19593 [Settings][Plugin manager] Activation commands: Fix conflict with calc plugin and add warning
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/plugin.json
  src/settings-ui/Settings.UI.Library/ViewModels/PowerLauncherPluginViewModel.cs
  src/settings-ui/Settings.UI.Library/ViewModels/PowerLauncherViewModel.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/PowerLauncherPage.xaml
Labels: Idea-Enhancement, Product-Settings, Run-Plugin, Run-Plugin Manager

#19875 [Runner] Cleanup updates directory at startup
  src/Update/PowerToys.Update.cpp
  src/common/updating/updateState.h
  src/runner/main.cpp
Labels: Needs-Review

#19928 [FileExplorer] StlThumbnailProvider customization
  src/modules/previewpane/StlThumbnailProvider/StlThumbnailProvider.cs
  src/modules/previewpane/StlThumbnailProvider/StlThumbnailProvider.csproj
  src/settings-ui/Settings.UI.Library/PowerPreviewProperties.cs
  src/settings-ui/Settings.UI.Library/ViewModels/PowerPreviewViewModel.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/PowerPreviewPage.xaml
Labels: Needs-Review

#19961 [PTRun] Support for plural units and improve alternative spellings
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/InputInterpreterTests.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/UnitHandlerTests.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Community.PowerToys.Run.Plugin.UnitConverter.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/InputInterpreter.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Main.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/UnitConversionResult.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/UnitHandler.cs
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
Labels: Needs-Review

#19994 [Chore] Remove obsolete package Castle.Core
  src/modules/previewpane/UnitTests-GcodeThumbnailProvider/UnitTests-GcodeThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-PdfThumbnailProvider/UnitTests-PdfThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-StlThumbnailProvider/UnitTests-StlThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-SvgThumbnailProvider/UnitTests-SvgThumbnailProvider.csproj
Labels: Needs-Review

#19980 [PreviewPane][Monaco]Format json/xml before rendering
  .github/actions/spell-check/expect.txt
  src/modules/previewpane/MonacoPreviewHandler/Formatters/IFormatter.cs
  src/modules/previewpane/MonacoPreviewHandler/Formatters/JsonFormatter.cs
  src/modules/previewpane/MonacoPreviewHandler/Formatters/XmlFormatter.cs
  src/modules/previewpane/MonacoPreviewHandler/MonacoPreviewHandlerControl.cs
  src/modules/previewpane/MonacoPreviewHandler/Settings.cs
  src/settings-ui/Settings.UI.Library/PowerPreviewProperties.cs
  src/settings-ui/Settings.UI.Library/ViewModels/PowerPreviewViewModel.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/PowerPreviewPage.xaml
Labels: Needs-Review

#19981 [ShortcutGuide] Overlay narrator shortcut
  src/modules/ShortcutGuide/ShortcutGuide/svgs/overlay.svg
  src/modules/ShortcutGuide/ShortcutGuide/svgs/overlay_portrait.svg
Labels: Needs-Review

#19963 [ColorPicker] Always set the zoom factor
  src/modules/colorPicker/ColorPickerUI/Helpers/ZoomWindowHelper.cs
Labels: Needs-Review

#20067 [PT Run > Calculator] Input validation improvements
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/ExtendedCalculatorParserTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/QueryTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/CalculateEngine.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/CalculateHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Properties/Resources.resx
Labels: Idea-Enhancement, Product-PowerToys Run, Run-Plugin, Needs-Review

#20151 Adjusting image and wording in settings
  src/settings-ui/Settings.UI/Assets/Modules/ScreenRuler.png
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/MeasureToolPage.xaml
Labels: Needs-Review
