Repository microsoft/PowerToys, pull requests merged in 2022-10, with the labels that each got.

#20992 consolidate nugets
  src/modules/MeasureTool/MeasureToolUI/MeasureToolUI.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.OneNote/Microsoft.PowerToys.Run.Plugin.OneNote.csproj
  src/modules/poweraccent/PowerAccentModuleInterface/PowerAccentModuleInterface.vcxproj.filters
  src/modules/poweraccent/PowerAccentModuleInterface/packages.config
  src/modules/previewpane/common/PreviewHandlerCommon.csproj
Labels: Needs-Review

#20551 Settings backup and restore
  .github/actions/spell-check/expect.txt
  installer/PowerToysSetup/Product.wxs
  src/runner/main.cpp
  src/runner/restart_elevated.cpp
  src/runner/restart_elevated.h
  src/runner/settings_window.cpp
  src/settings-ui/Settings.UI.Library/Settings.UI.Library.csproj
  src/settings-ui/Settings.UI.Library/SettingsBackupAndRestoreUtils.cs
  src/settings-ui/Settings.UI.Library/SettingsUtils.cs
  src/settings-ui/Settings.UI.Library/UpdatingSettings.cs
  src/settings-ui/Settings.UI.Library/ViewModels/GeneralViewModel.cs
  src/settings-ui/Settings.UI.Library/backup_restore_settings.json
  src/settings-ui/Settings.UI/Converters/StringToInfoBarSeverityConverter.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Styles/TextBlock.xaml
  src/settings-ui/Settings.UI/Views/GeneralPage.xaml
  src/settings-ui/Settings.UI/Views/GeneralPage.xaml.cs
Labels: Needs-Review

#20964 [Mouse Highlighter] Opacity 1-100
  src/modules/MouseUtils/MouseHighlighter/MouseHighlighter.h
  src/modules/MouseUtils/MouseHighlighter/dllmain.cpp
  src/settings-ui/Settings.UI.Library/MouseHighlighterProperties.cs
  src/settings-ui/Settings.UI.Library/MouseHighlighterSettings.cs
  src/settings-ui/Settings.UI/Views/MouseUtilsPage.xaml
Labels: Needs-Review

#21098 TextExtractor-20950: fix focus on overlay on the first TextExtractor activation
  src/modules/PowerOCR/PowerOCR/Helpers/OSInterop.cs
  src/modules/PowerOCR/PowerOCR/Helpers/WindowUtilities.cs
Labels: Needs-Review

#21254 Release.yml hash creation
  .pipelines/release.yml
Labels: Needs-Review

#21163 Code analysis c26495 as error
  CppRuleSet.ruleset
  src/modules/MeasureTool/MeasureToolCore/ScreenCapturing.cpp
  src/modules/ShortcutGuide/ShortcutGuide/d2d_window.h
  src/modules/ShortcutGuide/ShortcutGuide/shortcut_guide.h
  src/modules/ShortcutGuide/ShortcutGuide/tasklist_positions.h
  src/modules/fancyzones/FancyZonesLib/EditorParameters.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesData/CustomLayouts.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesDataTypes.h
  src/modules/fancyzones/FancyZonesLib/JsonHelpers.h
  src/modules/powerrename/PowerRenameUILib/ExplorerItem.h
  src/modules/videoconference/VideoConferenceModule/Toolbar.h
Labels: Needs-Review

#21310 [Hosts] Entry dialog: Add ScrollViewer
  src/modules/Hosts/Hosts/Views/MainPage.xaml
Labels: Issue-Bug, Area-User Interface, Product-Hosts File Editor

#20926 [TextExtractor] Add space between CJK words and non-CJK
  src/modules/PowerOCR/PowerOCR/Helpers/ImageMethods.cs
Labels: Needs-Review

#21171 Edit issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/translation_issue.yml
Labels: Area-GitHub workflow

#21312 [Settings][Backup/Restore] Honor user documents directory
  src/settings-ui/Settings.UI.Library/SettingsBackupAndRestoreUtils.cs
Labels: Needs-Review

#21327 Enhanced loading of the image files
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
Labels: Needs-Review

#21259 PowerToys Run: Fix always hide after executing result
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/Wox.Plugin/Result.cs
Labels: Needs-Review

#21382 [FancyZones Editor] Replace NumberBox with Slider
  src/modules/fancyzones/editor/FancyZonesEditor/Controls/CustomSliderAutomationPeer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/GridLayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
Labels: Needs-Review

#21291 PowerToys Run: Fix always show after executing context menu result
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/ContextMenuHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/Window.cs
  src/modules/launcher/PowerLauncher/ViewModel/IMainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultsViewModel.cs
  src/modules/launcher/Wox.Plugin/ContextMenuResult.cs
  src/modules/launcher/Wox.Test/ResultViewModelTest.cs
  src/modules/launcher/Wox.Test/ResultsViewModelTest.cs
  src/modules/launcher/Wox.Test/Wox.Test.csproj
Labels: Product-PowerToys Run, Needs-Review
