Repository microsoft/PowerToys, pull requests merged in 2022-05, with the labels that each got.

#17937 Added additional WAS 1.0.3 instructions
  doc/devdocs/readme.md
Labels: Issue-Docs

#17886 Settings: adjust preview page text
  .github/actions/spell-check/expect.txt
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/PowerPreviewPage.xaml
Labels: Needs-Review

#18124 [Settings] Do not try to launch non-elevated settings process when it…
  src/common/utils/elevation.h
  src/modules/fancyzones/FancyZonesLib/WindowUtils.cpp
  src/runner/Resources.resx
  src/runner/settings_window.cpp
Labels: Product-Settings, Area-Runner, Hot Fix, Area-Enterprise

#18308 add case insensitivity to VS Code binary detection
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/VSCodeHelper/VSCodeInstances.cs
Labels: Needs-Review

#18227 [Settings] Minor UI fixes
  src/settings-ui/Settings.UI/Controls/CheckBoxWithDescriptionControl.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/MouseUtilsPage.xaml
  src/settings-ui/Settings.UI/Views/PowerLauncherPage.xaml
Labels: Needs-Review

#18311 [PowerRename] Open PowerRename on current monitor
  src/modules/powerrename/PowerRenameUILib/MainWindow.xaml.cpp
  src/modules/powerrename/PowerRenameUILib/PowerRenameUI.vcxproj
  src/modules/powerrename/PowerRenameUILib/PowerRenameUI.vcxproj.filters
Labels: Needs-Review

#18151 [Settings][FancyZones] Rounded corners settings only on Windows 11
  src/settings-ui/Settings.UI.Library/Utilities/Helper.cs
  src/settings-ui/Settings.UI.Library/ViewModels/FancyZonesViewModel.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/FancyZonesPage.xaml
Labels: Needs-Review

#18290 Add small delay to the search query before displaying results
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
Labels: Needs-Review

#18270 [FancyZones] Popup behavior fix
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/FancyZonesLib/FancyZonesWindowProcessing.h
  src/modules/fancyzones/FancyZonesLib/VirtualDesktop.cpp
  src/modules/fancyzones/FancyZonesLib/WindowMoveHandler.cpp
Labels: Needs-Review

#17880 Update ResizeOperation.cs
  src/modules/imageresizer/ui/Models/ResizeOperation.cs
Labels: Product-Image Resizer, Needs-Review

#18499 [KBM]Fix concurrent shortcut remap locking key
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardEventHandlers.cpp
Labels: Needs-Review

#18509 Getting status on ARM
  README.md
Labels: Needs-Review
