Repository microsoft/PowerToys, pull requests merged in 2022-04, with the labels that each got.

#17425 [FancyZones] Restore original corners
  src/modules/fancyzones/FancyZonesLib/FancyZonesWindowProperties.h
  src/modules/fancyzones/FancyZonesLib/Settings.cpp
  src/modules/fancyzones/FancyZonesLib/Settings.h
  src/modules/fancyzones/FancyZonesLib/SettingsConstants.h
  src/modules/fancyzones/FancyZonesLib/WindowMoveHandler.cpp
  src/modules/fancyzones/FancyZonesLib/WindowUtils.cpp
  src/modules/fancyzones/FancyZonesLib/WindowUtils.h
  src/modules/fancyzones/FancyZonesLib/ZoneSet.cpp
  src/modules/fancyzones/FancyZonesLib/trace.cpp
  src/settings-ui/Settings.UI.Library/FZConfigProperties.cs
  src/settings-ui/Settings.UI.Library/ViewModels/FancyZonesViewModel.cs
  src/settings-ui/Settings.UI.UnitTests/ViewModelTests/FancyZones.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/FancyZonesPage.xaml
Labels: Hot Fix

#17283 [PT Run] Run as user feature
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/ContextMenuLoader.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Programs/Win32Tests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWPApplication.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/WindowProcess.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/RegistryHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/Commands.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsTerminal/Main.cs
  src/modules/launcher/Wox.Infrastructure/Helper.cs
  src/modules/launcher/Wox.Test/Plugins/WindowsIndexerTest.cs
Labels: Idea-Enhancement, Product-PowerToys Run, Run-Plugin

#17471 [Hotfix ?] [PT Run] Fix crash in VirtualDesktopHelper
  src/modules/launcher/Wox.Plugin/Common/VirtualDesktop/VirtualDesktopHelper.cs
Labels: Issue-Bug, Product-PowerToys Run, Priority-1, Run-Plugin, Needs-Review

#17490 [Hotfix ?] [PT Run] System plugin: Speed improvements and fixes
  doc/devdocs/modules/launcher/plugins/system.md
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/ImageTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/QueryTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/Commands.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/NetworkConnectionProperties.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs
Labels: Issue-Bug, Product-PowerToys Run, Priority-1, Hot Fix, Run-Plugin, Needs-Review

#17446 Make sure the final WiX bundle contains a *signed* MSI
  .pipelines/ci/templates/build-powertoys-steps.yml
  .pipelines/release.yml
  installer/PowerToysSetup.sln
Labels: Area-Build, Hot Fix

#17517 [PTRun][Program]List special empty shortcuts
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
Labels: Hot Fix

#17820 [ARM64] Settings-UI
  PowerToys.sln
  installer/PowerToysSetup/Product.wxs
  src/settings-ui/Settings.UI.Library/Settings.UI.Library.csproj
  src/settings-ui/Settings.UI.UnitTests/Settings.UI.UnitTests.csproj
  src/settings-ui/Settings.UI/PowerToys.Settings.csproj
Labels: Product-Settings, Area-ARM64
