Repository microsoft/PowerToys, pull requests merged in 2022-12, with the labels that each got.

#22373 [FancyZones] Fix snap by hotkey for single-zone layouts
  .github/actions/spell-check/expect.txt
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/WindowMoveHandler.cpp
  src/modules/fancyzones/FancyZonesLib/WorkArea.cpp
  src/modules/fancyzones/FancyZonesLib/WorkArea.h
Labels: In for 0.65

#20587 [WIP][QuickAccent] Add description of current selected letter
  .github/actions/spell-check/expect.txt
  installer/PowerToysSetup/Product.wxs
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/modules/poweraccent/PowerAccent.Core/PowerAccent.Core.csproj
  src/modules/poweraccent/PowerAccent.Core/PowerAccent.cs
  src/modules/poweraccent/PowerAccent.Core/Services/SettingsService.cs
  src/modules/poweraccent/PowerAccent.UI/App.xaml.cs
  src/modules/poweraccent/PowerAccent.UI/PowerAccent.UI.csproj
  src/modules/poweraccent/PowerAccent.UI/Selector.xaml
  src/modules/poweraccent/PowerAccent.UI/Selector.xaml.cs
  src/modules/poweraccent/PowerAccent/Program.cs
  src/settings-ui/Settings.UI.Library/PowerAccentProperties.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
  src/settings-ui/Settings.UI/Views/PowerAccentPage.xaml
Labels: Good to merge, In for 0.65

#22357 Recovering settings - layouts (FancyZones) not restored #22206
  src/settings-ui/Settings.UI.Library/backup_restore_settings.json
Labels: In for 0.65

#22435 [Quick Accent] fix showing selector window
  src/modules/poweraccent/PowerAccent.Core/Tools/Calculation.cs
  src/modules/poweraccent/PowerAccent.UI/Selector.xaml
  src/modules/poweraccent/PowerAccent.UI/Selector.xaml.cs
Labels: Needs-Review

#22504 [Peek] Plugin pattern to enable any file type previewing
  src/modules/peek/Peek.Common/Converters/BoolConverter.cs
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Peek.FilePreviewer.csproj
  src/modules/peek/Peek.FilePreviewer/Previewers/IBitmapPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/IPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/ImagePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/PreviewerFactory.cs
Labels: Product-Peek

#22530 [Peek] Fetching image size through PropertyStore
  src/modules/peek/Peek.Common/Models/PropertyStoreShellApi.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/Helpers/PropertyHelper.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/ImagePreviewer.cs
Labels: Product-Peek

#22538 Juliata/filetypes
  src/modules/peek/Peek.Common/Models/File.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/IPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/ImagePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/PreviewerFactory.cs
Labels: Product-Peek

#22541 [Peek] Add scale awareness to window centering
  src/modules/peek/Peek.UI/Extensions/WindowExtensions.cs
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/NativeMethods.txt
Labels: Product-Peek

#22567 [Peek] Enable PropertyStore for offline files
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/Helpers/PropertyHelper.cs
Labels: Product-Peek

#22598 [Peek] Adding unsupported file previewer
  src/modules/peek/Peek.Common/Models/File.cs
  src/modules/peek/Peek.Common/Models/PropertyStoreShellApi.cs
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Peek.FilePreviewer.csproj
  src/modules/peek/Peek.FilePreviewer/Previewers/Helpers/IconHelper.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Helpers/ReadableStringHelper.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/IUnsupportedFilePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/Helpers/PropertyHelper.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/PreviewerFactory.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/UnsupportedFilePreviewer/UnsupportedFilePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/UnsupportedFilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/UnsupportedFilePreview.xaml.cs
  src/modules/peek/Peek.UI/Peek.UI.csproj
Labels: Product-Peek

#22506 [Peek] Add WebView2 integration
  src/modules/peek/Peek.FilePreviewer/Controls/BrowserControl.xaml
  src/modules/peek/Peek.FilePreviewer/Controls/BrowserControl.xaml.cs
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Peek.FilePreviewer.csproj
  src/modules/peek/Peek.FilePreviewer/Previewers/HtmlPreviewer/HtmlPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/IBrowserPreview.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/PreviewerFactory.cs
Labels: Product-Peek

#22589 [Peek] Add basic file querying and navigation
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/ImagePreviewer.cs
  src/modules/peek/Peek.UI/FolderItemsQuery.cs
  src/modules/peek/Peek.UI/Helpers/FileExplorerHelper.cs
  src/modules/peek/Peek.UI/MainWindow.xaml
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/MainWindowViewModel.cs
Labels: Product-Peek

#22600 [Peek] Add customized title bar
  src/modules/peek/Peek.UI/Helpers/DefaultAppHelper.cs
  src/modules/peek/Peek.UI/MainWindow.xaml
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/Native/NativeMethods.cs
  src/modules/peek/Peek.UI/Strings/en-us/Resources.resw
  src/modules/peek/Peek.UI/Views/TitleBar.xaml
  src/modules/peek/Peek.UI/Views/TitleBar.xaml.cs
Labels: Product-Peek

#22633 [Peek] Fix foregrounding
  src/modules/peek/Peek.UI/Extensions/WindowExtensions.cs
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/Native/NativeMethods.cs
Labels: Product-Peek

#22637 [Peek] ImagePreviewer - Handle error states
  src/modules/peek/Peek.Common/Converters/BoolConverter.cs
  src/modules/peek/Peek.Common/Extensions/DispatcherExtensions.cs
  src/modules/peek/Peek.Common/Extensions/TaskExtension.cs
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/HtmlPreviewer/HtmlPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/IBrowserPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/IPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/ImagePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/PreviewerFactory.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/UnsupportedFilePreviewer/UnsupportedFilePreviewer.cs
Labels: Product-Peek

#22636 [Peek] add PDF viewing support
  src/modules/peek/Peek.FilePreviewer/Controls/BrowserControl.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/PreviewerFactory.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/WebBrowserPreviewer/WebBrowserPreviewer.cs
Labels: Product-Peek

#22642 [Peek] Refine titlebar adaptive width
  src/modules/peek/Peek.UI/Views/TitleBar.xaml
Labels: Product-Peek

#22641 [Peek] New File Explorer tabs break Shell API to get selected files
  src/modules/peek/Peek.UI/Helpers/FileExplorerHelper.cs
  src/modules/peek/Peek.UI/Native/NativeMethods.cs
  src/modules/peek/Peek.UI/NativeMethods.txt
Labels: Product-Peek

#22613 [Peek] add extra logic to properly render PNG files with transparency
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/Helpers/ThumbnailHelper.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/ImagePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/PngPreviewer/PngPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/PreviewerFactory.cs
Labels: Product-Peek

#22640 [Peek] Add tooltip to File
  src/modules/peek/Peek.Common/Helpers/ReadableStringHelper.cs
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.UI/Strings/en-us/Resources.resw
Labels: Product-Peek

#22654 [Peek] add full image quality for PNG
  src/modules/peek/Peek.FilePreviewer/Previewers/PngPreviewer/PngPreviewer.cs
Labels: Product-Peek

#22657 [Peek] Window foregrounding simplification and fixes + keep window visible if FE single selection changed
  src/modules/peek/Peek.UI/Extensions/WindowExtensions.cs
  src/modules/peek/Peek.UI/FolderItemsQuery.cs
  src/modules/peek/Peek.UI/Helpers/FileExplorerHelper.cs
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/Native/NativeMethods.cs
  src/modules/peek/Peek.UI/NativeMethods.txt
Labels: Product-Peek

#22650 [Peek] Unsupported File Previewer - Preserve Transparency For File Icons
  src/modules/peek/Peek.FilePreviewer/Previewers/UnsupportedFilePreviewer/UnsupportedFilePreviewer.cs
Labels: Product-Peek

#22680 [Quick Accent] increase default input delay to 300ms
  src/modules/poweraccent/PowerAccent.Core/Services/SettingsService.cs
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.h
  src/settings-ui/Settings.UI.Library/PowerAccentProperties.cs
  src/settings-ui/Settings.UI.Library/PowerAccentSettings.cs
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
Labels: Needs-Review

#22704 [QuickAccent] Set selection when character change
  src/modules/poweraccent/PowerAccent.UI/Selector.xaml.cs
Labels: Good to merge

#22687 Update to dev setup readme.md
  doc/devdocs/readme.md
Labels: Needs-Review

#22647 [Peek] Add copy keyboard accelerator
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/IPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/Helpers/ThumbnailHelper.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/ImagePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/PngPreviewer/PngPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/UnsupportedFilePreviewer/UnsupportedFilePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/WebBrowserPreviewer/WebBrowserPreviewer.cs
Labels: Product-Peek

#22685 [Peek] add WV2 improvements (behavior and UX)
  src/modules/peek/Peek.FilePreviewer/Controls/BrowserControl.xaml.cs
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Models/PreviewSizeChangedArgs.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/IPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/ImagePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/PngPreviewer/PngPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/UnsupportedFilePreviewer/UnsupportedFilePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/WebBrowserPreviewer/WebBrowserPreviewer.cs
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
Labels: Product-Peek

#22721 Added support for Macedonian accent letters
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
  src/settings-ui/Settings.UI/Views/PowerAccentPage.xaml
Labels: Good to merge

#22707 [Analyzers] Update StyleCop and enable SA1200
  Directory.Build.props
  src/.editorconfig
  src/codeAnalysis/GlobalSuppressions.cs
  src/codeAnalysis/StyleCop.json
  src/common/ManagedCommon/ColorFormatHelper.cs
  src/modules/FileLocksmith/FileLocksmithUI/Converters/FileCountConverter.cs
  src/modules/FileLocksmith/FileLocksmithUI/Converters/FileListToDescriptionConverter.cs
  src/modules/FileLocksmith/FileLocksmithUI/Converters/PidToIconConverter.cs
  src/modules/FileLocksmith/FileLocksmithUI/Converters/UserToSystemWarningVisibilityConverter.cs
  src/modules/FileLocksmith/FileLocksmithUI/ViewModels/MainViewModel.cs
  src/modules/FileLocksmith/FileLocksmithUI/Views/MainPage.xaml.cs
  src/modules/Hosts/Hosts/Helpers/NativeMethods.cs
  src/modules/MeasureTool/MeasureToolUI/MainWindow.xaml.cs
  src/modules/awake/Awake/Core/TrayHelper.cs
  src/modules/colorPicker/ColorPickerUI/Behaviors/DragAndDropReorderBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Controls/ColorPickerControl.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/ColorHelper.cs
  src/modules/colorPicker/ColorPickerUI/ViewModels/ColorEditorViewModel.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorConverterTest.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Controls/CustomSlider.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Controls/CustomSliderAutomationPeer.cs
  src/modules/imageresizer/tests/Models/ResizeBatchTests.cs
  src/modules/imageresizer/ui/Extensions/BitmapMetadataExtension.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/SearchResult.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/QueryInternalDirectory.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/SearchHelper/SearchResult.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/QueryTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/BracketHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/CalculateHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/RegistryHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/ImageTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/QueryTests.cs
  src/modules/launcher/PowerLauncher/Helper/DragDataObject.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/modules/poweraccent/PowerAccent.Core/PowerAccent.cs
  src/modules/poweraccent/PowerAccent.Core/Services/SettingsService.cs
  src/modules/poweraccent/PowerAccent.Core/Tools/WindowsFunctions.cs
  src/modules/poweraccent/PowerAccent.UI/Program.cs
  src/modules/poweraccent/PowerAccent.UI/Selector.xaml.cs
  src/modules/previewpane/GcodePreviewHandler/Program.cs
  src/modules/previewpane/GcodeThumbnailProvider/Program.cs
  src/modules/previewpane/MarkdownPreviewHandler/Program.cs
  src/modules/previewpane/MonacoPreviewHandler/Formatters/JsonFormatter.cs
  src/modules/previewpane/MonacoPreviewHandler/Formatters/XmlFormatter.cs
  src/modules/previewpane/MonacoPreviewHandler/Program.cs
  src/modules/previewpane/PdfPreviewHandler/Program.cs
  src/modules/previewpane/PdfThumbnailProvider/Program.cs
  src/modules/previewpane/StlThumbnailProvider/Program.cs
  src/modules/previewpane/SvgPreviewHandler/Program.cs
  src/modules/previewpane/SvgThumbnailProvider/Program.cs
  src/settings-ui/Settings.UI.Library/SettingsBackupAndRestoreUtils.cs
  src/settings-ui/Settings.UI.Library/SettingsUtils.cs
  src/settings-ui/Settings.UI/GlobalSuppressions.cs
  src/settings-ui/Settings.UI/ViewModels/GeneralViewModel.cs
Labels: Needs-Review

#22906 [GPO]Chore: move asset files to src path
  .pipelines/release.yml
  src/gpo/assets/PowerToys.admx
  src/gpo/assets/en-US/PowerToys.adml
Labels: in for 0.66

#22952 unit tests nugets updated
  src/common/interop/interop-tests/Microsoft.Interop.Tests.csproj
  src/modules/Hosts/Hosts.Tests/Hosts.Tests.csproj
  src/modules/colorPicker/UnitTest-ColorPickerUI/UnitTest-ColorPickerUI.csproj
  src/modules/imageresizer/tests/ImageResizerUITest.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/InputInterpreterTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder.UnitTests/Microsoft.Plugin.Folder.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Microsoft.Plugin.Program.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri.UnitTests/Microsoft.Plugin.Uri.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker.UnitTests/Microsoft.Plugin.WindowWalker.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Microsoft.PowerToys.Run.Plugin.Registry.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/Microsoft.PowerToys.Run.Plugin.System.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone.UnitTests/Microsoft.PowerToys.Run.Plugin.TimeZone.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsTerminal.UnitTests/Microsoft.Plugin.WindowsTerminal.UnitTests.csproj
  src/modules/launcher/Wox.Test/Wox.Test.csproj
  src/modules/previewpane/UnitTests-GcodePreviewHandler/UnitTests-GcodePreviewHandler.csproj
  src/modules/previewpane/UnitTests-GcodeThumbnailProvider/UnitTests-GcodeThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-MarkdownPreviewHandler/UnitTests-MarkdownPreviewHandler.csproj
  src/modules/previewpane/UnitTests-PdfPreviewHandler/UnitTests-PdfPreviewHandler.csproj
  src/modules/previewpane/UnitTests-PdfThumbnailProvider/UnitTests-PdfThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-PreviewHandlerCommon/UnitTests-PreviewHandlerCommon.csproj
  src/modules/previewpane/UnitTests-StlThumbnailProvider/UnitTests-StlThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-SvgPreviewHandler/UnitTests-SvgPreviewHandler.csproj
  src/modules/previewpane/UnitTests-SvgThumbnailProvider/UnitTests-SvgThumbnailProvider.csproj
  src/settings-ui/Settings.UI.UnitTests/Settings.UI.UnitTests.csproj
Labels: Needs-Review, in for 0.66

#22901 [TextExtractor] Extend settings with preferred language
  src/modules/PowerOCR/PowerOCR/OCROverlay.xaml.cs
  src/modules/PowerOCR/PowerOCR/Settings/IUserSettings.cs
  src/modules/PowerOCR/PowerOCR/Settings/UserSettings.cs
  src/settings-ui/Settings.UI.Library/PowerOcrProperties.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerOcrViewModel.cs
  src/settings-ui/Settings.UI/Views/PowerOcrPage.xaml
  src/settings-ui/Settings.UI/Views/PowerOcrPage.xaml.cs
Labels: Good to merge, in for 0.66
