Repository microsoft/PowerToys, pull requests merged in 2022-06, with the labels that each got.

#18159 [PT Run] Calculator plugin: Various improvements
  doc/devdocs/modules/launcher/plugins/calculator.md
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/ExtendedCalculatorParserTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/NumberTranslatorTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/QueryTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/CalculateEngine.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/CalculateHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/ErrorHandler.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/NumberTranslator.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/ResultHelper.cs
Labels: Issue-Bug, Idea-Enhancement, Product-PowerToys Run, Needs-Review

#18731 [Tests][MD preview] Don't target image on the internet in helper file
  src/modules/previewpane/UnitTests-MarkdownPreviewHandler/HelperFiles/MarkdownWithExternalImage.txt
Labels: Product-File Explorer

#18706 CA1031 Suppressions Cleanup
  src/common/Common.UI/SettingsDeepLink.cs
  src/modules/colorPicker/ColorPickerUI/Mouse/CursorManager.cs
  src/modules/colorPicker/ColorPickerUI/Program.cs
  src/modules/colorPicker/ColorPickerUI/Settings/UserSettings.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorConverterTest.cs
  src/modules/imageresizer/tests/Test/TestDirectory.cs
  src/modules/imageresizer/ui/Extensions/BitmapMetadataExtension.cs
  src/modules/imageresizer/ui/Models/ResizeBatch.cs
  src/modules/imageresizer/ui/Models/ResizeOperation.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/ContextMenuLoader.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/ContextMenuLoader.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/PackagemanagerWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/ShellLinkHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWPApplication.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramFileSystemWatchers.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/ContextMenuHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/RegistryHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Helper/ContextMenuHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsTerminal/Main.cs
  src/modules/launcher/PowerLauncher/Helper/EnvironmentHelper.cs
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginConfig.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginManager.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultViewModel.cs
  src/modules/launcher/Wox.Infrastructure/Exception/ExceptionFormatter.cs
  src/modules/launcher/Wox.Infrastructure/Helper.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageHashGenerator.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
  src/modules/launcher/Wox.Infrastructure/Storage/BinaryStorage`1.cs
  src/modules/launcher/Wox.Plugin/Common/DefaultBrowserInfo.cs
  src/modules/launcher/Wox.Plugin/PluginPair.cs
  src/modules/previewpane/GcodePreviewHandler/GcodePreviewHandlerControl.cs
  src/modules/previewpane/PdfPreviewHandler/PdfPreviewHandlerControl.cs
  src/modules/previewpane/common/Utilities/SvgPreviewHandlerHelper.cs
  src/settings-ui/Settings.UI.Library/GeneralSettings.cs
  src/settings-ui/Settings.UI.Library/SettingsUtils.cs
  src/settings-ui/Settings.UI.Library/UpdatingSettings.cs
  src/settings-ui/Settings.UI.Library/ViewModels/GeneralViewModel.cs
  src/settings-ui/Settings.UI.Library/ViewModels/ImageResizerViewModel.cs
  src/settings-ui/Settings.UI.Library/ViewModels/KeyboardManagerViewModel.cs
  src/settings-ui/Settings.UI.Library/ViewModels/PowerRenameViewModel.cs
  src/settings-ui/Settings.UI.Library/ViewModels/VideoConferenceViewModel.cs
  src/settings-ui/Settings.UI/Views/GeneralPage.xaml.cs
  src/settings-ui/Settings.UI/Views/ImageResizerPage.xaml.cs
  src/settings-ui/Settings.UI/Views/MouseUtilsPage.xaml.cs
Labels: Area-Build

#18835 [OOBE] [What's New] Modified regular expression to hide "x64 ARM64 Installer Hash" lines.
  src/settings-ui/Settings.UI/OOBE/Views/OobeWhatsNew.xaml.cs
Labels: Area-OOBE

#18749 Fix UI
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/settings-ui/Settings.UI/Views/KeyboardManagerPage.xaml
Labels: Product-Keyboard Shortcut Manager, FancyZones-Editor, Area-User Interface, Needs-Review

#19035 [PT Run] Settings plugin: Update sharing settings
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/WindowsSettings.json
Labels: Idea-Enhancement, Run-Plugin

#19037 [PT Plugins] Translation fixes and improvements
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.resx
Labels: Issue-Bug, Product-Settings, Area-Localization, Run-Plugin, Run-Plugin Manager
