Repository microsoft/PowerToys, pull requests merged in 2022-07, with the labels that each got.

#18315 Immersive dark mode + Theme Listener
  .github/actions/spell-check/expect.txt
  installer/MSIX/PackagingLayout.xml
  installer/PowerToysSetup/Product.wxs
  src/common/ManagedCommon/ManagedCommon.csproj
  src/common/ManagedCommon/Theme.cs
  src/common/ManagedCommon/ThemeHelpers.cs
  src/common/ManagedCommon/ThemeListener.cs
  src/common/Themes/Themes.vcxproj
  src/common/Themes/theme_helpers.cpp
  src/common/Themes/theme_helpers.h
  src/common/Themes/theme_listener.cpp
  src/common/Themes/theme_listener.h
  src/common/Themes/windows_colors.cpp
  src/modules/keyboardmanager/KeyboardManagerEditor/KeyboardManagerEditor.vcxproj
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/EditKeyboardWindow.cpp
  src/modules/powerrename/PowerRenameUILib/MainWindow.xaml.cpp
  src/modules/powerrename/PowerRenameUILib/PowerRenameUI.vcxproj
  src/runner/runner.vcxproj
  src/settings-ui/Settings.UI/App.xaml.cs
  src/settings-ui/Settings.UI/MainWindow.xaml.cs
  src/settings-ui/Settings.UI/OobeWindow.xaml.cs
  src/settings-ui/Settings.UI/Views/GeneralPage.xaml.cs
Labels: Product-PowerRename, Area-User Interface

#19036 [PT Run]Removed BinaryFormatter
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/IProgramRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/PackageRepository.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageCache.cs
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
  src/modules/launcher/Wox.Infrastructure/Storage/BinaryStorage`1.cs
  src/modules/launcher/Wox.Infrastructure/Storage/IStorage`1.cs
  src/modules/launcher/Wox.Infrastructure/Storage/WoxJsonStorage`1.cs
Labels: Needs-Review

#19127 Upgrade to check-spelling 0.0.20alpha7
  .github/actions/spell-check/README.md
  .github/actions/spell-check/allow.txt
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/expect.txt
  .github/actions/spell-check/line_forbidden.patterns
  .github/actions/spell-check/patterns.txt
  .github/actions/spell-check/reject.txt
  .github/workflows/spelling2.yml
  Directory.Build.props
  doc/devdocs/modules/keyboardmanager/keyboardeventhandlers.md
  doc/devdocs/modules/keyboardmanager/keyboardmanager.md
  doc/devdocs/modules/keyboardmanager/keyboardmanagerui.md
  doc/devdocs/modules/launcher/plugins/windowssettings.md
  installer/PowerToysSetup/PowerToysInstaller.wixproj
  src/codeAnalysis/GlobalSuppressions.cs
  src/modules/colorPicker/ColorPickerUI/NativeMethods.cs
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/ShortcutControl.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineTest/AppSpecificShortcutRemappingTests.cpp
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Programs/Win32Tests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/EventHandler.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/WindowProcess.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Classes/WindowsSetting.cs
  src/modules/launcher/PowerLauncher/Helper/EnvironmentHelper.cs
  src/modules/launcher/PowerLauncher/Properties/Settings.Designer.cs
  src/modules/launcher/PowerLauncher/Properties/Settings.settings
  src/modules/launcher/Wox.Plugin/Common/VirtualDesktop/VirtualDesktopHelper.cs
  src/modules/powerrename/PowerRenameUILib/MainWindow.xaml.cpp
  src/modules/powerrename/lib/PowerRenameInterfaces.h
  src/modules/powerrename/lib/PowerRenameRegEx.cpp
  src/modules/powerrename/unittests/PowerRenameRegExBoostTests.cpp
  src/modules/powerrename/unittests/PowerRenameRegExTests.cpp
  src/modules/previewpane/common/controls/FormHandlerControl.cs
  src/runner/main.cpp
  src/settings-ui/Settings.UI.Library/Enumerations/ColorPickerActivationAction.cs
  src/settings-ui/Settings.UI/GlobalSuppressions.cs
Labels: Area-GitHub workflow

#19148 [PT Run] [Terminal Plugin] Use GetAppListEntires and add scoring
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsTerminal/Helpers/TerminalQuery.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsTerminal/Main.cs
Labels: Idea-Enhancement, Product-PowerToys Run, Run-Plugin

#19249 [Win11]Also show old context menus
  src/modules/imageresizer/dll/ContextMenuHandler.cpp
  src/modules/powerrename/dll/PowerRenameExt.cpp
Labels: Hot Fix

#19362 [AOT] Fix for flickering border
  src/modules/alwaysontop/AlwaysOnTop/WindowBorder.cpp
Labels: Needs-Review

#19488 Fix Typo
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Properties/Resources.resx
Labels: Run-Plugin

#19149 [PT Run] [Program plugin] Add localized name
  .github/actions/spell-check/expect.txt
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
  src/modules/launcher/Wox.Plugin/Common/ShellLocalization.cs
Labels: Idea-Enhancement, Product-PowerToys Run, Run-Results (Programs), Run-Plugin

#19574 Upgrade check-spelling to v0.0.20
  .github/actions/spell-check/advice.md
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/expect.txt
  .github/actions/spell-check/line_forbidden.patterns
  .github/actions/spell-check/patterns.txt
  .github/workflows/spelling2.yml
Labels: Area-GitHub workflow
