Repository microsoft/PowerToys, pull requests merged in 2022-02, with the labels that each got.

#15926 [runner] Save settings on closing only when PT was actually running
  src/runner/main.cpp
Labels: Hot Fix

#15920 [runner] If process elevated and --dont-elevate arg - run non elevated
  installer/PowerToysSetup/Product.wxs
  src/runner/main.cpp
Labels: Hot Fix

#15869 [PTRun]Remove Wox plugin install dead code/deps
  .pipelines/ESRPSigning_core.json
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/PowerLauncher/Plugin/PluginInstaller.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginManager.cs
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/PowerLauncher/PublicAPIInstance.cs
  src/modules/launcher/Wox.Plugin/IPublicAPI.cs
Labels: Hot Fix

#15943 [PT Run] WindowWalker: Temporary remove IsCloaked check
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/OpenWindows.cs
Labels: Product-PowerToys Run, Severity-Regression, Hot Fix

#15944 [Runner]remove hotkeyEx when disabling a module
  src/runner/general_settings.cpp
  src/runner/powertoy_module.cpp
Labels: Hot Fix

#15832 [PT Run] System commands plugin: Update dev docs and UnitTests
  doc/devdocs/modules/launcher/plugins/sys.md
  doc/devdocs/modules/launcher/plugins/system.md
  doc/devdocs/modules/launcher/readme.md
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/ImageTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/QueryTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs
Labels: Issue-Docs

#15836 [PowerToys Run] Windows Terminal plugin: Improve query speed
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsTerminal/Helpers/TerminalQuery.cs
Labels: Product-PowerToys Run, Area-Quality, Run-Plugin, Issue-Refactoring

#16044 adding in attribution in settings
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/AwakePage.xaml
  src/settings-ui/Settings.UI/Views/PowerPreviewPage.xaml
Labels: Product-Settings

#16210 Replace Microsoft.CodeAnalysis.FxCopAnalyzers by Microsoft.CodeAnalysis.NetAnalyzers
  src/common/Common.UI/Common.UI.csproj
  src/common/ManagedCommon/ManagedCommon.csproj
  src/common/interop/interop-tests/Microsoft.Interop.Tests.csproj
  src/modules/colorPicker/ColorPickerUI/ColorPickerUI.csproj
  src/modules/colorPicker/UnitTest-ColorPickerUI/UnitTest-ColorPickerUI.csproj
  src/modules/fancyzones/editor/FancyZonesEditor/FancyZonesEditor.csproj
  src/modules/imageresizer/tests/ImageResizerUITest.csproj
  src/modules/imageresizer/ui/ImageResizerUI.csproj
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/Community.PowerToys.Run.Plugin.WebSearch.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Microsoft.Plugin.Folder.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Microsoft.Plugin.Indexer.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Microsoft.Plugin.Program.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Microsoft.Plugin.Program.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Microsoft.Plugin.Shell.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri.UnitTests/Microsoft.Plugin.Uri.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Microsoft.Plugin.Uri.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Microsoft.Plugin.WindowWalker.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Microsoft.PowerToys.Run.Plugin.Calculator.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Microsoft.PowerToys.Run.Plugin.Registry.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Microsoft.PowerToys.Run.Plugin.Registry.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Microsoft.PowerToys.Run.Plugin.Service.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/Microsoft.PowerToys.Run.Plugin.System.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Microsoft.PowerToys.Run.Plugin.System.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsTerminal.UnitTests/Microsoft.Plugin.WindowsTerminal.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsTerminal/Microsoft.PowerToys.Run.Plugin.WindowsTerminal.csproj
  src/modules/launcher/PowerLauncher.Telemetry/PowerLauncher.Telemetry.csproj
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/Wox.Infrastructure/Wox.Infrastructure.csproj
  src/modules/launcher/Wox.Plugin/Common/Win32/NativeMethods.cs
  src/modules/launcher/Wox.Plugin/Wox.Plugin.csproj
  src/modules/launcher/Wox.Test/Wox.Test.csproj
  src/modules/previewpane/GcodePreviewHandler/GcodePreviewHandler.csproj
  src/modules/previewpane/GcodeThumbnailProvider/GcodeThumbnailProvider.csproj
  src/modules/previewpane/MarkdownPreviewHandler/MarkdownPreviewHandler.csproj
  src/modules/previewpane/MonacoPreviewHandler/MonacoPreviewHandler.csproj
  src/modules/previewpane/PdfPreviewHandler/PdfPreviewHandler.csproj
  src/modules/previewpane/PdfThumbnailProvider/PdfThumbnailProvider.csproj
  src/modules/previewpane/StlThumbnailProvider/StlThumbnailProvider.csproj
  src/modules/previewpane/SvgPreviewHandler/SvgPreviewHandler.csproj
  src/modules/previewpane/SvgThumbnailProvider/SvgThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-GcodePreviewHandler/UnitTests-GcodePreviewHandler.csproj
  src/modules/previewpane/UnitTests-GcodeThumbnailProvider/UnitTests-GcodeThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-MarkdownPreviewHandler/UnitTests-MarkdownPreviewHandler.csproj
  src/modules/previewpane/UnitTests-PdfPreviewHandler/UnitTests-PdfPreviewHandler.csproj
  src/modules/previewpane/UnitTests-PdfThumbnailProvider/UnitTests-PdfThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-PreviewHandlerCommon/UnitTests-PreviewHandlerCommon.csproj
  src/modules/previewpane/UnitTests-StlThumbnailProvider/UnitTests-StlThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-SvgPreviewHandler/UnitTests-SvgPreviewHandler.csproj
  src/modules/previewpane/UnitTests-SvgThumbnailProvider/UnitTests-SvgThumbnailProvider.csproj
  src/modules/previewpane/common/PreviewHandlerCommon.csproj
  src/settings-ui/PowerToys.Settings/PowerToys.Settings.csproj
  src/settings-ui/Settings.UI.Library/Settings.UI.Library.csproj
  src/settings-ui/Settings.UI.UnitTests/Settings.UI.UnitTests.csproj
  src/settings-ui/Settings.UI/Settings.UI.csproj
Labels: Area-Build, Needs-Review

#16284 Remove build server warning
  .pipelines/release.yml
  tools/BugReportTool/BugReportTool.sln
Labels: Needs-Review

#16290 Update vsconfig file
  .github/actions/spell-check/expect.txt
  .vsconfig
  PowerToys.sln
  src/modules/ShortcutGuide/ShortcutGuide/ShortcutGuide.vcxproj
  src/modules/ShortcutGuide/ShortcutGuideModuleInterface/ShortcutGuideModuleInterface.vcxproj
  src/modules/alwaysontop/AlwaysOnTop/AlwaysOnTop.vcxproj
  src/modules/awake/AwakeModuleInterface/AwakeModuleInterface.vcxproj
  src/modules/fancyzones/FancyZones/FancyZones.vcxproj
  src/modules/fancyzones/FancyZonesTests/UnitTests/UnitTests.vcxproj
  tools/project_template/ModuleTemplate/ModuleTemplateCompileTest.vcxproj
Labels: Needs-Review

#16363 [PT Run] Replace tblimp-Microsoft.Search.Interop package with source implementation
  .github/actions/spell-check/expect.txt
  .pipelines/ESRPSigning_core.json
  .pipelines/versionAndSignCheck.ps1
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interop/CSearchCatalogManager.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interop/CSearchCatalogManagerClass.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interop/CSearchManager.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interop/CSearchManagerClass.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interop/CSearchQueryHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interop/CSearchQueryHelperClass.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interop/ISearchCatalogManager.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interop/ISearchManager.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interop/ISearchQueryHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Microsoft.Plugin.Indexer.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/SearchHelper/WindowsSearchAPI.cs
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/Wox.Test/Plugins/WindowsIndexerTest.cs
Labels: Needs-Review

#16108 [Developer Preview] Bug fixes
  .github/actions/spell-check/excludes.txt
  doc/devdocs/modules/powerpreview/monaco/readme.md
  installer/PowerToysSetup/Product.wxs
  src/common/utils/modulesRegistry.h
  src/modules/previewpane/MonacoPreviewHandler/FileHandler.cs
  src/modules/previewpane/MonacoPreviewHandler/MonacoPreviewHandler.csproj
  src/modules/previewpane/MonacoPreviewHandler/MonacoPreviewHandlerControl.cs
  src/modules/previewpane/MonacoPreviewHandler/generateLanguagesJson.html
  src/modules/previewpane/MonacoPreviewHandler/index.html
  src/modules/previewpane/MonacoPreviewHandler/monaco_languages.json
Labels: Product-File Explorer, Needs-Review

#16442 Fix analyzer warning
  src/codeAnalysis/GlobalSuppressions.cs
  src/modules/fancyzones/editor/FancyZonesEditor/ClickAutomationEventButton.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Converters/BooleanToIntConverter.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/FancyZonesEditor.csproj
  src/modules/fancyzones/editor/FancyZonesEditor/GridData.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditor.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/GridZone.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/LayoutPreview.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Models/LayoutModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/NativeMethods.cs
  src/modules/fancyzones/editor/FancyZonesEditor/SplitEventArgs.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Utils/FancyZonesEditorIO.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Utils/NativeMethods.cs
  src/modules/fancyzones/editor/FancyZonesEditor/ViewModels/MonitorViewModel.cs
Labels: Area-Build

#11431 [PT Run][New Plugin] Time zone plugin
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/expect.txt
  .pipelines/ESRPSigning_core.json
  PowerToys.sln
  doc/devdocs/modules/launcher/plugins/timeZone.md
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Classes/TimeZoneList.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Classes/TimeZoneProperties.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Classes/TimeZoneSettings.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Extensions/StringBuilderExtensions.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Helper/ContextMenuHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Helper/JsonHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Helper/TranslationHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Images/timeZone.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Images/timeZone.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Microsoft.PowerToys.Run.Plugin.TimeZone.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/plugin.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/timeZones.schema.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/timezones.json
Labels: Run-Plugin, Needs-Review
