Repository microsoft/PowerToys, pull requests merged in 2022-03, with the labels that each got.

#16590 removing nowarn's
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Microsoft.PowerToys.Run.Plugin.Calculator.csproj
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
Labels: Needs-Review

#16545 [Telemetry] fix analyzer warnings
  src/common/Telemetry/TelemetryBase.cs
Labels: Needs-Review

#16748 [HOT FIX][Developer Preview]Fixed file in use issue
  src/modules/previewpane/MonacoPreviewHandler/MonacoPreviewHandlerControl.cs
Labels: Hot Fix

#16756 [FindMyMouse]setting for minimum shake distance
  src/modules/MouseUtils/FindMyMouse/FindMyMouse.cpp
  src/modules/MouseUtils/FindMyMouse/FindMyMouse.h
  src/modules/MouseUtils/FindMyMouse/dllmain.cpp
  src/settings-ui/Settings.UI.Library/FindMyMouseProperties.cs
  src/settings-ui/Settings.UI.Library/ViewModels/MouseUtilsViewModel.cs
  src/settings-ui/Settings.UI/Converters/FindMyMouseActivationShakeMouseIntToVisibilityConverter.cs
  src/settings-ui/Settings.UI/Settings.UI.csproj
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/MouseUtilsPage.xaml
Labels: Hot Fix

#16543 [ColorPicker] Enable analyzer and fix warnings
  src/codeAnalysis/GlobalSuppressions.cs
  src/modules/colorPicker/ColorPickerUI/ColorPickerUI.csproj
  src/modules/colorPicker/ColorPickerUI/Program.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorConverterTest.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/UnitTest-ColorPickerUI.csproj
Labels: Needs-Review

#16325 [PT Run] VirtualDesktopHelper & WindowWalker improvements
  .github/actions/spell-check/expect.txt
  .pipelines/ci/templates/build-powertoys-steps.yml
  PowerToys.sln
  doc/devdocs/modules/launcher/plugins/windowwalker.md
  doc/images/launcher/plugins/windowwalker.png
  doc/images/launcher/plugins/windowwalker_folder_options.png
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker.UnitTests/Microsoft.Plugin.WindowWalker.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker.UnitTests/PluginSettingsTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/ContextMenuHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/FuzzyMatching.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/OpenWindows.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/SearchController.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/SearchResult.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/SearchString.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/Window.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/WindowProcess.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/WindowWalkerSettings.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Images/info.dark.png
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Images/info.light.png
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Microsoft.Plugin.WindowWalker.csproj
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Properties/Resources.resx
  src/modules/launcher/Wox.Infrastructure/Helper.cs
  src/modules/launcher/Wox.Plugin/Common/VirtualDesktop/CVirtualDesktopManager.cs
  src/modules/launcher/Wox.Plugin/Common/VirtualDesktop/IVirtualDesktopManager.cs
  src/modules/launcher/Wox.Plugin/Common/VirtualDesktop/VDesktop.cs
  src/modules/launcher/Wox.Plugin/Common/VirtualDesktop/VirtualDesktopHelper.cs
  src/modules/launcher/Wox.Plugin/Common/Win32/NativeMethods.cs
  src/modules/launcher/Wox.Plugin/Properties/Resources.Designer.cs
  src/modules/launcher/Wox.Plugin/Properties/Resources.resx
Labels: Product-PowerToys Run, Run-Plugin, Needs-Review

#16475 [Color Picker] remove and export multiple colors from history
  src/modules/colorPicker/ColorPickerUI/Helpers/ColorRepresentationHelper.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/SerializationHelper.cs
  src/modules/colorPicker/ColorPickerUI/Properties/Resources.Designer.cs
  src/modules/colorPicker/ColorPickerUI/Properties/Resources.resx
  src/modules/colorPicker/ColorPickerUI/Telemetry/ColorPickerSession.cs
  src/modules/colorPicker/ColorPickerUI/ViewModelContracts/IColorEditorViewModel.cs
  src/modules/colorPicker/ColorPickerUI/ViewModels/ColorEditorViewModel.cs
  src/modules/colorPicker/ColorPickerUI/Views/ColorEditorView.xaml
Labels: Product-Color Picker, Needs-Review

#16578 [OOBE] Refactor UI code, minor UI tweaks
  src/settings-ui/PowerToys.Settings/App.xaml.cs
  src/settings-ui/PowerToys.Settings/MainWindow.xaml.cs
  src/settings-ui/PowerToys.Settings/OobeWindow.xaml.cs
  src/settings-ui/Settings.UI/Controls/OOBEPageControl/OOBEPageControl.xaml
  src/settings-ui/Settings.UI/Controls/OOBEPageControl/OOBEPageControl.xaml.cs
  src/settings-ui/Settings.UI/OOBE/Enums/PowerToysModulesEnum.cs
  src/settings-ui/Settings.UI/OOBE/ViewModel/OobePowerToysModule.cs
  src/settings-ui/Settings.UI/OOBE/Views/OobeAlwaysOnTop.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeAwake.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeColorPicker.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeFancyZones.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeFileExplorer.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeImageResizer.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeKBM.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeMouseUtils.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeOverview.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobePowerRename.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeRun.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeShellPage.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Settings.UI/OOBE/Views/OobeShortcutGuide.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeVideoConference.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeWhatsNew.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeWhatsNew.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Revisit-0.57

#16180 [MonacoPreviewHandler][Settings] Resolve preview handler race
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/expect.txt
  src/common/utils/modulesRegistry.h
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  tools/Verification scripts/Check preview handler registration.ps1
Labels: Needs-Review

#16959 [Wox.Plugin: VirtualDesktopHelper] [WindowWalker] Fixes and small improvements
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/OpenWindows.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/Window.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Properties/Resources.resx
  src/modules/launcher/Wox.Plugin/Common/VirtualDesktop/VDesktop.cs
  src/modules/launcher/Wox.Plugin/Common/VirtualDesktop/VirtualDesktopHelper.cs
Labels: Product-PowerToys Run, Priority-0, Run-Plugin, Needs-Review

#16662 [PT Run] TimeDate plugin
  .github/actions/spell-check/expect.txt
  .pipelines/ESRPSigning_core.json
  .pipelines/ci/templates/build-powertoys-steps.yml
  PowerToys.sln
  doc/devdocs/modules/launcher/plugins/timedate.md
  doc/devdocs/modules/launcher/readme.md
  doc/images/launcher/plugins/timedate.png
  doc/images/launcher/plugins/timedate2.png
  installer/PowerToysSetup/Product.wxs
  src/codeAnalysis/GlobalSuppressions.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/ImageTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/PluginSettingsTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/QueryTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/StringParserTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/TimeDateResultTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/AvailableResult.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/AvailableResultsList.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/SearchController.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/TimeAndDateHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/TimeDateSettings.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Images/Warning.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Images/Warning.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Images/calendar.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Images/calendar.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Images/time.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Images/time.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Images/timeDate.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Images/timeDate.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Microsoft.PowerToys.Run.Plugin.TimeDate.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/plugin.json
  src/modules/launcher/Wox.Infrastructure/StringMatcher.cs
Labels: Product-PowerToys Run, Run-Plugin, Needs-Review

#17023 [PT Run] System plugin: Add IP and MAC
  .github/actions/spell-check/expect.txt
  .github/actions/spell-check/patterns.txt
  doc/devdocs/modules/launcher/plugins/system.md
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/ImageTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/QueryTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/Commands.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/NetworkConnectionProperties.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/SystemPluginContext.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/networkAdapter.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/networkAdapter.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Microsoft.PowerToys.Run.Plugin.System.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.resx
Labels: Product-PowerToys Run, Run-Plugin, Needs-Review

#17108 [Settings] Plugin additional options: Allow settings description
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/WindowWalkerSettings.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/TimeDateSettings.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.resx
  src/settings-ui/Settings.UI.Library/PluginAdditionalOption.cs
  src/settings-ui/Settings.UI.Library/ViewModels/PluginAdditionalOptionViewModel.cs
  src/settings-ui/Settings.UI/Controls/CheckBoxWithDescriptionControl.cs
  src/settings-ui/Settings.UI/Views/PowerLauncherPage.xaml
Labels: Product-PowerToys Run, Product-Settings, Run-Plugin, Run-Plugin Manager, Needs-Review

#16867 [PT Run] Folder plugin: Improvements for the results
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/Result/CreateOpenCurrentFolderResult.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/Result/EnvironmentVariableResult.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/Result/FileItemResult.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/Result/FolderItemResult.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/Result/TruncatedItemResult.cs
Labels: Product-PowerToys Run, Run-Plugin, Needs-Review

#17195 [PT Run] [Settings] System plugin: Move settings description
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.resx
Labels: Product-PowerToys Run, Run-Plugin, Needs-Review

#17170 [PT Run] [Settings plugin] New settings
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/WindowsSettings.json
Labels: Product-PowerToys Run, Run-Plugin, Needs-Review

#16903 Update Awake with bug fixes
  .github/actions/spell-check/expect.txt
  doc/planning/awake.md
  src/modules/awake/Awake/Awake.csproj
  src/modules/awake/Awake/Core/APIHelper.cs
  src/modules/awake/Awake/Core/ExtensionMethods.cs
  src/modules/awake/Awake/Core/InternalConstants.cs
  src/modules/awake/Awake/Core/Models/TrayCommands.cs
  src/modules/awake/Awake/Core/NativeConstants.cs
  src/modules/awake/Awake/Core/NativeMethods.cs
  src/modules/awake/Awake/Core/TrayHelper.cs
  src/modules/awake/Awake/Core/TrayMessageFilter.cs
  src/modules/awake/Awake/NLog.config
  src/modules/awake/Awake/Program.cs
  src/settings-ui/Settings.UI.Library/AwakeProperties.cs
Labels: Product-Awake
