Repository microsoft/PowerToys, pull requests merged in 2022-01, with the labels that each got.

#15186 [Window Walker] Path for elevated process
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/NativeMethods.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/Window.cs
Labels: Product-PowerToys Run, Run-Plugin

#15540 [PT Run] Fix crash in EnvHelper if no machine path var exists
  src/modules/launcher/PowerLauncher/Helper/EnvironmentHelper.cs
Labels: Product-PowerToys Run

#15708 [FZ Editor] Fix text clipping
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
Labels: FancyZones-Editor

#15575 Keep Gcode thumbnails transparency as is
  src/modules/previewpane/GcodePreviewHandler/GcodePreviewHandlerControl.cs
  src/modules/previewpane/GcodeThumbnailProvider/GcodeThumbnailProvider.cs
  src/modules/previewpane/UnitTests-GcodeThumbnailProvider/GcodeThumbnailProviderTests.cs
Labels: Product-File Explorer, Needs-Review

#15441 [PT Run] WindowWalker: Refactor code, fix some bugs, hide UWP non-windows, prepare code for new features
  .github/actions/spell-check/expect.txt
  doc/devdocs/modules/launcher/plugins/windowwalker.md
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/NativeMethods.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/OpenWindows.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/SearchController.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/Window.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/WindowProcess.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Main.cs
Labels: Product-PowerToys Run, Run-Plugin, Issue-Refactoring, Needs-Review

#15568 Adds StlThumbnailProvider
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/expect.txt
  .pipelines/ESRPSigning_core.json
  .pipelines/ci/templates/build-powertoys-steps.yml
  PowerToys.sln
  installer/PowerToysSetup/Product.wxs
  src/common/utils/modulesRegistry.h
  src/modules/previewpane/StlThumbnailProvider/StlThumbnailProvider.cs
  src/modules/previewpane/StlThumbnailProvider/StlThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-StlThumbnailProvider/HelperFiles/sample.stl
  src/modules/previewpane/UnitTests-StlThumbnailProvider/StlThumbnailProviderTests.cs
  src/modules/previewpane/UnitTests-StlThumbnailProvider/UnitTests-StlThumbnailProvider.csproj
  src/modules/previewpane/powerpreview/CLSID.h
  src/modules/previewpane/powerpreview/Resources.resx
  src/modules/previewpane/powerpreview/powerpreview.cpp
  src/settings-ui/Settings.UI.Library/PowerPreviewProperties.cs
  src/settings-ui/Settings.UI.Library/ViewModels/PowerPreviewViewModel.cs
  src/settings-ui/Settings.UI.UnitTests/ViewModelTests/PowerPreview.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/PowerPreviewPage.xaml
  tools/BugReportTool/BugReportTool/RegistryUtils.cpp
Labels: Product-File Explorer

#15629 [PT Run] System plugin: Add UEFI command
  .github/actions/spell-check/expect.txt
  installer/PowerToysSetup/Product.wxs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/firmwareSettings.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Images/firmwareSettings.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Microsoft.PowerToys.Run.Plugin.System.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Win32/NativeMethods.cs
Labels: Product-PowerToys Run, Run-Plugin, Needs-Review

#15472 [PT Run] Uri/Web search plugin crash fix
  .github/actions/spell-check/expect.txt
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/Main.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/NativeMethods.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWPApplication.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Interfaces/IRegistryWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/NativeMethods.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/RegistryWrapper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/UriHelper/ExtendedUriParser.cs
  src/modules/launcher/Wox.Plugin/PluginPair.cs
  src/modules/launcher/Wox.Plugin/SharedCommands/DefaultBrowserInfo.cs
  src/modules/launcher/Wox.Plugin/SharedCommands/NativeMethods.cs
  src/modules/launcher/Wox.Plugin/SharedCommands/ShellCommand.cs
  src/modules/launcher/Wox.Plugin/SharedCommands/Win32/NativeMethods.cs
Labels: Needs-Review

#15733 [AlwaysOnTop] Release/recreate borders instead of hiding/showing
  .github/actions/spell-check/expect.txt
  src/modules/alwaysontop/AlwaysOnTop/AlwaysOnTop.cpp
  src/modules/alwaysontop/AlwaysOnTop/AlwaysOnTop.h
  src/modules/alwaysontop/AlwaysOnTop/WindowBorder.cpp
  src/modules/alwaysontop/AlwaysOnTop/WindowBorder.h
Labels: Needs-Review
