Repository microsoft/PowerToys, pull requests merged in 2022-09, with the labels that each got.

#20006 [AlwaysOnTop] Fix: Border stays after moving window to another desktop
  src/modules/alwaysontop/AlwaysOnTop/AlwaysOnTop.cpp
  src/modules/alwaysontop/AlwaysOnTop/AlwaysOnTop.h
Labels: Needs-Review

#19592 [Settings] Change icons and text
  src/modules/imageresizer/ui/Views/InputPage.xaml
  src/modules/powerrename/PowerRenameUILib/MainWindow.xaml
  src/settings-ui/Settings.UI/Controls/ShortcutControl/ShortcutControl.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/AlwaysOnTopPage.xaml
  src/settings-ui/Settings.UI/Views/AwakePage.xaml
  src/settings-ui/Settings.UI/Views/ColorPickerPage.xaml
  src/settings-ui/Settings.UI/Views/FancyZonesPage.xaml
  src/settings-ui/Settings.UI/Views/GeneralPage.xaml
  src/settings-ui/Settings.UI/Views/ImageResizerPage.xaml
  src/settings-ui/Settings.UI/Views/KeyboardManagerPage.xaml
  src/settings-ui/Settings.UI/Views/MouseUtilsPage.xaml
  src/settings-ui/Settings.UI/Views/PowerLauncherPage.xaml
  src/settings-ui/Settings.UI/Views/ShortcutGuidePage.xaml
  src/settings-ui/Settings.UI/Views/VideoConference.xaml
Labels: Product-Settings, Area-User Interface

#20271 [TextExtractor] Fix redundant screen select after mouse right click (#20141)
  src/modules/PowerOCR/PowerOCR/OCROverlay.xaml.cs
Labels: Issue-Bug

#20164 [Settings] Removed `muxc` prefix
  .github/actions/spell-check/expect.txt
  src/modules/powerrename/PowerRenameUILib/App.xaml
  src/modules/powerrename/PowerRenameUILib/MainWindow.xaml
  src/settings-ui/Settings.UI/Controls/ColorPickerButton.xaml
  src/settings-ui/Settings.UI/Controls/ShortcutControl/ShortcutControl.xaml
  src/settings-ui/Settings.UI/Controls/ShortcutControl/ShortcutDialogContentControl.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeShellPage.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeWhatsNew.xaml
  src/settings-ui/Settings.UI/Themes/SettingsExpanderStyles.xaml
  src/settings-ui/Settings.UI/Views/AwakePage.xaml
  src/settings-ui/Settings.UI/Views/FancyZonesPage.xaml
  src/settings-ui/Settings.UI/Views/GeneralPage.xaml
  src/settings-ui/Settings.UI/Views/ImageResizerPage.xaml
  src/settings-ui/Settings.UI/Views/MeasureToolPage.xaml
  src/settings-ui/Settings.UI/Views/MouseUtilsPage.xaml
  src/settings-ui/Settings.UI/Views/PowerAccentPage.xaml
  src/settings-ui/Settings.UI/Views/PowerLauncherPage.xaml
  src/settings-ui/Settings.UI/Views/PowerPreviewPage.xaml
  src/settings-ui/Settings.UI/Views/PowerRenamePage.xaml
  src/settings-ui/Settings.UI/Views/ShellPage.xaml
  src/settings-ui/Settings.UI/Views/ShortcutGuidePage.xaml
  src/settings-ui/Settings.UI/Views/VideoConference.xaml
Labels: Product-Settings, Issue-Refactoring

#20356 [QuickAccent] Fixed ß uppercase bug
  src/modules/poweraccent/PowerAccent.Core/PowerAccent.cs
Labels: Needs-Review

#20358 Improve the icon shown for app execution aliases.
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Utils/ReparsePoint.cs
Labels: Product-PowerToys Run

#20659 [Installer] Clarify dotnet installation step name
  installer/PowerToysSetup/PowerToys.wxs
Labels: Needs-Review

#20195 Settings: Fixing Checkbox margins
  src/settings-ui/Settings.UI/Controls/CheckBoxWithDescriptionControl.cs
  src/settings-ui/Settings.UI/Views/PowerLauncherPage.xaml
Labels: Product-Settings, Good to merge

#20350 Power Launcher fix Firefox command path
  src/modules/launcher/Wox.Plugin/Common/DefaultBrowserInfo.cs
Labels: Needs-Review

#20064 New implementation of fuzzy string matching v2
  src/modules/launcher/Wox.Infrastructure/StringMatcher.cs
  src/modules/launcher/Wox.Test/FuzzyMatcherTest.cs
Labels: Needs-Review

#20756 Make QA strings less ambiguous
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/PowerAccentPage.xaml
Labels: Product-Settings

#20291 ColorPicker-17636: Fix warning "Failed to get ... mouse position-1,1"
  src/modules/colorPicker/ColorPickerUI/Behaviors/AppearAnimationBehavior.cs
  src/modules/colorPicker/ColorPickerUI/Mouse/IMouseInfoProvider.cs
  src/modules/colorPicker/ColorPickerUI/Mouse/MouseInfoProvider.cs
  src/modules/colorPicker/ColorPickerUI/ViewModels/MainViewModel.cs
Labels: Issue-Bug, Needs-Review
