Repository microsoft/PowerToys, pull requests merged in 2023-06, with the labels that each got.

#25790 Add multiplication and division signs to Languages.cs
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.h
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.idl
Labels: Needs-Review, Product-Quick Accent, Revisit-0.71

#25992 [Chore] Bump CommunityToolkit.Mvvm to 8.2.0
  Directory.Packages.props
  NOTICE.md
  src/modules/Hosts/Hosts/Helpers/HostsService.cs
  src/modules/Hosts/Hosts/Models/Entry.cs
  src/modules/Hosts/Hosts/ViewModels/MainViewModel.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/WebBrowserPreviewer/WebBrowserPreviewer.cs
Labels: Revisit-0.71

#25978 Runner]updating and bug report lags
  src/runner/UpdateUtils.cpp
  src/runner/settings_window.cpp
  src/runner/tray_icon.cpp
Labels: Revisit-0.71

#26019 [Hosts] Add Keyboard Shortcuts
  src/modules/Hosts/Hosts/MainWindow.xaml.cs
  src/modules/Hosts/Hosts/Strings/en-us/Resources.resw
  src/modules/Hosts/Hosts/Views/MainPage.xaml
  src/modules/Hosts/Hosts/Views/MainPage.xaml.cs
Labels: Revisit-0.71

#26000 [Chore] Upgrading to WinUIEx 2.2
  Directory.Packages.props
  NOTICE.md
  src/modules/FileLocksmith/FileLocksmithUI/MainWindow.xaml
  src/modules/Hosts/Hosts/MainWindow.xaml
  src/modules/peek/Peek.UI/MainWindow.xaml
  src/modules/peek/Peek.UI/Views/TitleBar.xaml.cs
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.xaml
Labels: Revisit-0.71

#26325 [QuickAccent]Add opening exclamation mark to catalan and spanish language
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
Labels: Revisit-0.71

#26328 [Monaco] Switch context menu items
  src/common/FilePreviewCommon/index.html
Labels: Revisit-0.71

#26331 [Monaco] Add support for gitignore files
  installer/PowerToysSetup/generateFileList.ps1
  src/common/FilePreviewCommon/FilePreviewCommon.csproj
  src/common/FilePreviewCommon/customLanguages/gitignore.js
  src/common/FilePreviewCommon/monacoSpecialLanguages.js
  src/common/FilePreviewCommon/monaco_languages.json
Labels: Revisit-0.71

#26495 [Hosts] Encoding setting
  src/modules/Hosts/Hosts.Tests/HostsServiceTest.cs
  src/modules/Hosts/Hosts/Helpers/HostsService.cs
  src/modules/Hosts/Hosts/Settings/IUserSettings.cs
  src/modules/Hosts/Hosts/Settings/UserSettings.cs
  src/settings-ui/Settings.UI.Library/Enumerations/HostsAdditionalLinesPosition.cs
  src/settings-ui/Settings.UI.Library/Enumerations/HostsEncoding.cs
  src/settings-ui/Settings.UI.Library/HostsProperties.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/HostsViewModel.cs
  src/settings-ui/Settings.UI/Views/HostsPage.xaml
Labels: Revisit-0.71

#26446 add the section sign (U+00A7) to the menu for S in Quick Accent
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
Labels: Revisit-0.71

#25753 Fixed singleton crash when launching a second PT runner process
  src/runner/main.cpp
Labels: Needs-Review, Revisit-0.71

#26292 [Image Resizer] HandleEnterKeyPress event added for image resizer.
  src/modules/imageresizer/ui/ViewModels/InputViewModel.cs
  src/modules/imageresizer/ui/Views/InputPage.xaml
  src/modules/imageresizer/ui/Views/InputPage.xaml.cs
Labels: Revisit-0.71

#25936 [Settings] Mica & modern titlebar
  Directory.Packages.props
  NOTICE.md
  src/settings-ui/Settings.UI/App.xaml
  src/settings-ui/Settings.UI/App.xaml.cs
  src/settings-ui/Settings.UI/Controls/SettingsPageControl/SettingsPageControl.xaml
  src/settings-ui/Settings.UI/MainWindow.xaml
  src/settings-ui/Settings.UI/MainWindow.xaml.cs
  src/settings-ui/Settings.UI/OOBE/Views/OobeShellPage.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Settings.UI/OobeWindow.xaml
  src/settings-ui/Settings.UI/OobeWindow.xaml.cs
  src/settings-ui/Settings.UI/PowerToys.Settings.csproj
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/GeneralPage.xaml.cs
  src/settings-ui/Settings.UI/Views/ShellPage.xaml
  src/settings-ui/Settings.UI/Views/ShellPage.xaml.cs
Labels: Revisit-0.71

#23146 [ColorPicker] Store color history in a separated file
  src/modules/colorPicker/ColorPickerUI/Settings/UserSettings.cs
  src/settings-ui/Settings.UI.Library/ColorPickerProperties.cs
  src/settings-ui/Settings.UI.Library/ColorPickerSettings.cs
Labels: Needs-Review, Revisit-0.71

#26079 [Fancy Zones] Middle click to toggle spanning multiple zones
  src/modules/fancyzones/FancyZonesLib/DraggingState.cpp
  src/modules/fancyzones/FancyZonesLib/DraggingState.h
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/FancyZonesLib/MouseButtonsHook.cpp
  src/modules/fancyzones/FancyZonesLib/MouseButtonsHook.h
  src/modules/fancyzones/FancyZonesLib/SecondaryMouseButtonsHook.cpp
  src/modules/fancyzones/FancyZonesLib/SecondaryMouseButtonsHook.h
Labels: Revisit-0.71

#26950 Upgrading to latest Microsoft.Windows.Compatibility
  Directory.Packages.props
  NOTICE.md
Labels: Needs-Review

#26449 [Settings] Reset Activation Key to Default Value
  src/settings-ui/Settings.UI.Library/ColorPickerProperties.cs
  src/settings-ui/Settings.UI.Library/ColorPickerPropertiesVersion1.cs
  src/settings-ui/Settings.UI.Library/MeasureToolProperties.cs
  src/settings-ui/Settings.UI.Library/MouseHighlighterProperties.cs
  src/settings-ui/Settings.UI.Library/MouseJumpProperties.cs
  src/settings-ui/Settings.UI.Library/MousePointerCrosshairsProperties.cs
  src/settings-ui/Settings.UI.Library/PastePlainProperties.cs
  src/settings-ui/Settings.UI.Library/PeekProperties.cs
  src/settings-ui/Settings.UI.Library/PowerLauncherProperties.cs
  src/settings-ui/Settings.UI.Library/PowerOcrProperties.cs
  src/settings-ui/Settings.UI.Library/ShortcutGuideProperties.cs
  src/settings-ui/Settings.UI.Library/VideoConferenceConfigProperties.cs
  src/settings-ui/Settings.UI/Controls/ShortcutControl/ShortcutControl.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/ColorPickerViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/MeasureToolViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/MouseUtilsViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PastePlainViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PeekViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PowerLauncherViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PowerOcrViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/ShortcutGuideViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/VideoConferenceViewModel.cs
Labels: Revisit-0.71

#26924 [Peek] Window improvements
  src/modules/peek/Peek.FilePreviewer/Controls/UnsupportedFilePreview/InformationalPreviewControl.xaml
  src/modules/peek/Peek.UI/MainWindow.xaml
Labels: Idea-Enhancement, Area-User Interface, Product-Peek, Possible for 0.71

#27011 [PTRun]Remove unneeded registry key from installer
  installer/PowerToysSetup/Run.wxs
  src/common/notifications/notifications.cpp
  src/common/notifications/notifications.h
  tools/BugReportTool/BugReportTool/RegistryUtils.cpp
Labels: Possible for 0.71

#26808 [QuickAccent] A check is added to applications running under other ap…
  src/common/utils/excluded_apps.h
  src/modules/MouseUtils/FindMyMouse/FindMyMouse.cpp
  src/modules/alwaysontop/AlwaysOnTop/AlwaysOnTop.cpp
  src/modules/fancyzones/FancyZonesLib/WindowUtils.cpp
  src/modules/fancyzones/FancyZonesLib/WindowUtils.h
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.cpp
Labels: Possible for 0.71

#26862 [Hosts] Handle maximum of 9 hosts per entry
  src/modules/Hosts/Hosts.Tests/EntryTest.cs
  src/modules/Hosts/Hosts.Tests/HostsServiceTest.cs
  src/modules/Hosts/Hosts/Consts.cs
  src/modules/Hosts/Hosts/Helpers/HostsService.cs
  src/modules/Hosts/Hosts/Helpers/IHostsService.cs
  src/modules/Hosts/Hosts/Helpers/ValidationHelper.cs
  src/modules/Hosts/Hosts/Models/Entry.cs
  src/modules/Hosts/Hosts/Models/HostsData.cs
  src/modules/Hosts/Hosts/Strings/en-us/Resources.resw
  src/modules/Hosts/Hosts/ViewModels/MainViewModel.cs
  src/modules/Hosts/Hosts/Views/MainPage.xaml
Labels: Possible for 0.71

#26842 [Registry Preview] * Two settings folders reduces to one.
  src/modules/registrypreview/RegistryPreviewExt/RegistryPreviewExt.rc
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.Events.cs
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.Utilities.cs
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.xaml.cs
Labels: Possible for 0.71

#26839 [Peek] Support for archives
  .github/actions/spell-check/expect.txt
  Directory.Packages.props
  NOTICE.md
  src/modules/peek/Peek.Common/Converters/BytesToStringConverter.cs
  src/modules/peek/Peek.FilePreviewer/Controls/ArchiveControl.xaml
  src/modules/peek/Peek.FilePreviewer/Controls/ArchiveControl.xaml.cs
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Peek.FilePreviewer.csproj
  src/modules/peek/Peek.FilePreviewer/Previewers/Archives/ArchivePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Archives/Helpers/IconCache.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Archives/Models/ArchiveItem.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Archives/Models/ArchiveItemTemplateSelector.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Archives/Models/ArchiveItemType.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Helpers/BitmapHelper.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Interfaces/IArchivePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/MediaPreviewer/Helpers/NativeMethods.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/PreviewerFactory.cs
  src/modules/peek/Peek.UI/Strings/en-us/Resources.resw
Labels: Possible for 0.71

#27034 [Run] Fix environment helper for nested environment variables
  src/modules/launcher/PowerLauncher/Helper/EnvironmentHelper.cs
Labels: Product-PowerToys Run, Needs-Review

#27105 Bump System.Management to 7.0.2
  Directory.Packages.props
  NOTICE.md
Labels: Possible for 0.71

#27110 [Peek] Handle ThemeListener ctor exceptions
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
Labels: Possible for 0.71

#27089 Update comment in EnvironmentHelper.cs
  src/modules/launcher/PowerLauncher/Helper/EnvironmentHelper.cs
Labels: Possible for 0.71

#27058 [Installer] add priority settings to the task scheduler PT task.
  installer/PowerToysSetupCustomActions/CustomAction.cpp
  src/runner/auto_start_helper.cpp
Labels: Possible for 0.71

#27122 Revert back [File Explorer Add-ons] Fix file preview pane flickering fix
  src/common/Themes/theme_helpers.cpp
  src/modules/previewpane/MarkdownPreviewHandler/MarkdownPreviewHandlerControl.cs
  src/modules/previewpane/MarkdownPreviewHandler/Settings.cs
  src/modules/previewpane/MarkdownPreviewHandlerCpp/MarkdownPreviewHandler.cpp
  src/modules/previewpane/MarkdownPreviewHandlerCpp/MarkdownPreviewHandlerCpp.vcxproj
  src/modules/previewpane/MonacoPreviewHandler/MonacoPreviewHandlerControl.cs
  src/modules/previewpane/MonacoPreviewHandler/Settings.cs
  src/modules/previewpane/MonacoPreviewHandlerCpp/MonacoPreviewHandler.cpp
  src/modules/previewpane/MonacoPreviewHandlerCpp/MonacoPreviewHandlerCpp.vcxproj
  src/modules/previewpane/SvgPreviewHandler/Settings.cs
  src/modules/previewpane/SvgPreviewHandler/SvgPreviewControl.cs
  src/modules/previewpane/SvgPreviewHandlerCpp/SvgPreviewHandler.cpp
  src/modules/previewpane/SvgPreviewHandlerCpp/SvgPreviewHandlerCpp.vcxproj
  src/modules/previewpane/powerpreview/powerpreviewConstants.h
Labels: Possible for 0.71
