Repository microsoft/PowerToys, pull requests merged in 2023-03, with the labels that each got.

#23685 Add information about localisation in contributing.md
  CONTRIBUTING.md
Labels: Needs-Review

#24327 [Settings / OOBE] Adding Mica
  src/settings-ui/Settings.UI/MainWindow.xaml
  src/settings-ui/Settings.UI/MainWindow.xaml.cs
  src/settings-ui/Settings.UI/OOBE/Views/OobeShellPage.xaml
  src/settings-ui/Settings.UI/OobeWindow.xaml
  src/settings-ui/Settings.UI/OobeWindow.xaml.cs
  src/settings-ui/Settings.UI/Views/ShellPage.xaml
Labels: Good to merge

#24183 Awake vNext - `NOBLE_SIX_02162023`
  .github/actions/spell-check/expect.txt
  src/modules/awake/Awake/Core/APIHelper.cs
  src/modules/awake/Awake/Core/Models/BatteryReportingScale.cs
  src/modules/awake/Awake/Core/Models/ControlType.cs
  src/modules/awake/Awake/Core/Models/TrayCommands.cs
  src/modules/awake/Awake/Core/TrayHelper.cs
  src/modules/awake/Awake/Core/TrayMessageFilter.cs
  src/modules/awake/Awake/NLog.config
  src/modules/awake/Awake/Program.cs
  src/modules/awake/Awake/Telemetry/AwakeExpirableKeepAwakeEvent.cs
  src/modules/awake/Awake/Telemetry/AwakeNoKeepAwakeEvent.cs
  src/settings-ui/Settings.UI.Library/AwakeProperties.cs
  src/settings-ui/Settings.UI.Library/AwakeSettings.cs
  src/settings-ui/Settings.UI.Library/Interfaces/ISettingsRepository`1.cs
  src/settings-ui/Settings.UI.Library/SettingsRepository`1.cs
  src/settings-ui/Settings.UI.UnitTests/BackwardsCompatibility/BackCompatTestProperties.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/AwakeViewModel.cs
  src/settings-ui/Settings.UI/Views/AwakePage.xaml
  src/settings-ui/Settings.UI/Views/AwakePage.xaml.cs
Labels: Product-Awake, Needs-Review

#24630 [Mouse Jump] - screenshot performance (#24607)
  .github/actions/spell-check/expect.txt
  src/modules/MouseUtils/MouseJumpUI.UnitTests/Drawing/RectangleInfoTests.cs
  src/modules/MouseUtils/MouseJumpUI.UnitTests/Drawing/SizeInfoTests.cs
  src/modules/MouseUtils/MouseJumpUI.UnitTests/Helpers/DrawingHelperTests.cs
  src/modules/MouseUtils/MouseJumpUI.UnitTests/Helpers/LayoutHelperTests.cs
  src/modules/MouseUtils/MouseJumpUI.UnitTests/Helpers/MouseHelperTests.cs
  src/modules/MouseUtils/MouseJumpUI/Drawing/Models/LayoutConfig.cs
  src/modules/MouseUtils/MouseJumpUI/Drawing/Models/LayoutInfo.cs
  src/modules/MouseUtils/MouseJumpUI/Drawing/Models/PaddingInfo.cs
  src/modules/MouseUtils/MouseJumpUI/Drawing/Models/PointInfo.cs
  src/modules/MouseUtils/MouseJumpUI/Drawing/Models/RectangleInfo.cs
  src/modules/MouseUtils/MouseJumpUI/Drawing/Models/SizeInfo.cs
  src/modules/MouseUtils/MouseJumpUI/Helpers/DrawingHelper.cs
  src/modules/MouseUtils/MouseJumpUI/Helpers/LayoutHelper.cs
  src/modules/MouseUtils/MouseJumpUI/Helpers/Logger.cs
  src/modules/MouseUtils/MouseJumpUI/Helpers/MouseHelper.cs
  src/modules/MouseUtils/MouseJumpUI/Helpers/NativeMethods.cs
  src/modules/MouseUtils/MouseJumpUI/MainForm.Designer.cs
  src/modules/MouseUtils/MouseJumpUI/MainForm.cs
  src/modules/MouseUtils/MouseJumpUI/MouseJumpUI.csproj
  src/modules/MouseUtils/MouseJumpUI/NativeMethods/Core/BOOL.cs
  src/modules/MouseUtils/MouseJumpUI/NativeMethods/Core/HDC.cs
  src/modules/MouseUtils/MouseJumpUI/NativeMethods/Core/HWND.cs
  src/modules/MouseUtils/MouseJumpUI/NativeMethods/Gdi32/Gdi32.ROP_CODE.cs
  src/modules/MouseUtils/MouseJumpUI/NativeMethods/Gdi32/Gdi32.STRETCH_BLT_MODE.cs
  src/modules/MouseUtils/MouseJumpUI/NativeMethods/Gdi32/Gdi32.SetStretchBltMode.cs
  src/modules/MouseUtils/MouseJumpUI/NativeMethods/Gdi32/Gdi32.StretchBlt.cs
  src/modules/MouseUtils/MouseJumpUI/NativeMethods/Libraries.cs
  src/modules/MouseUtils/MouseJumpUI/NativeMethods/User32/User32.GetDesktopWindow.cs
  src/modules/MouseUtils/MouseJumpUI/NativeMethods/User32/User32.GetWindowDC.cs
  src/modules/MouseUtils/MouseJumpUI/NativeMethods/User32/User32.ReleaseDC.cs
  src/modules/MouseUtils/MouseJumpUI/NativeWrappers/Gdi32/Gdi32.SetStretchBltMode.cs
  src/modules/MouseUtils/MouseJumpUI/NativeWrappers/Gdi32/Gdi32.StretchBlt.cs
  src/modules/MouseUtils/MouseJumpUI/NativeWrappers/User32/User32.GetDesktopWindow.cs
  src/modules/MouseUtils/MouseJumpUI/NativeWrappers/User32/User32.GetWindowDC.cs
  src/modules/MouseUtils/MouseJumpUI/NativeWrappers/User32/User32.ReleaseDC.cs
Labels: Needs-Review

#24598 [Power Rename] Select all while filter is active
  src/modules/powerrename/PowerRenameUILib/MainWindow.xaml.cpp
Labels: Product-PowerRename, Good to merge

#24413 Fix ColorPicker detecting grid
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/expect.txt
  src/modules/colorPicker/ColorPickerUI/Mouse/MouseInfoProvider.cs
  src/modules/colorPicker/ColorPickerUI/NativeMethods.cs
  src/modules/colorPicker/ColorPickerUI/Shaders/GridShader.cso
  src/modules/colorPicker/ColorPickerUI/Shaders/GridShader.fx
Labels: Needs-Review

#24376 Remove localizations
  src/modules/FileLocksmith/FileLocksmithLibInterop/interop.cpp
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWPApplication.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/TimeAndDateHelper.cs
  src/modules/launcher/PowerLauncher/Helper/DragDataObject.cs
  src/modules/launcher/Wox.Infrastructure/Exception/ExceptionFormatter.cs
  src/modules/launcher/Wox.Plugin/Common/Win32/NativeMethods.cs
  src/modules/pasteplain/PastePlainModuleInterface/dllmain.cpp
  src/modules/previewpane/common/Utilities/SvgPreviewHandlerHelper.cs
  src/settings-ui/Settings.UI/OOBE/Views/OobeWhatsNew.xaml.cs
  src/tests/win-app-driver/README.md
Labels: Issue-Docs

#24901 Fix FancyZones tools build
  tools/FancyZone_HitTest/FancyZone_HitTest/App.xaml.cs
  tools/FancyZone_HitTest/FancyZone_HitTest/AssemblyInfo.cs
  tools/FancyZone_HitTest/FancyZone_HitTest/MainWindow.xaml.cs
  tools/FancyZone_HitTest/FancyZone_HitTest/Utilities.cs
  tools/FancyZone_HitTest/FancyZone_HitTest/VisualData.cs
  tools/FancyZone_HitTest/FancyZone_HitTest/VisualDataComparer.cs
  tools/FancyZone_HitTest/FancyZone_HitTest/VisualDataComparer`1.cs
  tools/FancyZones_DrawLayoutTest/FancyZones_DrawLayoutTest.cpp
  tools/FancyZones_DrawLayoutTest/FancyZones_DrawLayoutTest.vcxproj
  tools/FancyZones_zonable_tester/FancyZones_zonable_tester.vcxproj
  tools/FancyZones_zonable_tester/main.cpp
Labels: Needs-Review

#24735 Settings: small tweaks to VCM page
  src/settings-ui/Settings.UI/Views/VideoConference.xaml
Labels: Needs-Review

#24977 [PR Fix] Update the Awake settings to be responsive
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/AwakePage.xaml
Labels: Needs-Review

#24903 Add devdocs for tools
  .github/actions/spell-check/expect.txt
  doc/devdocs/tools/bug-report-tool.md
  doc/devdocs/tools/build-tools.md
  doc/devdocs/tools/clean-up-tool.md
  doc/devdocs/tools/fancyzone-hit-test.md
  doc/devdocs/tools/fancyzones-draw-layout-test.md
  doc/devdocs/tools/fancyzones-zonable-tester.md
  doc/devdocs/tools/monitor-info-report.md
  doc/devdocs/tools/readme.md
  doc/devdocs/tools/styles-report-tool.md
  doc/devdocs/tools/verification-scripts.md
  doc/devdocs/tools/webcam-report-tool.md
  doc/images/tools/fancyzone-hit-test.png
  doc/images/tools/fancyzones-zonable-tester.png
Labels: Needs-Review

#25020 Add filename-compatible date & time format
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/ImageTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/QueryTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/TimeDateResultTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/AvailableResultsList.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.resx
Labels: Idea-Enhancement, Run-Plugin, Needs-Review

#25060 [Settings] Shortcut edit dialog: Fix bugs
  src/settings-ui/Settings.UI.Library/HotkeySettingsControlHook.cs
  src/settings-ui/Settings.UI/Controls/ShortcutControl/ShortcutControl.xaml.cs
  src/settings-ui/Settings.UI/Controls/ShortcutControl/ShortcutDialogContentControl.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Issue-Bug, Product-Settings, Area-User Interface

#25095 [PT Run] Improve plugin loading error
  src/modules/launcher/Wox.Plugin/PluginPair.cs
  src/modules/launcher/Wox.Plugin/Properties/Resources.Designer.cs
  src/modules/launcher/Wox.Plugin/Properties/Resources.resx
Labels: Idea-Enhancement, Product-PowerToys Run

#25098 [Settings > PastePlain] Add shortcut warning
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PastePlainViewModel.cs
  src/settings-ui/Settings.UI/Views/PastePlainPage.xaml
Labels: Idea-Enhancement, Product-Settings, Product-Paste as plain text

#24943 [Peek] Implementation of a performant and reliable Neighboring Files Query
  src/modules/peek/Peek.Common/Helpers/MathHelper.cs
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Peek.FilePreviewer.csproj
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/ImagePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Interfaces/IBrowserPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Interfaces/IImagePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Interfaces/IPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Interfaces/IUnsupportedFilePreviewer.cs
  src/modules/peek/Peek.UI/App.xaml.cs
  src/modules/peek/Peek.UI/Extensions/IShellItemExtensions.cs
  src/modules/peek/Peek.UI/FolderItemsQuery.cs
  src/modules/peek/Peek.UI/Helpers/FileExplorerHelper.cs
  src/modules/peek/Peek.UI/MainWindow.xaml
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/MainWindowViewModel.cs
  src/modules/peek/Peek.UI/Models/NeighboringItems.cs
  src/modules/peek/Peek.UI/Models/NeighboringItemsEnumerator.cs
  src/modules/peek/Peek.UI/Peek.UI.csproj
  src/modules/peek/Peek.UI/Services/NeighboringItemsQuery.cs
Labels: Product-Peek

#24927 [Peek] Pin the window position
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/Strings/en-us/Resources.resw
  src/modules/peek/Peek.UI/Views/TitleBar.xaml
  src/modules/peek/Peek.UI/Views/TitleBar.xaml.cs
Labels: Product-Peek
