Repository microsoft/PowerToys, pull requests merged in 2023-01, with the labels that each got.

#22795 [Analyzers][CPP] Turn on warning 26403
  CppRuleSet.ruleset
  src/modules/MeasureTool/MeasureToolCore/ScreenCapturing.cpp
  src/modules/videoconference/VideoConferenceModule/VideoConferenceModule.cpp
Labels: in for 0.66

#22847 [Quick Accent] add toggle switch to sort characters by usage frequency
  src/modules/poweraccent/PowerAccent.Core/PowerAccent.cs
  src/modules/poweraccent/PowerAccent.Core/Services/SettingsService.cs
  src/modules/poweraccent/PowerAccent.Core/Tools/CharactersUsageInfo.cs
  src/settings-ui/Settings.UI.Library/PowerAccentProperties.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
  src/settings-ui/Settings.UI/Views/PowerAccentPage.xaml
Labels: Needs-Review

#23083 [Peek] Move check if higher quality image is already loaded to the exact lin…
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/ImagePreviewer.cs
Labels: Product-Peek

#23094 0.66 changelog
  README.md
Labels: Good to merge, in for 0.66

#23014 Updating the experimentation to always compile experiment locally via mocked objects
  .github/actions/spell-check/expect.txt
  src/common/AllExperiments/AllExperiments.csproj
  src/common/AllExperiments/Experiments.cs
  src/common/AllExperiments/Experiments_Inert.cs
  src/common/AllExperiments/Microsoft.VariantAssignment/Client/VariantAssignmentClientExtensionMethods.cs
  src/common/AllExperiments/Microsoft.VariantAssignment/Client/VariantAssignmentServiceClient.cs
  src/common/AllExperiments/Microsoft.VariantAssignment/Contract/EmptyVariantAssignmentResponse.cs
  src/common/AllExperiments/Microsoft.VariantAssignment/Contract/IAssignedVariant.cs
  src/common/AllExperiments/Microsoft.VariantAssignment/Contract/IFeatureVariable.cs
  src/common/AllExperiments/Microsoft.VariantAssignment/Contract/IVariantAssignmentProvider.cs
  src/common/AllExperiments/Microsoft.VariantAssignment/Contract/IVariantAssignmentRequest.cs
  src/common/AllExperiments/Microsoft.VariantAssignment/Contract/IVariantAssignmentResponse.cs
  src/common/AllExperiments/Microsoft.VariantAssignment/Contract/TreatmentAssignmentServiceResponse.cs
  src/common/AllExperiments/Microsoft.VariantAssignment/Contract/VariantAssignmentClientSettings.cs
  src/common/AllExperiments/Microsoft.VariantAssignment/Contract/VariantAssignmentRequest.cs
  src/common/AllExperiments/Microsoft.VariantAssignment/Contract/VariantAssignmentServiceResponse.cs
Labels: Needs-Review

#20469 [PowerAccent] Add dashes
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.h
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.idl
Labels: Needs-Review

#23054 [Monaco Preview] JSON formatting: don't escape HTML-sensitive characters
  src/modules/previewpane/MonacoPreviewHandler/Formatters/JsonFormatter.cs
Labels: Needs-Review

#23000 Sync'ing notice.md and NuGet packages
  .pipelines/ci/templates/build-powertoys-steps.yml
  .pipelines/verifyNoticeMdAgainstNugetPackages.ps1
  NOTICE.md
Labels: Needs-Review

#22965 Added option to tab through results directly instead of context buttons
  src/modules/launcher/PowerLauncher/SettingsReader.cs
  src/modules/launcher/PowerLauncher/ViewModel/ResultsViewModel.cs
  src/modules/launcher/Wox.Infrastructure/UserSettings/PowerToysRunSettings.cs
  src/settings-ui/Settings.UI.Library/PowerLauncherProperties.cs
  src/settings-ui/Settings.UI.UnitTests/ViewModelTests/PowerLauncherViewModelTest.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerLauncherViewModel.cs
  src/settings-ui/Settings.UI/Views/PowerLauncherPage.xaml
Labels: Idea-Enhancement, Product-PowerToys Run

#23045 [PT Run > System plugin] Recycle Bin command: Allow opening RB + Improvements
  .github/actions/spell-check/expect.txt
  doc/devdocs/modules/launcher/plugins/system.md
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/ImageTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System.UnitTests/QueryTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/Commands.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/SystemPluginContext.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.resx
  src/modules/launcher/Wox.Plugin/Common/Win32/NativeMethods.cs
  src/modules/launcher/Wox.Plugin/Common/Win32/Win32Helpers.cs
Labels: Idea-Enhancement, Product-PowerToys Run, Run-Plugin, Needs-Review

#23102 [Build][Installer] Automatically add list of .NET Runtime deps to Installer during build
  .github/actions/spell-check/expect.txt
  .pipelines/release.yml
  installer/PowerToysSetup/PowerToysInstaller.wixproj
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetupCustomActions/DepsFilesLists.h
  installer/PowerToysSetupCustomActions/PowerToysSetupCustomActions.vcxproj
  installer/PowerToysSetupCustomActions/parseRuntimes.ps1
Labels: Area-Setup/Install, Area-Build, Needs-Review

#23044 [Quick Accent] Add combining characters
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.h
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.idl
Labels: Needs-Review

#23082 [Peek] Fix opening Peek when FE window is set to full name path
  src/modules/peek/Peek.UI/Helpers/FileExplorerHelper.cs
Labels: Product-Peek

#23028 [FancyZones] Improve code quality (part 1)
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/FancyZonesLib/NotificationUtil.h
  src/modules/fancyzones/FancyZonesLib/WindowMoveHandler.cpp
  src/modules/fancyzones/FancyZonesLib/WindowMoveHandler.h
  src/modules/fancyzones/FancyZonesLib/WindowUtils.cpp
  src/modules/fancyzones/FancyZonesLib/WindowUtils.h
  src/modules/fancyzones/FancyZonesLib/util.cpp
  src/modules/fancyzones/FancyZonesLib/util.h
Labels: Issue-Refactoring

#23030 [FancyZones] Improve code quality (part 2)
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/FancyZonesLib/HighlightedZones.cpp
  src/modules/fancyzones/FancyZonesLib/HighlightedZones.h
  src/modules/fancyzones/FancyZonesLib/MonitorUtils.cpp
  src/modules/fancyzones/FancyZonesLib/MonitorUtils.h
  src/modules/fancyzones/FancyZonesLib/WorkArea.cpp
  src/modules/fancyzones/FancyZonesLib/WorkArea.h
  src/modules/fancyzones/FancyZonesTests/UnitTests/WorkArea.Spec.cpp
Labels: Issue-Refactoring

#23489 [Peek] Fix selecting files from the correct focused opened File Explorer tab & from Desktop
  installer/PowerToysSetup/Product.wxs
  src/modules/peek/Peek.Common/Extensions/IPropertyStoreExtensions.cs
  src/modules/peek/Peek.Common/Helpers/PropertyStoreHelper.cs
  src/modules/peek/Peek.Common/Models/Blob.cs
  src/modules/peek/Peek.Common/Models/CALPWSTR.cs
  src/modules/peek/Peek.Common/Models/FileTime.cs
  src/modules/peek/Peek.Common/Models/IEnumIDList.cs
  src/modules/peek/Peek.Common/Models/IFolderView.cs
  src/modules/peek/Peek.Common/Models/IPropertyStore.cs
  src/modules/peek/Peek.Common/Models/IServiceProvider.cs
  src/modules/peek/Peek.Common/Models/IShellBrowser.cs
  src/modules/peek/Peek.Common/Models/IShellFolder2.cs
  src/modules/peek/Peek.Common/Models/IShellItem.cs
  src/modules/peek/Peek.Common/Models/IShellItem2.cs
  src/modules/peek/Peek.Common/Models/IShellItemArray.cs
  src/modules/peek/Peek.Common/Models/IShellView.cs
  src/modules/peek/Peek.Common/Models/PropVariant.cs
  src/modules/peek/Peek.Common/Models/PropertyKey.cs
  src/modules/peek/Peek.Common/Models/PropertyStoreShellApi.cs
  src/modules/peek/Peek.Common/Models/SHELLDETAILS.cs
  src/modules/peek/Peek.Common/Models/SHFILEINFO.cs
  src/modules/peek/Peek.Common/Models/Strret.cs
  src/modules/peek/Peek.Common/NativeMethods.json
  src/modules/peek/Peek.Common/NativeMethods.txt
  src/modules/peek/Peek.Common/Peek.Common.csproj
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/Helpers/PropertyHelper.cs
  src/modules/peek/Peek.UI/Extensions/HWNDExtensions.cs
  src/modules/peek/Peek.UI/FolderItemsQuery.cs
  src/modules/peek/Peek.UI/Helpers/FileExplorerHelper.cs
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/Native/NativeMethods.cs
  src/modules/peek/Peek.UI/NativeMethods.txt
Labels: Product-Peek

#23509 [CI] Enhance ARM64 configuration verification
  .github/actions/spell-check/expect.txt
  .pipelines/verifyArm64Configuration.ps1
Labels: Area-Build, Area-ARM64

#23040 [FancyZones] Improve code quality (part 3)
  src/modules/fancyzones/FancyZonesLib/DraggingState.cpp
  src/modules/fancyzones/FancyZonesLib/DraggingState.h
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj
  src/modules/fancyzones/FancyZonesLib/FancyZonesLib.vcxproj.filters
  src/modules/fancyzones/FancyZonesLib/WindowMoveHandler.cpp
  src/modules/fancyzones/FancyZonesLib/WindowMoveHandler.h
  src/modules/fancyzones/FancyZonesLib/WorkArea.cpp
Labels: Issue-Refactoring

#23626 [Build][Installer] Fix Runtime Parsing for .NET Runtime and WPF dependencies
  .github/actions/spell-check/expect.txt
  installer/PowerToysSetup/Awake.wxs
  installer/PowerToysSetup/ColorPicker.wxs
  installer/PowerToysSetup/FancyZones.wxs
  installer/PowerToysSetup/FileExplorerPreview.wxs
  installer/PowerToysSetup/FileLocksmith.wxs
  installer/PowerToysSetup/Hosts.wxs
  installer/PowerToysSetup/ImageResizer.wxs
  installer/PowerToysSetup/MeasureTool.wxs
  installer/PowerToysSetup/PowerAccent.wxs
  installer/PowerToysSetup/Run.wxs
  installer/PowerToysSetup/Settings.wxs
  installer/PowerToysSetup/TextExtractor.wxs
  installer/PowerToysSetupCustomActions/PowerToysSetupCustomActions.vcxproj
  installer/PowerToysSetupCustomActions/parseRuntimes.ps1
Labels: Area-Setup/Install, Area-Build

#23487 [QuickAccent]Added support for Norwegian letters
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
  src/settings-ui/Settings.UI/Views/PowerAccentPage.xaml
Labels: Needs-Review
