Repository microsoft/PowerToys, pull requests merged in 2023-04, with the labels that each got.

#25393 [Awake]Fix crash on negative timezone offsets
  src/settings-ui/Settings.UI.Library/AwakeProperties.cs
  src/settings-ui/Settings.UI.Library/AwakeSettings.cs
Labels: Hot Fix

#25266 [Registry Preview] Fixes in for the command bar in XAML
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.xaml
Labels: Hot Fix

#25257 [Settings][OOBE] Update RemoveInstallerHashesRegex to match new installers list
  src/settings-ui/Settings.UI/OOBE/Views/OobeWhatsNew.xaml.cs
Labels: Hot Fix

#25260 [Registry Preview] Moving to a different API to call the File Picker
  src/modules/registrypreview/RegistryPreviewUI/FileName.cs
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.Events.cs
  src/modules/registrypreview/RegistryPreviewUI/OpenFileName.cs
  src/modules/registrypreview/RegistryPreviewUI/RegistryPreviewUI.csproj
  src/modules/registrypreview/RegistryPreviewUI/SaveFileName.cs
  src/modules/registrypreview/RegistryPreviewUI/Strings/en-US/Resources.resw
Labels: Hot Fix

#25425 [Installer]Add missing xaml noise png assets
  installer/PowerToysSetup/FileLocksmith.wxs
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetup/RegistryPreview.wxs
Labels: Hot Fix

#25529 Update COMMUNITY.md
  .github/actions/spell-check/expect.txt
  COMMUNITY.md
Labels: Needs-Review

#25397 SvgPreviewControl: Add Background so that white .svg are visible
  src/modules/previewpane/SvgPreviewHandler/Settings.cs
  src/modules/previewpane/SvgPreviewHandler/SvgHTMLPreviewGenerator.cs
  src/modules/previewpane/SvgPreviewHandler/SvgPreviewControl.cs
  src/modules/previewpane/SvgPreviewHandler/SvgPreviewHandler.csproj
  src/settings-ui/Settings.UI.Library/Enumerations/SvgPreviewCheckeredShade.cs
  src/settings-ui/Settings.UI.Library/Enumerations/SvgPreviewColorMode.cs
  src/settings-ui/Settings.UI.Library/PowerPreviewProperties.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerPreviewViewModel.cs
  src/settings-ui/Settings.UI/Views/ColorPickerPage.xaml
  src/settings-ui/Settings.UI/Views/PowerPreviewPage.xaml
Labels: Needs-Review

#25579 [Settings] A11y fixes
  Directory.Packages.props
  NOTICE.md
  src/settings-ui/Settings.UI/Views/ColorPickerPage.xaml
Labels: Area-Accessibility, Accessibility [E+D]

#25554 [Registry Preview] Adds "open Registry Editor at this Key" to the Command Bar
  .github/actions/spell-check/expect.txt
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.Events.cs
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.Utilities.cs
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.xaml
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.xaml.cs
  src/modules/registrypreview/RegistryPreviewUI/Strings/en-US/Resources.resw
Labels: Needs-Review

#25537 [Registry Preview] Better parsing for Keys and Values
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.Utilities.cs
  src/modules/registrypreview/RegistryPreviewUI/Strings/en-US/Resources.resw
Labels: Needs-Review

#25535 [Registry Preview] Enables custom caption bar to allow better theme support
  src/modules/registrypreview/RegistryPreviewUI/App.xaml
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.Utilities.cs
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.xaml
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.xaml.cs
  src/modules/registrypreview/RegistryPreviewUI/Strings/en-US/Resources.resw
Labels: Needs-Review
