Repository microsoft/PowerToys, pull requests merged in 2023-12, with the labels that each got.

#30185 [FancyZones] Allow snapping Facebook messenger
  src/modules/fancyzones/FancyZonesLib/FancyZonesWindowProcessing.cpp
  src/modules/fancyzones/FancyZonesTests/UnitTests/WindowProcessingTests.Spec.cpp
Labels: Hot Fix

#30228 [PT Run] Do not get target file icon for .lnk files
  src/modules/launcher/Wox.Infrastructure/Image/WindowsThumbnailProvider.cs
Labels: Hot Fix

#30251 [PT Run] Fix margin when FlowDirection is RightToLeft
  src/modules/launcher/PowerLauncher/LauncherControl.xaml
Labels: Hot Fix

#30237 [PT Run] Fix theme setting
  src/modules/launcher/PowerLauncher/App.xaml.cs
Labels: Hot Fix

#24906 Add information about how to add new languages to monaco
  .github/actions/spell-check/expect.txt
  doc/devdocs/common/FilePreviewCommon.md
  doc/devdocs/common/common.md
  doc/devdocs/common/readme.md
  doc/devdocs/modules/peek/readme.md
  doc/devdocs/modules/powerpreview/monaco/readme.md
Labels: Needs-Review

#29919 Adds QOI support to Peek
  NOTICE.md
  src/common/FilePreviewCommon/FilePreviewCommon.csproj
  src/common/FilePreviewCommon/Formatters/XmlFormatter.cs
  src/common/FilePreviewCommon/GcodeHelper.cs
  src/common/FilePreviewCommon/GcodeThumbnail.cs
  src/common/FilePreviewCommon/GcodeThumbnailFormat.cs
  src/common/FilePreviewCommon/MarkdownHelper.cs
  src/common/FilePreviewCommon/MonacoHelper.cs
  src/common/FilePreviewCommon/QoiImage.cs
  src/modules/peek/Peek.Common/Extensions/IFileSystemItemExtensions.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Helpers/BitmapHelper.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/MediaPreviewer/ImagePreviewer.cs
  src/modules/previewpane/GcodePreviewHandler/GcodePreviewHandler.csproj
  src/modules/previewpane/GcodePreviewHandler/GcodePreviewHandlerControl.cs
  src/modules/previewpane/GcodeThumbnailProvider/GcodeThumbnailProvider.cs
  src/modules/previewpane/GcodeThumbnailProvider/GcodeThumbnailProvider.csproj
  src/modules/previewpane/QoiPreviewHandler/QoiPreviewHandler.csproj
  src/modules/previewpane/QoiPreviewHandler/QoiPreviewHandlerControl.cs
  src/modules/previewpane/QoiThumbnailProvider/QoiThumbnailProvider.cs
  src/modules/previewpane/QoiThumbnailProvider/QoiThumbnailProvider.csproj
  src/modules/previewpane/common/PreviewHandlerCommon.csproj
  src/modules/previewpane/common/Utilities/QoiImage.cs
Labels: revisit-0.77

#28688 [FancyZones] Fix moved to the current active monitor when maximized
  src/modules/fancyzones/FancyZonesLib/MonitorUtils.cpp
  src/modules/fancyzones/FancyZonesLib/WindowUtils.cpp
  src/modules/fancyzones/FancyZonesLib/WindowUtils.h
Labels: Needs-Triage, Needs-Team-Response
