Repository microsoft/PowerToys, pull requests merged in 2023-05, with the labels that each got.

#25759 [CI] Fix for building with Visual Studio 17.6
  Cpp.Build.props
  src/modules/MouseUtils/FindMyMouse/FindMyMouse.cpp
Labels: Needs-Review

#24934 [Run] New PowerToys plugin
  .pipelines/ESRPSigning_core.json
  PowerToys.sln
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetup/Resources.wxs
  installer/PowerToysSetup/Run.wxs
  src/common/Common.UI/SettingsDeepLink.cs
  src/common/interop/interop.cpp
  src/common/interop/shared_constants.h
  src/modules/Hosts/HostsModuleInterface/dllmain.cpp
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Components/Utility.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Components/UtilityHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Components/UtilityKey.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Components/UtilityProvider.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Images/ColorPicker.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Images/FancyZones.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Images/Hosts.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Images/PowerOcr.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Images/PowerToys.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Images/PowerToys.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Images/RegistryPreview.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Images/ScreenRuler.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Images/ShortcutGuide.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Microsoft.PowerToys.Run.Plugin.PowerToys.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/plugin.json
  src/runner/settings_window.cpp
  src/runner/settings_window.h
  src/settings-ui/Settings.UI/App.xaml.cs
  src/settings-ui/Settings.UI/MainWindow.xaml
  src/settings-ui/Settings.UI/MainWindow.xaml.cs
  src/settings-ui/Settings.UI/Views/ShellPage.xaml.cs
Labels: Needs-Review

#25751 Updates to parsing for certain Value types and empty values
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.Utilities.cs
  src/modules/registrypreview/RegistryPreviewUI/Strings/en-US/Resources.resw
Labels: Needs-Review, Product-RegistryPreview

#25786 updating webview2 and consolidating winappsdk
  Directory.Packages.props
  NOTICE.md
  src/modules/MeasureTool/MeasureToolCore/PowerToys.MeasureToolCore.vcxproj
  src/modules/MeasureTool/MeasureToolCore/packages.config
  src/modules/powerrename/PowerRenameUILib/PowerRenameUI.vcxproj
  src/modules/powerrename/PowerRenameUILib/packages.config
Labels: Needs-Review

#25661 Added an option in ExecutionShell enum for WindowsTerminal
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/ShellPluginSettings.cs
Labels: Needs-Review

#25748 [tools]Fix typo for CleanUp tool powershell script
  tools/CleanUp_tool_powershell_script/CleanUp_tool.ps1
Labels: Needs-Review

#25358 Adjust font: size family; few corner-radii
  src/modules/Hosts/Hosts/Views/MainPage.xaml
  src/modules/colorPicker/ColorPickerUI/Controls/ColorFormatControl.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasEditorWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasZone.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditor.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/GridZone.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Models/MonitorInfoModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Styles/ButtonStyles.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/ViewModels/MonitorViewModel.cs
  src/modules/imageresizer/ui/Views/InputPage.xaml
  src/modules/launcher/PowerLauncher/ResultList.xaml
  src/settings-ui/Settings.UI/Controls/FancyZonesPreviewControl.xaml
  src/settings-ui/Settings.UI/Controls/ShortcutControl/ShortcutControl.xaml
  src/settings-ui/Settings.UI/Flyout/LaunchPage.xaml
  src/settings-ui/Settings.UI/Views/FancyZonesPage.xaml
  src/settings-ui/Settings.UI/Views/GeneralPage.xaml
Labels: Area-User Interface

#25901 Making the GPO folder include version number by default.
  .pipelines/release.yml
Labels: Needs-Review

#25897 [Fancy zones editor - Edit layout] Wrong text definittions
  src/modules/fancyzones/editor/FancyZonesEditor/App.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/HeadingTextBlock.cs
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml.cs
Labels: Needs-Review

#25486 Awake `ATRIOX_04132023`
  .github/actions/spell-check/expect.txt
  Directory.Packages.props
  NOTICE.md
  doc/planning/awake.md
  installer/PowerToysSetup/generateFileList.ps1
  src/common/ManagedCommon/Logger.cs
  src/modules/awake/Awake/Awake.csproj
  src/modules/awake/Awake/Core/APIHelper.cs
  src/modules/awake/Awake/Core/Constants.cs
  src/modules/awake/Awake/Core/Manager.cs
  src/modules/awake/Awake/Core/Models/BatteryReportingScale.cs
  src/modules/awake/Awake/Core/Models/ControlType.cs
  src/modules/awake/Awake/Core/Models/ExecutionState.cs
  src/modules/awake/Awake/Core/Models/SystemPowerCapabilities.cs
  src/modules/awake/Awake/Core/Models/SystemPowerState.cs
  src/modules/awake/Awake/Core/Models/TrayCommands.cs
  src/modules/awake/Awake/Core/Native/Bridge.cs
  src/modules/awake/Awake/Core/Native/Constants.cs
  src/modules/awake/Awake/Core/TrayHelper.cs
  src/modules/awake/Awake/Core/TrayMessageFilter.cs
  src/modules/awake/Awake/NLog.config
  src/modules/awake/Awake/NativeMethods.txt
  src/modules/awake/Awake/Program.cs
Labels: Needs-Review

#26153 [Github templates] Add Peek and MouseWithoutBorders
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/translation_issue.yml
Labels: Area-GitHub workflow, Needs-Review

#26142 [Settings] MWB and Peek improvements
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/MouseWithoutBordersPage.xaml
  src/settings-ui/Settings.UI/Views/PeekPage.xaml
Labels: Hot Fix

#26157 [Launcher] Fix PowerToys Plugin Setup
  installer/PowerToysSetup/Resources.wxs
  installer/PowerToysSetup/generateAllFileComponents.ps1
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Images/PowerToys.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Images/PowerToys.light.png
Labels: Hot Fix, Run-Plugin

#26235 [BugReport][Install]Fix process lists for Peek and MWB
  installer/PowerToysSetupCustomActions/CustomAction.cpp
  tools/BugReportTool/BugReportTool/ProcessesList.cpp
Labels: Hot Fix

#26222 [Hotfix][Peek]Consume shortcut only on Desktop and Shell
  .github/actions/spell-check/expect.txt
  src/modules/peek/Peek.UI/Extensions/HWNDExtensions.cs
  src/modules/peek/peek/dllmain.cpp
Labels: Hot Fix

#26290 [MWB] add Name2IP field to Settings
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/MouseWithoutBordersViewModel.cs
  src/settings-ui/Settings.UI/Views/MouseWithoutBordersPage.xaml
Labels: Hot Fix

#26287 AutoReset global event in NativeEventWaiter
  src/common/Common.UI/NativeEventWaiter.cs
Labels: Hot Fix

#26250 [Peek] Hide with ESC key
  src/modules/peek/Peek.UI/MainWindow.xaml
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
Labels: Hot Fix

#26308 [Peek]Create Setting to run not elevated
  src/common/utils/elevation.h
  src/modules/peek/peek/dllmain.cpp
  src/modules/peek/peek/peek.vcxproj
  src/settings-ui/Settings.UI.Library/PeekProperties.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PeekViewModel.cs
  src/settings-ui/Settings.UI/Views/PeekPage.xaml
Labels: Hot Fix

#26318 [Monaco][Peek] Support .vsconfig, .sln, .vcproj, .vcxproj files
  src/common/FilePreviewCommon/monacoSpecialLanguages.js
  src/common/FilePreviewCommon/monaco_languages.json
Labels: Hot Fix

#26342 [Peek] Fix blinking while loading dev files
  src/modules/peek/Peek.FilePreviewer/Controls/BrowserControl.xaml.cs
Labels: Hot Fix

#26310 [Peek] Reset Sources on Peek close
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
Labels: Hot Fix

#26349 [Peek] Center Peek window on File Explorer activated monitor
  src/modules/peek/Peek.UI/Extensions/HWNDExtensions.cs
  src/modules/peek/Peek.UI/Extensions/WindowExtensions.cs
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/NativeMethods.txt
Labels: Hot Fix, Product-Peek

#26361 [Peek] Reset Image and Browser sources
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
Labels: Hot Fix

#26438 [MWB] fix layout resetting to one row
  src/modules/MouseWithoutBorders/App/Class/Setting.cs
Labels: Hot Fix

#26364 [Peek] WindowActivationState checks are added for focus and close aft…
  src/modules/peek/Peek.UI/App.xaml.cs
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/Services/IUserSettings.cs
  src/modules/peek/Peek.UI/Services/UserSettings.cs
  src/settings-ui/Settings.UI.Library/PeekProperties.cs
  src/settings-ui/Settings.UI.Library/PeekSettings.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PeekViewModel.cs
  src/settings-ui/Settings.UI/Views/PeekPage.xaml
Labels: Hot Fix

#26447 [MWB]Hide cursor when setting to the top of screen
  src/modules/MouseWithoutBorders/App/Class/Setting.cs
  src/settings-ui/Settings.UI.Library/MouseWithoutBordersProperties.cs
Labels: Hot Fix

#26470 [Peek] crash fix
  src/modules/peek/Peek.UI/Helpers/FileExplorerHelper.cs
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
Labels: Hot Fix

#26473 [Peek]Fix foreground window setting
  src/modules/peek/Peek.UI/Extensions/WindowExtensions.cs
  src/modules/peek/Peek.UI/NativeMethods.txt
Labels: Hot Fix

#26480 [Peek]Close on activation shortcut if focused
  src/modules/peek/peek/dllmain.cpp
Labels: Hot Fix

#26478 [Peek] Fix race condition when setting preview
  src/modules/peek/Peek.FilePreviewer/Previewers/MediaPreviewer/ImagePreviewer.cs
Labels: Hot Fix

#26484 [MWB] disable deprecated functionality
  src/modules/MouseWithoutBorders/App/Class/InputHook.cs
  src/modules/MouseWithoutBorders/App/Class/InputSimulation.cs
  src/modules/MouseWithoutBorders/App/Class/Program.cs
  src/modules/MouseWithoutBorders/App/Class/Setting.cs
  src/modules/MouseWithoutBorders/App/Form/frmMatrix.Designer.cs
  src/modules/MouseWithoutBorders/App/Form/frmMatrix.cs
  src/settings-ui/Settings.UI.Library/MouseWithoutBordersProperties.cs
Labels: Hot Fix

#26517 [Installer]Keep MWB service on upgrade
  installer/PowerToysSetup/Product.wxs
Labels: Hot Fix

#26521 [MWB]Work without service if service doesn't start
  src/modules/MouseWithoutBorders/App/Class/Program.cs
  src/modules/MouseWithoutBorders/App/Class/Setting.cs
Labels: Hot Fix

#26525 [MWB] improve UX for Uninstall service when it's inaccessible
  src/settings-ui/Settings.UI/ViewModels/MouseWithoutBordersViewModel.cs
  src/settings-ui/Settings.UI/Views/MouseWithoutBordersPage.xaml
Labels: Hot Fix
