Repository microsoft/PowerToys, pull requests merged in 2023-11, with the labels that each got.

#29119 [ci]check-spelling 0.0.22
  .github/actions/spell-check/advice.md
  .github/actions/spell-check/allow/allow.txt
  .github/actions/spell-check/allow/temporary.txt
  .github/actions/spell-check/candidate.patterns
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/expect.txt
  .github/actions/spell-check/line_forbidden.patterns
  .github/actions/spell-check/patterns.txt
  .github/actions/spell-check/reject.txt
  .github/workflows/spelling2.yml
  doc/devdocs/modules/powerpreview/monaco/readme.md
  src/common/AllExperiments/Microsoft.VariantAssignment/Contract/VariantAssignmentClientSettings.cs
Labels: Needs-Review

#28473 [Keyboard Manager] Modernize the editor UI
  .github/actions/spell-check/expect.txt
  .pipelines/versionAndSignCheck.ps1
  doc/devdocs/modules/keyboardmanager/keyboardmanagerui.md
  installer/PowerToysSetup/KeyboardManager.wxs
  src/modules/keyboardmanager/KeyboardManagerEditor/KeyboardManagerEditor.vcxproj
  src/modules/keyboardmanager/KeyboardManagerEditor/packages.config
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/EditorConstants.h
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/KeyDropDownControl.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/KeyDropDownControl.h
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/KeyboardManagerEditorLibrary.vcxproj
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/KeyboardManagerEditorLibrary.vcxproj.filters
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/KeyboardManagerState.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/ShortcutControl.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/SingleKeyRemapControl.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/Styles.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/XamlBridge2.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/XamlBridge2.h
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/packages.config
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/pch.h
Labels: Product-Keyboard Shortcut Manager, Needs-Review, revisit-0.75

#29237 [PTRun] A new function is added to create Hbitmap for .lnk files
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Wox.Infrastructure/IShellLinkHelper.cs
  src/modules/launcher/Wox.Infrastructure/Image/WindowsThumbnailProvider.cs
  src/modules/launcher/Wox.Infrastructure/ShellLinkHelper.cs
Labels: Needs-Review

#29554 [Settings] Dashboard: Adding feature switch to settings page if module panel clicked.
  src/settings-ui/Settings.UI/Helpers/ModuleHelper.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/DashboardPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/DashboardPage.xaml.cs
  src/settings-ui/Settings.UI/ViewModels/DashboardViewModel.cs
Labels: Product-Settings, Area-User Interface

#29805 [Enterprise] ADML file: Text improvements and typo fixes
  src/gpo/assets/en-US/PowerToys.adml
Labels: Idea-Enhancement, Issue-Refactoring

#29861 [Text Extractor] Localization and light theme support
  src/modules/PowerOCR/PowerOCR/App.xaml
  src/modules/PowerOCR/PowerOCR/OCROverlay.xaml
  src/modules/PowerOCR/PowerOCR/OCROverlay.xaml.cs
  src/modules/PowerOCR/PowerOCR/PowerOCR.csproj
  src/modules/PowerOCR/PowerOCR/Properties/Resources.Designer.cs
  src/modules/PowerOCR/PowerOCR/Properties/Resources.resx
  src/modules/PowerOCR/PowerOCR/Styles/ButtonStyles.xaml
  src/modules/PowerOCR/PowerOCR/Styles/Colors.xaml
Labels: Needs-Review

#29863 [Quick Accent] Move from ModernWPF to WpfUi
  src/modules/poweraccent/PowerAccent.UI/App.xaml
  src/modules/poweraccent/PowerAccent.UI/App.xaml.cs
  src/modules/poweraccent/PowerAccent.UI/PowerAccent.UI.csproj
  src/modules/poweraccent/PowerAccent.UI/Program.cs
  src/modules/poweraccent/PowerAccent.UI/Selector.xaml
  src/modules/poweraccent/PowerAccent.UI/Selector.xaml.cs
  src/modules/poweraccent/PowerAccent.UI/Themes/Dark.xaml
  src/modules/poweraccent/PowerAccent.UI/Themes/HighContrast1.xaml
  src/modules/poweraccent/PowerAccent.UI/Themes/HighContrast2.xaml
  src/modules/poweraccent/PowerAccent.UI/Themes/HighContrastBlack.xaml
  src/modules/poweraccent/PowerAccent.UI/Themes/HighContrastWhite.xaml
  src/modules/poweraccent/PowerAccent.UI/Themes/Light.xaml
Labels: Needs-Review

#29839 [TextExtractor] default enabled until Win10 + infobar in Settings page
  src/modules/PowerOCR/PowerOCRModuleInterface/dllmain.cpp
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerOcrPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerOcrViewModel.cs
Labels: Needs-Review

#29900 [Run] Date & Time plugin: Fix and improvements for Windows File Time and Unix Epoch Time
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/TimeDateResultTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/AvailableResultsList.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/TimeAndDateHelper.cs
Labels: Run-Plugin, Needs-Review

#29832 re-do spell-check entries (expect and allow)
  .github/actions/spell-check/allow/allow.txt
  .github/actions/spell-check/allow/code.txt
  .github/actions/spell-check/allow/names.txt
  .github/actions/spell-check/allow/temporary.txt
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/expect.txt
  .github/workflows/spelling2.yml
  doc/devdocs/modules/launcher/plugins/windowwalker.md
  doc/devdocs/runner.md
  doc/devdocs/settingsv2/runner-ipc.md
  doc/devdocs/settingsv2/viewmodels.md
  doc/devdocs/tools/fancyzones-hit-test.md
  doc/devdocs/tools/readme.md
  doc/images/tools/fancyzones-hit-test.png
  src/modules/Hosts/Hosts/ViewModels/MainViewModel.cs
  src/modules/fancyzones/FancyZonesLib/Resources.resx
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/KeyboardManagerState.h
  src/modules/launcher/Wox.Infrastructure/Storage/StoragePowerToysVersionInfo.cs
  src/modules/powerrename/unittests/PowerRenameManagerTests.cpp
  src/modules/powerrename/unittests/PowerRenameRegExTests.cpp
  src/modules/videoconference/VideoConferenceShared/DLLProviderHelpers.h
  src/modules/videoconference/VideoConferenceShared/MediaFoundationAPIProvider.h
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Area-GitHub workflow, Needs-Review

#29973 SDL and SHA tweaks for dll creation
  Cpp.Build.props
  src/Version.props
Labels: Needs-Review
