Repository microsoft/PowerToys, pull requests merged in 2023-02, with the labels that each got.

#23554 [Peek] Small images
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/IBitmapPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/ImagePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/PngPreviewer/PngPreviewer.cs
  src/modules/peek/Peek.UI/MainWindow.xaml
  src/modules/peek/Peek.UI/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/MainWindowViewModel.cs
Labels: Product-Peek

#22684 [Peek]Handle errors for HEIC/HEIF and fall back to default previewer if there is no thumbnail
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/Helpers/PropertyHelper.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ImagePreviewer/ImagePreviewer.cs
Labels: Product-Peek

#23818 [FancyZones] Opacity reset fix
  src/modules/fancyzones/FancyZonesLib/WindowDrag.cpp
  src/modules/fancyzones/FancyZonesLib/WindowDrag.h
Labels: Hot Fix

#23754 [hotfix] Revert HKCU to HKLM
  installer/PowerToysSetup/Core.wxs
  installer/PowerToysSetup/FileLocksmith.wxs
  installer/PowerToysSetup/ImageResizer.wxs
  installer/PowerToysSetup/PowerRename.wxs
  installer/PowerToysSetup/Run.wxs
Labels: Area-Setup/Install, Hot Fix

#23772 [Flyout]Appear next to the tray icon position
  src/runner/settings_window.cpp
  src/runner/settings_window.h
  src/runner/tray_icon.cpp
  src/runner/tray_icon.h
  src/settings-ui/Settings.UI/App.xaml.cs
  src/settings-ui/Settings.UI/FlyoutWindow.xaml.cs
  src/settings-ui/Settings.UI/MainWindow.xaml.cs
  src/settings-ui/Settings.UI/Views/ShellPage.xaml.cs
Labels: Hot Fix

#23789 [PT Run > Wox.Infrastructure.Image] Fix dispatcher crash
  .github/actions/spell-check/expect.txt
  src/modules/launcher/Wox.Infrastructure/Image/ImageLoader.cs
  src/modules/launcher/Wox.Infrastructure/Image/WindowsThumbnailProvider.cs
Labels: Issue-Bug, Product-PowerToys Run, Hot Fix, Needs-Review

#23829 [FancyZones] Fix window resize on layout change
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/LayoutAssignedWindows.cpp
  src/modules/fancyzones/FancyZonesLib/LayoutAssignedWindows.h
  src/modules/fancyzones/FancyZonesLib/WorkArea.cpp
  src/modules/fancyzones/FancyZonesLib/WorkArea.h
Labels: Hot Fix

#20024 [PT Run] Localized file paths (Part 1): Update helper class and Program plugin
  doc/devdocs/modules/launcher/plugins/program.md
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Programs/Win32Tests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWP.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/UWPApplication.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
  src/modules/launcher/Wox.Plugin/Common/Interfaces/IShellItem.cs
  src/modules/launcher/Wox.Plugin/Common/ShellLocalization.cs
  src/modules/launcher/Wox.Plugin/Common/Win32/NativeMethods.cs
Labels: Issue-Bug, Idea-Enhancement, Run-Results (Programs), Needs-Review

#23668 [PT Run > Program plugin] Run commands: Support for MSC and CPL
  doc/devdocs/modules/launcher/plugins/program.md
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Programs/Win32Tests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/ProgramPluginSettings.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
Labels: Idea-Enhancement, Run-Results (Programs), Needs-Review

#23695 [PT Run > Settings plugin] Add missing cpl names and MMC/MSC commands
  .github/actions/spell-check/expect.txt
  doc/devdocs/modules/launcher/plugins/windowssettings.md
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/WindowsSettings.json
Labels: Idea-Enhancement, Product-PowerToys Run, Needs-Review

#24057 [PT Run] System plugin: Setting for separate "Empty Recycle Bin" result
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/Commands.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.resx
Labels: Idea-Enhancement, Product-PowerToys Run, Needs-Review

#24238 [GPO; Enterprise] Experimentation GPO: Small fixes
  doc/gpo/README.md
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/Views/GeneralPage.xaml
Labels: Issue-Docs, Area-User Interface, Area-Enterprise

#24254 Adjustments
  .github/actions/spell-check/expect.txt
  doc/devdocs/modules/launcher/plugins/timeZone.md
  src/modules/fancyzones/FancyZonesLib/FancyZonesData/CustomLayouts.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesData/CustomLayouts.h
  src/modules/fancyzones/FancyZonesTests/UnitTests/CustomLayoutsTests.Spec.cpp
  src/modules/fancyzones/FancyZonesTests/UnitTests/Layout.Spec.cpp
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/timezones.json
  src/modules/launcher/Wox.Infrastructure/Exception/ExceptionFormatter.cs
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
Labels: Needs-Review

#23645 [PastePlain] Introduce Paste as Plain Text module
  .github/actions/spell-check/expect.txt
  .github/actions/spell-check/patterns.txt
  .pipelines/ESRPSigning_core.json
  PowerToys.sln
  README.md
  installer/PowerToysSetup/Common.wxi
  installer/PowerToysSetup/PastePlain.wxs
  installer/PowerToysSetup/PowerToysInstaller.wixproj
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetup/Settings.wxs
  src/common/GPOWrapper/GPOWrapper.cpp
  src/common/GPOWrapper/GPOWrapper.h
  src/common/GPOWrapper/GPOWrapper.idl
  src/common/GPOWrapperProjection/GPOWrapper.cs
  src/common/interop/shared_constants.h
  src/common/utils/gpo.h
  src/gpo/assets/PowerToys.admx
  src/gpo/assets/en-US/PowerToys.adml
  src/modules/pasteplain/PastePlainModuleInterface/PastePlain.base.rc
  src/modules/pasteplain/PastePlainModuleInterface/PastePlainConstants.h
  src/modules/pasteplain/PastePlainModuleInterface/PastePlainModuleInterface.vcxproj
  src/modules/pasteplain/PastePlainModuleInterface/PastePlainModuleInterface.vcxproj.filters
  src/modules/pasteplain/PastePlainModuleInterface/Resources.resx
  src/modules/pasteplain/PastePlainModuleInterface/dllmain.cpp
  src/modules/pasteplain/PastePlainModuleInterface/packages.config
  src/modules/pasteplain/PastePlainModuleInterface/pch.cpp
  src/modules/pasteplain/PastePlainModuleInterface/pch.h
  src/modules/pasteplain/PastePlainModuleInterface/resource.base.h
  src/modules/pasteplain/PastePlainModuleInterface/trace.cpp
  src/modules/pasteplain/PastePlainModuleInterface/trace.h
  src/runner/main.cpp
  src/settings-ui/Settings.UI.Library/EnabledModules.cs
  src/settings-ui/Settings.UI.Library/PastePlainProperties.cs
  src/settings-ui/Settings.UI.Library/PastePlainSettings.cs
  src/settings-ui/Settings.UI/App.xaml.cs
  src/settings-ui/Settings.UI/Assets/FluentIcons/FluentIconsPastePlain.png
  src/settings-ui/Settings.UI/Assets/Modules/OOBE/PastePlain.gif
  src/settings-ui/Settings.UI/Assets/Modules/PastePlain.png
  src/settings-ui/Settings.UI/MainWindow.xaml.cs
  src/settings-ui/Settings.UI/OOBE/Enums/PowerToysModules.cs
  src/settings-ui/Settings.UI/OOBE/Views/OobePastePlain.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobePastePlain.xaml.cs
  src/settings-ui/Settings.UI/OOBE/Views/OobeShellPage.xaml
  src/settings-ui/Settings.UI/OOBE/Views/OobeShellPage.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/Flyout/AllAppsViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PastePlainViewModel.cs
  src/settings-ui/Settings.UI/Views/PastePlainPage.xaml
  src/settings-ui/Settings.UI/Views/PastePlainPage.xaml.cs
  src/settings-ui/Settings.UI/Views/ShellPage.xaml
Labels: Needs-Review

#24221 [GPO; Enterprise] Updater policies
  doc/gpo/README.md
  src/common/GPOWrapper/GPOWrapper.cpp
  src/common/GPOWrapper/GPOWrapper.h
  src/common/GPOWrapper/GPOWrapper.idl
  src/common/utils/gpo.h
  src/gpo/assets/PowerToys.admx
  src/gpo/assets/en-US/PowerToys.adml
  src/runner/UpdateUtils.cpp
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/GeneralViewModel.cs
  src/settings-ui/Settings.UI/Views/GeneralPage.xaml
Labels: Idea-Enhancement, Area-Enterprise, Needs-Review

#24164 [Settings] bkp and restore - select folder crash when elevated
  src/settings-ui/Settings.UI/Helpers/ShellGetFolder.cs
  src/settings-ui/Settings.UI/Views/GeneralPage.xaml.cs
Labels: Needs-Review

#24306 [PTRun]Remove the timezone plugin
  .pipelines/ESRPSigning_core.json
  .pipelines/ci/templates/build-powertoys-steps.yml
  PowerToys.sln
  doc/devdocs/modules/launcher/plugins/timeZone.md
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetup/Resources.wxs
  installer/PowerToysSetup/Run.wxs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone.UnitTests/Microsoft.PowerToys.Run.Plugin.TimeZone.UnitTests.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone.UnitTests/ResultHelperTest.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Classes/TimeZoneList.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Classes/TimeZoneProperties.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Classes/TimeZoneSettings.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Extensions/StringBuilderExtensions.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Helper/ContextMenuHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Helper/JsonHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Helper/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Helper/TranslationHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Images/timeZone.dark.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Images/timeZone.light.png
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Microsoft.PowerToys.Run.Plugin.TimeZone.csproj
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/plugin.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/timeZones.schema.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeZone/timezones.json
Labels: Needs-Review

#24294 [Hosts] Improved duplicate hosts finding
  src/modules/Hosts/Hosts.Tests/EntryTest.cs
  src/modules/Hosts/Hosts.Tests/HostsServiceTest.cs
  src/modules/Hosts/Hosts/Helpers/ExpressionExtensions.cs
  src/modules/Hosts/Hosts/Helpers/HostsService.cs
  src/modules/Hosts/Hosts/Models/AddressType.cs
  src/modules/Hosts/Hosts/Models/Entry.cs
  src/modules/Hosts/Hosts/Settings/IUserSettings.cs
  src/modules/Hosts/Hosts/Settings/UserSettings.cs
  src/modules/Hosts/Hosts/ViewModels/MainViewModel.cs
  src/modules/Hosts/Hosts/Views/MainPage.xaml.cs
  src/settings-ui/Settings.UI.Library/HostsProperties.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/HostsViewModel.cs
  src/settings-ui/Settings.UI/Views/HostsPage.xaml
Labels: Needs-Review
