Repository microsoft/PowerToys, pull requests merged in 2023-10, with the labels that each got.

#28956 [FancyZones] Filter for non-processable windows
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/WindowUtils.cpp
  src/modules/fancyzones/FancyZonesLib/WindowUtils.h
Labels: Hot Fix

#28731 [Enterprise] Global enabled state for all utilities GPO
  doc/gpo/README.md
  src/common/utils/gpo.h
  src/gpo/assets/PowerToys.admx
  src/gpo/assets/en-US/PowerToys.adml
Labels: Idea-Enhancement, Area-Enterprise, Needs-Review, revisit-0.75

#28786 [Registry Preview] Ended up with four unrelated fixes in one PR - not a role model, sorry
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.Events.cs
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.Utilities.cs
  src/modules/registrypreview/RegistryPreviewUI/RegistryPreviewXAML/App.xaml.cs
Labels: Needs-Review, Product-RegistryPreview

#28690 [Peek] Add support for preview handlers
  .github/actions/spell-check/expect.txt
  src/modules/peek/Peek.Common/NativeMethods.txt
  src/modules/peek/Peek.FilePreviewer/Controls/ShellPreviewHandlerControl.xaml
  src/modules/peek/Peek.FilePreviewer/Controls/ShellPreviewHandlerControl.xaml.cs
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/NativeMethods.json
  src/modules/peek/Peek.FilePreviewer/NativeMethods.txt
  src/modules/peek/Peek.FilePreviewer/Peek.FilePreviewer.csproj
  src/modules/peek/Peek.FilePreviewer/Previewers/Interfaces/IShellPreviewHandlerPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/PreviewerFactory.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ShellPreviewHandlerPreviewer/Helpers/IStreamWrapper.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/ShellPreviewHandlerPreviewer/ShellPreviewHandlerPreviewer.cs
Labels: Needs-Review

#28972 [Run > Shell plugin] Shell selection improvements
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/ShellPluginSettings.cs
  src/settings-ui/Settings.UI.Library/PluginAdditionalOption.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerLauncherPage.xaml
  src/settings-ui/Settings.UI/ViewModels/PluginAdditionalOptionViewModel.cs
Labels: Idea-Enhancement, Run-Plugin, Needs-Review

#27468 [Run, Enterprise] GPO for plugin enabled state
  doc/devdocs/modules/launcher/new-plugin-checklist.md
  doc/gpo/README.md
  src/common/GPOWrapper/GPOWrapper.cpp
  src/common/GPOWrapper/GPOWrapper.h
  src/common/GPOWrapper/GPOWrapper.idl
  src/common/GPOWrapperProjection/GPOWrapper.cs
  src/common/utils/gpo.h
  src/gpo/assets/PowerToys.admx
  src/gpo/assets/en-US/PowerToys.adml
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Main.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Main.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.ValueGenerator/Main.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Main.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.History/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.OneNote/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsTerminal/Main.cs
  src/modules/launcher/PowerLauncher/Plugin/PluginManager.cs
  src/modules/launcher/PowerLauncher/SettingsReader.cs
  src/modules/launcher/Wox.Plugin/IPlugin.cs
  src/modules/launcher/Wox.Plugin/PluginMetadata.cs
  src/modules/launcher/Wox.Plugin/PluginPair.cs
  src/settings-ui/Settings.UI.Library/PowerLauncherPluginSettings.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerLauncherPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerLauncherPluginViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PowerLauncherViewModel.cs
Labels: Run-Plugin, Area-Enterprise, Needs-Review

#28380 Ready for review - [MouseJump] Long lived background exe
  src/common/interop/interop.cpp
  src/common/interop/shared_constants.h
  src/modules/MouseUtils/MouseJump/MouseJump.vcxproj.filters
  src/modules/MouseUtils/MouseJump/dllmain.cpp
  src/modules/MouseUtils/MouseJumpUI/Helpers/SettingsHelper.cs
  src/modules/MouseUtils/MouseJumpUI/Helpers/ThrottledActionInvoker.cs
  src/modules/MouseUtils/MouseJumpUI/MainForm.cs
  src/modules/MouseUtils/MouseJumpUI/MouseJumpUI.csproj
  src/modules/MouseUtils/MouseJumpUI/Program.cs
  src/settings-ui/Settings.UI.Library/MouseJumpSettings.cs
Labels: Needs-Review

#28975 [FancyZones] Filtering popup windows - follow up PR
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesWindowProcessing.cpp
Labels: Needs-Review

#29051 [FZ Editor] Add test to editor #197 + feedback
  .pipelines/ci/templates/build-powertoys-steps.yml
  PowerToys.sln
  src/modules/fancyzones/UnitTests-FancyZonesEditor/DefaultLayoutsModelTests.cs
  src/modules/fancyzones/UnitTests-FancyZonesEditor/GridLayoutModelTests.cs
  src/modules/fancyzones/UnitTests-FancyZonesEditor/UnitTests-FancyZonesEditor.csproj
  src/modules/fancyzones/UnitTests-FancyZonesEditor/Usings.cs
Labels: Needs-Review

#29183 [Peek] Fix first preview stuck loading
  src/modules/peek/Peek.UI/MainWindowViewModel.cs
  src/modules/peek/Peek.UI/PeekXAML/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/Services/NeighboringItemsQuery.cs
Labels: Needs-Review

#29243 [Peek] Fix previous video flashing when peek is invoked
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
Labels: Needs-Review

#29229 Update Toast Notification Arrow "⇨" was "->"
  src/runner/UpdateUtils.cpp
Labels: Area-Runner, Needs-Review

#29311 Fix for bug 29152, where Key names were being mishandled and returned as "invalid" in the UX
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.Utilities.cs
Labels: Needs-Review, Product-RegistryPreview

#28742 [PT Run] [VSCodeWorkspaces] Fix support for VSCodium & add support for Remote - Tunnels
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/VSCodeHelper/VSCodeInstances.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/WorkspacesHelper/ParseVSCodeAuthority.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/WorkspacesHelper/ParseVSCodeUri.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/WorkspacesHelper/Rfc3986Uri.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/WorkspacesHelper/VSCodeWorkspace.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/WorkspacesHelper/VSCodeWorkspacesApi.cs
Labels: Needs-Review

#29480 [PT Run] Fix PluginAdditionalOptions value properties defaults.
  src/modules/launcher/PowerLauncher/SettingsReader.cs
Labels: Hot Fix, Run-Plugin Manager, Needs-Review

#29532 [HotFix]Revert "[FancyZones]Filtering popup windows for all operations (#28975)"
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesWindowProcessing.cpp
Labels: Hot Fix

#29551 Fixed the typos in Readme.md
  README.md
Labels: Needs-Review
