Repository microsoft/PowerToys, pull requests merged in 2023-09, with the labels that each got.

#28451 [PTRun][Calc]Keep leading zeroes on languages where . is not a separator
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/NumberTranslatorTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/CalculateEngine.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/NumberTranslator.cs
Labels: Run-Plugin

#24293 UI for Pinyin
  src/modules/launcher/PowerLauncher/SettingsReader.cs
  src/settings-ui/Settings.UI.Library/PowerLauncherProperties.cs
  src/settings-ui/Settings.UI.UnitTests/ViewModelTests/PowerLauncherViewModelTest.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerLauncherPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerLauncherViewModel.cs
Labels: Run-Plugin Manager

#28488 [Registry Preview] Better preview in data grid like in Regedit
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.Utilities.cs
  src/modules/registrypreview/RegistryPreviewUI/RegistryValue.xaml.cs
  src/modules/registrypreview/RegistryPreviewUI/Strings/en-US/Resources.resw
Labels: Product-RegistryPreview

#28735 [PT RUN > Settings plugin] Fix update search setting for windows 11
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/WindowsSettings.json
Labels: Run-Plugin

#28802 [HotFix][QuickAccent]Fix missing characters
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
Labels: Hot Fix

#28803 [HotFix][RegistryPreview]Fix out of bonds array access error
  src/modules/registrypreview/RegistryPreviewUI/MainWindow.Utilities.cs
Labels: Hot Fix
