Repository microsoft/PowerToys, pull requests merged in 2024-01, with the labels that each got.

#30668 remove obsolete UI Fonticon properties
  src/settings-ui/Settings.UI/SettingsXAML/Views/EnvironmentVariablesPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/FancyZonesPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/HostsPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/KeyboardManagerPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseUtilsPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerLauncherPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/RegistryPreviewPage.xaml
Labels: Product-Settings

#30684 Welcome: UI improvements
  src/settings-ui/Settings.UI/SettingsXAML/Controls/OOBEPageControl/OOBEPageControl.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Controls/ShortcutControl/ShortcutWithTextLabelControl.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeAlwaysOnTop.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeAwake.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeColorPicker.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeCropAndLock.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeEnvironmentVariables.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeFancyZones.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeFileExplorer.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeFileLocksmith.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeHosts.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeImageResizer.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeKBM.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeMeasureTool.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeMouseUtils.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeMouseWithoutBorders.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeOverview.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeOverviewAlternate.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeOverviewPlaceholder.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobePastePlain.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobePeek.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobePowerAccent.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobePowerOCR.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobePowerRename.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeRegistryPreview.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeRun.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeShellPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeShortcutGuide.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeVideoConference.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeWhatsNew.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Styles/TextBlock.xaml
Labels: Area-User Interface, Area-OOBE

#30675 Binding improvements (1)
  src/modules/EnvironmentVariables/EnvironmentVariables/EnvironmentVariablesXAML/Views/MainPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/AlwaysOnTopPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/AwakePage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/ColorPickerPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/CropAndLockPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/DashboardPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/EnvironmentVariablesPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/FancyZonesPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/FileLocksmithPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/HostsPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/ImageResizerPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/KeyboardManagerPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/MeasureToolPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseUtilsPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseWithoutBordersPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PastePlainPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PeekPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerAccentPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerLauncherPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerOcrPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerPreviewPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerRenamePage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/RegistryPreviewPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/ShortcutGuidePage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/VideoConference.xaml
Labels: Product-Settings

#29708 [KBM] Do not register low level hook if there're no remappings
  src/common/utils/window.h
  src/modules/keyboardmanager/KeyboardManagerEngine/main.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardManager.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardManager.h
Labels: revisit-0.77

#30785 Upgrading Microsoft.Extensions.ObjectPool from v5 to v8
  Directory.Packages.props
  NOTICE.md
  src/modules/cmdNotFound/CmdNotFound/CmdNotFound.csproj
Labels: Needs-Review

#30865 [Run] Remove unused settings
  src/modules/launcher/Wox.Infrastructure/UserSettings/CustomPluginHotkey.cs
  src/modules/launcher/Wox.Infrastructure/UserSettings/HttpProxy.cs
  src/modules/launcher/Wox.Infrastructure/UserSettings/PowerToysRunSettings.cs
Labels: Needs-Review

#30859 Bump WPFUI version to preview-13 to fix scrollbar issue
  Directory.Packages.props
  NOTICE.md
  src/modules/launcher/PowerLauncher/MainWindow.xaml
  src/modules/launcher/PowerLauncher/ResultList.xaml
Labels: Needs-Review

#30808 [Chore] Update StyleCop
  Directory.Packages.props
  NOTICE.md
Labels: Needs-Review, revisit-0.78

#30783 Remove Toolkit labs and leverage RTM toolkit
  nuget.config
  src/modules/EnvironmentVariables/EnvironmentVariables/EnvironmentVariables.csproj
  src/modules/FileLocksmith/FileLocksmithUI/FileLocksmithUI.csproj
  src/modules/registrypreview/RegistryPreviewUI/RegistryPreviewUI.csproj
  src/settings-ui/Settings.UI.UnitTests/Settings.UI.UnitTests.csproj
  src/settings-ui/Settings.UI/PowerToys.Settings.csproj
Labels: Needs-Review, revisit-0.78

#30100 Add Microsoft.MSBuildCache
  .github/actions/spell-check/expect.txt
  .gitignore
  .pipelines/ci/caching.yml
  .pipelines/ci/templates/build-powertoys-ci.yml
  .pipelines/ci/templates/build-powertoys-steps.yml
  Directory.Build.props
  Directory.Build.targets
  packages.config
  src/modules/videoconference/VideoConferenceProxyFilter/VideoConferenceProxyFilterx86.sln
Labels: revisit-0.78

#30784 updating NLog
  Directory.Packages.props
  NOTICE.md
Labels: Needs-Review, revisit-0.78

#30786 upgrade to markdig to .34
  Directory.Packages.props
  NOTICE.md
Labels: Needs-Review, revisit-0.78

#30788 upgrading to Microsoft.NET.Test.Sdk 17.8
  Directory.Packages.props
  NOTICE.md
Labels: Needs-Review, revisit-0.78

#30935 Upgrading community toolkit to latest
  Directory.Packages.props
  NOTICE.md
Labels: Needs-Review, revisit-0.78

#30938 Upgrade MVVM with help from @davidegiacometti
  Directory.Packages.props
  NOTICE.md
  src/modules/peek/Peek.UI/PeekXAML/Views/TitleBar.xaml
  src/modules/peek/Peek.UI/PeekXAML/Views/TitleBar.xaml.cs
Labels: Needs-Review

#30689 [Chore] Update copyright and remove the year
  .pipelines/versionAndSignCheck.ps1
  Directory.Build.props
  src/common/version/version.h
Labels: Needs-Review

#30794 [Updates] Toast notification for new updates: Add setting
  src/common/GPOWrapper/GPOWrapper.cpp
  src/common/GPOWrapper/GPOWrapper.h
  src/common/GPOWrapper/GPOWrapper.idl
  src/common/utils/gpo.h
  src/gpo/assets/PowerToys.admx
  src/gpo/assets/en-US/PowerToys.adml
  src/runner/UpdateUtils.cpp
  src/runner/general_settings.cpp
  src/runner/general_settings.h
  src/settings-ui/Settings.UI.Library/GeneralSettings.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/GeneralViewModel.cs
Labels: Idea-Enhancement, Product-Settings, Area-Setup/Install, Resolution-Fix-Committed, Needs-Review, revisit-0.78

#31034 Forcing window back on double click / right click
  src/settings-ui/Settings.UI/SettingsXAML/App.xaml.cs
Labels: Needs-Review

#31064 Remove prepared code for "Auto update" policy
  src/common/utils/gpo.h
  src/gpo/assets/PowerToys.admx
  src/gpo/assets/en-US/PowerToys.adml
  src/runner/UpdateUtils.cpp
  tools/BugReportTool/BugReportTool/ReportGPOValues.cpp
Labels: Issue-Refactoring, Needs-Review

#31031 Fixing accent brush and corner radius on dashboard
  src/settings-ui/Settings.UI/Helpers/ModuleHelper.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/DashboardPage.xaml
  src/settings-ui/Settings.UI/ViewModels/DashboardListItem.cs
  src/settings-ui/Settings.UI/ViewModels/DashboardViewModel.cs
Labels: Needs-Review

#31066 [Bugreport Tool] Add new update policies
  tools/BugReportTool/BugReportTool/ReportGPOValues.cpp
Labels: Area-Enterprise, Needs-Review

#31073 [Settings ux > GPO] Improvements and fixes
  src/settings-ui/Settings.UI/SettingsXAML/Flyout/AppsListPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/AlwaysOnTopPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/AwakePage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/CmdNotFoundPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/ColorPickerPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/CropAndLockPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/DashboardPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/EnvironmentVariablesPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/FancyZonesPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/FileLocksmithPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/HostsPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/ImageResizerPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/KeyboardManagerPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/MeasureToolPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseUtilsPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseWithoutBordersPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PastePlainPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PeekPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerAccentPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerLauncherPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerOcrPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerPreviewPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerRenamePage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/RegistryPreviewPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/ShortcutGuidePage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/VideoConference.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerPreviewViewModel.cs
Labels: Product-Settings, Issue-Refactoring, Needs-Review

#31078 [Settings] Rework update settings
  src/gpo/assets/en-US/PowerToys.adml
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/GeneralViewModel.cs
Labels: Product-Settings, Area-User Interface, Needs-Review
