Repository microsoft/PowerToys, pull requests merged in 2024-08, with the labels that each got.

#34134 Consolidation for self contained, built on #34055
  Directory.Build.props
  PowerToys.sln
  src/Common.SelfContained.props
  src/dsc/PowerToys.Settings.DSC.Schema.Generator/PowerToys.Settings.DSC.Schema.Generator.csproj
  src/modules/AdvancedPaste/AdvancedPaste/AdvancedPaste.csproj
  src/modules/EnvironmentVariables/EnvironmentVariables/EnvironmentVariables.csproj
  src/modules/FileLocksmith/FileLocksmithUI/FileLocksmithUI.csproj
  src/modules/Hosts/Hosts/Hosts.csproj
  src/modules/MeasureTool/MeasureToolUI/MeasureToolUI.csproj
  src/modules/MouseUtils/MouseJumpUI/MouseJumpUI.csproj
  src/modules/MouseWithoutBorders/App/Helper/MouseWithoutBordersHelper.csproj
  src/modules/MouseWithoutBorders/App/MouseWithoutBorders.csproj
  src/modules/MouseWithoutBorders/App/Service/MouseWithoutBordersService.csproj
  src/modules/PowerOCR/PowerOCR/PowerOCR.csproj
  src/modules/awake/Awake/Awake.csproj
  src/modules/colorPicker/ColorPickerUI/ColorPickerUI.csproj
  src/modules/fancyzones/editor/FancyZonesEditor/FancyZonesEditor.csproj
  src/modules/imageresizer/ui/ImageResizerUI.csproj
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/peek/Peek.UI/Peek.UI.csproj
  src/modules/poweraccent/PowerAccent.Core/PowerAccent.Core.csproj
  src/modules/poweraccent/PowerAccent.UI/PowerAccent.UI.csproj
  src/modules/previewpane/GcodePreviewHandler/GcodePreviewHandler.csproj
  src/modules/previewpane/GcodeThumbnailProvider/GcodeThumbnailProvider.csproj
  src/modules/previewpane/MarkdownPreviewHandler/MarkdownPreviewHandler.csproj
  src/modules/previewpane/MonacoPreviewHandler/MonacoPreviewHandler.csproj
  src/modules/previewpane/PdfPreviewHandler/PdfPreviewHandler.csproj
  src/modules/previewpane/PdfThumbnailProvider/PdfThumbnailProvider.csproj
  src/modules/previewpane/QoiPreviewHandler/QoiPreviewHandler.csproj
  src/modules/previewpane/QoiThumbnailProvider/QoiThumbnailProvider.csproj
  src/modules/previewpane/StlThumbnailProvider/StlThumbnailProvider.csproj
  src/modules/previewpane/SvgPreviewHandler/SvgPreviewHandler.csproj
  src/modules/previewpane/SvgThumbnailProvider/SvgThumbnailProvider.csproj
  src/modules/registrypreview/RegistryPreview/RegistryPreview.csproj
  src/settings-ui/Settings.UI.Library/Settings.UI.Library.csproj
  src/settings-ui/Settings.UI/PowerToys.Settings.csproj
Labels: Needs-Review

#34035 [PreviewPane] Fix form positioning issues
  src/modules/previewpane/GcodePreviewHandler/Program.cs
  src/modules/previewpane/GcodePreviewHandlerCpp/GcodePreviewHandler.cpp
  src/modules/previewpane/MarkdownPreviewHandler/Program.cs
  src/modules/previewpane/MarkdownPreviewHandlerCpp/MarkdownPreviewHandler.cpp
  src/modules/previewpane/MonacoPreviewHandler/Program.cs
  src/modules/previewpane/MonacoPreviewHandlerCpp/MonacoPreviewHandler.cpp
  src/modules/previewpane/PdfPreviewHandler/Program.cs
  src/modules/previewpane/PdfPreviewHandlerCpp/PdfPreviewHandler.cpp
  src/modules/previewpane/QoiPreviewHandler/Program.cs
  src/modules/previewpane/QoiPreviewHandlerCpp/QoiPreviewHandler.cpp
  src/modules/previewpane/SvgPreviewHandler/Program.cs
  src/modules/previewpane/SvgPreviewHandlerCpp/SvgPreviewHandler.cpp
  src/modules/previewpane/common/cominterop/NativeMethods.cs
  src/modules/previewpane/common/controls/FormHandlerControl.cs
  src/modules/previewpane/common/controls/IPreviewHandlerControl.cs
Labels: Needs-Review

#34011 Dependencies cleanup
  Directory.Packages.props
  NOTICE.md
  src/modules/MouseWithoutBorders/App/MouseWithoutBorders.csproj
  src/modules/poweraccent/PowerAccent.Core/Models/Point.cs
  src/modules/poweraccent/PowerAccent.Core/NativeMethods.txt
  src/modules/poweraccent/PowerAccent.Core/PowerAccent.Core.csproj
  src/modules/poweraccent/PowerAccent.Core/Tools/WindowsFunctions.cs
Labels: Needs-Review

#34204 Shifting from solution dir to actual local path
  Directory.Build.props
  src/dsc/PowerToys.Settings.DSC.Schema.Generator/PowerToys.Settings.DSC.Schema.Generator.csproj
  src/modules/AdvancedPaste/AdvancedPaste/AdvancedPaste.csproj
  src/modules/EnvironmentVariables/EnvironmentVariables/EnvironmentVariables.csproj
  src/modules/FileLocksmith/FileLocksmithUI/FileLocksmithUI.csproj
  src/modules/Hosts/Hosts/Hosts.csproj
  src/modules/MeasureTool/MeasureToolUI/MeasureToolUI.csproj
  src/modules/MouseUtils/MouseJumpUI/MouseJumpUI.csproj
  src/modules/MouseWithoutBorders/App/Helper/MouseWithoutBordersHelper.csproj
  src/modules/MouseWithoutBorders/App/MouseWithoutBorders.csproj
  src/modules/MouseWithoutBorders/App/Service/MouseWithoutBordersService.csproj
  src/modules/PowerOCR/PowerOCR/PowerOCR.csproj
  src/modules/awake/Awake/Awake.csproj
  src/modules/colorPicker/ColorPickerUI/ColorPickerUI.csproj
  src/modules/fancyzones/editor/FancyZonesEditor/FancyZonesEditor.csproj
  src/modules/imageresizer/ui/ImageResizerUI.csproj
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/peek/Peek.UI/Peek.UI.csproj
  src/modules/poweraccent/PowerAccent.Core/PowerAccent.Core.csproj
  src/modules/poweraccent/PowerAccent.UI/PowerAccent.UI.csproj
  src/modules/previewpane/GcodePreviewHandler/GcodePreviewHandler.csproj
  src/modules/previewpane/GcodeThumbnailProvider/GcodeThumbnailProvider.csproj
  src/modules/previewpane/MarkdownPreviewHandler/MarkdownPreviewHandler.csproj
  src/modules/previewpane/MonacoPreviewHandler/MonacoPreviewHandler.csproj
  src/modules/previewpane/PdfPreviewHandler/PdfPreviewHandler.csproj
  src/modules/previewpane/PdfThumbnailProvider/PdfThumbnailProvider.csproj
  src/modules/previewpane/QoiPreviewHandler/QoiPreviewHandler.csproj
  src/modules/previewpane/QoiThumbnailProvider/QoiThumbnailProvider.csproj
  src/modules/previewpane/StlThumbnailProvider/StlThumbnailProvider.csproj
  src/modules/previewpane/SvgPreviewHandler/SvgPreviewHandler.csproj
  src/modules/previewpane/SvgThumbnailProvider/SvgThumbnailProvider.csproj
  src/modules/registrypreview/RegistryPreview/RegistryPreview.csproj
  src/settings-ui/Settings.UI.Library/Settings.UI.Library.csproj
  src/settings-ui/Settings.UI/PowerToys.Settings.csproj
Labels: Needs-Review

#33962 [PT-Run] Resolving the confusion between ounces
  .github/actions/spell-check/expect.txt
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/InputInterpreter.cs
Labels: Needs-Review

#34314 [Build] Set NuGet Audit Mode to Direct to revert changes made with VS 17.12
  Directory.Build.props
Labels: Good to Merge

#34308 [Hosts] Handle hidden hosts file
  src/modules/Hosts/Hosts.Tests/HostsServiceTest.cs
  src/modules/Hosts/HostsUILib/Helpers/HostsService.cs
  src/modules/Hosts/HostsUILib/Helpers/IHostsService.cs
  src/modules/Hosts/HostsUILib/ViewModels/MainViewModel.cs
Labels: Needs-Review

#32657 [DSC] Add support for ImageresizerSizes property
  src/dsc/Microsoft.PowerToys.Configure/examples/installAndConfiguration.dsc.yaml
  src/dsc/PowerToys.Settings.DSC.Schema.Generator/DSCGeneration.cs
  src/settings-ui/Settings.UI.Library/ImageSize.cs
  src/settings-ui/Settings.UI.Library/Utilities/SetAdditionalSettingsCommandLineCommand.cs
  src/settings-ui/Settings.UI.UnitTests/ViewModelTests/ImageResizer.cs
  src/settings-ui/Settings.UI/Converters/ImageResizerFitToIntConverter.cs
  src/settings-ui/Settings.UI/Converters/ImageResizerUnitToIntConverter.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/ImageResizerPage.xaml
Labels: Needs-Review

#34316 Awake - `VISEGRADRELAY_08152024`
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/expect.txt
  doc/planning/awake.md
  src/modules/awake/Awake/Core/Constants.cs
  src/modules/awake/Awake/Core/Manager.cs
  src/modules/awake/Awake/Core/Models/ProcessBasicInformation.cs
  src/modules/awake/Awake/Core/Native/Bridge.cs
  src/modules/awake/Awake/Core/TrayHelper.cs
  src/modules/awake/Awake/Program.cs
  src/modules/awake/Awake/Properties/Resources.Designer.cs
  src/modules/awake/Awake/Properties/Resources.resx
Labels: Product-Awake, Needs-Review

#31923 [KBM] Fixed Ctrl key state handling during and after shortcuts invoked by AltGr
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardEventHandlers.cpp
Labels: Needs-Review

#34399 Dev/crutkas/attempt to fix spelling error2
  .github/actions/spell-check/allow/names.txt
Labels: Needs-Review

#34422 Fix PowerToys.adml for 0.84.0 release
  src/gpo/assets/en-US/PowerToys.adml
Labels: Issue-Bug, Priority-0, Severity-High, Area-Enterprise, Needs-Review
