Repository microsoft/PowerToys, pull requests merged in 2024-02, with the labels that each got.

#31172 [Peek] Fix title bar with maximized window
  src/modules/peek/Peek.UI/Extensions/WindowExtensions.cs
  src/modules/peek/Peek.UI/NativeMethods.txt
Labels: revisit-0.79

#30187 [PtRun] JSON Storage Improvements
  src/modules/launcher/PowerLauncher/Storage/QueryHistory.cs
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/launcher/PowerLauncher/ViewModel/SettingWindowViewModel.cs
  src/modules/launcher/Wox.Infrastructure/Alphabet.cs
  src/modules/launcher/Wox.Infrastructure/Storage/JsonStorage`1.cs
  src/modules/launcher/Wox.Infrastructure/Storage/PluginJsonStorage`1.cs
  src/modules/launcher/Wox.Plugin/UserSelectedRecord.cs
Labels: revisit-0.78

#31142 [Flyout] Fix icon alignment bug
  src/settings-ui/Settings.UI/SettingsXAML/Flyout/LaunchPage.xaml
Labels: revisit-0.79

#31357 Image resizer UI
  .github/actions/spell-check/expect.txt
  src/modules/imageresizer/ui/Models/ResizeFit.cs
  src/modules/imageresizer/ui/Models/ResizeSize.cs
  src/modules/imageresizer/ui/Models/ResizeUnit.cs
  src/modules/imageresizer/ui/Properties/Resources.Designer.cs
  src/modules/imageresizer/ui/Properties/Resources.resx
  src/modules/imageresizer/ui/ViewModels/InputViewModel.cs
  src/modules/imageresizer/ui/Views/EnumValueConverter.cs
  src/modules/imageresizer/ui/Views/InputPage.xaml
  src/modules/imageresizer/ui/Views/InputPage.xaml.cs
  src/modules/imageresizer/ui/Views/MainWindow.xaml
  src/modules/imageresizer/ui/Views/ResizeUnitConverter.cs
  src/modules/imageresizer/ui/Views/ResultsPage.xaml
  src/modules/imageresizer/ui/Views/SizeTypeToVisibilityConverter.cs
Labels: Product-Image Resizer

#31379 Add .txt to Monaco description
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Needs-Review

#31380 [Monaco] Add ksh, zsh, and bsh as shell file extensions + .env support
  src/common/FilePreviewCommon/Assets/Monaco/monacoSpecialLanguages.js
  src/common/FilePreviewCommon/Assets/Monaco/monaco_languages.json
Labels: Needs-Review

#30121 [New PowerToy] Launch apps / command with keyboard shortcuts #3350
  .github/actions/spell-check/allow/code.txt
  .github/actions/spell-check/allow/names.txt
  .github/actions/spell-check/expect.txt
  src/common/interop/keyboard_layout.cpp
  src/common/interop/keyboard_layout.h
  src/common/utils/elevation.h
  src/modules/keyboardmanager/KeyboardManagerEditor/KeyboardManagerEditor.cpp
  src/modules/keyboardmanager/KeyboardManagerEditor/KeyboardManagerEditor.h
  src/modules/keyboardmanager/KeyboardManagerEditor/KeyboardManagerEditor.vcxproj
  src/modules/keyboardmanager/KeyboardManagerEditor/Resources.resx
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/BufferValidationHelpers.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/EditShortcutsWindow.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/EditShortcutsWindow.h
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/EditorConstants.h
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/EditorHelpers.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/KeyDropDownControl.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/KeyDropDownControl.h
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/KeyboardManagerEditorStrings.h
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/KeyboardManagerState.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/KeyboardManagerState.h
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/ShortcutControl.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/ShortcutControl.h
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/UIHelpers.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/UIHelpers.h
  src/modules/keyboardmanager/KeyboardManagerEditorTest/BufferValidationTests.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardEventHandlers.h
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardManager.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardManager.h
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardManagerEngineLibrary.vcxproj
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/packages.config
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/pch.h
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/trace.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineTest/KeyboardManagerEngineTest.vcxproj
  src/modules/keyboardmanager/common/KeyboardManagerConstants.h
  src/modules/keyboardmanager/common/MappingConfiguration.cpp
  src/modules/keyboardmanager/common/Shortcut.cpp
  src/modules/keyboardmanager/common/Shortcut.h
  src/settings-ui/Settings.UI.Library/AppSpecificKeysDataModel.cs
  src/settings-ui/Settings.UI.Library/KeysDataModel.cs
  src/settings-ui/Settings.UI.Library/SettingsBackupAndRestoreUtils.cs
  src/settings-ui/Settings.UI.Library/backup_restore_settings.json
  src/settings-ui/Settings.UI/Converters/KeyVisualTemplateSelector.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/DashboardPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/KeyboardManagerPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/KeyboardManagerViewModel.cs
  tools/BugReportTool/BugReportTool/Main.cpp
Labels: Product-Keyboard Shortcut Manager
