Repository microsoft/PowerToys, pull requests merged in 2024-04, with the labels that each got.

#32006 [PTRun][Docs] Add WebSearchShortcut to Third-Party plugins
  .github/actions/spell-check/allow/names.txt
  doc/thirdPartyRunPlugins.md
Labels: Needs-Review

#32309 [Run][Folder] Allow UNC starting with //
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder.UnitTests/DriveOrSharedFolderTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/Path/FolderHelper.cs
Labels: Needs-Review

#32087 Peek: icons, removed unneeded RTL code, ui tweaks and code suggestions
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
  src/modules/peek/Peek.Common/Constants/WindowConstants.cs
  src/modules/peek/Peek.Common/Extensions/IFileSystemItemExtensions.cs
  src/modules/peek/Peek.Common/Extensions/IPropertyStoreExtensions.cs
  src/modules/peek/Peek.Common/Models/IFileSystemItem.cs
  src/modules/peek/Peek.FilePreviewer/Controls/ArchiveControl.xaml
  src/modules/peek/Peek.FilePreviewer/Controls/AudioControl.xaml
  src/modules/peek/Peek.FilePreviewer/Controls/DriveControl.xaml
  src/modules/peek/Peek.FilePreviewer/Controls/DriveControl.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Controls/UnsupportedFilePreview/FailedFallbackPreviewControl.xaml
  src/modules/peek/Peek.FilePreviewer/Controls/UnsupportedFilePreview/InformationalPreviewControl.xaml
  src/modules/peek/Peek.FilePreviewer/Controls/UnsupportedFilePreview/UnsupportedFilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.UI/PeekXAML/App.xaml
  src/modules/peek/Peek.UI/PeekXAML/App.xaml.cs
  src/modules/peek/Peek.UI/PeekXAML/MainWindow.xaml
  src/modules/peek/Peek.UI/PeekXAML/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/PeekXAML/Views/TitleBar.xaml
  src/modules/peek/Peek.UI/PeekXAML/Views/TitleBar.xaml.cs
  src/modules/peek/Peek.UI/Services/IUserSettings.cs
  src/modules/peek/Peek.UI/Services/NeighboringItemsQuery.cs
  src/modules/peek/Peek.UI/Services/UserSettings.cs
  src/modules/peek/Peek.UI/Strings/en-us/Resources.resw
  src/modules/previewpane/PdfPreviewHandler/PdfPreviewHandlerControl.cs
Labels: Product-Peek

#32311 [ImageResize] Narrator announcing sizes ComboBox and CheckBoxes
  src/modules/imageresizer/ui/App.xaml
  src/modules/imageresizer/ui/Properties/Resources.Designer.cs
  src/modules/imageresizer/ui/Properties/Resources.resx
  src/modules/imageresizer/ui/Views/AccessTextToTextConverter.cs
  src/modules/imageresizer/ui/Views/InputPage.xaml
Labels: Needs-Review

#32362 [Settings] Theme override fix and cleanup
  src/settings-ui/Settings.UI.UnitTests/ViewModelTests/General.cs
  src/settings-ui/Settings.UI/Helpers/WindowHelper.cs
  src/settings-ui/Settings.UI/Services/ThemeService.cs
  src/settings-ui/Settings.UI/SettingsXAML/App.xaml.cs
  src/settings-ui/Settings.UI/SettingsXAML/MainWindow.xaml.cs
  src/settings-ui/Settings.UI/SettingsXAML/OobeWindow.xaml.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml.cs
  src/settings-ui/Settings.UI/ViewModels/DashboardViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/GeneralViewModel.cs
Labels: Needs-Review

#32400 [PowerRename] fix regex help
  src/modules/powerrename/PowerRenameUILib/PowerRenameXAML/MainWindow.xaml.cpp
Labels: Needs-Review

#31655 [PTRun][Docs] Updated Third party plugins to include 1Password
  .github/actions/spell-check/allow/names.txt
  doc/thirdPartyRunPlugins.md
Labels: Needs-Triage, Needs-Team-Response

#32579 [Settings][Accessibility] Assign AutomationProperties.Name to Backup …
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Area-Accessibility

#32578 [FZ Editor][Accessibility] List keyboard shortcuts in CanvasEditorWindow
  src/modules/fancyzones/editor/FancyZonesEditor/CanvasEditorWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/GridEditorWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
Labels: Area-Accessibility
