Repository microsoft/PowerToys, pull requests merged in 2024-06, with the labels that each got.

#33127 [Advanced Paste > UX] Small spelling fix
  src/modules/AdvancedPaste/AdvancedPaste/Strings/en-us/Resources.resw
Labels: Good to Merge

#32805 [Hosts] Duplicate check improvement
  src/modules/Hosts/Hosts/HostsXAML/App.xaml.cs
  src/modules/Hosts/Hosts/Settings/UserSettings.cs
  src/modules/Hosts/HostsUILib/Helpers/DuplicateService.cs
  src/modules/Hosts/HostsUILib/Helpers/IDuplicateService.cs
  src/modules/Hosts/HostsUILib/Helpers/IHostsService.cs
  src/modules/Hosts/HostsUILib/Settings/IUserSettings.cs
  src/modules/Hosts/HostsUILib/ViewModels/MainViewModel.cs
Labels: revisit-0.82.0

#32802 [FindMyMouse] Add Win+Ctrl double press option
  src/modules/MouseUtils/FindMyMouse/FindMyMouse.cpp
  src/modules/MouseUtils/FindMyMouse/FindMyMouse.h
  src/modules/MouseUtils/FindMyMouse/dllmain.cpp
  src/settings-ui/Settings.UI.Library/FindMyMouseProperties.cs
  src/settings-ui/Settings.UI/Converters/IndexBitFieldToVisibilityConverter.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseUtilsPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/MouseUtilsViewModel.cs
Labels: Good to Merge

#32928 PowerRename Apostrophe Handling with Capitalize and Titlecase Flags
  src/modules/powerrename/lib/Helpers.cpp
  src/modules/powerrename/unittests/PowerRenameManagerTests.cpp
  src/modules/powerrename/unittests/TestFileHelper.cpp
  src/modules/powerrename/unittests/TestFileHelper.h
Labels: Good to Merge

#33104 [Quick Accent] Add IPA
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerAccentPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
Labels: Needs-Triage, Needs-Team-Response

#33199 [Advanced Paste > Paste as JSON] Improve delimiter handling for CSV and add plain text parser
  src/modules/AdvancedPaste/AdvancedPaste/Helpers/JsonHelper.cs
Labels: Needs-Review, Product-Advanced Paste

#33124 [Settings > Advanced Paste] Fix visible gpo infobars on disabled module
  src/settings-ui/Settings.UI/SettingsXAML/Views/AdvancedPaste.xaml
  src/settings-ui/Settings.UI/ViewModels/AdvancedPasteViewModel.cs
Labels: Needs-Review

#33167 Resolved hanging of the program while closing an unresponsive task
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/Window.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/WindowProcess.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Properties/Resources.resx
  src/modules/launcher/Wox.Plugin/Common/Win32/NativeMethods.cs
Labels: Product-PowerToys Run, Needs-Review

#33352 Removing a noisy error from spell check
  .github/actions/spell-check/allow/code.txt
Labels: Needs-Review

#32732 [MeasureTool] Update default activation shortcut to resolve conflict with Windows Explorer built-in shortcut
  src/modules/MeasureTool/MeasureToolModuleInterface/dllmain.cpp
  src/settings-ui/Settings.UI.Library/MeasureToolProperties.cs
Labels: Needs-Review

#33201 [Advanced Paste > Paste as JSON] Add support for converting from ini to json
  src/modules/AdvancedPaste/AdvancedPaste/Helpers/JsonHelper.cs
Labels: Needs-Review, Product-Advanced Paste

#33384 [Preview Pane] Sticky scroll setting is handled twice #33288
  src/modules/previewpane/MonacoPreviewHandler/MonacoPreviewHandlerControl.cs
Labels: Needs-Review

#32567 Update Xamlstyler.console to 3.2404.2
  .config/dotnet-tools.json
Labels: Needs-Review, revisit-0.82.0

#32572 [DEPS] Update Unitsnet to 5.50.0
  Directory.Packages.props
  NOTICE.md
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/UnitHandler.cs
Labels: Needs-Review, revisit-0.82.0

#32836 [PowerRename] Random string values to file names
  .github/actions/spell-check/expect.txt
  src/modules/powerrename/PowerRenameUILib/PowerRenameXAML/MainWindow.idl
  src/modules/powerrename/PowerRenameUILib/PowerRenameXAML/MainWindow.xaml
  src/modules/powerrename/PowerRenameUILib/PowerRenameXAML/MainWindow.xaml.cpp
  src/modules/powerrename/PowerRenameUILib/PowerRenameXAML/MainWindow.xaml.h
  src/modules/powerrename/PowerRenameUILib/Strings/en-us/Resources.resw
  src/modules/powerrename/lib/Helpers.cpp
  src/modules/powerrename/lib/Helpers.h
  src/modules/powerrename/lib/PowerRenameInterfaces.h
  src/modules/powerrename/lib/PowerRenameLib.vcxproj
  src/modules/powerrename/lib/PowerRenameRegEx.cpp
  src/modules/powerrename/lib/PowerRenameRegEx.h
  src/modules/powerrename/lib/Randomizer.cpp
  src/modules/powerrename/lib/Randomizer.h
  src/modules/powerrename/lib/pch.h
  src/modules/powerrename/unittests/CommonRegExTests.h
Labels: Needs-Review
