Repository microsoft/PowerToys, pull requests merged in 2024-09, with the labels that each got.

#34602 [Workspaces] Fix snapping Discord
  src/modules/Workspaces/WorkspacesLib/AppUtils.cpp
Labels: Hot Fix

#34627 [Workspaces] Fix snapshotting Steam
  src/modules/Workspaces/WorkspacesSnapshotTool/SnapshotUtils.cpp
Labels: Hot Fix

#34596 [Settings] Fix workspaces URI
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeWorkspaces.xaml
Labels: Hot Fix

#34640 [Workspaces] Discord and Steam fixes - follow up
  src/modules/Workspaces/WorkspacesSnapshotTool/SnapshotUtils.cpp
Labels: Hot Fix

#34553 [Workspaces] fix button borders
  src/modules/Workspaces/WorkspacesEditor/MainPage.xaml
  src/modules/Workspaces/WorkspacesEditor/WorkspacesEditorPage.xaml
Labels: Hot Fix

#34419 Community Toolkit upgrade to 8.1.240821 (after .84 is verified stable)
  .vsconfig
  Cpp.Build.props
  Directory.Packages.props
  NOTICE.md
  src/Common.Dotnet.CsWinRT.props
  src/modules/CropAndLock/CropAndLock/CropAndLock.vcxproj
  src/modules/FileLocksmith/FileLocksmithLibInterop/FileLocksmithLibInterop.vcxproj
  src/modules/FileLocksmith/FileLocksmithUI/Properties/PublishProfiles/InstallationPublishProfile.pubxml
  src/modules/MeasureTool/MeasureToolCore/PowerToys.MeasureToolCore.vcxproj
  src/modules/Workspaces/WorkspacesLib/WorkspacesLib.vcxproj
  src/modules/Workspaces/WorkspacesLib/WorkspacesLib.vcxproj.filters
  src/modules/Workspaces/WorkspacesLib/packages.config
  src/modules/alwaysontop/AlwaysOnTop/WindowCornersUtil.cpp
  src/modules/fancyzones/FancyZonesLib/WindowUtils.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardManagerEngineLibrary.vcxproj
  src/modules/launcher/PowerLauncher/Properties/PublishProfiles/InstallationPublishProfile.pubxml
  src/modules/previewpane/MarkdownPreviewHandler/Properties/PublishProfiles/InstallationPublishProfile.pubxml
  src/modules/previewpane/MonacoPreviewHandler/Properties/PublishProfiles/InstallationPublishProfile.pubxml
  src/modules/previewpane/SvgPreviewHandler/Properties/PublishProfiles/InstallationPublishProfile.pubxml
  src/modules/previewpane/SvgThumbnailProvider/Properties/PublishProfiles/InstallationPublishProfile.pubxml
  src/settings-ui/Settings.UI/Properties/PublishProfiles/InstallationPublishProfile.pubxml
Labels: Needs-Review

#34821 [Settings] WinAppSDK 1.6 Flyout Fix
  src/settings-ui/Settings.UI/Helpers/NativeMethods.cs
  src/settings-ui/Settings.UI/SettingsXAML/FlyoutWindow.xaml
  src/settings-ui/Settings.UI/SettingsXAML/FlyoutWindow.xaml.cs
  src/settings-ui/Settings.UI/ViewModels/Flyout/FlyoutViewModel.cs
Labels: Needs-Review

#34504 [Peek] Fix for DateModified tooltip property showing file creation date
  src/modules/peek/Peek.Common/Models/IFileSystemItem.cs
Labels: Good to Merge

#34484 [Peek] Fix memory leak caused by unmanaged bitmaps not being freed
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Peek.FilePreviewer.csproj
Labels: Good to Merge

#34802 [Workspaces] add check on project id when launching from editor
  src/modules/Workspaces/WorkspacesLauncher/main.cpp
Labels: Good to Merge

#34999 [New+ > Settings page] Init fix and fix for enabled state of controls
  src/settings-ui/Settings.UI/SettingsXAML/Views/NewPlusPage.xaml
  src/settings-ui/Settings.UI/ViewModels/NewPlusViewModel.cs
Labels: Issue-Bug, Product-Settings, Priority-0, Needs-Review

#35002 [Enterprise, GPO] gpo.h: Fixes and code order improvements
  src/common/utils/gpo.h
Labels: Issue-Bug, Priority-1, Area-Enterprise, Needs-Review

#35006 [BugReport Tool] Add new policy for enabled state of New+ utility
  tools/BugReportTool/BugReportTool/ReportGPOValues.cpp
Labels: Priority-3, Area-Bug Report Tool, Area-Enterprise, Needs-Review

#34991 [Peek] Fix PreviewHandler previewer not visible on first activation
  src/modules/peek/Peek.FilePreviewer/Controls/ShellPreviewHandlerControl.xaml
  src/modules/peek/Peek.FilePreviewer/Controls/ShellPreviewHandlerControl.xaml.cs
Labels: Needs-Review

#34689 [EnvVar] Treat well-known debugging environment variables as lists
  .github/actions/spell-check/expect.txt
  src/modules/EnvironmentVariables/EnvironmentVariablesUILib/Models/Variable.cs
Labels: Needs-Review

#34564 [Run] Improve error MessageBox
  src/modules/launcher/PowerLauncher/Plugin/PluginManager.cs
  src/modules/launcher/PowerLauncher/Properties/Resources.Designer.cs
  src/modules/launcher/PowerLauncher/Properties/Resources.resx
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: Needs-Review

#34544 [Peek] Fix thumbnails being created and not used. Fix icon bitmaps leaking memory. Simplify ImagePreviewer.
  src/modules/peek/Peek.Common/Models/Win32/IShellItemImageFactory.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Drive/DrivePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Helpers/IconHelper.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Helpers/ThumbnailHelper.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/MediaPreviewer/AudioPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/MediaPreviewer/Helpers/ThumbnailHelper.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/MediaPreviewer/ImagePreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/SpecialFolderPreviewer/SpecialFolderPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/UnsupportedFilePreviewer/UnsupportedFilePreviewer.cs
Labels: Good to Merge

#34985 Significantly rework GenerateAllFileComponents
  installer/PowerToysSetup/generateAllFileComponents.ps1
  installer/PowerToysSetup/generateFileComponents.ps1
  installer/PowerToysSetup/generateFileList.ps1
Labels: Needs-Review

#31905 [Quick Accent] Add Middle Eastern Romanization
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/modules/poweraccent/PowerAccent.Core/PowerAccent.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerAccentPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
Labels: Needs-Review

#34905 [FileLocksmith] Fix triggering FileLocksmith unexpectedly
  src/modules/FileLocksmith/FileLocksmithExt/ExplorerCommand.cpp
Labels: Needs-Review

#35000 [New+, Enterprise] Policy for showing filename extension
  src/common/GPOWrapper/GPOWrapper.cpp
  src/common/GPOWrapper/GPOWrapper.h
  src/common/GPOWrapper/GPOWrapper.idl
  src/common/utils/gpo.h
  src/gpo/assets/PowerToys.admx
  src/gpo/assets/en-US/PowerToys.adml
  src/modules/NewPlus/NewShellExtensionContextMenu/settings.cpp
  src/settings-ui/Settings.UI/SettingsXAML/Views/NewPlusPage.xaml
  src/settings-ui/Settings.UI/ViewModels/NewPlusViewModel.cs
  tools/BugReportTool/BugReportTool/ReportGPOValues.cpp
Labels: Area-Enterprise, Needs-Review

#35026 [AdvancedPaste] Check "Paste with AI" enabled state for custom actions
  src/modules/AdvancedPaste/AdvancedPaste/ViewModels/OptionsViewModel.cs
  src/modules/AdvancedPaste/AdvancedPasteModuleInterface/dllmain.cpp
  src/settings-ui/Settings.UI/SettingsXAML/Views/AdvancedPaste.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/AdvancedPasteViewModel.cs
Labels: Needs-Review

#35047 [AdvancedPaste] Hide custom actions on Paste menu when Paste with AI disabled
  src/modules/AdvancedPaste/AdvancedPaste/AdvancedPasteXAML/MainWindow.xaml.cs
  src/modules/AdvancedPaste/AdvancedPaste/ViewModels/OptionsViewModel.cs
  src/modules/AdvancedPaste/AdvancedPasteModuleInterface/dllmain.cpp
Labels: Needs-Review

#35018 [Workspaces] add monitor detection
  src/modules/Workspaces/WorkspacesEditor/Models/Application.cs
Labels: Needs-Review

#34845 [Run-UnitConverter] Use capital letters in DegreePrefixer
  doc/devdocs/modules/launcher/plugins/community.unitconverter.md
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/InputInterpreterTests.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/InputInterpreter.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/UnitHandler.cs
Labels: Needs-Review

#35060 [Settings > New+] Fixed crash when cancel template folder selection
  src/settings-ui/Settings.UI/ViewModels/NewPlusViewModel.cs
Labels: Priority-0, Severity-High, Needs-Review

#34984 Rewrite the entire Azure DevOps build system
  .github/actions/spell-check/expect.txt
  .pipelines/ci/caching.yml
  .pipelines/ci/ci.yml
  .pipelines/ci/templates/build-powertoys-ci.yml
  .pipelines/ci/templates/build-powertoys-installer.yml
  .pipelines/ci/templates/build-powertoys-precheck.yml
  .pipelines/ci/templates/build-powertoys-steps.yml
  .pipelines/ci/templates/run-ui-tests-ci.yml
  .pipelines/installer-steps.yml
  .pipelines/release.yml
  .pipelines/v2/ci.yml
  .pipelines/v2/release.yml
  .pipelines/v2/templates/job-build-project.yml
  .pipelines/v2/templates/job-ci-precheck.yml
  .pipelines/v2/templates/job-publish-symbols-using-symbolrequestprod-api.yml
  .pipelines/v2/templates/job-test-project.yml
  .pipelines/v2/templates/pipeline-ci-build.yml
  .pipelines/v2/templates/steps-build-installer.yml
  .pipelines/v2/templates/steps-ensure-dotnet-version.yml
  .pipelines/v2/templates/steps-ensure-nuget-version.yml
  .pipelines/v2/templates/steps-esrp-signing.yml
  .pipelines/v2/templates/steps-fetch-and-prepare-localizations.yml
  .pipelines/v2/templates/steps-restore-nuget.yml
  installer/PowerToysSetupCustomActions/PowerToysSetupCustomActions.vcxproj
  src/modules/previewpane/UnitTests-SvgThumbnailProvider/UnitTests-SvgThumbnailProvider.csproj
Labels: Needs-Review

#35067 [FancyZones] Allow snapping apps launched by Workspaces
  src/modules/fancyzones/FancyZonesLib/FancyZones.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesWindowProcessing.cpp
  src/modules/fancyzones/FancyZonesLib/FancyZonesWindowProcessing.h
  src/modules/fancyzones/FancyZonesLib/WindowMouseSnap.cpp
  src/modules/fancyzones/FancyZonesTests/UnitTests/WindowProcessingTests.Spec.cpp
Labels: In for .85

#35066 [Settings > New+] Crash when running Dev build of settings
  src/settings-ui/Settings.UI/ViewModels/NewPlusViewModel.cs
Labels: Needs-Review, In for .85

#34971 [General]Support language change
  .github/actions/spell-check/expect.txt
  .pipelines/versionSetting.ps1
  PowerToys.sln
  src/common/ManagedCommon/LanguageHelper.cs
  src/common/interop/PowerToys.Interop.vcxproj
  src/common/utils/language_helper.h
  src/common/utils/resources.h
  src/modules/AdvancedPaste/AdvancedPaste/AdvancedPasteXAML/App.xaml.cs
  src/modules/EnvironmentVariables/EnvironmentVariables/EnvironmentVariablesXAML/App.xaml.cs
  src/modules/FileLocksmith/FileLocksmithContextMenu/pch.h
  src/modules/FileLocksmith/FileLocksmithUI/FileLocksmithXAML/App.xaml.cs
  src/modules/Hosts/Hosts/HostsXAML/App.xaml.cs
  src/modules/MeasureTool/MeasureToolUI/MeasureToolXAML/App.xaml.cs
  src/modules/PowerOCR/PowerOCR/App.xaml.cs
  src/modules/Workspaces/WorkspacesEditor/App.xaml.cs
  src/modules/Workspaces/WorkspacesLauncherUI/App.xaml.cs
  src/modules/awake/Awake/Program.cs
  src/modules/colorPicker/ColorPickerUI/App.xaml.cs
  src/modules/fancyzones/editor/FancyZonesEditor/App.xaml.cs
  src/modules/imageresizer/ui/App.xaml.cs
  src/modules/imageresizer/ui/ImageResizerUI.csproj
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/Dialog.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/EditKeyboardWindow.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/EditShortcutsWindow.cpp
  src/modules/launcher/PowerLauncher/App.xaml.cs
  src/modules/launcher/Wox.Plugin/PluginLoadContext.cs
  src/modules/peek/Peek.UI/PeekXAML/App.xaml.cs
  src/modules/powerrename/PowerRenameUILib/PowerRenameXAML/App.xaml.cpp
  src/modules/powerrename/PowerRenameUILib/pch.h
  src/modules/registrypreview/RegistryPreview/RegistryPreviewXAML/App.xaml.cs
  src/runner/settings_window.cpp
  src/settings-ui/Settings.UI.Library/LanguageModel.cs
  src/settings-ui/Settings.UI.Library/OutGoingLanguageSettings.cs
  src/settings-ui/Settings.UI/SettingsXAML/App.xaml.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/GeneralViewModel.cs
Labels: Needs-Review, In for .85

#35072 Adding New+ to the GitHub Issue Templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/translation_issue.yml
Labels: In for .85

#34717 Awake Updates - `PROMETHEAN_09082024`
  .pipelines/v2/ci.yml
  doc/planning/awake.md
  src/modules/awake/Awake/Core/Constants.cs
  src/modules/awake/Awake/Core/Threading/SingleThreadSynchronizationContext.cs
  src/modules/awake/Awake/Core/TrayHelper.cs
  src/modules/awake/Awake/Program.cs
Labels: Needs-Review, In for .85

#34948 [Workspaces] implement standalone app handling
  .github/actions/spell-check/expect.txt
  src/modules/Workspaces/WorkspacesSnapshotTool/SnapshotUtils.cpp
  src/modules/Workspaces/WorkspacesWindowArranger/WindowArranger.cpp
Labels: Needs-Review, Product-Workspaces, In for .85

#35113 Removed build status from readme
  README.md
Labels: Needs-Review
