Repository microsoft/PowerToys, pull requests merged in 2024-07, with the labels that each got.

#33198 fixed : [Settings] Incorrect spacing in the update available card
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml
Labels: Good to Merge

#33529 [Enterprise > Policies] Reorder ADMX to make it easier to find some policies
  src/gpo/assets/PowerToys.admx
  src/gpo/assets/en-US/PowerToys.adml
Labels: Area-Enterprise, Needs-Review

#33562 [Settings > MWB] Fix infobars to hide when moduls is disabled and beeing not closable
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseWithoutBordersPage.xaml
  src/settings-ui/Settings.UI/ViewModels/MouseWithoutBordersViewModel.cs
Labels: Product-Settings, Needs-Review

#33564 [MWB > Original UI > Settings] Disable setting that we do not support
  src/modules/MouseWithoutBorders/App/Class/Setting.cs
  src/modules/MouseWithoutBorders/App/Form/frmMatrix.cs
Labels: Needs-Review, Product-Mouse Without Borders

#33586 [Settings > MWB] Align glyphs in Shortcut settings section
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseWithoutBordersPage.xaml
Labels: Product-Settings, Good to Merge

#33693 [Settings > PowerToys] Fix Layout bug affecting the Action Keyword info bar
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerLauncherPage.xaml
Labels: Product-Settings, Needs-Review

#33550 [QuickAccent] Add Bulgarian
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerAccentPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
Labels: Good to Merge

#33594 [PT-Run] Unit converter - Can´t use abbreviations
  .github/actions/spell-check/expect.txt
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/InputInterpreter.cs
Labels: Good to Merge

#33830 [PTRun][Docs] Add GitHubRepo and ProcessKiller third-party plugins
  .github/actions/spell-check/allow/names.txt
  doc/thirdPartyRunPlugins.md
Labels: Good to Merge

#33747 KBM Common had a compiler limitation for some reason
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj
Labels: Needs-Review

#33822 [Runner] Handle release tag with uppercase V during update
  src/common/UnitTests-CommonLib/UnitTestsVersionHelper.cpp
  src/common/version/helper.cpp
Labels: Needs-Review

#33810 [ci]: Case insensitively replace version prefix for winget's PackageVersion
  .github/workflows/package-submissions.yml
Labels: Needs-Review

#33406 [PT Run > Date and Time plugin] Setting `First week of year` and `First day of week`
  doc/devdocs/modules/launcher/plugins/timedate.md
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/PluginSettingsTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/TimeAndDateHelperTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/TimeDateResultTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/AvailableResultsList.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/TimeAndDateHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/TimeDateSettings.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.resx
Labels: Idea-Enhancement, Run-Plugin, Needs-Review

#33862 [Build] Remove wildcards items in vcxproj
  Cpp.Build.props
  PowerToys.sln
  src/modules/FileLocksmith/FileLocksmithContextMenu/FileLocksmithContextMenu.vcxproj
  src/modules/FileLocksmith/FileLocksmithContextMenu/FileLocksmithContextMenu.vcxproj.filters
  src/modules/ShortcutGuide/ShortcutGuide/ShortcutGuide.vcxproj
  src/modules/imageresizer/ImageResizerContextMenu/ImageResizerContextMenu.vcxproj
  src/modules/powerrename/PowerRenameContextMenu/PowerRenameContextMenu.vcxproj
Labels: Needs-Review

#33309 [PT-Run] Allow interchangeable use of / instead of \
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry.UnitTest/Helper/QueryHelperTest.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Helper/QueryHelper.cs
Labels: Good to Merge

#33740 [PT Run > System plugin] Support automatic logon after reboot
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Components/Commands.cs
Labels: Run-Plugin, Needs-Review

#33571 [MWB > Settings + GP] Add new MWB GPs and improve settings ui for TransferFile setting
  .github/actions/spell-check/expect.txt
  src/common/GPOWrapper/GPOWrapper.cpp
  src/common/GPOWrapper/GPOWrapper.h
  src/common/GPOWrapper/GPOWrapper.idl
  src/common/utils/gpo.h
  src/gpo/assets/PowerToys.admx
  src/gpo/assets/en-US/PowerToys.adml
  src/modules/MouseWithoutBorders/App/Class/Setting.cs
  src/modules/MouseWithoutBorders/App/Class/SocketStuff.cs
  src/modules/MouseWithoutBorders/App/Form/frmMatrix.Designer.cs
  src/modules/MouseWithoutBorders/App/Form/frmMatrix.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseWithoutBordersPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/MouseWithoutBordersViewModel.cs
  tools/BugReportTool/BugReportTool/ReportGPOValues.cpp
Labels: Area-Enterprise, Product-Mouse Without Borders, Good to Merge

#33963 Getting latest sqlite
  Directory.Packages.props
  NOTICE.md
Labels: Needs-Review

#33964 Upgrading NuGet testing frameworks to latest
  Directory.Packages.props
  NOTICE.md
Labels: Needs-Review

#33874 [Advanced Paste > Paste as JSON] Fixed CSV parser for support of escaping delimiter by enclosing in `"`
  .github/actions/spell-check/expect.txt
  src/modules/AdvancedPaste/AdvancedPaste/Helpers/JsonHelper.cs
Labels: Needs-Review

#33979 fixed typo in readme
  README.md
Labels: Good to Merge

#33938 [Build][Installer]Fix NU1503 build warnings
  .pipelines/ci/templates/build-powertoys-steps.yml
  installer/PowerToysSetup/PowerToysBootstrapper.wixproj
  installer/PowerToysSetup/PowerToysInstaller.wixproj
Labels: Good to Merge

#33804 [FileLockSmith] Show process files in modal dialog
  src/modules/FileLocksmith/FileLocksmithUI/FileLocksmithXAML/App.xaml.cs
  src/modules/FileLocksmith/FileLocksmithUI/FileLocksmithXAML/Views/MainPage.xaml
  src/modules/FileLocksmith/FileLocksmithUI/FileLocksmithXAML/Views/MainPage.xaml.cs
  src/modules/FileLocksmith/FileLocksmithUI/Strings/en-us/Resources.resw
Labels: Needs-Review

#33986 [Advanced Paste > To JSON] CSV parser: Handle control characters (quotation marks) correctly
  src/modules/AdvancedPaste/AdvancedPaste/Helpers/JsonHelper.cs
Labels: Good to Merge

#32378 Awake Update - `DAISY023_04102024`
  .github/actions/spell-check/expect.txt
  Directory.Build.props
  Directory.Packages.props
  NOTICE.md
  doc/planning/awake.md
  src/modules/awake/Awake/Assets/Awake/disabled.ico
  src/modules/awake/Awake/Assets/Awake/expirable.ico
  src/modules/awake/Awake/Assets/Awake/indefinite.ico
  src/modules/awake/Awake/Assets/Awake/normal.ico
  src/modules/awake/Awake/Assets/Awake/scheduled.ico
  src/modules/awake/Awake/Assets/Awake/timed.ico
  src/modules/awake/Awake/Awake.csproj
  src/modules/awake/Awake/Core/Constants.cs
  src/modules/awake/Awake/Core/ExtensionMethods.cs
  src/modules/awake/Awake/Core/Manager.cs
  src/modules/awake/Awake/Core/Models/MSG.cs
  src/modules/awake/Awake/Core/Models/MenuInfo.cs
  src/modules/awake/Awake/Core/Models/NOTIFYICONDATA.cs
  src/modules/awake/Awake/Core/Models/POINT.cs
  src/modules/awake/Awake/Core/Models/SingleThreadSynchronizationContext.cs
  src/modules/awake/Awake/Core/Models/TrayCommands.cs
  src/modules/awake/Awake/Core/Models/TrayIconAction.cs
  src/modules/awake/Awake/Core/Models/WNDCLASSEX.cs
  src/modules/awake/Awake/Core/Native/Bridge.cs
  src/modules/awake/Awake/Core/Native/Constants.cs
  src/modules/awake/Awake/Core/TrayHelper.cs
  src/modules/awake/Awake/Core/TrayMessageFilter.cs
  src/modules/awake/Awake/Program.cs
  src/modules/awake/Awake/Properties/Resources.Designer.cs
  src/modules/awake/Awake/Properties/Resources.resx
  src/settings-ui/Settings.UI.Library/AwakeMode.cs
  src/settings-ui/Settings.UI.Library/AwakeProperties.cs
  src/settings-ui/Settings.UI.Library/AwakeSettings.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/AwakePage.xaml
  src/settings-ui/Settings.UI/ViewModels/AwakeViewModel.cs
Labels: Product-Awake, Good to Merge

#34054 Awake - `DAISY` build fix (pre-83)
  src/modules/awake/Awake/Awake.csproj
  src/modules/awake/Awake/Core/ExtensionMethods.cs
  src/modules/awake/Awake/Core/Manager.cs
  src/modules/awake/Awake/Core/TrayHelper.cs
  src/modules/awake/Awake/Program.cs
  src/modules/awake/Awake/Properties/Resources.Designer.cs
  src/modules/awake/Awake/Properties/Resources.resx
  src/modules/awake/Awake/app.manifest
Labels: Product-Awake, Needs-Review
