Repository microsoft/PowerToys, pull requests merged in 2024-10, with the labels that each got.

#35233 [Workspaces] Fix launching incorrect workspace via shortcut
  src/modules/Workspaces/WorkspacesLauncher/main.cpp
Labels: Hot Fix

#35237 [Settings]Fix crash showing non-existent New+ template folder
  src/settings-ui/Settings.UI/ViewModels/NewPlusViewModel.cs
Labels: Hot Fix

#35084 [Chore] Common Logger: Log missing Exception type
  src/common/ManagedCommon/Logger.cs
Labels: Needs-Review

#35176 [PTRun][WebSearch] Fix title not displaying last letter
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/Main.cs
Labels: Needs-Review

#35073 [PTRun][UnitConverter]Preserve more significant digits
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter.UnitTest/UnitHandlerTests.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Main.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/UnitConversionResult.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/UnitHandler.cs
Labels: Good to Merge

#35076 [Peek] Improve folder enumeration
  src/modules/peek/Peek.FilePreviewer/Previewers/UnsupportedFilePreviewer/UnsupportedFilePreviewer.cs
Labels: Good to Merge

#35235 [Settings > New+ page] Fix enabled state of template backup info bar
  src/settings-ui/Settings.UI/SettingsXAML/Views/NewPlusPage.xaml
Labels: Good to Merge

#35156 Ready for Review - [Mouse Without Borders] - refactoring "Common" classes - ```Common.Log.cs```
  .github/actions/spell-check/expect.txt
  PowerToys.sln
  src/modules/MouseWithoutBorders/App/Class/Common.Clipboard.cs
  src/modules/MouseWithoutBorders/App/Class/Common.DragDrop.cs
  src/modules/MouseWithoutBorders/App/Class/Common.Encryption.cs
  src/modules/MouseWithoutBorders/App/Class/Common.Event.cs
  src/modules/MouseWithoutBorders/App/Class/Common.Helper.cs
  src/modules/MouseWithoutBorders/App/Class/Common.InitAndCleanup.cs
  src/modules/MouseWithoutBorders/App/Class/Common.Launch.cs
  src/modules/MouseWithoutBorders/App/Class/Common.Log.cs
  src/modules/MouseWithoutBorders/App/Class/Common.MachineStuff.cs
  src/modules/MouseWithoutBorders/App/Class/Common.Receiver.cs
  src/modules/MouseWithoutBorders/App/Class/Common.Service.cs
  src/modules/MouseWithoutBorders/App/Class/Common.ShutdownWithPowerToys.cs
  src/modules/MouseWithoutBorders/App/Class/Common.WinAPI.cs
  src/modules/MouseWithoutBorders/App/Class/Common.cs
  src/modules/MouseWithoutBorders/App/Class/CustomCursor.cs
  src/modules/MouseWithoutBorders/App/Class/Extensions.cs
  src/modules/MouseWithoutBorders/App/Class/IClipboardHelper.cs
  src/modules/MouseWithoutBorders/App/Class/InputHook.cs
  src/modules/MouseWithoutBorders/App/Class/InputSimulation.cs
  src/modules/MouseWithoutBorders/App/Class/Program.cs
  src/modules/MouseWithoutBorders/App/Class/Setting.cs
  src/modules/MouseWithoutBorders/App/Class/SocketStuff.cs
  src/modules/MouseWithoutBorders/App/Class/TcpServer.cs
  src/modules/MouseWithoutBorders/App/Core/Logger.cs
  src/modules/MouseWithoutBorders/App/Form/Settings/SettingsForm.cs
  src/modules/MouseWithoutBorders/App/Form/Settings/SetupPage3a.cs
  src/modules/MouseWithoutBorders/App/Form/frmInputCallback.cs
  src/modules/MouseWithoutBorders/App/Form/frmMatrix.cs
  src/modules/MouseWithoutBorders/App/Form/frmScreen.cs
  src/modules/MouseWithoutBorders/App/Helper/FormHelper.cs
  src/modules/MouseWithoutBorders/App/Properties/AssemblyInfo.cs
  src/modules/MouseWithoutBorders/MouseWithoutBorders.UnitTests/Core/Logger.PrivateDump.expected.txt
  src/modules/MouseWithoutBorders/MouseWithoutBorders.UnitTests/Core/Logger.PrivateDump.original.txt
  src/modules/MouseWithoutBorders/MouseWithoutBorders.UnitTests/Core/LoggerTests.cs
  src/modules/MouseWithoutBorders/MouseWithoutBorders.UnitTests/MouseWithoutBorders.UnitTests.csproj
Labels: Good to Merge

#35459 [PTRun]Improve copy error handling
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Main.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.ValueGenerator/Main.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.resx
Labels: Good to Merge

#35520 [ci]Fail when a step in multiline powershell fails
  .pipelines/v2/templates/job-build-project.yml
  .pipelines/verifyArm64Configuration.ps1
  .pipelines/versionAndSignCheck.ps1
Labels: Good to Merge

#35582 [MouseJump]Bring back telemetry events
  src/common/interop/Constants.cpp
  src/common/interop/Constants.h
  src/common/interop/Constants.idl
  src/common/interop/shared_constants.h
  src/modules/MouseUtils/MouseJump/dllmain.cpp
  src/modules/MouseUtils/MouseJumpUI/MainForm.cs
  src/modules/MouseUtils/MouseJumpUI/Program.cs
Labels: In for .86

#35603 Fix crash caused by dangling thread
  src/runner/settings_window.cpp
  src/settings-ui/Settings.UI/Helpers/NativeEventWaiter.cs
Labels: In for .86

#35597 Revert preview handlers telemetry logs and add tracers
  src/common/ManagedTelemetry/Telemetry/EtwTrace.cs
  src/modules/previewpane/GcodePreviewHandler/GcodePreviewHandlerControl.cs
  src/modules/previewpane/GcodePreviewHandler/Program.cs
  src/modules/previewpane/GcodePreviewHandler/Telemetry/Events/GcodeFileHandlerLoaded.cs
  src/modules/previewpane/GcodePreviewHandler/Telemetry/Events/GcodeFilePreviewError.cs
  src/modules/previewpane/GcodePreviewHandler/Telemetry/Events/GcodeFilePreviewed.cs
  src/modules/previewpane/MarkdownPreviewHandler/MarkdownPreviewHandlerControl.cs
  src/modules/previewpane/MarkdownPreviewHandler/Program.cs
  src/modules/previewpane/MarkdownPreviewHandler/Telemetry/Events/MarkdownFileHandlerLoaded.cs
  src/modules/previewpane/MarkdownPreviewHandler/Telemetry/Events/MarkdownFilePreviewError.cs
  src/modules/previewpane/MarkdownPreviewHandler/Telemetry/Events/MarkdownFilePreviewed.cs
  src/modules/previewpane/PdfPreviewHandler/PdfPreviewHandlerControl.cs
  src/modules/previewpane/PdfPreviewHandler/Program.cs
  src/modules/previewpane/PdfPreviewHandler/Telemetry/Events/PdfFileHandlerLoaded.cs
  src/modules/previewpane/PdfPreviewHandler/Telemetry/Events/PdfFilePreviewError.cs
  src/modules/previewpane/PdfPreviewHandler/Telemetry/Events/PdfFilePreviewed.cs
  src/modules/previewpane/QoiPreviewHandler/Program.cs
  src/modules/previewpane/QoiPreviewHandler/QoiPreviewHandlerControl.cs
  src/modules/previewpane/QoiPreviewHandler/Telemetry/Events/QoiFilePreviewError.cs
  src/modules/previewpane/QoiPreviewHandler/Telemetry/Events/QoiFilePreviewed.cs
  src/modules/previewpane/SvgPreviewHandler/Program.cs
  src/modules/previewpane/SvgPreviewHandler/SvgPreviewControl.cs
  src/modules/previewpane/SvgPreviewHandler/Telemetry/Events/SvgFileHandlerLoaded.cs
  src/modules/previewpane/SvgPreviewHandler/Telemetry/Events/SvgFilePreviewError.cs
  src/modules/previewpane/SvgPreviewHandler/Telemetry/Events/SvgFilePreviewed.cs
  src/settings-ui/Settings.UI/ViewModels/GeneralViewModel.cs
Labels: In for .86

#35429 Runner - Update notification opens settings
  src/common/notifications/notifications.cpp
  src/common/notifications/notifications.h
  src/runner/UpdateUtils.cpp
  src/runner/main.cpp
Labels: Good to Merge, In for .86

#35635 [Settings] Fix crash on View Diagnostic data click
  src/settings-ui/Settings.UI/ViewModels/GeneralViewModel.cs
Labels: Needs-Review, In for .86

#35637 Use background threads in NativeEventWaiters to prevent dangling threads
  src/modules/Hosts/Hosts/Helpers/NativeEventWaiter.cs
  src/modules/peek/Peek.UI/NativeEventWaiter.cs
  src/settings-ui/Settings.UI/Helpers/NativeEventWaiter.cs
Labels: In for .86

#35601 Adding in our "Data and Privacy" documentation
  .github/actions/spell-check/expect.txt
  DATA_AND_PRIVACY.md
Labels: In for .86
