Repository microsoft/PowerToys, pull requests merged in 2024-11, with the labels that each got.

#35656 [Deps] Upgrade System.IO.Abstractions
  .pipelines/ESRPSigning_core.json
  Directory.Packages.props
  NOTICE.md
  src/common/ManagedCommon/LanguageHelper.cs
  src/common/ManagedCommon/Logger.cs
  src/common/ManagedCommon/ManagedCommon.csproj
  src/modules/Hosts/Hosts.Tests/HostsServiceTest.cs
  src/modules/Hosts/Hosts.Tests/Mocks/MockFileSystemWatcher.cs
  src/modules/Hosts/Hosts.Tests/Mocks/MockFileSystemWatcherFactory.cs
  src/modules/Hosts/HostsUILib/Helpers/HostsService.cs
  src/modules/Workspaces/WorkspacesEditor/Utils/IOUtils.cs
  src/modules/fancyzones/FancyZonesEditorCommon/Utils/IOUtils.cs
  src/modules/fancyzones/UITests-FancyZonesEditor/Utils/IOTestHelper.cs
  src/modules/imageresizer/ui/Properties/Settings.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder.UnitTests/InternalQueryFolderTests.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Sources/QueryFileSystemInfo.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/ProgramSource.cs
  src/modules/launcher/Wox.Infrastructure/Helper.cs
  src/settings-ui/Settings.UI.Library/LanguageModel.cs
  src/settings-ui/Settings.UI.Library/UpdatingSettings.cs
  src/settings-ui/Settings.UI.Library/Utilities/Helper.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/AwakePage.xaml.cs
Labels: Needs-Review

#35907 SpellCheck > Allowed names: Remove duplicates
  .github/actions/spell-check/allow/names.txt
Labels: Area-GitHub workflow, Good to Merge

#35922 [DATA_AND_PRIVACY.md] updating the list of diagnostic data events
  DATA_AND_PRIVACY.md
Labels: Good to Merge

#35926 [PTRun][Docs] Add Bilibili to Third-Party plugins
  .github/actions/spell-check/allow/names.txt
  doc/thirdPartyRunPlugins.md
Labels: Good to Merge

#35913 [Workspaces] Implement PWA recognition, launch.
  .github/actions/spell-check/expect.txt
  PowerToys.sln
  src/modules/Workspaces/WorkspacesCsharpLibrary/Models/BaseApplication.cs
  src/modules/Workspaces/WorkspacesCsharpLibrary/PwaApp.cs
  src/modules/Workspaces/WorkspacesCsharpLibrary/PwaHelper.cs
  src/modules/Workspaces/WorkspacesCsharpLibrary/WorkspacesCsharpLibrary.csproj
  src/modules/Workspaces/WorkspacesEditor/Data/ProjectData.cs
  src/modules/Workspaces/WorkspacesEditor/Models/Application.cs
  src/modules/Workspaces/WorkspacesEditor/Models/Project.cs
  src/modules/Workspaces/WorkspacesEditor/Utils/DrawHelper.cs
  src/modules/Workspaces/WorkspacesEditor/Utils/WorkspacesEditorIO.cs
  src/modules/Workspaces/WorkspacesEditor/ViewModels/MainViewModel.cs
  src/modules/Workspaces/WorkspacesEditor/WorkspacesEditor.csproj
  src/modules/Workspaces/WorkspacesEditor/WorkspacesEditorPage.xaml
  src/modules/Workspaces/WorkspacesLauncher/AppLauncher.cpp
  src/modules/Workspaces/WorkspacesLauncherUI/Data/ApplicationWrapper.cs
  src/modules/Workspaces/WorkspacesLauncherUI/Models/AppLaunching.cs
  src/modules/Workspaces/WorkspacesLauncherUI/ViewModels/MainViewModel.cs
  src/modules/Workspaces/WorkspacesLauncherUI/WorkspacesLauncherUI.csproj
  src/modules/Workspaces/WorkspacesLib/WorkspacesData.cpp
  src/modules/Workspaces/WorkspacesLib/WorkspacesData.h
  src/modules/Workspaces/WorkspacesSnapshotTool/PwaHelper.cpp
  src/modules/Workspaces/WorkspacesSnapshotTool/PwaHelper.h
  src/modules/Workspaces/WorkspacesSnapshotTool/SnapshotUtils.cpp
  src/modules/Workspaces/WorkspacesSnapshotTool/WorkspacesSnapshotTool.vcxproj
  src/modules/Workspaces/WorkspacesSnapshotTool/WorkspacesSnapshotTool.vcxproj.filters
Labels: Needs-Review

#35925 [Peek] Fix Monaco assets folder discovery
  src/common/FilePreviewCommon/MonacoHelper.cs
Labels: Needs-Review

#35538 [Peek] Add support for previewing .ahk files as plaintext
  src/Monaco/monacoSpecialLanguages.js
  src/Monaco/monaco_languages.json
  src/modules/peek/Peek.FilePreviewer/Previewers/WebBrowserPreviewer/Helpers/MonacoHelper.cs
Labels: Good to Merge

#35521 Ready for Review - [Mouse Jump] Customisable appearance - borders, margins, colours, etc - final part
  .github/actions/spell-check/expect.txt
  src/modules/MouseUtils/MouseJump.Common.UnitTests/Helpers/DrawingHelperTests.cs
  src/modules/MouseUtils/MouseJump.Common.UnitTests/Helpers/LayoutHelperTests.cs
  src/modules/MouseUtils/MouseJump.Common.UnitTests/Helpers/_test-win11-expected.png
  src/modules/MouseUtils/MouseJump.Common.UnitTests/Models/Drawing/SizeInfoTests.cs
  src/modules/MouseUtils/MouseJump.Common/Helpers/ConfigHelper.cs
  src/modules/MouseUtils/MouseJump.Common/Helpers/DrawingHelper.cs
  src/modules/MouseUtils/MouseJump.Common/Helpers/LayoutHelper.cs
  src/modules/MouseUtils/MouseJump.Common/Helpers/MouseHelper.cs
  src/modules/MouseUtils/MouseJump.Common/Helpers/StyleHelper.cs
  src/modules/MouseUtils/MouseJump.Common/Imaging/StaticImageRegionCopyService.cs
  src/modules/MouseUtils/MouseJump.Common/Models/Drawing/RectangleInfo.cs
  src/modules/MouseUtils/MouseJump.Common/Models/Drawing/ScreenInfo.cs
  src/modules/MouseUtils/MouseJump.Common/Models/Drawing/SizeInfo.cs
  src/modules/MouseUtils/MouseJump.Common/Models/Settings/PreviewType.cs
  src/modules/MouseUtils/MouseJump.Common/Models/Styles/BorderStyle.cs
  src/modules/MouseUtils/MouseJumpUI/Helpers/SettingsHelper.cs
  src/modules/MouseUtils/MouseJumpUI/MainForm.cs
  src/modules/MouseUtils/MouseJumpUI/Models/Drawing/PaddingInfo.cs
  src/modules/MouseUtils/MouseJumpUI/Models/Drawing/PointInfo.cs
  src/modules/MouseUtils/MouseJumpUI/Models/Drawing/RectangleInfo.cs
  src/modules/MouseUtils/MouseJumpUI/Models/Drawing/SizeInfo.cs
  src/modules/MouseUtils/MouseJumpUI/Models/Layout/LayoutConfig.cs
  src/modules/MouseUtils/MouseJumpUI/Models/Layout/LayoutInfo.cs
  src/modules/MouseUtils/MouseJumpUI/Models/Screen/ScreenInfo.cs
  src/modules/MouseUtils/MouseJumpUI/Program.cs
  src/settings-ui/Settings.UI.Library/MouseJumpProperties.cs
  src/settings-ui/Settings.UI.Library/MouseJumpSettings.cs
  src/settings-ui/Settings.UI.Library/Settings.UI.Library.csproj
  src/settings-ui/Settings.UI/Converters/MouseJumpPreviewTypeConverter.cs
  src/settings-ui/Settings.UI/Images/MouseJump-Desktop.png
  src/settings-ui/Settings.UI/PowerToys.Settings.csproj
  src/settings-ui/Settings.UI/SettingsXAML/Panels/MouseJumpPanel.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Panels/MouseJumpPanel.xaml.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseUtilsPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseUtilsPage.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/MouseUtilsViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/MouseUtilsViewModel_MouseJump.cs
Labels: Needs-Review

#35952 [Dev] Fixed name of logging method in managed logging
  src/common/ManagedCommon/Logger.cs
Labels: Needs-Review, in for .87

#35832 New+ Windows 10 support
  .github/actions/spell-check/expect.txt
  .pipelines/ESRPSigning_core.json
  PowerToys.sln
  installer/PowerToysSetup/NewPlus.wxs
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/NewPlus.ShellExtension.win10.vcxproj
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/NewPlus.ShellExtension.win10.vcxproj.filters
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/dll.def
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/dll_main.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/dll_main.h
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/new.base.rc
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/packages.config
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/pch.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/pch.h
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/resource.base.h
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/resources.resx
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/shell_context_menu_win10.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/shell_context_menu_win10.h
  src/modules/NewPlus/NewShellExtensionContextMenu/NewShellExtensionContextMenu.vcxproj
  src/modules/NewPlus/NewShellExtensionContextMenu/NewShellExtensionContextMenu.vcxproj.filters
  src/modules/NewPlus/NewShellExtensionContextMenu/new_utilities.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu/new_utilities.h
  src/modules/NewPlus/NewShellExtensionContextMenu/shell_context_menu.h
  src/modules/NewPlus/NewShellExtensionContextMenu/shell_context_sub_menu.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu/shell_context_sub_menu_item.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu/template_folder.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu/template_folder.h
  src/modules/NewPlus/NewShellExtensionContextMenu/template_item.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu/template_item.h
  src/modules/NewPlus/NewShellExtensionContextMenu/trace.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu/trace.h
  src/settings-ui/Settings.UI/SettingsXAML/Views/NewPlusPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Good to Merge, in for .87

#35691 [WindowWalker]Added Score to the results returned by WindowWalker
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Components/ResultHelper.cs
Labels: Needs-Review, in for .87

#36093 Upgrade Windows App SDK to the latest version
  Directory.Packages.props
  NOTICE.md
  src/modules/MeasureTool/MeasureToolCore/PowerToys.MeasureToolCore.vcxproj
  src/modules/MeasureTool/MeasureToolCore/packages.config
  src/modules/powerrename/PowerRenameUILib/PowerRenameUI.vcxproj
  src/modules/powerrename/PowerRenameUILib/PowerRenameUI.vcxproj.filters
  src/modules/powerrename/PowerRenameUILib/packages.config
Labels: Needs-Review, in for .87

#35757 [PTRun] add support for UUIDv7 generation
  doc/devdocs/modules/launcher/plugins/community.valuegenerator.md
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.ValueGenerator.UnitTests/GUIDGeneratorTests.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.ValueGenerator.UnitTests/InputParserTests.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.ValueGenerator/Generators/GUID/GUIDGenerator.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.ValueGenerator/Generators/GUID/GUIDRequest.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.ValueGenerator/Helper/QueryHelper.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.ValueGenerator/InputParser.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.ValueGenerator/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.ValueGenerator/Properties/Resources.resx
Labels: Needs-Review

#35599 [FilePreview] Add support for descript.ion files
  src/Monaco/monacoSpecialLanguages.js
  src/Monaco/monaco_languages.json
Labels: Good to Merge, in for .87

#36138 [AOT Compatible] Add word "AOT" to spelling check allow list.
  .github/actions/spell-check/allow/code.txt
Labels: Needs-Review
