Repository microsoft/PowerToys, pull requests merged in 2024-12, with the labels that each got.

#35539 PowerAccent with multi-language selection
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/modules/poweraccent/PowerAccent.Core/Services/SettingsService.cs
  src/settings-ui/Settings.UI.Library/PowerAccentLanguageGroupModel.cs
  src/settings-ui/Settings.UI.Library/PowerAccentLanguageModel.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerAccentPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerAccentPage.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
Labels: Good to Merge

#36176 [AOT compatible] Add Common MSBuild Props for AOT Compatibility Validation to Be Imported by Projects for Future AOT Support
  PowerToys.sln
  src/Common.Dotnet.AotCompatibility.props
Labels: Good to Merge

#34697 [Keyboard Manager] Add IME On, IME Off
  src/common/interop/keyboard_layout.cpp
Labels: Needs-Review

#36174 [PreviewPane] Use PerMonitorV2 DPI mode
  src/modules/previewpane/GcodePreviewHandler/GcodePreviewHandler.csproj
  src/modules/previewpane/MarkdownPreviewHandler/MarkdownPreviewHandler.csproj
  src/modules/previewpane/MonacoPreviewHandler/MonacoPreviewHandler.csproj
  src/modules/previewpane/PdfPreviewHandler/PdfPreviewHandler.csproj
  src/modules/previewpane/QoiPreviewHandler/QoiPreviewHandler.csproj
  src/modules/previewpane/SvgPreviewHandler/SvgPreviewHandler.csproj
Labels: Needs-Review

#35651 [FilePreview] Use syntax highlighting for `.srt`
  doc/devdocs/common/FilePreviewCommon.md
  installer/PowerToysSetup/generateAllFileComponents.ps1
  src/Monaco.props
  src/Monaco/customLanguages/gitignore.js
  src/Monaco/customLanguages/srt.js
  src/Monaco/customTokenColors.js
  src/Monaco/customTokenThemeRules.js
  src/Monaco/index.html
  src/Monaco/monacoSpecialLanguages.js
  src/Monaco/monaco_languages.json
  src/modules/registrypreview/RegistryPreviewUILib/Assets/RegistryPreview/index.html
Labels: Needs-Review

#35890 [KeyboardManager] Fix shift on numpad
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/MappingConfiguration.cpp
  src/modules/keyboardmanager/common/MappingConfiguration.h
Labels: Needs-Review, in for .87

#36095 [Analyzers] Update .editorconfig with rules to relax IDE errors
  src/.editorconfig
  src/modules/MouseWithoutBorders/App/Form/frmMatrix.cs
  src/modules/imageresizer/codeAnalysis/GlobalSuppressions.cs
  src/modules/imageresizer/tests/Models/CustomSizeTests.cs
  src/modules/imageresizer/tests/Models/ResizeBatchTests.cs
  src/modules/imageresizer/tests/Models/ResizeOperationTests.cs
  src/modules/imageresizer/tests/Models/ResizeSizeTests.cs
  src/modules/imageresizer/tests/Properties/SettingsTests.cs
  src/modules/imageresizer/tests/Test/AssertEx.cs
  src/modules/imageresizer/tests/Test/BitmapSourceExtensions.cs
  src/modules/imageresizer/tests/Test/TestDirectory.cs
  src/modules/imageresizer/tests/Views/TimeRemainingConverterTests.cs
  src/modules/imageresizer/ui/App.xaml.cs
  src/modules/imageresizer/ui/Extensions/BitmapEncoderExtensions.cs
  src/modules/imageresizer/ui/Extensions/ICollectionExtensions.cs
  src/modules/imageresizer/ui/Extensions/TimeSpanExtensions.cs
  src/modules/imageresizer/ui/Models/CustomSize.cs
  src/modules/imageresizer/ui/Models/ResizeBatch.cs
  src/modules/imageresizer/ui/Models/ResizeError.cs
  src/modules/imageresizer/ui/Models/ResizeFit.cs
  src/modules/imageresizer/ui/Models/ResizeOperation.cs
  src/modules/imageresizer/ui/Models/ResizeSize.cs
  src/modules/imageresizer/ui/Models/ResizeUnit.cs
  src/modules/imageresizer/ui/Properties/InternalsVisibleTo.cs
  src/modules/imageresizer/ui/Properties/Settings.cs
  src/modules/imageresizer/ui/Properties/SettingsWrapper.cs
  src/modules/imageresizer/ui/Properties/WrappedJsonConverter`1.cs
  src/modules/imageresizer/ui/Properties/WrappedJsonValueConverter.cs
  src/modules/imageresizer/ui/Utilities/MathHelpers.cs
  src/modules/imageresizer/ui/ViewModels/AdvancedViewModel.cs
  src/modules/imageresizer/ui/ViewModels/ITabViewModel.cs
  src/modules/imageresizer/ui/ViewModels/InputViewModel.cs
  src/modules/imageresizer/ui/ViewModels/MainViewModel.cs
  src/modules/imageresizer/ui/ViewModels/ProgressViewModel.cs
  src/modules/imageresizer/ui/ViewModels/ResultsViewModel.cs
  src/modules/imageresizer/ui/Views/AutoDoubleConverter.cs
  src/modules/imageresizer/ui/Views/BoolValueConverter.cs
  src/modules/imageresizer/ui/Views/EnumToIntConverter.cs
  src/modules/imageresizer/ui/Views/EnumValueConverter.cs
  src/modules/imageresizer/ui/Views/IMainView.cs
  src/modules/imageresizer/ui/Views/InputPage.xaml.cs
  src/modules/imageresizer/ui/Views/MainWindow.xaml.cs
  src/modules/imageresizer/ui/Views/ProgressPage.xaml.cs
  src/modules/imageresizer/ui/Views/ResultsPage.xaml.cs
  src/modules/imageresizer/ui/Views/TiffCompressOptionConverter.cs
  src/modules/imageresizer/ui/Views/TimeRemainingConverter.cs
  src/modules/imageresizer/ui/Views/VisibilityBoolConverter.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interop/CSearchCatalogManager.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interop/CSearchManager.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Interop/CSearchQueryHelper.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/IAppxFactory.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/IAppxManifestReader.cs
  src/modules/peek/Peek.Common/WIC/IWICBitmapDecoder.cs
Labels: Needs-Review, in for .87

#36086 [Workspaces] Implement store of app window's size and position
  src/modules/Workspaces/WorkspacesEditor/App.config
  src/modules/Workspaces/WorkspacesEditor/MainWindow.xaml.cs
  src/modules/Workspaces/WorkspacesEditor/Properties/Settings.Designer.cs
  src/modules/Workspaces/WorkspacesEditor/Properties/Settings.settings
Labels: Needs-Review, in for .87

#35887 [Screen Ruler]New feature for screen ruler, showing the measurement in an extra unit
  .github/actions/spell-check/expect.txt
  doc/images/overview/MeasureTool_large.png
  doc/images/overview/MeasureTool_small.png
  src/common/Display/monitors.cpp
  src/common/Display/monitors.h
  src/modules/MeasureTool/MeasureToolCore/BoundsToolOverlayUI.cpp
  src/modules/MeasureTool/MeasureToolCore/D2DState.cpp
  src/modules/MeasureTool/MeasureToolCore/D2DState.h
  src/modules/MeasureTool/MeasureToolCore/MeasureToolOverlayUI.cpp
  src/modules/MeasureTool/MeasureToolCore/Measurement.cpp
  src/modules/MeasureTool/MeasureToolCore/Measurement.h
  src/modules/MeasureTool/MeasureToolCore/PowerToys.MeasureToolCore.cpp
  src/modules/MeasureTool/MeasureToolCore/PowerToys.MeasureToolCore.h
  src/modules/MeasureTool/MeasureToolCore/PowerToys.MeasureToolCore.idl
  src/modules/MeasureTool/MeasureToolCore/ScreenCapturing.cpp
  src/modules/MeasureTool/MeasureToolCore/Settings.cpp
  src/modules/MeasureTool/MeasureToolCore/ToolState.h
  src/modules/MeasureTool/MeasureToolCore/pch.h
  src/modules/MeasureTool/MeasureToolUI/MeasureToolXAML/MainWindow.xaml
  src/modules/MeasureTool/MeasureToolUI/MeasureToolXAML/MainWindow.xaml.cs
  src/modules/MeasureTool/MeasureToolUI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI.Library/MeasureToolProperties.cs
  src/settings-ui/Settings.UI/Assets/Settings/Modules/OOBE/ScreenRuler.gif
  src/settings-ui/Settings.UI/Assets/Settings/Modules/ScreenRuler.png
  src/settings-ui/Settings.UI/SettingsXAML/Views/MeasureToolPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Needs-Author-Feedback, Needs-Review

#36115 Update MSTest from 3.5.0 to 3.6.3
  Directory.Packages.props
  NOTICE.md
  src/modules/launcher/Wox.Test/ResultViewModelTest.cs
  src/modules/launcher/Wox.Test/Wox.Test.csproj
  src/modules/previewpane/STATestClassAttribute.cs
  src/modules/previewpane/STATestMethodAttribute.cs
  src/modules/previewpane/UnitTests-GcodePreviewHandler/GcodePreviewHandlerTest.cs
  src/modules/previewpane/UnitTests-GcodePreviewHandler/UnitTests-GcodePreviewHandler.csproj
  src/modules/previewpane/UnitTests-GcodeThumbnailProvider/GcodeThumbnailProviderTests.cs
  src/modules/previewpane/UnitTests-GcodeThumbnailProvider/UnitTests-GcodeThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-MarkdownPreviewHandler/MarkdownPreviewHandlerTest.cs
  src/modules/previewpane/UnitTests-MarkdownPreviewHandler/UnitTests-MarkdownPreviewHandler.csproj
  src/modules/previewpane/UnitTests-PdfPreviewHandler/PdfPreviewHandlerTest.cs
  src/modules/previewpane/UnitTests-PdfPreviewHandler/UnitTests-PdfPreviewHandler.csproj
  src/modules/previewpane/UnitTests-PdfThumbnailProvider/PdfThumbnailProviderTests.cs
  src/modules/previewpane/UnitTests-PdfThumbnailProvider/UnitTests-PdfThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-PreviewHandlerCommon/UnitTests-PreviewHandlerCommon.csproj
  src/modules/previewpane/UnitTests-QoiPreviewHandler/QoiPreviewHandlerTest.cs
  src/modules/previewpane/UnitTests-QoiPreviewHandler/UnitTests-QoiPreviewHandler.csproj
  src/modules/previewpane/UnitTests-QoiThumbnailProvider/QoiThumbnailProviderTests.cs
  src/modules/previewpane/UnitTests-QoiThumbnailProvider/UnitTests-QoiThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-StlThumbnailProvider/StlThumbnailProviderTests.cs
  src/modules/previewpane/UnitTests-StlThumbnailProvider/UnitTests-StlThumbnailProvider.csproj
  src/modules/previewpane/UnitTests-SvgPreviewHandler/SvgPreviewControlTests.cs
  src/modules/previewpane/UnitTests-SvgPreviewHandler/SvgPreviewHandlerHelperTests.cs
  src/modules/previewpane/UnitTests-SvgPreviewHandler/UnitTests-SvgPreviewHandler.csproj
  src/modules/previewpane/UnitTests-SvgThumbnailProvider/SvgThumbnailProviderTests.cs
  src/modules/previewpane/UnitTests-SvgThumbnailProvider/UnitTests-SvgThumbnailProvider.csproj
Labels: Needs-Triage, Needs-Team-Response

#36049 Awake Updates - `TILLSON_11272024`
  .github/actions/spell-check/expect.txt
  Directory.Packages.props
  NOTICE.md
  doc/planning/awake.md
  src/modules/awake/Awake/Core/Constants.cs
  src/modules/awake/Awake/Core/ExtensionMethods.cs
  src/modules/awake/Awake/Core/Manager.cs
  src/modules/awake/Awake/Core/Models/SystemPowerCapabilities.cs
  src/modules/awake/Awake/Core/Native/Bridge.cs
  src/modules/awake/Awake/Core/Native/Constants.cs
  src/modules/awake/Awake/Core/Threading/SingleThreadSynchronizationContext.cs
  src/modules/awake/Awake/Core/TrayHelper.cs
  src/modules/awake/Awake/Program.cs
  src/modules/awake/Awake/Properties/Resources.Designer.cs
  src/modules/awake/Awake/Properties/Resources.resx
  src/settings-ui/Settings.UI.Library/AwakeProperties.cs
Labels: Product-Awake, Needs-Review, in for .87

#36215 [Launcher] use .net WPF
  .github/actions/spell-check/expect.txt
  .github/actions/spell-check/patterns.txt
  src/modules/launcher/PowerLauncher/App.xaml
  src/modules/launcher/PowerLauncher/Helper/AnimationFactorToValueConverter.cs
  src/modules/launcher/PowerLauncher/Helper/FallbackBrushConverter.cs
  src/modules/launcher/PowerLauncher/Helper/ThemeExtensions.cs
  src/modules/launcher/PowerLauncher/Helper/ThemeManager.cs
  src/modules/launcher/PowerLauncher/LauncherControl.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
  src/modules/launcher/PowerLauncher/PowerLauncher.csproj
  src/modules/launcher/PowerLauncher/ResultList.xaml
  src/modules/launcher/PowerLauncher/SettingsReader.cs
  src/modules/launcher/PowerLauncher/Styles/FluentHC.xaml
  src/modules/launcher/PowerLauncher/Styles/Styles.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrast1.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrast2.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrastBlack.xaml
  src/modules/launcher/PowerLauncher/Themes/HighContrastWhite.xaml
  src/modules/launcher/PowerLauncher/ViewModel/MainViewModel.cs
Labels: in for .87

#36290 [UX] Updating icons
  doc/images/icons/Advanced.png
  doc/images/icons/NewPlus.png
  doc/images/icons/WindowingAndLayouts.png
  src/modules/NewPlus/NewShellExtensionContextMenu/Assets/NewPlus/New_dark.ico
  src/modules/NewPlus/NewShellExtensionContextMenu/Assets/NewPlus/New_light.ico
  src/modules/NewPlus/NewShellExtensionContextMenu/Assets/NewPlus/Open_templates_dark.ico
  src/modules/NewPlus/NewShellExtensionContextMenu/Assets/NewPlus/Open_templates_light.ico
  src/settings-ui/Settings.UI/Assets/Settings/Icons/Advanced.png
  src/settings-ui/Settings.UI/Assets/Settings/Icons/NewPlus.png
  src/settings-ui/Settings.UI/Assets/Settings/Icons/SystemTools.png
  src/settings-ui/Settings.UI/Assets/Settings/Icons/WindowingAndLayouts.png
Labels: Needs-Review, in for .87

#36280 [Settings][Dashboard] Accessibility fixes
  src/settings-ui/Settings.UI/SettingsXAML/Views/DashboardPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Needs-Review

#36392 [Laucher] Added border on W10
  src/modules/launcher/PowerLauncher/MainWindow.xaml
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
Labels: Hot Fix

#36329 [Fuzz] Add fuzz testing for AdvancedPaste and new pipeline for onboarding OneFuzz
  .github/actions/spell-check/allow/code.txt
  .pipelines/v2/oneFuzz.yml
  .pipelines/v2/templates/job-build-project.yml
  .pipelines/v2/templates/job-fuzz.yml
  .pipelines/verifyDepsJsonLibraryVersions.ps1
  PowerToys.sln
  src/modules/AdvancedPaste/AdvancedPaste.FuzzTests/AdvancedPaste.FuzzTests.csproj
  src/modules/AdvancedPaste/AdvancedPaste.FuzzTests/Fuzz.md
  src/modules/AdvancedPaste/AdvancedPaste.FuzzTests/FuzzTests.cs
  src/modules/AdvancedPaste/AdvancedPaste.FuzzTests/Logger.cs
  src/modules/AdvancedPaste/AdvancedPaste.FuzzTests/MSTestSettings.cs
  src/modules/AdvancedPaste/AdvancedPaste.FuzzTests/OneFuzzConfig.json
Labels: In for .88, Good to merge after release

#36282 Add New CI Pipeline for Latest WindowsAppSDK
  .github/actions/spell-check/expect.txt
  .pipelines/UpdateVersions.ps1
  .pipelines/v2/ci-using-the-latest-winappsdk.yml
  .pipelines/v2/templates/job-build-project.yml
  .pipelines/v2/templates/pipeline-ci-build.yml
  .pipelines/v2/templates/steps-update-winappsdk-and-restore-nuget.yml
Labels: In for .88, Good to merge after release

#36136 [AOT compatible] Make HostsUILib become AOT compatible
  src/modules/Hosts/HostsUILib/Helpers/DuplicateService.cs
  src/modules/Hosts/HostsUILib/Helpers/HostsService.cs
  src/modules/Hosts/HostsUILib/HostsUILib.csproj
Labels: In for .88, Good to merge after release

#36207 [AOT compatible] Clean up some AOT build issue in FilePreviewCommon and MarkdownPreviewHandler
  src/common/FilePreviewCommon/FilePreviewCommon.csproj
  src/common/FilePreviewCommon/Formatters/FilePreviewJsonSerializerContext.cs
  src/common/FilePreviewCommon/Formatters/JsonFormatter.cs
  src/common/FilePreviewCommon/MonacoHelper.cs
  src/modules/previewpane/MarkdownPreviewHandler/MarkdownPreviewHandler.csproj
  src/modules/previewpane/MarkdownPreviewHandler/MarkdownPreviewHandlerControl.cs
Labels: In for .88, Good to merge after release

#36317 Add new pipeline using the latest webview2 from Edge Canary
  .github/actions/spell-check/expect.txt
  .pipelines/v2/ci-test-with-canary-webview2.yml
  .pipelines/v2/templates/job-test-project.yml
  .pipelines/v2/templates/pipeline-ci-build.yml
Labels: Area-Build, In for .88, Good to merge after release

#36359 [Bug fix] Making the OpenAI key configuration page scrollable.
  src/settings-ui/Settings.UI/SettingsXAML/Views/AdvancedPaste.xaml
Labels: Product-Settings

#36404 [Bug fix] Add a format validation step before format conversion.
  src/modules/AdvancedPaste/AdvancedPaste/Helpers/JsonHelper.cs
Labels: Product-Advanced Paste

#36484 Remove "prerelease: true"
  .configurations/configuration.dsc.yaml
  .configurations/configuration.vsEnterprise.dsc.yaml
  .configurations/configuration.vsProfessional.dsc.yaml
  .github/actions/spell-check/expect.txt
Labels: Good to Merge

#36529 [CI] Enhance build Pipeline Reliability with Retry Logic and Improved Error Messaging
  .pipelines/v2/templates/steps-ensure-dotnet-version.yml
Labels: Good to Merge

#36467 [New+]Don't override New actions from Explorer on Windows 10
  .github/actions/spell-check/patterns.txt
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/shell_context_menu_win10.cpp
Labels: Good to Merge
