Repository microsoft/PowerToys, pull requests merged in 2024-05, with the labels that each got.

#32605 Add support for Esperanto for PowerAccent
  .github/actions/spell-check/expect.txt
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerAccentPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
Labels: Needs-Review

#32832 [Settings > PT Run > PluginAdditionalOptions] Fix crash on empty number box
  src/settings-ui/Settings.UI/ViewModels/PluginAdditionalOptionViewModel.cs
Labels: Issue-Bug, Product-Settings, Severity-High, Needs-Review, revisit-0.82.0

#32976 [runner]Fix triggering non-set hotkeys
  src/runner/centralized_kb_hook.cpp
Labels: Hot Fix

#32977 [Settings][AdvPaste]Check clibboard history gpo
  src/settings-ui/Settings.UI/SettingsXAML/Views/AdvancedPaste.xaml
  src/settings-ui/Settings.UI/ViewModels/AdvancedPasteViewModel.cs
Labels: Hot Fix

#33056 [Settings][AdvPaste]Clarify AI features are optional
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Hot Fix

#33046 [PTRun]Fix accent on title bar bleed into UI
  src/modules/launcher/PowerLauncher/MainWindow.xaml
Labels: Hot Fix

#33045 [Advanced Paste] Online AI models GPO
  src/common/GPOWrapper/GPOWrapper.cpp
  src/common/GPOWrapper/GPOWrapper.h
  src/common/GPOWrapper/GPOWrapper.idl
  src/common/utils/gpo.h
  src/gpo/assets/PowerToys.admx
  src/gpo/assets/en-US/PowerToys.adml
  src/modules/AdvancedPaste/AdvancedPaste/Strings/en-us/Resources.resw
  src/modules/AdvancedPaste/AdvancedPaste/ViewModels/OptionsViewModel.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/AdvancedPaste.xaml
  src/settings-ui/Settings.UI/ViewModels/AdvancedPasteViewModel.cs
  tools/BugReportTool/BugReportTool/ReportGPOValues.cpp
Labels: Hot Fix

#32613 [PTRun] Remove full stops in plugin descriptions
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.UnitConverter/Properties/Resources.resx
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.VSCodeWorkspaces/Properties/Resources.resx
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.ValueGenerator/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.ValueGenerator/Properties/Resources.resx
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Community.PowerToys.Run.Plugin.WebSearch/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Folder/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Indexer/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Shell/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Uri/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.WindowWalker/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.History/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.History/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.OneNote/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.OneNote/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.PowerToys/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Registry/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Service/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.System/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.resx
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsTerminal/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsTerminal/Properties/Resources.resx
Labels: Good to Merge

#32788 [Hosts] Improve Resizing behavior
  src/modules/Hosts/Hosts/HostsXAML/MainWindow.xaml
  src/modules/Hosts/HostsUILib/HostsMainPage.xaml
Labels: revisit-0.82.0, Good to Merge

#32790 [Hosts] Additional lines dialog: Replace word-wrap with horizontal scroll bar
  src/modules/Hosts/HostsUILib/HostsMainPage.xaml
Labels: revisit-0.82.0, Good to Merge

#32794 Drop outdated sln win-app-driver README.md file reference
  PowerToys.sln
Labels: Good to Merge

#32799 Full fix for installation issue when My Documents on network drive
  .github/actions/spell-check/patterns.txt
  installer/PowerToysSetup/Core.wxs
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetupCustomActions/CustomAction.cpp
  installer/PowerToysSetupCustomActions/CustomAction.def
Labels: Good to Merge

#32809 [Deps]Upgrade WinAppSDK to 1.5.3
  Directory.Packages.props
  NOTICE.md
  src/modules/MeasureTool/MeasureToolCore/PowerToys.MeasureToolCore.vcxproj
  src/modules/MeasureTool/MeasureToolCore/packages.config
  src/modules/powerrename/PowerRenameUILib/PowerRenameUI.vcxproj
  src/modules/powerrename/PowerRenameUILib/packages.config
Labels: Good to Merge
