Repository microsoft/PowerToys, pull requests merged in 2025-02, with the labels that each got.

#37366 [GPO][MWB]Add policy to disable service mode
  src/common/GPOWrapper/GPOWrapper.cpp
  src/common/GPOWrapper/GPOWrapper.h
  src/common/GPOWrapper/GPOWrapper.idl
  src/common/utils/gpo.h
  src/gpo/assets/PowerToys.admx
  src/gpo/assets/en-US/PowerToys.adml
  src/modules/MouseWithoutBorders/App/Class/Program.cs
  src/modules/MouseWithoutBorders/App/Class/Setting.cs
  src/modules/MouseWithoutBorders/App/Service/Program.cs
  src/modules/MouseWithoutBorders/ModuleInterface/dllmain.cpp
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseWithoutBordersPage.xaml
  src/settings-ui/Settings.UI/ViewModels/MouseWithoutBordersViewModel.cs
  tools/BugReportTool/BugReportTool/ReportGPOValues.cpp
Labels: Needs-Review

#37283 [Zoomit]Fix warning C4706 and related error C2220
  src/modules/ZoomIt/ZoomIt/Zoomit.cpp
Labels: Needs-Review

#37427 [KeyboardManager WinUI3] Create WinUI3 project and wrapper for Keyboard Manager Editor
  .github/actions/spell-check/expect.txt
  PowerToys.sln
  src/modules/keyboardmanager/KeyboardManagerEditorLibraryWrapper/KeyboardManagerEditorLibraryWrapper.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibraryWrapper/KeyboardManagerEditorLibraryWrapper.h
  src/modules/keyboardmanager/KeyboardManagerEditorLibraryWrapper/KeyboardManagerEditorLibraryWrapper.vcxproj
  src/modules/keyboardmanager/KeyboardManagerEditorLibraryWrapper/KeyboardManagerEditorLibraryWrapper.vcxproj.filters
  src/modules/keyboardmanager/KeyboardManagerEditorLibraryWrapper/dllmain.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibraryWrapper/framework.h
  src/modules/keyboardmanager/KeyboardManagerEditorLibraryWrapper/packages.config
  src/modules/keyboardmanager/KeyboardManagerEditorLibraryWrapper/pch.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibraryWrapper/pch.h
  src/modules/keyboardmanager/KeyboardManagerEditorUI/App.xaml
  src/modules/keyboardmanager/KeyboardManagerEditorUI/App.xaml.cs
  src/modules/keyboardmanager/KeyboardManagerEditorUI/KeyboardManagerEditorUI.csproj
  src/modules/keyboardmanager/KeyboardManagerEditorUI/MainWindow.xaml
  src/modules/keyboardmanager/KeyboardManagerEditorUI/MainWindow.xaml.cs
  src/modules/keyboardmanager/KeyboardManagerEditorUI/Package.appxmanifest
  src/modules/keyboardmanager/KeyboardManagerEditorUI/app.manifest
  src/settings-ui/Settings.UI/ViewModels/KeyboardManagerViewModel.cs
Labels: Needs-Review

#37375 [PowerRename] Fix negative enumerate start parameter parse bug.
  src/modules/powerrename/lib/Enumerating.cpp
Labels: Needs-Review

#37466 Use system default web browser when opening links through Monaco in RegistryPreview
  src/modules/registrypreview/RegistryPreviewUILib/MonacoEditorControl.xaml
  src/modules/registrypreview/RegistryPreviewUILib/MonacoEditorControl.xaml.cs
  src/modules/registrypreview/RegistryPreviewUILib/Strings/en-US/Resources.resw
Labels: Needs-Review

#37369 [QuickAccent]Add more letters with caron to IPA
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
Labels: Needs-Review

#37286 [QuickAccent]Added ` (backtick) and ~ (tilde) to VK_OEM_5 (#20333)
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.h
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.idl
Labels: Needs-Review

#37309 [MouseHighlighter]Fix stray highlights stucking
  src/modules/MouseUtils/MouseHighlighter/MouseHighlighter.cpp
Labels: Needs-Review

#37014 [Settings] Fixed missing accessibility name of secondary links panel
  src/settings-ui/Settings.UI/SettingsXAML/Controls/SettingsPageControl/SettingsPageControl.xaml
Labels: Needs-Review

#36997 [Fancy Zones] Fixed accessibility text of monitors on Layout Editor
  src/modules/fancyzones/editor/FancyZonesEditor/MainWindow.xaml
  src/modules/fancyzones/editor/FancyZonesEditor/Models/MonitorInfoModel.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.Designer.cs
  src/modules/fancyzones/editor/FancyZonesEditor/Properties/Resources.resx
  src/modules/fancyzones/editor/FancyZonesEditor/Styles/GridViewStyles.xaml
Labels: Needs-Review

#37324 [Run] Fix dark mode detection code, plus refactor
  src/modules/launcher/PowerLauncher/Helper/ThemeExtensions.cs
  src/modules/launcher/PowerLauncher/Helper/ThemeHelper.cs
  src/modules/launcher/PowerLauncher/Helper/ThemeManager.cs
  src/modules/launcher/PowerLauncher/Services/IRegistryService.cs
  src/modules/launcher/PowerLauncher/Services/RegistryService.cs
  src/modules/launcher/PowerLauncher/Services/RegistryServiceFactory.cs
  src/modules/launcher/Wox.Test/ThemeHelperTest.cs
Labels: Needs-Review, Good to Merge

#37417 Remove "new" label from ZoomIt
  src/settings-ui/Settings.UI/SettingsXAML/Views/ShellPage.xaml
  src/settings-ui/Settings.UI/ViewModels/DashboardViewModel.cs
Labels: Good to Merge

#37475 PowerToys Run Calculator: Add trigonometric angle unit conversion functions
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator.UnitTest/ExtendedCalculatorParserTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/CalculateEngine.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.Calculator/CalculateHelper.cs
Labels: Good to Merge, In for .89

#37062 [PowerRename]Add `$`, `^` and quantifiers to RegEx cheatsheet
  src/modules/powerrename/PowerRenameUILib/PowerRenameXAML/MainWindow.xaml.cpp
  src/modules/powerrename/PowerRenameUILib/Strings/en-us/Resources.resw
Labels: Needs-Review

#36559 [AOT] clean up AOT issue in Settings.UI
  src/settings-ui/Settings.UI/Helpers/ActionMessage.cs
  src/settings-ui/Settings.UI/Helpers/AsyncCommand.cs
  src/settings-ui/Settings.UI/Helpers/IndexedObservableCollection.cs
  src/settings-ui/Settings.UI/Helpers/NativeKeyboardHelper.cs
  src/settings-ui/Settings.UI/Helpers/PowerToysReleaseInfo.cs
  src/settings-ui/Settings.UI/Helpers/RelayCommand.cs
  src/settings-ui/Settings.UI/Helpers/WindowHelper.cs
  src/settings-ui/Settings.UI/SerializationContext/SourceGenerationContextContext.cs
  src/settings-ui/Settings.UI/SettingsXAML/App.xaml.cs
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeWhatsNew.xaml.cs
  src/settings-ui/Settings.UI/ViewModels/AdvancedPasteViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/AlwaysOnTopViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/AwakeViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/CmdNotFoundViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/ColorPickerViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/Commands/ButtonClickCommand.cs
  src/settings-ui/Settings.UI/ViewModels/CropAndLockViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/DashboardListItem.cs
  src/settings-ui/Settings.UI/ViewModels/DashboardModuleItem.cs
  src/settings-ui/Settings.UI/ViewModels/DashboardViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/EnvironmentVariablesViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/FancyZonesViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/FileLocksmithViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/Flyout/AllAppsViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/Flyout/FlyoutMenuItem.cs
  src/settings-ui/Settings.UI/ViewModels/Flyout/FlyoutViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/Flyout/LauncherViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/GeneralViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/HostsViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/KeyboardManagerViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/MeasureToolViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/MouseWithoutBordersViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/NewPlusViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PeekViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PluginAdditionalOptionViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PowerLauncherPluginViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PowerLauncherViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PowerOcrViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PowerPreviewViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/PowerRenameViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/RegistryPreviewViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/ShellViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/ShortcutGuideViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/WorkspacesViewModel.cs
Labels: Needs-Review, In for .89

#36376 [AOT] Clean up AOT build issue in Common.UI
  src/common/Common.UI/Common.UI.csproj
  src/common/Common.UI/SettingsDeepLink.cs
  src/common/Common.UI/ThemeManager.cs
Labels: Needs-Review, In for .89

#37625 [Workspaces][ARM64] Bring icon to packaged apps
  src/modules/Workspaces/WorkspacesCsharpLibrary/Models/BaseApplication.cs
Labels: Good to Merge

#36327 [AOT] Refactor Logger function to improve performance and mark managedCommon as AOT compatible
  src/common/ManagedCommon/LanguageHelper.cs
  src/common/ManagedCommon/Logger.cs
  src/common/ManagedCommon/ManagedCommon.csproj
  src/common/ManagedCommon/NativeMethods.cs
  src/common/ManagedCommon/RunnerHelper.cs
  src/common/ManagedCommon/SerializationContext/SourceGenerationContext.cs
  src/common/ManagedCommon/ThemeListener.cs
Labels: Needs-Review, In for .89

#37188 [Advanced Paste] Add paste actions to allow transcoding of media files
  .github/actions/spell-check/expect.txt
  src/modules/AdvancedPaste/AdvancedPaste.UnitTests/Mocks/NoOpKernelQueryCacheService.cs
  src/modules/AdvancedPaste/AdvancedPaste.UnitTests/Mocks/NoOpProgress.cs
  src/modules/AdvancedPaste/AdvancedPaste.UnitTests/ServicesTests/AIServiceBatchIntegrationTests.cs
  src/modules/AdvancedPaste/AdvancedPaste.UnitTests/ServicesTests/KernelServiceIntegrationTests.cs
  src/modules/AdvancedPaste/AdvancedPaste.UnitTests/ServicesTests/TranscodeHelperIntegrationTests.cs
  src/modules/AdvancedPaste/AdvancedPaste/AdvancedPasteXAML/Controls/AnimatedContentControl/AnimatedContentControl.xaml
  src/modules/AdvancedPaste/AdvancedPaste/AdvancedPasteXAML/Controls/PromptBox.xaml
  src/modules/AdvancedPaste/AdvancedPaste/AdvancedPasteXAML/Controls/PromptBox.xaml.cs
  src/modules/AdvancedPaste/AdvancedPaste/AdvancedPasteXAML/MainWindow.xaml.cs
  src/modules/AdvancedPaste/AdvancedPaste/Helpers/DataPackageHelpers.cs
  src/modules/AdvancedPaste/AdvancedPaste/Helpers/KernelExtensions.cs
  src/modules/AdvancedPaste/AdvancedPaste/Helpers/NativeMethods.cs
  src/modules/AdvancedPaste/AdvancedPaste/Helpers/OcrHelpers.cs
  src/modules/AdvancedPaste/AdvancedPaste/Helpers/TranscodeHelpers.cs
  src/modules/AdvancedPaste/AdvancedPaste/Helpers/TransformHelpers.cs
  src/modules/AdvancedPaste/AdvancedPaste/Helpers/UserSettings.cs
  src/modules/AdvancedPaste/AdvancedPaste/Models/ClipboardFormat.cs
  src/modules/AdvancedPaste/AdvancedPaste/Models/PasteActionError.cs
  src/modules/AdvancedPaste/AdvancedPaste/Models/PasteFormats.cs
  src/modules/AdvancedPaste/AdvancedPaste/Services/ICustomTextTransformService.cs
  src/modules/AdvancedPaste/AdvancedPaste/Services/IKernelService.cs
  src/modules/AdvancedPaste/AdvancedPaste/Services/IPasteFormatExecutor.cs
  src/modules/AdvancedPaste/AdvancedPaste/Services/IPromptModerationService.cs
  src/modules/AdvancedPaste/AdvancedPaste/Services/KernelServiceBase.cs
  src/modules/AdvancedPaste/AdvancedPaste/Services/OpenAI/CustomTextTransformService.cs
  src/modules/AdvancedPaste/AdvancedPaste/Services/OpenAI/PromptModerationService.cs
  src/modules/AdvancedPaste/AdvancedPaste/Services/PasteFormatExecutor.cs
  src/modules/AdvancedPaste/AdvancedPaste/Strings/en-us/Resources.resw
  src/modules/AdvancedPaste/AdvancedPaste/ViewModels/OptionsViewModel.cs
  src/modules/AdvancedPaste/AdvancedPasteModuleInterface/trace.cpp
  src/settings-ui/Settings.UI.Library/AdvancedPasteAdditionalAction.cs
  src/settings-ui/Settings.UI.Library/AdvancedPasteAdditionalActions.cs
  src/settings-ui/Settings.UI.Library/AdvancedPasteCustomAction.cs
  src/settings-ui/Settings.UI.Library/AdvancedPastePasteAsFileAction.cs
  src/settings-ui/Settings.UI.Library/AdvancedPasteTranscodeAction.cs
  src/settings-ui/Settings.UI.Library/IAdvancedPasteAction.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/AdvancedPaste.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/AdvancedPasteViewModel.cs
Labels: Needs-Review, In for .89

#37611 Adds final sigma ( ς ) to quick accent under Greek language.
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
Labels: Good to Merge

#37654 [PTRun]Fix locking link files for MSI installers. Warning 1946
  src/modules/launcher/Wox.Infrastructure/ShellLinkHelper.cs
Labels: Good to Merge, In for .89
