Repository microsoft/PowerToys, pull requests merged in 2025-04, with the labels that each got.

#37743 [PT Run > Time and Date plugin] Custom formats and other improvements
  .github/actions/spell-check/expect.txt
  doc/devdocs/modules/launcher/plugins/timedate.md
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/PluginSettingsTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/QueryTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/StringParserTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate.UnitTests/TimeAndDateHelperTests.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/AvailableResult.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/AvailableResultsList.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/ResultHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/SearchController.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/TimeAndDateHelper.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Components/TimeDateSettings.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.Designer.cs
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.TimeDate/Properties/Resources.resx
Labels: Idea-Enhancement, Run-Plugin, Needs-Review, Good to Merge

#38198 Scale the toast window for DPI
  src/modules/cmdpal/Microsoft.CmdPal.UI/NativeMethods.txt
  src/modules/cmdpal/Microsoft.CmdPal.UI/ToastWindow.xaml.cs
Labels: Product-Command Palette, in for .91

#38499 [CmdPal] Fix Up/Down keyboard navigation + continuous navigation
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/SearchBar.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/ExtViews/ListPage.xaml.cs
Labels: Product-Command Palette

#38075 [cmdpal] Simplify time And Date extension code to make it easier to understand
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.TimeDate/Pages/TimeDateExtensionPage.cs
Labels: Product-Command Palette

#38649 Fixing settings for mouse pointer for pt run and cmdpal
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowsSettings/WindowsSettings.json
  src/modules/launcher/Plugins/Microsoft.PowerToys.Run.Plugin.WindowsSettings/WindowsSettings.json
Labels: Needs-Review

#38493 Fix the WinGet missing / Admin crash
  src/modules/cmdpal/Microsoft.CmdPal.UI/App.xaml.cs
  src/modules/cmdpal/exts/Microsoft.CmdPal.Ext.WinGet/Pages/InstallPackageListItem.cs
  src/modules/cmdpal/exts/Microsoft.CmdPal.Ext.WinGet/WinGetStatics.cs
Labels: Product-Command Palette

#38531 [CmdPal] [Install]do not install dependency if already satisfied.
  installer/PowerToysSetup/CmdPal.wxs
  src/common/utils/package.h
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
Labels: Area-Setup/Install

#38652 [Keyboard Manager] Functional Improvements on new KBM UX
  src/modules/keyboardmanager/KeyboardManagerEditorLibraryWrapper/KeyboardManagerEditorLibraryWrapper.cpp
  src/modules/keyboardmanager/KeyboardManagerEditorLibraryWrapper/KeyboardManagerEditorLibraryWrapper.h
  src/modules/keyboardmanager/KeyboardManagerEditorUI/App.xaml.cs
  src/modules/keyboardmanager/KeyboardManagerEditorUI/Helpers/EditorConstants.cs
  src/modules/keyboardmanager/KeyboardManagerEditorUI/Helpers/Remapping.cs
  src/modules/keyboardmanager/KeyboardManagerEditorUI/Interop/KeyboardManagerInterop.cs
  src/modules/keyboardmanager/KeyboardManagerEditorUI/Interop/KeyboardMappingService.cs
  src/modules/keyboardmanager/KeyboardManagerEditorUI/KeyboardManagerEditorUI.csproj
  src/modules/keyboardmanager/KeyboardManagerEditorUI/MainWindow.xaml
  src/modules/keyboardmanager/KeyboardManagerEditorUI/MainWindow.xaml.cs
  src/modules/keyboardmanager/KeyboardManagerEditorUI/Pages/Programs.xaml
  src/modules/keyboardmanager/KeyboardManagerEditorUI/Pages/Remappings.xaml
  src/modules/keyboardmanager/KeyboardManagerEditorUI/Pages/Remappings.xaml.cs
  src/modules/keyboardmanager/KeyboardManagerEditorUI/Pages/Text.xaml
  src/modules/keyboardmanager/KeyboardManagerEditorUI/Pages/URLs.xaml
  src/modules/keyboardmanager/KeyboardManagerEditorUI/Styles/InputControl.xaml
  src/modules/keyboardmanager/KeyboardManagerEditorUI/Styles/InputControl.xaml.cs
Labels: Product-Keyboard Shortcut Manager

#38676 [Deps] Update .NET packages from 9.0.3 to 9.0.4
  Directory.Packages.props
  NOTICE.md
Labels: Area-Quality, Don't merge - Hold for release

#37823 empowering users to maximize OOBE to their heart desire
  src/settings-ui/Settings.UI/SettingsXAML/OobeWindow.xaml.cs
Labels: Area-OOBE, Good to Merge

#37991 [Bug report] - auto fill parameters
  .github/ISSUE_TEMPLATE/bug_report.yml
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml.cs
  src/settings-ui/Settings.UI/ViewModels/GeneralViewModel.cs
Labels: Area-Bug Report Tool, Good to Merge

#38685 [cmdpal] Add Open URL fallback command for WebSearch ext
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WebSearch/Commands/OpenURLCommand.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WebSearch/FallbackOpenURLItem.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WebSearch/Properties/Resources.Designer.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WebSearch/Properties/Resources.resx
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WebSearch/WebSearchCommandsProvider.cs
Labels: Needs-Review, Product-Command Palette

#38672 [CmdPal] Tray icon settings
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/SettingsModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/SettingsViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/GeneralPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Strings/en-us/Resources.resw
Labels: Product-Command Palette

#38663 [PowerToysRun][Docs] Add QuickNotes to Third-Party plugins
  .github/actions/spell-check/allow/names.txt
  .github/actions/spell-check/expect.txt
  doc/thirdPartyRunPlugins.md
Labels: Product-PowerToys Run

#38017 Add securityContext to configuration files
  .config/configuration.vsEnterprise.winget
  .config/configuration.vsProfessional.winget
  .config/configuration.winget
Labels: Area-Setup/Install

#33813 Change log extension
  src/common/AllExperiments/Logger.cs
  src/common/ManagedCommon/Logger.cs
  src/common/logger/logger_settings.h
  src/common/utils/logger_helper.h
Labels: Area-Logging

#37930 [KeyboardManager] Fix modifier Key (Not right or left) stuck
  src/modules/keyboardmanager/KeyboardManagerEditorLibrary/EditorHelpers.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/KeyboardEventHandlers.cpp
  src/modules/keyboardmanager/KeyboardManagerEngineLibrary/trace.cpp
  src/modules/keyboardmanager/common/Helpers.cpp
  src/modules/keyboardmanager/common/Helpers.h
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj
  src/modules/keyboardmanager/common/KeyboardManagerCommon.vcxproj.filters
  src/modules/keyboardmanager/common/Modifiers.h
  src/modules/keyboardmanager/common/RemapShortcut.h
  src/modules/keyboardmanager/common/Shortcut.cpp
  src/modules/keyboardmanager/common/Shortcut.h
Labels: Product-Keyboard Shortcut Manager, Priority-1, Good to merge after release

#38147 Fix Color Picker resource leak (#38122)
  src/modules/colorPicker/ColorPickerUI/Mouse/MouseInfoProvider.cs
Labels: Product-Color Picker, Good to Merge

#38779 Upgrading some of the Testing framework items
  Directory.Packages.props
  NOTICE.md
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Programs/Win32Program.cs
  src/settings-ui/Settings.UI/PowerToys.Settings.csproj
Labels: Needs-Review

#38784 upgrading to adjust fix vulnerability
  Directory.Packages.props
  NOTICE.md
  src/common/UITestAutomation/UITestAutomation.csproj
  src/modules/Hosts/Hosts.UITests/Hosts.UITests.csproj
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
  src/modules/fancyzones/UITests-FancyZones/UITests-FancyZones.csproj
  src/modules/fancyzones/UITests-FancyZonesEditor/UITests-FancyZonesEditor.csproj
  src/settings-ui/Settings.UI.UnitTests/Settings.UI.UnitTests.csproj
  src/settings-ui/Settings.UI/PowerToys.Settings.csproj
Labels: Needs-Review

#37895 [ColorPicker]Only close on escape if focused
  src/modules/colorPicker/ColorPickerUI/Helpers/AppStateHandler.cs
  src/modules/colorPicker/ColorPickerUI/Keyboard/KeyboardMonitor.cs
Labels: Product-Color Picker, Good to Merge

#38193 [cmdpal] Setting a new alias should remove the old one
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelViewModel.cs
Labels: Needs-Review, Product-Command Palette

#38552 Apply security best practices for GitHub Actions / Dependency
  .github/workflows/dependency-review.yml
  .github/workflows/spelling2.yml
Labels: Area-GitHub workflow, Needs-Review

#38782 Upgrading Boost dependencies
  src/modules/powerrename/PowerRenameUILib/PowerRenameUI.vcxproj
  src/modules/powerrename/PowerRenameUILib/packages.config
  src/modules/powerrename/dll/PowerRenameExt.vcxproj
  src/modules/powerrename/dll/packages.config
  src/modules/powerrename/lib/PowerRenameLib.vcxproj
  src/modules/powerrename/lib/packages.config
  src/modules/powerrename/testapp/PowerRenameTest.vcxproj
  src/modules/powerrename/testapp/packages.config
  src/modules/powerrename/unittests/PowerRenameLibUnitTests.vcxproj
  src/modules/powerrename/unittests/packages.config
Labels: Needs-Review

#38746 upgrading toolkit + suppressing warnings
  Directory.Packages.props
  NOTICE.md
  src/codeAnalysis/GlobalSuppressions.cs
Labels: Needs-Review

#37690 [CNF] Only enable experimental features if they exist
  src/settings-ui/Settings.UI/Assets/Settings/Scripts/EnableModule.ps1
Labels: Product-CommandNotFound, Good to Merge

#38723 [PowerRename] Add 12-hour time format patterns with AM/PM support (#30703)
  src/modules/powerrename/PowerRenameUILib/PowerRenameXAML/MainWindow.xaml.cpp
  src/modules/powerrename/PowerRenameUILib/Strings/en-us/Resources.resw
  src/modules/powerrename/lib/Helpers.cpp
  src/modules/powerrename/unittests/PowerRenameRegExBoostTests.cpp
  src/modules/powerrename/unittests/PowerRenameRegExTests.cpp
Labels: Product-PowerRename, Good to Merge

#38864 [cmdpal] Fix empty file name issue when create new ext in "Create New Extension" command.
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/NewExtensionForm.cs
Labels: Needs-Review, Product-Command Palette

#37581 [QuickAccent] Fix on-screen keyboard activation
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.cpp
Labels: Product-Quick Accent

#38250 CmdPal: Add low-level keyboard hook for global hotkey
  PowerToys.sln
  src/modules/cmdpal/CmdPalKeyboardService/CmdPalKeyboardService.def
  src/modules/cmdpal/CmdPalKeyboardService/CmdPalKeyboardService.rc
  src/modules/cmdpal/CmdPalKeyboardService/CmdPalKeyboardService.vcxproj
  src/modules/cmdpal/CmdPalKeyboardService/CmdPalKeyboardService.vcxproj.filters
  src/modules/cmdpal/CmdPalKeyboardService/KeyboardListener.cpp
  src/modules/cmdpal/CmdPalKeyboardService/KeyboardListener.h
  src/modules/cmdpal/CmdPalKeyboardService/KeyboardListener.idl
  src/modules/cmdpal/CmdPalKeyboardService/PropertySheet.props
  src/modules/cmdpal/CmdPalKeyboardService/packages.config
  src/modules/cmdpal/CmdPalKeyboardService/pch.cpp
  src/modules/cmdpal/CmdPalKeyboardService/pch.h
  src/modules/cmdpal/CmdPalKeyboardService/resource.h
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/SettingsModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/SettingsViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/GeneralPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Strings/en-us/Resources.resw
Labels: Needs-Review, Product-Command Palette

#38539 Adds support for JUMBO thumbnails in the helper
  .github/actions/spell-check/expect.txt
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AllAppsPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AppListItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/UWPApplication.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/NativeMethods.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/ThumbnailHelper.cs
Labels: Product-Command Palette, CmdPal-API Helpers

#38491 [PowerToysRun] Add version info to plugin error messages
  src/modules/launcher/PowerLauncher/Plugin/PluginManager.cs
  src/modules/launcher/PowerLauncher/Properties/Resources.Designer.cs
  src/modules/launcher/PowerLauncher/Properties/Resources.resx
  src/modules/launcher/PowerLauncher/SettingsReader.cs
  src/modules/launcher/Wox.Plugin/PluginMetadata.cs
  src/modules/launcher/Wox.Plugin/PluginPair.cs
  src/modules/launcher/Wox.Plugin/Properties/Resources.Designer.cs
  src/modules/launcher/Wox.Plugin/Properties/Resources.resx
Labels: Product-PowerToys Run, Good to Merge

#38842 Immediately select search text on opening page
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ListViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/SearchBar.xaml.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WindowsServices/Properties/Resources.Designer.cs
Labels: Product-Command Palette

#38725 [cmdpal] Run cmdpalette from runner locally
  .github/actions/spell-check/expect.txt
  src/modules/cmdpal/CmdPalModuleInterface/dllmain.cpp
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
  tools/build/self-sign.ps1
Labels: Product-Command Palette

#38629 [cmdpal] Port v1 calculator extension
  .github/actions/spell-check/expect.txt
  NOTICE.md
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/CalculatorCommandProvider.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/BracketHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/CalculateEngine.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/CalculateHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/CalculateResult.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/CalculatorIcons.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/ErrorHandler.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/NumberTranslator.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/QueryHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/ResultHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/SaveCommand.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/SettingsManager.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Microsoft.CmdPal.Ext.Calc.csproj
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Pages/CalculatorListPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Pages/FallbackCalculatorItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Properties/Resources.Designer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Properties/Resources.resx
Labels: Product-Command Palette

#38573 Add the list item requested shortcuts back
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandBarViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandContextItemViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandItemViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ListViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Messages/PerformCommandMessage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Messages/UpdateItemKeybindingsMessage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/CommandBar.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/CommandBar.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/SearchBar.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
  src/modules/cmdpal/ext/SamplePagesExtension/NativeMethods.txt
  src/modules/cmdpal/ext/SamplePagesExtension/Pages/SampleListPage.cs
  src/modules/cmdpal/ext/SamplePagesExtension/SamplePagesExtension.csproj
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/KeyChordHelpers.cs
Labels: Needs-Review, Product-Command Palette

#38952 [CmdPalette > Time and Date] Custom formats (Port #37743) and other plugin improvements - 2
  .github/actions/spell-check/expect.txt
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/AvailableResult.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/AvailableResultsList.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/ResultHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/SettingsManager.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/TimeAndDateHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/TimeDateCalculator.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Pages/TimeDateExtensionPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Properties/Resources.Designer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Properties/Resources.resx
Labels: Idea-Enhancement, Needs-Review, Product-Command Palette, in for .91

#38865 [cmdpal] Add fallback item for system command.
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/EmptyRecycleBinCommand.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/EmptyRecycleBinConfirmation.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/FallbackSystemCommandItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Properties/Resources.Designer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Properties/Resources.resx
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/SystemCommandExtensionProvider.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/SystemCommandsCache.cs
Labels: Needs-Review, Product-Command Palette

#38988 [CmdPal] Fixed #38961
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Helpers/Commands.cs
Labels: Good to Merge, Product-Command Palette

#37626 [RegPreview] Init with header and add NEW button
  .github/actions/spell-check/expect.txt
  src/modules/registrypreview/RegistryPreviewUILib/RegistryPreviewMainPage.Events.cs
  src/modules/registrypreview/RegistryPreviewUILib/RegistryPreviewMainPage.Utilities.cs
  src/modules/registrypreview/RegistryPreviewUILib/RegistryPreviewMainPage.xaml
  src/modules/registrypreview/RegistryPreviewUILib/Strings/en-US/Resources.resw
Labels: Product-Registry Preview, Good to Merge

#38476 [ImageResizer]Fix: Deleting an Image Resizer preset deletes the wrong preset
  src/common/ManagedCommon/IdRecoveryHelper.cs
  src/modules/imageresizer/ui/Models/ResizeSize.cs
  src/modules/imageresizer/ui/Properties/Settings.cs
  src/settings-ui/Settings.UI.Library/ImageSize.cs
  src/settings-ui/Settings.UI/ViewModels/ImageResizerViewModel.cs
Labels: Product-Image Resizer

#37757 [PowerAccent] Cancel previous ShowToolbar task if a new one is triggered
  src/modules/poweraccent/PowerAccent.Core/PowerAccent.cs
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.cpp
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.h
  src/modules/poweraccent/PowerAccentKeyboardService/KeyboardListener.idl
Labels: Priority-1, Product-Quick Accent, Good to merge after release

#38923 [cmdpal] Add setting "ignore hotkey when full screen"
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/SettingsModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/SettingsViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/NativeMethods.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/WindowHelper.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/GeneralPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Strings/en-us/Resources.resw
Labels: Good to Merge, Product-Command Palette

#38380 [Workspaces]Fix for steam games capture&launch: capture and correctly launch steam games.
  .github/actions/spell-check/allow/code.txt
  .github/actions/spell-check/expect.txt
  src/modules/Workspaces/WorkspacesLauncher/AppLauncher.cpp
  src/modules/Workspaces/WorkspacesLib/AppUtils.cpp
  src/modules/Workspaces/WorkspacesLib/AppUtils.h
  src/modules/Workspaces/WorkspacesLib/SteamGameHelper.cpp
  src/modules/Workspaces/WorkspacesLib/SteamHelper.h
  src/modules/Workspaces/WorkspacesLib/WorkspacesLib.vcxproj
  src/modules/Workspaces/WorkspacesLib/WorkspacesLib.vcxproj.filters
  src/modules/Workspaces/WorkspacesSnapshotTool/SnapshotUtils.cpp
  src/modules/Workspaces/WorkspacesWindowArranger/WindowArranger.cpp
  src/modules/Workspaces/workspaces-common/WindowFilter.h
  src/modules/Workspaces/workspaces-common/WindowUtils.h
Labels: Needs-Review, Product-Workspaces

#38972 [CmdPal] Tweaks to the detailspane UX
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml
Labels: Good to Merge, Product-Command Palette

#38974 [CmdPal] Better support for long labels in empty content and commandbar
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/CommandBar.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/ExtViews/ListPage.xaml
Labels: Good to Merge, Product-Command Palette

#38998 Fully initialize context menus when they change
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandBarViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ContentPageViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ListViewModel.cs
Labels: Product-Command Palette

#38918 [CmdPal] Added fallback for time and date
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/FallbackTimeDateItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/AvailableResultsList.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/SettingsManager.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/TimeDateCalculator.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Properties/Resources.Designer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Properties/Resources.resx
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/TimeDateCommandsProvider.cs
Labels: Product-Command Palette

#39052 [Settings] Fix null CmdPal HotKey crash
  src/settings-ui/Settings.UI.Library/CmdPalProperties.cs
Labels: Product-Command Palette, in for .91

#38776 Add support for filterable, nested context menus
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandBarViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandItemViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ContextMenuStackViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ListViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Messages/TryCommandKeybindingMessage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Messages/UpdateCommandBarMessage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/CommandBar.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/CommandBar.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/SearchBar.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Strings/en-us/Resources.resw
  src/modules/cmdpal/ext/SamplePagesExtension/EvilSamplesPage.cs
  src/modules/cmdpal/ext/SamplePagesExtension/Pages/SampleListPage.cs
  src/modules/cmdpal/ext/SamplePagesExtension/Pages/ToastCommand.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/ListItem.cs
Labels: Priority-0, Needs-Review, Product-Command Palette

#39017 [Tool] Script to build an installer locally
  .github/actions/spell-check/expect.txt
  installer/PowerToysSetup/Product.wxs
  src/common/utils/package.h
  src/modules/cmdpal/CmdPalModuleInterface/CmdPalModuleInterface.vcxproj
  src/modules/cmdpal/CmdPalModuleInterface/dllmain.cpp
  tools/build/build-installer.ps1
  tools/build/cert-management.ps1
  tools/build/cert-sign-package.ps1
  tools/build/ensure-wix.ps1
Labels: Area-Build

#37806 37405 Advanced Paste: Image To Text doesn't work with English (Canada)
  src/modules/AdvancedPaste/AdvancedPaste/Helpers/OcrHelpers.cs
Labels: Product-Advanced Paste, Good to Merge

#38052 Color Picker: add Oklab and Oklch color formats
  .github/actions/spell-check/expect.txt
  src/common/ManagedCommon/ColorFormatHelper.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/ColorRepresentationHelper.cs
  src/modules/colorPicker/ColorPickerUI/ViewModels/ColorEditorViewModel.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorConverterTest.cs
  src/modules/colorPicker/UnitTest-ColorPickerUI/Helpers/ColorRepresentationHelperTest.cs
  src/settings-ui/Settings.UI.Library/ColorPickerProperties.cs
  src/settings-ui/Settings.UI.Library/Enumerations/ColorRepresentationType.cs
  src/settings-ui/Settings.UI/SettingsXAML/Controls/ColorFormatEditor.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Controls/ColorFormatEditor.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Product-Color Picker, Good to Merge

#37491 [PTRun] Allow preventing usage based ordering results
  src/modules/launcher/PowerLauncher/ViewModel/ResultsViewModel.cs
  src/modules/launcher/Wox.Plugin/Result.cs
Labels: Product-PowerToys Run

#39079 Update the ADO path for tsa.json
  .pipelines/tsa.json
Labels: Good to Merge

#39039 [CmdPal] Launch cmd pal with retry
  src/modules/cmdpal/CmdPalModuleInterface/CmdPalModuleInterface.vcxproj
  src/modules/cmdpal/CmdPalModuleInterface/dllmain.cpp
Labels: Product-Command Palette

#39110 [cmdpal][aot] Remove some unused file in CmdPal.Common and mark it as AOT compatible.
  src/modules/cmdpal/Microsoft.CmdPal.Common/Contracts/IFileService.cs
  src/modules/cmdpal/Microsoft.CmdPal.Common/Contracts/ILocalSettingsService.cs
  src/modules/cmdpal/Microsoft.CmdPal.Common/Extensions/ApplicationExtensions.cs
  src/modules/cmdpal/Microsoft.CmdPal.Common/Extensions/IHostExtensions.cs
  src/modules/cmdpal/Microsoft.CmdPal.Common/Helpers/Json.cs
  src/modules/cmdpal/Microsoft.CmdPal.Common/Helpers/NativeEventWaiter.cs
  src/modules/cmdpal/Microsoft.CmdPal.Common/Helpers/RuntimeHelper.cs
  src/modules/cmdpal/Microsoft.CmdPal.Common/Messages/HideWindowMessage.cs
  src/modules/cmdpal/Microsoft.CmdPal.Common/Microsoft.CmdPal.Common.csproj
  src/modules/cmdpal/Microsoft.CmdPal.Common/Models/LocalSettingsOptions.cs
  src/modules/cmdpal/Microsoft.CmdPal.Common/NativeMethods.txt
  src/modules/cmdpal/Microsoft.CmdPal.Common/Services/FileService.cs
  src/modules/cmdpal/Microsoft.CmdPal.Common/Services/IApp.cs
  src/modules/cmdpal/Microsoft.CmdPal.Common/Services/LocalSettingsService.cs
Labels: Product-Command Palette

#37652 [Installer] Init Wix migration project
  .github/actions/spell-check/allow/code.txt
  .gitignore
  .pipelines/ESRPSigning_installer.json
  .pipelines/installWiXVNext.ps1
  .pipelines/v2/templates/job-build-project.yml
  .pipelines/v2/templates/steps-build-installer-vnext.yml
  installer/PowerToysSetup.sln
  installer/PowerToysSetup/PowerToysInstaller.wixproj
  installer/PowerToysSetupCustomActions/PowerToysSetupCustomActions.vcxproj
  installer/PowerToysSetupVNext/AdvancedPaste.wxs
  installer/PowerToysSetupVNext/Awake.wxs
  installer/PowerToysSetupVNext/BaseApplications.wxs
  installer/PowerToysSetupVNext/ColorPicker.wxs
  installer/PowerToysSetupVNext/Common.wxi
  installer/PowerToysSetupVNext/Core.wxs
  installer/PowerToysSetupVNext/CustomDialogs/PTInstallDirDlg.wxs
  installer/PowerToysSetupVNext/CustomDialogs/PTLicenseDlg.wxs
  installer/PowerToysSetupVNext/CustomDialogs/WixUI_PTInstallDir.wxs
  installer/PowerToysSetupVNext/EnvironmentVariables.wxs
  installer/PowerToysSetupVNext/FileExplorerPreview.wxs
  installer/PowerToysSetupVNext/FileLocksmith.wxs
  installer/PowerToysSetupVNext/Hosts.wxs
  installer/PowerToysSetupVNext/ImageResizer.wxs
  installer/PowerToysSetupVNext/Images/banner.png
  installer/PowerToysSetupVNext/Images/dialog.png
  installer/PowerToysSetupVNext/Images/logo.png
  installer/PowerToysSetupVNext/Images/logo150.png
  installer/PowerToysSetupVNext/Images/logo44.png
  installer/PowerToysSetupVNext/KeyboardManager.wxs
  installer/PowerToysSetupVNext/MouseWithoutBorders.wxs
  installer/PowerToysSetupVNext/NewPlus.wxs
  installer/PowerToysSetupVNext/Peek.wxs
  installer/PowerToysSetupVNext/PowerRename.wxs
  installer/PowerToysSetupVNext/PowerToys.wxs
  installer/PowerToysSetupVNext/PowerToysBootstrapperVNext.wixproj
  installer/PowerToysSetupVNext/PowerToysInstallerVNext.wixproj
  installer/PowerToysSetupVNext/Product.wxs
  installer/PowerToysSetupVNext/RegistryPreview.wxs
  installer/PowerToysSetupVNext/Resources.wxs
  installer/PowerToysSetupVNext/Run.wxs
  installer/PowerToysSetupVNext/Settings.wxs
  installer/PowerToysSetupVNext/ShortcutGuide.wxs
  installer/PowerToysSetupVNext/Tools.wxs
  installer/PowerToysSetupVNext/WebView2/MicrosoftEdgeWebview2Setup.exe
  installer/PowerToysSetupVNext/WinAppSDK.wxs
  installer/PowerToysSetupVNext/WinUI3Applications.wxs
  installer/PowerToysSetupVNext/Workspaces.wxs
  installer/PowerToysSetupVNext/generateAllFileComponents.ps1
  installer/PowerToysSetupVNext/generateMonacoWxs.ps1
  installer/PowerToysSetupVNext/packages.config
  installer/PowerToysSetupVNext/publish.cmd
  installer/PowerToysSetupVNext/terminate_powertoys.cmd
  installer/wixVNext.props
Labels: Area-Setup/Install

#39093 Wait to update SearchText until we've actually updated SearchText
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/PageViewModel.cs
Labels: Needs-Review, Product-Command Palette, in for .91

#39143 [Workspaces UI Test] Add first UI automation for workspaces editor
  PowerToys.sln
  src/common/UITestAutomation/ModuleConfigData.cs
  src/modules/Workspaces/WorkspacesEditorUITest/WorkspacesEditorTests.cs
  src/modules/Workspaces/WorkspacesEditorUITest/WorkspacesEditorUITest.csproj
Labels: Area-Tests, Product-Workspaces

#38455 [cmdpal] Support search any file in fallback command
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/FallbackOpenFileItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/Pages/IndexerPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/Properties/Resources.Designer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/Properties/Resources.resx
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/SearchEngine.cs
Labels: Priority-1, Good to Merge, Product-Command Palette, in for .91

#39163 [cmdpal][AOT] clean up some AOT related issue
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AppCache.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/ReparsePoint.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Storage/FileSystemWatcherWrapper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Storage/PackageRepository.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Storage/Win32ProgramFileSystemWatchers.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Storage/Win32ProgramRepository.cs
Labels: Product-Command Palette
