Repository microsoft/PowerToys, pull requests merged in 2025-05, with the labels that each got.

#39203 CmdPal: Start extensions in parallel
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelCommandManager.cs
Labels: Needs-Review, Product-Command Palette, in for .91

#39206 Dismiss the details pane when the list gets emptied
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ListViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/ExtViews/ListPage.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
Labels: Good to Merge, Product-Command Palette, in for .91

#39208 cmdpal: unset the command if we don't find a command
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandItemViewModel.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/FallbackSystemCommandItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Pages/SystemCommandPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Properties/Resources.Designer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Properties/Resources.resx
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/SystemCommandExtensionProvider.cs
Labels: Product-Command Palette, in for .91

#39209 cmdpal: fix a leak in the extension template
  src/modules/cmdpal/ExtensionTemplate/TemplateCmdPalExtension/TemplateCmdPalExtension/Program.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Assets/template.zip
Labels: Product-Command Palette

#38637 [CmdPal] MinWidth/Height and DPI-aware launch dimensions
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/ToastWindow.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/ToastWindow.xaml.cs
Labels: Needs-Review, Product-Command Palette, in for .91

#39170 CmdPal: Cloak the window instead of hiding it
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/NativeMethods.txt
Labels: Product-Command Palette, in for .91

#39264 [cmdpal] protect cmdpal from crash if adaptive card fails
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ContentFormViewModel.cs
Labels: Product-Command Palette

#39269 CmdPal: URI activate, rather than using shell:AppsFolder
  src/modules/cmdpal/CmdPalModuleInterface/dllmain.cpp
  src/modules/cmdpal/Microsoft.CmdPal.UI/App.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/NativeMethods.txt
  src/modules/cmdpal/Microsoft.CmdPal.UI/Package-Dev.appxmanifest
  src/modules/cmdpal/Microsoft.CmdPal.UI/Package.appxmanifest
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Program.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Properties/launchSettings.json
Labels: Needs-Review, Product-Command Palette, in for .91

#39262 [CmdPal] Open CmdPal settings from PT settings
  .github/actions/spell-check/expect.txt
  src/settings-ui/Settings.UI/SettingsXAML/Views/CmdPalPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/CmdPalPage.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Product-Command Palette

#39263 CmdPal: Actually observe Details
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ListViewModel.cs
Labels: Needs-Review, Product-Command Palette, in for .91

#39322 Fix settings crash issue when clicking "Open Cmdpal settings..."
  src/settings-ui/Settings.UI/SettingsXAML/Views/CmdPalPage.xaml.cs
Labels: Product-Command Palette

#39393 [Fuzzing test] Use valid areaPath in OneFuzz configuration
  src/modules/AdvancedPaste/AdvancedPaste.FuzzTests/OneFuzzConfig.json
  src/modules/Hosts/Hosts.FuzzTests/OneFuzzConfig.json
  src/modules/powerrename/PowerRename.FuzzingTest/OneFuzzConfig.json
  src/modules/registrypreview/RegistryPreview.FuzzTests/OneFuzzConfig.json
Labels: Area-Tests

#39320 cmdpal: use the unified Windows Terminal Versioning scheme
  .github/actions/spell-check/allow/code.txt
  .pipelines/v2/release.yml
  .pipelines/v2/templates/job-build-project.yml
  .pipelines/v2/templates/job-build-sdk.yml
  .pipelines/v2/templates/steps-setup-versioning.yml
  .pipelines/v2/templates/variables-nuget-package-version.yml
  .pipelines/versionSetting.ps1
  installer/PowerToysSetup/CmdPal.wxs
  src/CmdPalVersion.props
  src/Common.Dotnet.AotCompatibility.props
  src/Common.Dotnet.CsWinRT.props
  src/modules/cmdpal/CmdPalKeyboardService/CmdPalKeyboardService.rc
  src/modules/cmdpal/CmdPalKeyboardService/CmdPalKeyboardService.vcxproj
  src/modules/cmdpal/CmdPalKeyboardService/CmdPalKeyboardService.vcxproj.filters
  src/modules/cmdpal/CmdPalKeyboardService/resource.h
  src/modules/cmdpal/CmdPalModuleInterface/CmdPalModuleInterface.rc
  src/modules/cmdpal/CmdPalModuleInterface/CmdPalModuleInterface.vcxproj
  src/modules/cmdpal/CmdPalModuleInterface/resource.h
  src/modules/cmdpal/Microsoft.CmdPal.UI/CmdPal.pre.props
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
  src/modules/cmdpal/Microsoft.Terminal.UI/Microsoft.Terminal.UI.vcxproj
  src/modules/cmdpal/Microsoft.Terminal.UI/resource.h
  src/modules/cmdpal/Microsoft.Terminal.UI/version.rc
  src/modules/cmdpal/custom.props
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/Microsoft.CommandPalette.Extensions.Toolkit.csproj
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions/Microsoft.CommandPalette.Extensions.vcxproj
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions/version.rc
  src/modules/cmdpal/extensionsdk/nuget/BuildSDKHelper.ps1
Labels: Don't merge - Hold for release, Product-Command Palette

#39401 Validate names for invalid for C# namespaces in cmdpal
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/NewExtensionForm.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Properties/Resources.Designer.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Properties/Resources.resx
Labels: Don't merge - Hold for release, Product-Command Palette

#39415 CmdPal: fix a perf regression loading pages
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ListItemViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ShellViewModel.cs
Labels: Needs-Review, Product-Command Palette

#39433 workspaces: shell:appsfolder launch does not support the command line
  src/modules/Workspaces/WorkspacesLauncher/AppLauncher.cpp
Labels: Product-Workspaces

#23220 Option to toggle the system tray icon
  src/runner/Resources.resx
  src/runner/general_settings.cpp
  src/runner/general_settings.h
  src/runner/main.cpp
  src/runner/resource.base.h
  src/runner/runner.base.rc
  src/runner/tray_icon.cpp
  src/runner/tray_icon.h
  src/settings-ui/Settings.UI.Library/GeneralSettings.cs
  src/settings-ui/Settings.UI.UnitTests/ViewModelTests/General.cs
  src/settings-ui/Settings.UI/Helpers/NativeMethods.cs
  src/settings-ui/Settings.UI/SettingsXAML/App.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Controls/SettingsGroup/SettingsGroup.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Flyout/LaunchPage.xaml.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/ShellPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/ShellPage.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/GeneralViewModel.cs
Labels: Product-Settings, Status-In progress

#38165 [Fuzz] Add Fuzz testing for FancyZones
  PowerToys.sln
  src/modules/fancyzones/FancyZones.FuzzTests/FancyZones.FuzzTests.csproj
  src/modules/fancyzones/FancyZones.FuzzTests/FuzzTests.cs
  src/modules/fancyzones/FancyZones.FuzzTests/MSTestSettings.cs
  src/modules/fancyzones/FancyZones.FuzzTests/OneFuzzConfig.json
Labels: Area-Tests

#39764 cmdpal README: minor typo
  src/modules/cmdpal/README.md
Labels: Good to Merge

#39778 [Localization] Add comments in Resources.resw
  src/modules/AdvancedPaste/AdvancedPaste/Strings/en-us/Resources.resw
Labels: Area-Localization

#39801 Runner: Add log when error happen in setting startup
  src/runner/auto_start_helper.cpp
Labels: Needs-Review
