Repository microsoft/PowerToys, pull requests merged in 2025-10, with the labels that each got.

#42115 CmdPal/Clipboard History: Ctrl+O to open links
  PowerToys.sln
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.ClipboardHistory.UnitTests/Microsoft.CmdPal.Ext.ClipboardHistory.UnitTests.csproj
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.ClipboardHistory.UnitTests/UrlHelperTests.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.ClipboardHistory/Helpers/UrlHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.ClipboardHistory/KeyChords.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.ClipboardHistory/Pages/ClipboardListItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.ClipboardHistory/Properties/AssemblyInfo.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.ClipboardHistory/Properties/Resources.resx
Labels: Product-Command Palette

#42093 CmdPal: add a setting for the page transition animation
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/SettingsModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/SettingsViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/GeneralPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Strings/en-us/Resources.resw
Labels: Product-Command Palette

#42165 CmdPal: Sync a RESX designer file with its RESX
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.ClipboardHistory/Properties/Resources.Designer.cs
Labels: Product-Command Palette

#42187 Fix for #42186
  doc/devdocs/development/ui-tests.md
Labels: Issue-Docs, Good to Merge

#42155 CmdPal: Fix updating primary command and context menu and app icons
  src/modules/cmdpal/Core/Microsoft.CmdPal.Core.ViewModels/CommandItemViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/ContextMenu.xaml
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AppCommand.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AppListItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Icons.cs
  src/modules/cmdpal/ext/SamplePagesExtension/Pages/SampleListPage.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/CommandItem.cs
Labels: Product-Command Palette

#42095 CmdPal: Add keyboard shortcut Alt+Home for Go home action
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
Labels: Product-Command Palette

#42171 MarkdownTextBlock crash fix
  Directory.Packages.props
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeWhatsNew.xaml
Labels: Product-Command Palette, In for .95

#42227 CmdPal: immediately move to page, while loading
  src/modules/cmdpal/Core/Microsoft.CmdPal.Core.ViewModels/ShellViewModel.cs
Labels: Product-Command Palette
