Repository microsoft/PowerToys, pull requests merged in 2025-07, with the labels that each got.

#40310 CmdPal: hotfix loading packaged apps
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/UWPApplication.cs
Labels: Severity-High, Needs-Review, Product-Command Palette, In for .92

#40317 [CmdPal][Calc]Parse result returned by ExprTk correctly
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/CalculateEngine.cs
Labels: In for .92

#40160 [UX] Settings - fix header position
  src/settings-ui/Settings.UI/SettingsXAML/Controls/SettingsPageControl/SettingsPageControl.xaml
Labels: Needs-Review

#39812 [UI automation] workspaces ui automation
  .github/actions/spell-check/expect.txt
  src/common/UITestAutomation/UITestBase.cs
  src/common/UITestAutomation/WindowHelper.cs
  src/modules/Workspaces/WorkspacesEditor/MainPage.xaml
  src/modules/Workspaces/WorkspacesEditor/MainPage.xaml.cs
  src/modules/Workspaces/WorkspacesEditor/ViewModels/MainViewModel.cs
  src/modules/Workspaces/WorkspacesEditor/WorkspacesEditorPage.xaml
  src/modules/Workspaces/WorkspacesEditorUITest/WorkspacesEditingPageTests.cs
  src/modules/Workspaces/WorkspacesEditorUITest/WorkspacesEditorTests.cs
  src/modules/Workspaces/WorkspacesEditorUITest/WorkspacesEditorUITest.csproj
  src/modules/Workspaces/WorkspacesEditorUITest/WorkspacesLauncherTest.cs
  src/modules/Workspaces/WorkspacesEditorUITest/WorkspacesSettingsTests.cs
  src/modules/Workspaces/WorkspacesEditorUITest/WorkspacesSnapshotTests.cs
  src/modules/Workspaces/WorkspacesEditorUITest/WorkspacesUiAutomationBase.cs
Labels: Area-Tests

#40401 Fix loading our app state
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/AppStateModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/SettingsModel.cs
Labels: Hot Fix, Product-Command Palette

#40381 [CmdPal] UX tweaks
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/NewExtensionForm.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Properties/Resources.Designer.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Properties/Resources.resx
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/AdaptiveCardsConfig.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/CommandBar.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/ContentFormControl.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/Tag.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/ExtViews/ContentPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml
Labels: Product-Command Palette

#40393 [UI automation test] Add basic tests case for powerrename module.
  .github/actions/spell-check/expect.txt
  PowerToys.sln
  src/common/UITestAutomation/ModuleConfigData.cs
  src/common/UITestAutomation/SessionHelper.cs
  src/common/UITestAutomation/UITestBase.cs
  src/modules/powerrename/PowerRenameUILib/PowerRenameXAML/App.xaml.cpp
  src/modules/powerrename/PowerRenameUITest/BasicRenameTests.cs
  src/modules/powerrename/PowerRenameUITest/PowerRenameUITest.csproj
  src/modules/powerrename/PowerRenameUITest/PowerRenameUITestBase.cs
  src/modules/powerrename/PowerRenameUITest/testItems/folder1/testCase2.txt
  src/modules/powerrename/PowerRenameUITest/testItems/folder2/SpecialCase.txt
  src/modules/powerrename/PowerRenameUITest/testItems/testCase1.txt
Labels: Area-Tests, Product-PowerRename

#40406 Ensure Command Palette main window remains hidden on taskbar Windows Explorer restarts
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/WindowExtensions.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/ToastWindow.xaml.cs
Labels: Good to Merge, Product-Command Palette

#40320 [UX] Improved formatting for release notes
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeWhatsNew.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeWhatsNew.xaml.cs
Labels: Product-Settings, Area-User Interface

#40132 Prevent apps from appearing in top-level search when Installed apps extension is disabled
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandProviderWrapper.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/MainListPage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelCommandManager.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AllAppsCommandProvider.cs
Labels: Good to Merge, Product-Command Palette

#39265 cmdpal: A sample for tracking load/unload for pages
  src/modules/cmdpal/ext/SamplePagesExtension/OnLoadPage.cs
  src/modules/cmdpal/ext/SamplePagesExtension/SamplesListPage.cs
Labels: Issue-Docs, Needs-Review, Product-Command Palette

#40162 Fix CmdPal application activation
  .github/actions/spell-check/expect.txt
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/NativeMethods.txt
  src/modules/cmdpal/Microsoft.CmdPal.UI/Program.cs
Labels: Good to Merge, Product-Command Palette

#40505 CmdPal: Add settings to control which fallbacks are enabled
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandProviderWrapper.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/FallbackLogItem.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/FallbackReloadItem.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/QuitAction.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ProviderSettings.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ProviderSettingsViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelCommandManager.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/ExtensionPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Strings/en-us/Resources.resw
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/FallbackOpenFileItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/Pages/ActionsListContextItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/FallbackExecuteItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/FallbackExecuteSearchItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/FallbackOpenURLItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Properties/Resources.Designer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Properties/Resources.resx
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/Command.cs
Labels: Good to Merge, Product-Command Palette

#40476 Update README links and labels for 0.92.1
  README.md
Labels: Good to Merge

#40261 Re-enable MSBuildCache
  .pipelines/v2/ci-test-with-canary-webview2.yml
  .pipelines/v2/ci-using-the-latest-winappsdk.yml
  .pipelines/v2/ci.yml
  .pipelines/v2/templates/pipeline-ci-build.yml
  .pipelines/v2/templates/pipeline-ui-tests-automation.yml
  packages.config
Labels: Area-Build

#40536 CmdPal: Ensure that DismissMessage handler calls HideWindow on UI thread
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
Labels: Product-Command Palette

#40500 [pipeline] Reduce CI, Fuzz, and UI Test Timeout from 4 Hours to 90 Minutes
  .pipelines/v2/oneFuzz.yml
  .pipelines/v2/templates/job-build-project.yml
  .pipelines/v2/templates/pipeline-ci-build.yml
  .pipelines/v2/templates/pipeline-ui-tests-automation.yml
Labels: Area-Tests

#40516 CmdPal: Handle Alt+Left Arrow even when search bar contains text
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/SearchBar.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
Labels: Good to Merge, Product-Command Palette

#40164 [QuickAccent] Add Vietnamese
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
Labels: Product-Quick Accent, Good to Merge

#40549 Use Empty content for empty Web search page
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Pages/WebSearchListPage.cs
Labels: Product-Command Palette

#40540 CmdPal: Remove backdrop targets from existing backdrop controller before assigning a new one
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
Labels: Good to Merge, Product-Command Palette

#40116 [Peek] Terminate Preview Handlers Processes
  src/modules/peek/Peek.FilePreviewer/Previewers/ShellPreviewHandlerPreviewer/ShellPreviewHandlerPreviewer.cs
  src/modules/peek/Peek.UI/PeekXAML/App.xaml.cs
  src/modules/peek/Peek.UI/PeekXAML/MainWindow.xaml.cs
  src/modules/peek/peek/dllmain.cpp
Labels: Needs-Review, Product-Peek

#40486 Replace our nuget.org feed with a public azure artifacts feed
  nuget.config
Labels: Product-Command Palette, CmdPal-core

#40551 [AOT] Enable AOT for CmdPal
  .github/actions/spell-check/expect.txt
  .pipelines/v2/release.yml
  .pipelines/verifyDepsJsonLibraryVersions.ps1
  Directory.Packages.props
  NOTICE.md
  src/Common.Dotnet.AotCompatibility.props
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/ShortcutControl/ShortcutDialogContentControl.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/ShortcutControl/ShortcutWithTextLabelControl.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/ExtViews/ContentPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
  src/modules/cmdpal/Microsoft.CmdPal.UI/NativeMethods.txt
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Properties/PublishProfiles/win-arm64.pubxml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Properties/PublishProfiles/win-x64.pubxml
Labels: Product-Command Palette, CmdPal-core

#40717 [CmdPal][App] Handle app indexing errors
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AppCache.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/UWP.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Storage/PackageRepository.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Storage/Win32ProgramRepository.cs
Labels: Product-Command Palette

#40718 CmdPal: Update Back button tooltip with shortcut information
  src/modules/cmdpal/Microsoft.CmdPal.UI/Strings/en-us/Resources.resw
Labels: Product-Command Palette

#40731 [CmdPal][UI Tests] Add some indexer extension's test cases
  src/modules/cmdpal/Microsoft.CmdPal.UITests/BasicTests.cs
  src/modules/cmdpal/Microsoft.CmdPal.UITests/CommandPaletteTestBase.cs
  src/modules/cmdpal/Microsoft.CmdPal.UITests/IndexerTests.cs
Labels: Area-Tests, Product-Command Palette

#40734 [UI tests] Add full UI test coverage for Peek based on release checklist
  .github/actions/spell-check/expect.txt
  PowerToys.sln
  src/common/UITestAutomation/Element/Element.cs
  src/common/UITestAutomation/SessionHelper.cs
  src/common/UITestAutomation/UITestBase.cs
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_2_arm64.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_2_x64Win10.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_2_x64Win11.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_4_arm64.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_4_x64Win10.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_4_x64Win11.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_5_arm64.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_5_x64Win10.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_5_x64Win11.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_6_arm64.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_6_x64Win10.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_6_x64Win11.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_7_arm64.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_7_x64Win10.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_7_x64Win11.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_8_arm64.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_8_x64Win10.png
  src/modules/peek/Peek.UITests/Baseline/PeekFilePreviewTests_TestSingleFilePreview_8_x64Win11.png
  src/modules/peek/Peek.UITests/Peek.UITests.csproj
  src/modules/peek/Peek.UITests/PeekFilePreviewTests.cs
  src/modules/peek/Peek.UITests/TestAssets/2.jpg
  src/modules/peek/Peek.UITests/TestAssets/4.qoi
  src/modules/peek/Peek.UITests/TestAssets/5.cpp
  src/modules/peek/Peek.UITests/TestAssets/6.md
  src/modules/peek/Peek.UITests/TestAssets/7.zip
  src/modules/peek/Peek.UITests/TestAssets/8.png
  src/modules/peek/Peek.UITests/tests-checklist-template-peek.md
Labels: Area-Tests

#40462 [cmdpal] Migrate some plugin's unit tests from PT run to cmdpal.
  PowerToys.sln
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Registry.UnitTests/BasicStructureTest.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Registry.UnitTests/KeyNameTest.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Registry.UnitTests/Microsoft.CmdPal.Ext.Registry.UnitTests.csproj
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Registry.UnitTests/QueryHelperTest.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Registry.UnitTests/RegistryHelperTest.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Registry.UnitTests/ResultHelperTest.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.System.UnitTests/BasicTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.System.UnitTests/ImageTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.System.UnitTests/Microsoft.CmdPal.Ext.System.UnitTests.csproj
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.System.UnitTests/QueryTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/AvailableResultsListTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/BasicTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/FallbackTimeDateItemTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/IconTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/Microsoft.CmdPal.Ext.TimeDate.UnitTests.csproj
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/QueryTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/ResultHelperTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/SettingsManagerTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/StringParserTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/TimeAndDateHelperTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/TimeDateCalculatorTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/TimeDateCommandsProviderTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.WindowWalker.UnitTests/Microsoft.CmdPal.Ext.WindowWalker.UnitTests.csproj
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.WindowWalker.UnitTests/PluginSettingsTests.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Registry/Microsoft.CmdPal.Ext.Registry.csproj
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Microsoft.CmdPal.Ext.System.csproj
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/FallbackTimeDateItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/TimeAndDateHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Microsoft.CmdPal.Ext.TimeDate.csproj
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WindowWalker/Microsoft.CmdPal.Ext.WindowWalker.csproj
Labels: Area-Tests, Product-Command Palette

#40644 More instructions to build CmdPal
  src/modules/cmdpal/README.md
Labels: Product-Command Palette

#40427 CmdPal: Add history to the new run page
  .github/actions/spell-check/allow/code.txt
  src/modules/cmdpal/Microsoft.CmdPal.Common/Services/IRunHistoryService.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/AppStateModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/App.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/SearchBar.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/RunHistoryService.cs
  src/modules/cmdpal/Microsoft.Terminal.UI/IconPathConverter.cpp
  src/modules/cmdpal/Microsoft.Terminal.UI/IconPathConverter.h
  src/modules/cmdpal/Microsoft.Terminal.UI/Microsoft.Terminal.UI.vcxproj
  src/modules/cmdpal/Microsoft.Terminal.UI/RunHistory.cpp
  src/modules/cmdpal/Microsoft.Terminal.UI/RunHistory.h
  src/modules/cmdpal/Microsoft.Terminal.UI/RunHistory.idl
  src/modules/cmdpal/Microsoft.Terminal.UI/pch.h
  src/modules/cmdpal/Microsoft.Terminal.UI/types.h
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/FallbackExecuteItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/Helpers/ShellListPageHelpers.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/Microsoft.CmdPal.Ext.Shell.csproj
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/OpenUrlWithHistoryCommand.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/Pages/RunExeItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/Pages/ShellListPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/PathListItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/ShellCommandsProvider.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/ListHelpers.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/OpenUrlCommand.cs
Labels: Good to Merge, Product-Command Palette

#40769 [UI tests] Add basic UI Tests for Text Extractor
  PowerToys.sln
  src/modules/PowerOCR/PowerOCR-UITests/PowerOCR-UITests.csproj
  src/modules/PowerOCR/PowerOCR-UITests/PowerOCRTests.cs
Labels: Area-Tests

#40398 [CmdPal][Calc] Add option to choose Copy as the primary command (close on enter)
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/QueryHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/ResultHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/SettingsManager.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Properties/Resources.Designer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Properties/Resources.resx
Labels: Needs-Review, Good to Merge, Product-Command Palette

#40773 meta: Change the PR template to link & close issues by default
  .github/pull_request_template.md
  doc/devdocs/readme.md
Labels: Good to Merge

#40794 CmdPal: fix content on extension settings
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/ContentPageViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/PageViewModelFactory.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandSettingsViewModel.cs
Labels: Good to Merge, Product-Command Palette, CmdPal-core, In for .93

#40814 CmdPal: try to fix the context menu crash, again.
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Converters/ContextItemTemplateSelector.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/rd.xml
Labels: Product-Command Palette

#40790 Update thirdPartyRunPlugins.md
  doc/thirdPartyRunPlugins.md
Labels: Issue-Docs, Good to Merge

#40761 add AutomationNotification for screen readers
  src/modules/cmdpal/Microsoft.CmdPal.UI/ExtViews/ListPage.xaml.cs
Labels: Good to Merge, Product-Command Palette, In for .93

#40825 CmdPal: Add error handling to extension disposal
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Models/ExtensionService.cs
Labels: Good to Merge, Product-Command Palette, In for .93

#40513 CmdPal: Handle CommandItem Title changes properly and raise notification every time it changes
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/CommandItemViewModel.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/CommandItem.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/WeakEventListener`3.cs
Labels: Product-Command Palette, In for .93

#40716 CmdPal: Handle exceptions when enqueuing callbacks to UI thread in IconCacheService
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/IconCacheService.cs
Labels: Good to Merge, Product-Command Palette, In for .93

#40849 Fixed issue with primary/secondary commands
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/CommandItemViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/ContentPageViewModel.cs
Labels: Good to Merge, Product-Command Palette, In for .93

#40847 CmdPal: fix handling form submits
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/ShellViewModel.cs
Labels: Needs-Review, Product-Command Palette, In for .93

#40791 CmdPal: Move the OpenContextMenuMessage into the UI project
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/ContextMenuViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/Microsoft.CmdPal.Core.ViewModels.csproj
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/CommandBar.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/ContextMenu.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/SearchBar.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/ExtViews/ListPage.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Messages/OpenContextMenuMessage.cs
Labels: Product-Command Palette, CmdPal-core, In for .93

#40850 CmdPal: Fix paths to dirs on the Run fallback
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/FallbackExecuteItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/Pages/ShellListPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/PathListItem.cs
Labels: Product-Command Palette, CmdPal-core, In for .93

#40752 CmdPal: Sync access to TopLevelCommandManager from UpdateCommandsForProvider
  src/modules/cmdpal/Microsoft.CmdPal.Common/Helpers/SupersedingAsyncGate.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelCommandManager.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelViewModel.cs
Labels: Good to Merge, Product-Command Palette, In for .93

#40874 [CmdPal][UnitTest] Refactor system command unit test
  PowerToys.sln
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.System.UnitTests/BasicTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.System.UnitTests/ImageTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.System.UnitTests/Microsoft.CmdPal.Ext.System.UnitTests.csproj
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.System.UnitTests/QueryTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.System.UnitTests/Settings.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.UnitTestsBase/CommandPaletteUnitTestBase.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.UnitTestsBase/Microsoft.CmdPal.Ext.UnitTestBase.csproj
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/FallbackSystemCommandItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Helpers/Commands.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Helpers/ISettingsInterface.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Helpers/SettingsManager.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Pages/SystemCommandPage.cs
Labels: Product-Command Palette

#40799 Change filter box placeholder for main list page only
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/MainListPage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Properties/Resources.Designer.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Properties/Resources.resx
Labels: Product-Command Palette

#40894 [Installer] Update spelling-check code
  .github/actions/spell-check/allow/code.txt
Labels: Area-Setup/Install

#40871 [UI Tests] Enhance UI Test Automation and Pipeline Support for CmdPal Module
  .pipelines/v2/templates/job-build-ui-tests.yml
  .pipelines/v2/templates/job-test-project.yml
  .pipelines/v2/templates/pipeline-ui-tests-automation.yml
  PowerToys.sln
  doc/devdocs/UITests.md
  src/common/UITestAutomation/Element/TextBox.cs
  src/common/UITestAutomation/EnvironmentConfig.cs
  src/common/UITestAutomation/ModuleConfigData.cs
  src/common/UITestAutomation/SessionHelper.cs
  src/common/UITestAutomation/UITestBase.cs
  src/common/UITestAutomation/VisualAssert.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.UITests/BasicTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.UITests/CommandPaletteTestBase.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.UITests/IndexerTests.cs
Labels: Area-Tests
