Repository microsoft/PowerToys, pull requests merged in 2025-03, with the labels that each got.

#37414 [PTRun][Docs] Add FirefoxBookmark to Third-Party plugins
  doc/thirdPartyRunPlugins.md
Labels: Issue-Docs, Good to Merge

#37718 [PTRun][Docs] Add SVGL to Third-Party plugins
  .github/actions/spell-check/allow/code.txt
  .github/actions/spell-check/allow/names.txt
  doc/thirdPartyRunPlugins.md
Labels: Issue-Docs, Good to Merge

#37149 Color picker wpf
  .github/actions/spell-check/expect.txt
  src/modules/colorPicker/ColorPickerUI/App.xaml
  src/modules/colorPicker/ColorPickerUI/ColorEditorWindow.xaml
  src/modules/colorPicker/ColorPickerUI/ColorEditorWindow.xaml.cs
  src/modules/colorPicker/ColorPickerUI/ColorPickerUI.csproj
  src/modules/colorPicker/ColorPickerUI/Controls/ColorFormatControl.xaml
  src/modules/colorPicker/ColorPickerUI/Controls/ColorPickerControl.xaml
  src/modules/colorPicker/ColorPickerUI/Controls/ColorPickerControl.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Helpers/AppStateHandler.cs
  src/modules/colorPicker/ColorPickerUI/MainWindow.xaml.cs
  src/modules/colorPicker/ColorPickerUI/Resources/Styles.xaml
  src/modules/colorPicker/ColorPickerUI/Views/ColorEditorView.xaml
  src/modules/colorPicker/ColorPickerUI/Views/ZoomView.xaml
Labels: Needs-Review, in for .90

#37744 [Settings > PT Run > Plugin settings] Disable spell check in text boxes
  src/settings-ui/Settings.UI/SettingsXAML/Views/PowerLauncherPage.xaml
Labels: Product-Settings, Good to Merge

#37574 [CI] Upgrade XamlStyler and remove .NET6 dependency
  .config/dotnet-tools.json
  .pipelines/v2/templates/job-build-project.yml
Labels: Needs-Review

#36681 [Run] Fix round corners crashing on 22000
  src/modules/launcher/PowerLauncher/MainWindow.xaml.cs
Labels: Priority-1, Needs-Review

#37987 [PT Run] Async the OnRename to unblock thread
  src/modules/launcher/Plugins/Microsoft.Plugin.Program.UnitTests/Storage/Win32ProgramRepositoryTest.cs
  src/modules/launcher/Plugins/Microsoft.Plugin.Program/Storage/Win32ProgramRepository.cs
Labels: Needs-Review, in for .90

#35418 Add Delete functionality for Peek
  .github/actions/spell-check/expect.txt
  Directory.Packages.props
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.UI/Helpers/DeleteErrorMessageHelper.cs
  src/modules/peek/Peek.UI/MainWindowViewModel.cs
  src/modules/peek/Peek.UI/Models/NeighboringItems.cs
  src/modules/peek/Peek.UI/Native/NativeMethods.cs
  src/modules/peek/Peek.UI/PeekXAML/MainWindow.xaml
  src/modules/peek/Peek.UI/PeekXAML/MainWindow.xaml.cs
  src/modules/peek/Peek.UI/PeekXAML/Views/TitleBar.xaml
  src/modules/peek/Peek.UI/PeekXAML/Views/TitleBar.xaml.cs
  src/modules/peek/Peek.UI/Services/IUserSettings.cs
  src/modules/peek/Peek.UI/Services/UserSettings.cs
  src/modules/peek/Peek.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI.Library/ISettingsUtils.cs
  src/settings-ui/Settings.UI.Library/PeekProperties.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/PeekPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/PeekPage.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PeekViewModel.cs
Labels: Needs-Review

#37598 [Workspaces] Fix snapshotting minimized apps
  src/modules/Workspaces/WorkspacesSnapshotTool/SnapshotUtils.cpp
  src/modules/Workspaces/WorkspacesWindowArranger/WindowArranger.cpp
  src/modules/Workspaces/workspaces-common/WindowFilter.h
Labels: Priority-1, Needs-Review

#32936 Svg thumbnail failed rendering
  src/modules/previewpane/SvgThumbnailProvider/SvgThumbnailProvider.cs
Labels: Priority-1

#37074 New+ Support for variables in template filenames (35287)
  src/common/GPOWrapper/GPOWrapper.cpp
  src/common/GPOWrapper/GPOWrapper.h
  src/common/GPOWrapper/GPOWrapper.idl
  src/common/utils/gpo.h
  src/gpo/assets/PowerToys.admx
  src/gpo/assets/en-US/PowerToys.adml
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/NewPlus.ShellExtension.win10.vcxproj
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/NewPlus.ShellExtension.win10.vcxproj.filters
  src/modules/NewPlus/NewShellExtensionContextMenu.win10/shell_context_menu_win10.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu/NewShellExtensionContextMenu.vcxproj
  src/modules/NewPlus/NewShellExtensionContextMenu/NewShellExtensionContextMenu.vcxproj.filters
  src/modules/NewPlus/NewShellExtensionContextMenu/constants.h
  src/modules/NewPlus/NewShellExtensionContextMenu/helpers_filesystem.h
  src/modules/NewPlus/NewShellExtensionContextMenu/helpers_variables.h
  src/modules/NewPlus/NewShellExtensionContextMenu/new_utilities.h
  src/modules/NewPlus/NewShellExtensionContextMenu/settings.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu/settings.h
  src/modules/NewPlus/NewShellExtensionContextMenu/shell_context_menu.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu/shell_context_menu.h
  src/modules/NewPlus/NewShellExtensionContextMenu/shell_context_sub_menu_item.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu/template_folder.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu/template_item.cpp
  src/modules/NewPlus/NewShellExtensionContextMenu/template_item.h
  src/settings-ui/Settings.UI.Library/NewPlusProperties.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/NewPlusPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/NewPlusPage.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/NewPlusViewModel.cs
Labels: Needs-Review

#29236 [ImageResizer]Fix use without initializing warning
  src/modules/imageresizer/ImageResizerContextMenu/dllmain.cpp
  src/modules/imageresizer/dll/ContextMenuHandler.cpp
Labels: Priority-1

#38031 [cmdpal] Bring back editorconfig
  src/modules/cmdpal/.editorconfig
Labels: Product-Command Palette

#38037 [Settings]Add the New badge to CmdPal
  src/settings-ui/Settings.UI/SettingsXAML/Views/ShellPage.xaml
  src/settings-ui/Settings.UI/ViewModels/DashboardViewModel.cs
Labels: Priority-0

#38036 [CI]Bring back .NET 6 for signing tasks to fix pipelines
  .pipelines/v2/templates/job-build-project.yml
Labels: Priority-0

#38026 Localize CmdPal settings page
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/ExtensionPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/GeneralPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Strings/en-us/Resources.resw
  tools/FancyZone_HitTest/FancyZone_HitTest/App.xaml
  tools/FancyZone_HitTest/FancyZone_HitTest/MainWindow.xaml
Labels: Priority-0, Product-Command Palette

#38041 Update the OOBE text for CmdPal
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeCmdPal.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Priority-0

#38027 Do not show CmdPal on startup
  src/modules/cmdpal/CmdPalModuleInterface/dllmain.cpp
  src/modules/cmdpal/Microsoft.CmdPal.UI/App.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
Labels: Priority-0, in for .90, Product-Command Palette

#38060 [settings] Show uneditable shortcut in CmdPal page
  src/settings-ui/Settings.UI.Library/CmdPalProperties.cs
  src/settings-ui/Settings.UI.Library/Utilities/Helper.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/CmdPalPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/CmdPalPage.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/CmdPalViewModel.cs
  src/settings-ui/Settings.UI/ViewModels/DashboardViewModel.cs
Labels: Product-Command Palette

#38040 CmdPal: Fix SUI crash ; Allow extensions to be disabled
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Shell/Microsoft.CmdPal.Ext.Shell.csproj
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Shell/Pages/ShellListPage.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Shell/Properties/Resources.Designer.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Shell/Properties/Resources.resx
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/SystemCommandExtensionProvider.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.TimeDate/TimeDateCommandsProvider.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandItemViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandProviderWrapper.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/MainListPage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/IconDataViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/IconInfoViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Messages/PerformCommandMessage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Models/ExtensionWrapper.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Properties/Resources.Designer.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Properties/Resources.resx
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ProviderSettings.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ProviderSettingsViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/SettingsModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/SettingsViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelCommandItemWrapper.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelCommandManager.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelCommandWrapper.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/ContentIcon.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/ExtensionPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/ExtensionsPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/GeneralPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Strings/en-us/Resources.resw
  src/modules/cmdpal/exts/Microsoft.CmdPal.Ext.Shell/Assets/Run_V2_2x.svg
  src/modules/cmdpal/exts/Microsoft.CmdPal.Ext.Shell/Icons.cs
Labels: Priority-0, in for .90, Product-Command Palette

#38032 [cmdpal] WIP add telemetry
  src/common/interop/shared_constants.h
  src/modules/cmdpal/CmdPalModuleInterface/dllmain.cpp
  src/modules/cmdpal/Microsoft.CmdPal.UI/App.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Events/BeginInvoke.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Events/CmdPalDismissedOnEsc.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Events/CmdPalDismissedOnLostFocus.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Events/CmdPalHotkeySummoned.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Events/CmdPalInvokeResult.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Events/CmdPalProcessStarted.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Events/ColdLaunch.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Events/OpenPage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Events/ReactivateInstance.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Program.cs
Labels: Priority-0, in for .90, Product-Command Palette

#38067 [OOBE]Show actual CmdPal hotkey
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeCmdPal.xaml
  src/settings-ui/Settings.UI/SettingsXAML/OOBE/Views/OobeCmdPal.xaml.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: in for .90, Product-Command Palette

#38077 [cmdpal] Fix "copy file path" function in file search extension
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Indexer/Commands/CopyPathCommand.cs
Labels: Needs-Review, in for .90, Product-Command Palette

#38070 [Installer]Properly update CmdPal on upgrade
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetupCustomActions/CustomAction.cpp
  installer/PowerToysSetupCustomActions/CustomAction.def
Labels: Priority-0, in for .90, Product-Command Palette

#38078 [cmdpal] Fix some i18n issues for built-in extensions
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Registry/Properties/Resources.Designer.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Registry/Properties/Resources.resx
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Registry/RegistryCommandsProvider.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowsServices/Properties/Resources.Designer.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowsServices/Properties/Resources.resx
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowsServices/WindowsServicesCommandsProvider.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowsSettings/Properties/Resources.Designer.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowsSettings/Properties/Resources.resx
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowsSettings/WindowsSettingsCommandsProvider.cs
Labels: Product-Command Palette

#38074 [cmdpal] Fix winget extension crash issue
  src/modules/cmdpal/exts/Microsoft.CmdPal.Ext.WinGet/Pages/InstallPackageListItem.cs
Labels: Needs-Review, in for .90, Product-Command Palette

#38069 [CmdPal] Single settings window
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Messages/SettingsWindowClosedMessage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml.cs
Labels: Product-Command Palette

#38085 [CmdPal] Adding colored extension icons
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Bookmark/AddBookmarkPage.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Bookmark/Assets/Bookmark.png
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Bookmark/Assets/Bookmark.svg
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Bookmark/Microsoft.CmdPal.Ext.Bookmarks.csproj
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Shell/Assets/Run.png
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Shell/Assets/Run.svg
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Shell/Microsoft.CmdPal.Ext.Shell.csproj
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Assets/SystemCommand.png
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Assets/SystemCommand.svg
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Assets/firmwareSettings.dark.png
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Assets/firmwareSettings.light.png
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Assets/logoff.dark.png
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Assets/logoff.light.png
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Assets/sleep.dark.png
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Assets/sleep.light.png
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Helpers/Icons.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Microsoft.CmdPal.Ext.System.csproj
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Pages/SystemCommandPage.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WinGet/Assets/Extension.png
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WinGet/Assets/Extension.svg
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowWalker/Assets/WindowWalker.png
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowWalker/Assets/WindowWalker.svg
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowWalker/Microsoft.CmdPal.Ext.WindowWalker.csproj
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowWalker/Pages/WindowWalkerListPage.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowWalker/WindowWalkerCommandsProvider.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowsServices/Assets/Services.png
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowsServices/Assets/Services.svg
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowsServices/Microsoft.CmdPal.Ext.WindowsServices.csproj
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowsServices/WindowsServicesCommandsProvider.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Assets/CreateExtension.png
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Assets/CreateExtension.svg
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/NewExtensionPage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Microsoft.CmdPal.UI.ViewModels.csproj
  src/modules/cmdpal/exts/Microsoft.CmdPal.Ext.Shell/Icons.cs
  src/modules/cmdpal/exts/Microsoft.CmdPal.Ext.WinGet/Microsoft.CmdPal.Ext.WinGet.csproj
  src/modules/cmdpal/exts/Microsoft.CmdPal.Ext.WinGet/Pages/WinGetExtensionPage.cs
Labels: in for .90, Product-Command Palette

#38087 [cmdpal] UX tweaks
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/CommandBar.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/Tag.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/ExtViews/ListPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Strings/en-us/Resources.resw
Labels: in for .90, Product-Command Palette

#38068 Pass FG rights to extensions when we access them
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ShellViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
Labels: Priority-0, Needs-Review, in for .90, Product-Command Palette

#38094 [CmdPal] Settings UI polishing
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/WindowExtensions.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/ExtensionPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/ExtensionsPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/GeneralPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/ToastWindow.xaml.cs
Labels: Product-Command Palette

#38103 [CmdPal] Fixes for Exts: All Apps, System Commands, Time And Date
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Apps/AllAppsCommandProvider.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Helpers/Commands.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Helpers/NetworkConnectionProperties.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Helpers/SettingsManager.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Pages/SystemCommandPage.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Properties/Resources.Designer.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/Properties/Resources.resx
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/SystemCommandExtensionProvider.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.System/SystemCommandsCache.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.TimeDate/Properties/Resources.Designer.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.TimeDate/Properties/Resources.resx
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.TimeDate/TimeDateCommandsProvider.cs
Labels: Priority-1, Needs-Review, in for .90, Product-Command Palette

#38149 [CmdPal]Fix resetting the hotkey in Settings
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/SettingsModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/SettingsViewModel.cs
Labels: in for .90, Product-Command Palette

#38151 [CmdPal] Registry: typing "\" causes the page to throw an exception
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Registry/Helpers/RegistryHelper.cs
Labels: in for .90, Product-Command Palette

#38146 [CmdPal]Fix Calc and Command extension fallback command icons
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.Calc/CalculatorCommandProvider.cs
  src/modules/cmdpal/exts/Microsoft.CmdPal.Ext.Shell/FallbackExecuteItem.cs
Labels: in for .90, Product-Command Palette

#38158 [CmdPal] Disabling RequestedShortcut in XAML
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/CommandBar.xaml
Labels: in for .90, Product-Command Palette

#38153 CmdPal: Fix opening SUI pages in other languages
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml.cs
Labels: in for .90, Product-Command Palette

#38150 [CmdPal] Windows Services restart kb shortcuts
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowsServices/Helpers/ServiceHelper.cs
  src/modules/cmdpal/Exts/Microsoft.CmdPal.Ext.WindowsServices/Properties/Resources.resx
Labels: in for .90, Product-Command Palette

#38162 [CmdPal] Fix Layout cycle detected. Layout could not complete
  src/modules/cmdpal/Microsoft.CmdPal.UI/ExtViews/ListPage.xaml
Labels: in for .90, Product-Command Palette

#38156 Fixes a race in extension startup
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelCommandManager.cs
Labels: in for .90, Product-Command Palette

#38152 CmdPal: add appLicensing for offline install; disable startup
  src/modules/cmdpal/Microsoft.CmdPal.UI/Package-Dev.appxmanifest
  src/modules/cmdpal/Microsoft.CmdPal.UI/Package.appxmanifest
Labels: in for .90, Product-Command Palette

#38159 Hide commands with whitespace only names better
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/MainListPage.cs
Labels: in for .90, Product-Command Palette

#38157 Update Fallback commands async, once
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/MainListPage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelViewModel.cs
Labels: in for .90, Product-Command Palette

#38175 cmdpal: Skip dependency installs for extensions
  src/modules/cmdpal/exts/Microsoft.CmdPal.Ext.WinGet/Pages/InstallPackageCommand.cs
  src/modules/cmdpal/exts/Microsoft.CmdPal.Ext.WinGet/Pages/InstallPackageListItem.cs
Labels: Needs-Review, in for .90, Product-Command Palette
