Repository microsoft/PowerToys, pull requests merged in 2025-08, with the labels that each got.

#40944 [PowerRename] Fix named pipe detection
  src/modules/powerrename/PowerRenameUILib/PowerRenameXAML/App.xaml.cpp
Labels: Needs-Review, In for .93

#40987 CmdPal: Update a code comment using a wrong member name [nit]
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/WindowExtensions.cs
Labels: Product-Command Palette

#40986 CmdPal: properly dispose of the old backdrop controller
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
Labels: Product-Command Palette, In for .93

#40943 CmdPal: Coalesce top-level commands list changes into a single task
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/MainListPage.cs
Labels: Product-Command Palette

#41010 CmdPal: Once again, I am asking you to fix form submits
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ContentFormViewModel.cs
  src/modules/cmdpal/ext/SamplePagesExtension/Pages/SampleContentPage.cs
Labels: Product-Command Palette, In for .93

#41081 CmdPal: Make sure to include apps in the ctor
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/MainListPage.cs
Labels: Good to Merge, Product-Command Palette, In for .93

#41031 [AOT] Remove rd.xml from CmdPal
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/CommandContextItemViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/CommandItemViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/IContextItemViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/SeparatorContextItemViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/App.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Converters/ContextItemTemplateSelector.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
  src/modules/cmdpal/Microsoft.CmdPal.UI/TypePreservation.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/rd.xml
Labels: Product-Command Palette

#41079 Mouse highlighter spotlight mode, fix the gpu perf issue
  src/modules/MouseUtils/MouseHighlighter/MouseHighlighter.cpp
Labels: In for .93

#40896 [CmdPal][UT] Refactor some cmdpal ext's ut and improve the test case
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Calc.UnitTests/ExtendedCalculatorParserTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Calc.UnitTests/Microsoft.CmdPal.Ext.Calc.UnitTests.csproj
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Calc.UnitTests/QueryTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Calc.UnitTests/Settings.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Calc.UnitTests/SettingsManagerTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Registry.UnitTests/Microsoft.CmdPal.Ext.Registry.UnitTests.csproj
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Registry.UnitTests/QueryTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Registry.UnitTests/Settings.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.System.UnitTests/QueryTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/AvailableResultsListTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/BasicTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/FallbackTimeDateItemTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/IconTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/Microsoft.CmdPal.Ext.TimeDate.UnitTests.csproj
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/QueryTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/Settings.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.TimeDate.UnitTests/SettingsManagerTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.WindowWalker.UnitTests/Microsoft.CmdPal.Ext.WindowWalker.UnitTests.csproj
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.WindowWalker.UnitTests/PluginSettingsTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.WindowWalker.UnitTests/Settings.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/CalculatorCommandProvider.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/CalculateEngine.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/ISettingsInterface.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/QueryHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/ResultHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/SettingsManager.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Pages/CalculatorListPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Pages/FallbackCalculatorItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Registry/Helpers/ISettingsInterface.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Registry/Helpers/SettingsManager.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Registry/Pages/RegistryListPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Registry/RegistryCommandsProvider.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/FallbackTimeDateItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/AvailableResultsList.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/ISettingsInterface.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/SettingsManager.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/TimeDateCalculator.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Pages/TimeDateExtensionPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/TimeDateCommandsProvider.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WindowWalker/Helpers/ISettingsInterface.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WindowWalker/Helpers/SettingsManager.cs
Labels: Product-Command Palette

#40887 [CmdPal] Search PATH starting with ~ / \
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/FallbackExecuteItem.cs
Labels: Good to merge after release, Product-Command Palette

#40902 CmdPal: extension nuget should target a lower windows SDK version
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/MainListPage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/OpenSettingsCommand.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/QuitAction.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/ReloadExtensionsCommand.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Messages/OpenSettingsMessage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Messages/QuitMessage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Messages/ReloadCommandsMessage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Messages/UpdateFallbackItemsMessage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ProviderSettingsViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelCommandManager.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/TrayIconService.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Messages/HotkeySummonMessage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Messages/SettingsWindowClosedMessage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/ToastWindow.xaml.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/Microsoft.CommandPalette.Extensions.Toolkit.csproj
Labels: Good to merge after release, Product-Command Palette

#40983 CmdPal: Fix race condition in SupersedingAsyncGate cancellation handling [MSH]
  src/modules/cmdpal/Microsoft.CmdPal.Common/Helpers/SupersedingAsyncGate.cs
Labels: Good to merge after release, Product-Command Palette

#41012 CmdPal: Replace Clipboard History extension outline icon with colorful icon
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.ClipboardHistory/Assets/ClipboardHistory.png
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.ClipboardHistory/Assets/ClipboardHistory.svg
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.ClipboardHistory/Icons.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.ClipboardHistory/Microsoft.CmdPal.Ext.ClipboardHistory.csproj
Labels: Good to merge after release, Product-Command Palette

#41087 CmdPal: Bring existing Settings window to the foreground when opened
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
Labels: Good to merge after release, Product-Command Palette

#41130 CmdPal: Replace the brush used for the menu item separator
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/ContextMenu.xaml
Labels: Product-Command Palette

#41133 CmdPal: Remove constrain that keeps the context menu flyout in the bounds of the window
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/CommandBar.xaml
Labels: Good to Merge, Product-Command Palette

#41122 CmdPal: Add local keyboard listener and use it to handle GoBack key
  .github/actions/spell-check/expect.txt
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/LocalKeyboardListener.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/LocalKeyboardListenerKeyPressedEventArgs.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/NativeMethods.txt
Labels: Product-Command Palette

#41166 CmdPal: cancel fetching new items when we get another one
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/ListViewModel.cs
Labels: CmdPal-core

#41274 [CmdPal] Add WinAppSDK dependency in SamplePageExtension And ProcessMonitorExtension
  src/modules/cmdpal/ext/ProcessMonitorExtension/ProcessMonitorExtension.csproj
  src/modules/cmdpal/ext/SamplePagesExtension/SamplePagesExtension.csproj
Labels: Product-Command Palette

#41027 [Cmdpal] Use DynamicDependency to preserve trimmed Adaptive Card action types
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ContentFormViewModel.cs
  src/modules/cmdpal/ext/SamplePagesExtension/Pages/SampleContentPage.cs
Labels: Product-Command Palette

#40991 Adding app icon to run context menu item in all apps ext
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AppCommand.cs
Labels: Needs-Review, Product-Command Palette, In for .94

#41271 Add telemetry for shortcut conflict detection feature.
  src/settings-ui/Settings.UI.Library/Telemetry/Events/ShortcutConflictControlClickedEvent.cs
  src/settings-ui/Settings.UI.Library/Telemetry/Events/ShortcutConflictDetectedEvent.cs
  src/settings-ui/Settings.UI.Library/Telemetry/Events/ShortcutConflictResolvedEvent.cs
  src/settings-ui/Settings.UI/SettingsXAML/Controls/Dashboard/ShortcutConflictControl.xaml.cs
  src/settings-ui/Settings.UI/SettingsXAML/Controls/ShortcutControl/ShortcutControl.xaml.cs
  src/settings-ui/Settings.UI/ViewModels/MouseWithoutBordersViewModel.cs
Labels: Product-Settings, In for .94

#41221 Implement "Gliding cursor" accessibility feature
  .github/actions/spell-check/expect.txt
  doc/images/icons/Mouse Crosshairs.png
  src/modules/MouseUtils/MousePointerCrosshairs/InclusiveCrosshairs.cpp
  src/modules/MouseUtils/MousePointerCrosshairs/InclusiveCrosshairs.h
  src/modules/MouseUtils/MousePointerCrosshairs/dllmain.cpp
  src/settings-ui/Settings.UI.Library/MousePointerCrosshairsProperties.cs
  src/settings-ui/Settings.UI.Library/MousePointerCrosshairsSettings.cs
  src/settings-ui/Settings.UI/Assets/Settings/Icons/MouseCrosshairs.png
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseUtilsPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/MouseUtilsViewModel.cs
Labels: Product-Mouse Utilities, In for .94

#40620 Remove versions and MS/System packages from NOTICE
  .pipelines/verifyNoticeMdAgainstNugetPackages.ps1
  NOTICE.md
Labels: Area-Build

#41042 [deps] Update UTF.Unknown
  Directory.Packages.props
Labels: Area-Build

#41165 CmdPal: Prevent some SearchText bouncing.
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/DynamicListPage.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/ListPage.cs
Labels: Product-Command Palette, CmdPal-core

#40970 CmdPal: Ensuring alias changes are propagated to related TopLevelViewModels
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/AliasManager.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelViewModel.cs
Labels: Product-Command Palette, In for .94

#41056 CmdPal: Make it easier to add APIs in the future
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/CommandViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/IconDataViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandProviderWrapper.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/IconCacheService.cs
  src/modules/cmdpal/Microsoft.Terminal.UI/IconPathConverter.cpp
  src/modules/cmdpal/Microsoft.Terminal.UI/IconPathConverter.h
  src/modules/cmdpal/Microsoft.Terminal.UI/IconPathConverter.idl
  src/modules/cmdpal/doc/initial-sdk-spec/initial-sdk-spec.md
  src/modules/cmdpal/ext/SamplePagesExtension/Pages/SampleListPage.cs
  src/modules/cmdpal/ext/SamplePagesExtension/Properties/launchSettings.json
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/CommandProvider.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/FontIconData.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/IconData.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/IconInfo.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions/Microsoft.CommandPalette.Extensions.idl
Labels: Product-Command Palette, In for .94

#37563 [Advanced Paste] Rephrase module description in settings
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
Labels: Product-Advanced Paste

#41306 CmdPal: Add the pdb's for `.Extensions` too
  src/modules/cmdpal/extensionsdk/nuget/Microsoft.CommandPalette.Extensions.SDK.nuspec
Labels: Product-Command Palette, CmdPal-core, In for .94

#39473 [Quick Accent] Add Maltese language
  .github/actions/spell-check/expect.txt
  src/modules/poweraccent/PowerAccent.Core/Languages.cs
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PowerAccentViewModel.cs
Labels: Needs-Triage, Needs-Team-Response, Needs-Review, Product-Quick Accent

#41091 [Always On Top] Wait cursor fix
  src/modules/alwaysontop/AlwaysOnTop/WindowBorder.cpp
Labels: Product-Always On Top, Needs-Review

#41044 [QuickAccent] Update Topmost logic to attempt to fix hybrid graphics issues
  src/modules/poweraccent/PowerAccent.UI/Selector.xaml.cs
Labels: Product-Quick Accent

#37577 [QuickAccent] Persist characters usage between runs
  src/modules/poweraccent/PowerAccent.Core/Models/UsageInfoData.cs
  src/modules/poweraccent/PowerAccent.Core/PowerAccent.cs
  src/modules/poweraccent/PowerAccent.Core/SerializationContext/SourceGenerationContext.cs
  src/modules/poweraccent/PowerAccent.Core/Tools/CharactersUsageInfo.cs
  src/modules/poweraccent/PowerAccent.UI/Selector.xaml.cs
Labels: Needs-Review, Product-Quick Accent

#41016 move Automation Notification functionality to UIHelper, implement UIHelper in ListPage and SettingsWindow
  src/modules/cmdpal/Microsoft.CmdPal.UI/ExtViews/ListPage.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/UIHelper.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Strings/en-us/Resources.resw
Labels: Product-Command Palette, In for .94

#41183 CmdPal: Fix winget in release builds
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/CommandItemViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WinGet/Pages/InstallPackageListItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WinGet/Pages/WinGetExtensionPage.cs
Labels: Severity-Regression, Needs-Review, Product-Command Palette, In for .94

#41347 [CmdPal] Eliminate `CopyTextCommand` duplicates
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Commands/CopyPathCommand.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/UWPApplication.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/Win32Program.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Properties/Resources.Designer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Properties/Resources.resx
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WindowsSettings/Commands/CopySettingCommand.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WindowsSettings/Helpers/ContextMenuHelper.cs
Labels: Product-Command Palette
