Repository microsoft/PowerToys, pull requests merged in 2025-06, with the labels that each got.

#39898 Release ptr which get from CoCreateInstance to prevent memory leak
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/Indexer/DataSourceManager.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/Indexer/Utils/QueryStringBuilder.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WindowWalker/Helpers/VirtualDesktopHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WindowsTerminal/Commands/LaunchProfileAsAdminCommand.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WindowsTerminal/Commands/LaunchProfileCommand.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WindowsTerminal/Helpers/NativeHelpers.cs
Labels: Product-Command Palette

#39800 [cmdpal] Re-enable Clipboard History extention
  src/modules/cmdpal/Microsoft.CmdPal.UI/App.xaml.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.ClipboardHistory/Helpers/ClipboardHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.ClipboardHistory/Helpers/ClipboardThreadScheduler.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.ClipboardHistory/Helpers/NativeMethods.cs
Labels: Needs-Review, Product-Command Palette

#39521 CmdPal: Display correct context items for run fallback
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/FallbackExecuteItem.cs
Labels: Needs-Review, Product-Command Palette

#39891 Welcome new friends, Michael, Jessica, Gleb, Zachary, and Jaylyn
  .github/actions/spell-check/allow/names.txt
  COMMUNITY.md
Labels: Needs-Review

#39155 [CmdPal] Add system tray menu
  .github/actions/spell-check/expect.txt
  src/modules/cmdpal/Microsoft.CmdPal.UI/App.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/TrayIconService.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/NativeMethods.txt
  src/modules/cmdpal/Microsoft.CmdPal.UI/Strings/en-us/Resources.resw
Labels: Needs-Review, Product-Command Palette

#39463 CmdPal: Don't trim the template proj in debug builds
  src/modules/cmdpal/ExtensionTemplate/TemplateCmdPalExtension/TemplateCmdPalExtension/TemplateCmdPalExtension.csproj
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Assets/template.zip
Labels: Product-Command Palette

#39677 [Workspaces] Change workspaces icon store position
  src/modules/Workspaces/WorkspacesEditor/ViewModels/MainViewModel.cs
Labels: Needs-Review, Product-Workspaces

#39726 Add missing codec detection and warning message in video preview
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/Interfaces/IVideoPreviewer.cs
  src/modules/peek/Peek.FilePreviewer/Previewers/MediaPreviewer/VideoPreviewer.cs
  src/modules/peek/Peek.UI/Strings/en-us/Resources.resw
Labels: Needs-Review, Product-Peek

#39525 CmdPal: Improving order of results from settings search
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WindowsSettings/Pages/WindowsSettingsListPage.cs
Labels: Needs-Review, Product-Command Palette

#39334 Use Microsoft.Windows.Settings module for enabling developer mode
  .config/configuration.vsEnterprise.winget
  .config/configuration.vsProfessional.winget
  .config/configuration.winget
Labels: In for .92

#39524 CmdPal: Apply the LLKH to all command hotkeys
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
Labels: Good to Merge, Product-Command Palette

#39414 CmdPal: Auto-focus first content
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ContentPageViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ContentViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/ContentFormControl.xaml.cs
Labels: Needs-Review, Product-Command Palette

#39880 🚀 Add SpeedTest Plugin for PowerToys Run to Third-Party plugin
  doc/thirdPartyRunPlugins.md
Labels: Needs-Triage, Run-Plugin

#39983 Command Palette: fix sample links in README.md
  src/modules/cmdpal/README.md
Labels: Issue-Docs, Product-Command Palette

#39991 Add the detail section
  .pipelines/verifyNoticeMdAgainstNugetPackages.ps1
Labels: Area-Build

#40002 Updates to WinGet publish script
  .github/actions/spell-check/expect.txt
  .github/workflows/package-submissions.yml
Labels: Area-GitHub workflow, In for .92

#39972 [CmdPal][AOT] Using ExprTk to make the Cal extension AOT-compatible
  .github/actions/spell-check/expect.txt
  .pipelines/ESRPSigning_core.json
  NOTICE.md
  PowerToys.sln
  src/common/CalculatorEngineCommon/Calculator.cpp
  src/common/CalculatorEngineCommon/Calculator.h
  src/common/CalculatorEngineCommon/Calculator.idl
  src/common/CalculatorEngineCommon/CalculatorEngineCommon.def
  src/common/CalculatorEngineCommon/CalculatorEngineCommon.vcxproj
  src/common/CalculatorEngineCommon/CalculatorEngineCommon.vcxproj.filters
  src/common/CalculatorEngineCommon/ExprtkEvaluator.cpp
  src/common/CalculatorEngineCommon/ExprtkEvaluator.h
  src/common/CalculatorEngineCommon/PropertySheet.props
  src/common/CalculatorEngineCommon/exprtk.hpp
  src/common/CalculatorEngineCommon/packages.config
  src/common/CalculatorEngineCommon/pch.cpp
  src/common/CalculatorEngineCommon/pch.h
  src/common/CalculatorEngineCommon/readme.md
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/CalculateEngine.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/NumberTranslator.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Helper/QueryHelper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/Microsoft.CmdPal.Ext.Calc.csproj
Labels: Product-Command Palette

#39025 [ColorPicker]Add option to choose what clicking individual mouse buttons does
  .github/actions/spell-check/expect.txt
  src/modules/colorPicker/ColorPickerUI/Helpers/AppStateHandler.cs
  src/modules/colorPicker/ColorPickerUI/Mouse/IMouseInfoProvider.cs
  src/modules/colorPicker/ColorPickerUI/Mouse/MouseHook.cs
  src/modules/colorPicker/ColorPickerUI/Mouse/MouseInfoProvider.cs
  src/modules/colorPicker/ColorPickerUI/Settings/IUserSettings.cs
  src/modules/colorPicker/ColorPickerUI/Settings/UserSettings.cs
  src/modules/colorPicker/ColorPickerUI/ViewModels/MainViewModel.cs
  src/settings-ui/Settings.UI.Library/ColorPickerProperties.cs
  src/settings-ui/Settings.UI.Library/ColorPickerPropertiesVersion1.cs
  src/settings-ui/Settings.UI.Library/ColorPickerSettings.cs
  src/settings-ui/Settings.UI.Library/Enumerations/ColorPickerActivationAction.cs
  src/settings-ui/Settings.UI.Library/Enumerations/ColorPickerClickAction.cs
  src/settings-ui/Settings.UI.Library/SettingsUtils.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/ColorPickerPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/ColorPickerViewModel.cs
Labels: Product-Color Picker, Needs-Review, In for .92

#37689 [RegistryPreview] Extended preview for value data
  .github/actions/spell-check/allow/names.txt
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/expect.txt
  .pipelines/applyXamlStyling.ps1
  Directory.Packages.props
  NOTICE.md
  src/codeAnalysis/GlobalSuppressions.cs
  src/modules/registrypreview/RegistryPreview/RegistryPreview.csproj
  src/modules/registrypreview/RegistryPreview/RegistryPreviewXAML/App.xaml
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/AddressFormat.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/CanvasCommands.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/DataFormat.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/DataSignedness.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/DataType.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/HexBox.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/Library/EndianConvert/EndianBinaryReader.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/Library/EndianConvert/EndianBitConverter.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/Library/EndianConvert/Endianness.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/Library/EndianConvert/FileFormatException.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/TextFormat.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/Themes/Generic.xaml
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/TypeConverters.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/HexBox/Utilities.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/MonacoEditor/MonacoEditorControl.xaml
  src/modules/registrypreview/RegistryPreviewUILib/Controls/MonacoEditor/MonacoEditorControl.xaml.cs
  src/modules/registrypreview/RegistryPreviewUILib/Controls/MonacoEditor/MonacoHelper.cs
  src/modules/registrypreview/RegistryPreviewUILib/RegistryPreviewMainPage.DataPreview.cs
  src/modules/registrypreview/RegistryPreviewUILib/RegistryPreviewMainPage.Events.cs
  src/modules/registrypreview/RegistryPreviewUILib/RegistryPreviewMainPage.Utilities.cs
  src/modules/registrypreview/RegistryPreviewUILib/RegistryPreviewMainPage.xaml
  src/modules/registrypreview/RegistryPreviewUILib/RegistryPreviewUILib.csproj
  src/modules/registrypreview/RegistryPreviewUILib/RegistryValue.xaml.cs
  src/modules/registrypreview/RegistryPreviewUILib/Strings/en-US/Resources.resw
  src/modules/registrypreview/RegistryPreviewUILib/Themes/Generic.xaml
Labels: Idea-Enhancement, Product-Registry Preview, Good to Merge, In for .92

#40024 Include all the Unittest as part of CI pipeline
  .pipelines/v2/templates/job-build-project.yml
Labels: Area-Tests

#39589 [CmdPal] Close Gracefully
  src/modules/cmdpal/CmdPalModuleInterface/dllmain.cpp
  src/modules/cmdpal/Microsoft.CmdPal.UI/App.xaml.cs
Labels: Needs-Review, Product-Command Palette, In for .92

#39708 [CmdPal] Fix and localize alias settings
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/TopLevelViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/ExtensionPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Strings/en-us/Resources.resw
Labels: Needs-Review, Product-Command Palette, In for .92

#39974 [CmdPal][AOT] Replace CommunityToolkit.MarkdownTextBlock with CommunityToolkit.Lab.MarkdownTextBlock
  .github/actions/spell-check/expect.txt
  Directory.Packages.props
  NOTICE.md
  nuget.config
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/ShortcutControl/ShortcutDialogContentControl.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/ShortcutControl/ShortcutWithTextLabelControl.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/ExtViews/ContentPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml
Labels: Needs-Review, Product-Command Palette

#39984 [CmdPal][Apps]Add copy path command
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Commands/CopyPathCommand.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/UWPApplication.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/Win32Program.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Properties/Resources.Designer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Properties/Resources.resx
Labels: Product-Command Palette, In for .92

#40056 Fix Peek always showing warning message by updating IsWarningMessageVisible logic
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml
  src/modules/peek/Peek.FilePreviewer/FilePreview.xaml.cs
Labels: Product-Peek

#39946 [Hosts]Add learn more link to warning dialog
  src/modules/Hosts/HostsUILib/HostsMainPage.xaml.cs
  src/modules/Hosts/HostsUILib/Strings/en-us/Resources.resw
Labels: Product-Hosts File Editor, In for .92

#40027 Fix Build Warning on Host
  .github/actions/spell-check/expect.txt
  src/modules/Hosts/Hosts.FuzzTests/Hosts.FuzzTests.csproj
  src/modules/Hosts/HostsUILib/HostsMainPage.xaml
  src/modules/Hosts/HostsUILib/Models/Entry.cs
Labels: Product-Hosts File Editor

#39258 Add 'Restart Windows Explorer' command, implemented using Restart Manager
  .github/actions/spell-check/expect.txt
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Helpers/Commands.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Helpers/Icons.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Properties/Resources.Designer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/Properties/Resources.resx
Labels: Good to Merge, Product-Command Palette

#37628 [RegPreview] Various improvements on how files are saved
  src/modules/registrypreview/RegistryPreviewUILib/RegistryPreviewMainPage.Events.cs
  src/modules/registrypreview/RegistryPreviewUILib/RegistryPreviewMainPage.Utilities.cs
  src/modules/registrypreview/RegistryPreviewUILib/Strings/en-US/Resources.resw
Labels: Idea-Enhancement, Needs-Review, Product-Registry Preview, In for .92

#38044 [CropAndLock] theme
  src/modules/CropAndLock/CropAndLock/CropAndLock.vcxproj
  src/modules/CropAndLock/CropAndLock/main.cpp
Labels: Needs-Review, Product-CropAndLock, In for .92

#40060 Settings: Generate bug report should tell user there is bug report generating
  .github/actions/spell-check/expect.txt
  src/runner/bug_report.cpp
  src/runner/bug_report.h
  src/runner/settings_window.cpp
  src/runner/tray_icon.cpp
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Views/GeneralPage.xaml.cs
  src/settings-ui/Settings.UI/ViewModels/GeneralViewModel.cs
Labels: Area-Bug Report Tool

#39971 Workspaces: PWA apps should not necessarily configure profile to launch.
  src/modules/Workspaces/WorkspacesEditor/Data/ProjectData.cs
  src/modules/Workspaces/WorkspacesEditor/Models/Application.cs
  src/modules/Workspaces/WorkspacesEditor/Models/Project.cs
  src/modules/Workspaces/WorkspacesEditor/Utils/WorkspacesEditorIO.cs
  src/modules/Workspaces/WorkspacesLauncher/AppLauncher.cpp
  src/modules/Workspaces/WorkspacesLib.UnitTests/PwaHelperTests.cpp
  src/modules/Workspaces/WorkspacesLib/PwaHelper.cpp
  src/modules/Workspaces/WorkspacesLib/PwaHelper.h
  src/modules/Workspaces/WorkspacesLib/StringUtils.cpp
  src/modules/Workspaces/WorkspacesLib/StringUtils.h
  src/modules/Workspaces/WorkspacesLib/WindowUtils.cpp
  src/modules/Workspaces/WorkspacesLib/WindowUtils.h
  src/modules/Workspaces/WorkspacesLib/WorkspacesData.cpp
  src/modules/Workspaces/WorkspacesLib/WorkspacesData.h
  src/modules/Workspaces/WorkspacesLib/WorkspacesLib.vcxproj
  src/modules/Workspaces/WorkspacesLib/WorkspacesLib.vcxproj.filters
  src/modules/Workspaces/WorkspacesSnapshotTool/SnapshotUtils.cpp
  src/modules/Workspaces/WorkspacesWindowArranger/WindowArranger.cpp
Labels: Product-Workspaces

#40098 Include app Microsoft-Windows-AppXDeploymentServer-Operational event log as part of bug report
  .github/actions/spell-check/expect.txt
  doc/devdocs/tools/bug-report-tool.md
  tools/BugReportTool/BugReportTool/EventViewer.cpp
  tools/BugReportTool/BugReportTool/EventViewer.h
  tools/BugReportTool/BugReportTool/Main.cpp
Labels: Area-Bug Report Tool

#40111 [Peek] Fix ShellPreviewHandler Previewer
  src/modules/peek/Peek.FilePreviewer/Previewers/ShellPreviewHandlerPreviewer/ShellPreviewHandlerPreviewer.cs
Labels: Needs-Review, Product-Peek, In for .92

#40127 [cmdpal] Disable clipboard history extension
  src/modules/cmdpal/Microsoft.CmdPal.UI/App.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
Labels: Product-Command Palette

#40124 cmdpal: turn on condition package for cmdpal
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
Labels: Area-Build, Product-Command Palette

#40134 [CmdPal][AOT] Make Adaptive Card rendering AOT-compatible
  Directory.Packages.props
  NOTICE.md
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Microsoft.CmdPal.UI.ViewModels.csproj
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
Labels: Product-Command Palette

#40198 [CmdPal] Fix slow fuzzy search in apps extension by properly handling null-terminated strings from SHLoadIndirectString
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/UWPApplication.cs
Labels: Product-Command Palette

#40242 [CmdPal] Fix correct comment typo in SamplePagesExtension
  src/modules/cmdpal/ext/SamplePagesExtension/Program.cs
Labels: Product-Command Palette

#40245 [cmdpal] Fix TimeAndDate extension crash issue when typing query
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Pages/TimeDateExtensionPage.cs
Labels: Product-Command Palette, In for .92

#40243 [cmdpal] Fix primary button doesn't work issue
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/CommandBarViewModel.cs
Labels: Product-Command Palette, In for .92

#40043 Mouse highlighter: support a spotlight mode - inner transparent, out a backdrop
  src/modules/MouseUtils/MouseHighlighter/MouseHighlighter.cpp
  src/modules/MouseUtils/MouseHighlighter/MouseHighlighter.h
  src/modules/MouseUtils/MouseHighlighter/dllmain.cpp
  src/modules/MouseUtils/MouseHighlighter/trace.cpp
  src/modules/MouseUtils/MouseHighlighter/trace.h
  src/settings-ui/Settings.UI.Library/MouseHighlighterProperties.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseUtilsPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/MouseUtilsViewModel.cs
Labels: Product-Mouse Utilities

#40216 Fix: Prevent memory leak in view model lifecycle
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ShellViewModel.cs
Labels: Product-Command Palette
