Repository microsoft/PowerToys, pull requests merged in 2025-09, with the labels that each got.

#41331 CmdPal: Replace localized strings used as setting values in WebSearch extension with literals
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.WebSearch.UnitTests/MockSettingsInterface.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.WebSearch.UnitTests/QueryTests.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Commands/SearchWebCommand.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Helpers/ISettingsInterface.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Helpers/SettingsManager.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Pages/WebSearchListPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Properties/Resources.Designer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Properties/Resources.resx
Labels: Product-Command Palette

#41422 CmdPal: Handle corrupted app state file when saving new state
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/AppStateModel.cs
Labels: Product-Command Palette

#41393 CmdPal: Make LogError include HRESULT in the log
  src/common/ManagedCommon/Logger.cs
Labels: Good to merge after release, Product-Command Palette

#41344 CmdPal: Improve error handling and logging in activation process
  src/modules/cmdpal/Microsoft.CmdPal.UI/App.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Program.cs
Labels: Product-Command Palette

#41455 CmdPal: Fix breadcrumb misalignment in Settings window [nit]
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml
Labels: Product-Command Palette

#41402 CmdPal: Respect Ignore shortcut in fullscreen mode when using the low-level keyboard hook
  src/modules/cmdpal/Microsoft.CmdPal.UI/MainWindow.xaml.cs
Labels: Product-Command Palette

#41556 Fixed a memory alignment issue that caused the measure tool to crash on some machines.
  src/modules/MeasureTool/MeasureToolCore/ToolState.h
Labels: Product-Screen Ruler

#41413 CmdPal: Add keyboard shortcuts to items in File Search extension
  src/modules/cmdpal/Microsoft.CmdPal.Common/Helpers/WellKnownKeyChords.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AppListItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/KeyChords.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Microsoft.CmdPal.Ext.Apps.csproj
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/UWPApplication.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/Win32Program.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/Data/IndexerListItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/KeyChords.cs
Labels: Product-Command Palette

#41398 CmdPal: Update WebSearch extension history immediately
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.WebSearch.UnitTests/MockSettingsInterface.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.WebSearch.UnitTests/QueryTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.WebSearch.UnitTests/SettingsManagerTests.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Commands/SearchWebCommand.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Helpers/HistoryStore.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Helpers/ISettingsInterface.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Helpers/SettingsManager.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Pages/WebSearchListPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/WebSearchCommandsProvider.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/WebSearchTopLevelCommandItem.cs
Labels: Product-Command Palette

#41834 CmdPal: Fix filter separators (two in one)
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/FiltersDropDown.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Converters/FilterTemplateSelector.cs
Labels: Product-Command Palette

#41746 CmdPal: prevent ctrl+i from inserting a tab
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/SearchBar.xaml.cs
Labels: Product-Command Palette, CmdPal-core

#41808 CmdPal: Bind FilterDropDown selection to the current filter and ensure notifications are raised on UI thread
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/ExtensionObjectViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/FiltersViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/FiltersDropDown.xaml
Labels: Product-Command Palette

#41956 CmdPal: Remove support for "selection" TextToSuggest
  src/common/UITestAutomation/UITestAutomation.csproj
  src/modules/cmdpal/Microsoft.CmdPal.Common/Microsoft.CmdPal.Common.csproj
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/ContentTreeViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/SearchBar.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Microsoft.CmdPal.UI.csproj
Labels: Product-Command Palette

#41982 CmdPal: Add actionable hint to empty results in File Search extension
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/Pages/IndexerPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/Properties/Resources.Designer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Indexer/Properties/Resources.resx
Labels: Product-Command Palette

#41959 CmdPal go brrrr (performance improvements)
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/ContextMenuViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/ListItemViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.Core.ViewModels/ListViewModel.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/MainListPage.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/TypedEventHandlerExtensions.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.UnitTestsBase/CommandPaletteUnitTestBase.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AllAppsCommandProvider.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AllAppsSettings.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Calc/CalculatorCommandProvider.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/Pages/ShellListPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/ShellCommandsProvider.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.System/FallbackSystemCommandItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.TimeDate/Helpers/AvailableResult.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/FuzzyStringMatcher.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/ListHelpers.cs
  src/modules/cmdpal/extensionsdk/Microsoft.CommandPalette.Extensions.Toolkit/StringMatcher.cs
Labels: Product-Command Palette

#41867 Enable "Space" only to activate Peek
  src/common/ManagedCommon/Logger.cs
  src/modules/peek/Peek.UI/Helpers/FileExplorerHelper.cs
  src/modules/peek/peek/dllmain.cpp
  src/modules/peek/peek/trace.cpp
  src/modules/peek/peek/trace.h
  src/settings-ui/Settings.UI.Library/PeekProperties.cs
  src/settings-ui/Settings.UI.Library/PeekSettings.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/PeekPage.xaml
  src/settings-ui/Settings.UI/Strings/en-us/Resources.resw
  src/settings-ui/Settings.UI/ViewModels/PeekViewModel.cs
Labels: Product-Peek

#41701 [Find My Mouse] Adding transparency support for spotlight
  .github/actions/spell-check/expect.txt
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  nuget.config
  src/modules/MouseUtils/FindMyMouse/FindMyMouse.cpp
  src/modules/MouseUtils/FindMyMouse/FindMyMouse.h
  src/modules/MouseUtils/FindMyMouse/FindMyMouse.vcxproj
  src/modules/MouseUtils/FindMyMouse/dllmain.cpp
  src/modules/MouseUtils/FindMyMouse/packages.config
  src/modules/MouseUtils/FindMyMouse/pch.h
  src/runner/main.cpp
  src/runner/packages.config
  src/runner/runner.vcxproj
  src/settings-ui/Settings.UI.Library/FindMyMouseProperties.cs
  src/settings-ui/Settings.UI/SettingsXAML/Controls/AlphaColorPickerButton.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Controls/AlphaColorPickerButton.xaml.cs
  src/settings-ui/Settings.UI/SettingsXAML/Controls/ColorPickerButton.xaml
  src/settings-ui/Settings.UI/SettingsXAML/Controls/ColorPickerButton.xaml.cs
  src/settings-ui/Settings.UI/SettingsXAML/Views/MouseUtilsPage.xaml
  src/settings-ui/Settings.UI/ViewModels/MouseUtilsViewModel.cs
Labels: Product-Find My Mouse

#42017 Materializing lists to prevent rescoring
  src/modules/cmdpal/Microsoft.CmdPal.UI.ViewModels/Commands/MainListPage.cs
Labels: Product-Command Palette

#41754 CmdPal: Enable loading local images in MarkdownContent
  .github/actions/spell-check/excludes.txt
  .github/actions/spell-check/expect.txt
  src/modules/cmdpal/Microsoft.CmdPal.UI/ExtViews/ContentPage.xaml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/MarkdownImageProviders/CompositeImageSourceProvider.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/MarkdownImageProviders/DataImageSourceProvider.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/MarkdownImageProviders/HttpImageSourceProvider.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/MarkdownImageProviders/IImageSourceProvider.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/MarkdownImageProviders/ImageHints.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/MarkdownImageProviders/ImageProvider.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/MarkdownImageProviders/ImageSourceFactory.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/MarkdownImageProviders/ImageSourceInfo.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/MarkdownImageProviders/LocalImageSourceProvider.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Helpers/MarkdownImageProviders/RtbInlineImageFactory.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml
  src/modules/cmdpal/ext/SamplePagesExtension/Assets/Images/FluentEmojiChipmunk.svg
  src/modules/cmdpal/ext/SamplePagesExtension/Pages/SampleMarkdownImagesPage.cs
  src/modules/cmdpal/ext/SamplePagesExtension/SamplesListPage.cs
Labels: Product-Command Palette

#41551 CmdPal: Linq clean-up (All Apps)
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AllAppsCommandProvider.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AllAppsPage.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/AppCache.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/IAppCache.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/JsonSerializationContext.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/PackageManagerWrapper.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/UWP.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/UWPApplication.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Programs/Win32Program.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/State/PinStateChangedEventArgs.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/State/PinnedAppsManager.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Storage/ListRepository`1.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Storage/PackageRepository.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Storage/Win32ProgramFileSystemWatchers.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Utils/ShellCommand.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Utils/Theme.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Apps/Utils/ThemeHelper.cs
Labels: Product-Command Palette

#40870 CmdPal: Add Context Menu command "Show Details" when list item has details, but list view's ShowDetails == false
  src/modules/cmdpal/Core/Microsoft.CmdPal.Core.ViewModels/ListItemViewModel.cs
  src/modules/cmdpal/Core/Microsoft.CmdPal.Core.ViewModels/Messages/NavigateNextCommand.cs
  src/modules/cmdpal/Core/Microsoft.CmdPal.Core.ViewModels/Properties/Resources.Designer.cs
  src/modules/cmdpal/Core/Microsoft.CmdPal.Core.ViewModels/Properties/Resources.resx
  src/modules/cmdpal/Core/Microsoft.CmdPal.Core.ViewModels/ShowDetailsCommand.cs
  src/modules/cmdpal/CoreCommonProps.props
  src/modules/cmdpal/Microsoft.CmdPal.UI/Controls/SearchBar.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/ExtViews/ListPage.xaml.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml.cs
Labels: Product-Command Palette

#42016 Allow Run to handle commandlines with spaces
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Shell.UnitTests/NormalizeCommandLineTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.Shell.UnitTests/QueryTests.cs
  src/modules/cmdpal/Tests/Microsoft.CmdPal.Ext.UnitTestsBase/CommandPaletteUnitTestBase.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/FallbackExecuteItem.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/Helpers/CommandLineNormalizer.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/Helpers/ShellListPageHelpers.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.Shell/Pages/ShellListPage.cs
Labels: Product-Command Palette, CmdPal-core, In for .95

#42034 CmdPal: Update web search extensions icons
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Assets/WebSearch.dark.png
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Assets/WebSearch.dark.svg
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Assets/WebSearch.light.png
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Assets/WebSearch.light.svg
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Assets/WebSearch.png
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Assets/WebSearch.svg
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Icons.cs
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Microsoft.CmdPal.Ext.WebSearch.csproj
  src/modules/cmdpal/ext/Microsoft.CmdPal.Ext.WebSearch/Pages/WebSearchListPage.cs
Labels: Product-Command Palette

#42036 CmdPal: Links in details will now wrap correctly.
  src/modules/cmdpal/Core/Microsoft.CmdPal.Core.ViewModels/Microsoft.CmdPal.Core.ViewModels.csproj
  src/modules/cmdpal/Core/Microsoft.CmdPal.Core.ViewModels/Properties/Resources.Designer.cs
  src/modules/cmdpal/Microsoft.CmdPal.UI/Pages/ShellPage.xaml
Labels: Product-Command Palette

#41132 Initial DSC v3 support for PowerToys
  .github/actions/spell-check/expect.txt
  .gitignore
  .pipelines/ESRPSigning_core.json
  .pipelines/generateDscManifests.ps1
  .pipelines/v2/templates/job-build-project.yml
  Directory.Packages.props
  NOTICE.md
  PowerToys.sln
  doc/dsc/Settings.md
  installer/PowerToysSetup/PowerToysInstaller.wixproj
  installer/PowerToysSetup/Product.wxs
  installer/PowerToysSetup/generateDscResourcesWxs.ps1
  installer/PowerToysSetupCustomActionsVNext/CustomAction.cpp
  installer/PowerToysSetupCustomActionsVNext/CustomAction.def
  installer/PowerToysSetupVNext/Core.wxs
  installer/PowerToysSetupVNext/PowerToys.wxs
  installer/PowerToysSetupVNext/PowerToysInstallerVNext.wixproj
  installer/PowerToysSetupVNext/Product.wxs
  installer/PowerToysSetupVNext/generateDscResourcesWxs.ps1
  src/dsc/v3/PowerToys.DSC.UnitTests/BaseDscTest.cs
  src/dsc/v3/PowerToys.DSC.UnitTests/CommandTest.cs
  src/dsc/v3/PowerToys.DSC.UnitTests/Models/DscExecuteResult.cs
  src/dsc/v3/PowerToys.DSC.UnitTests/PowerToys.DSC.UnitTests.csproj
  src/dsc/v3/PowerToys.DSC.UnitTests/SettingsResourceTests/SettingsResourceAdvancedPasteModuleTest.cs
  src/dsc/v3/PowerToys.DSC.UnitTests/SettingsResourceTests/SettingsResourceAlwaysOnTopModuleTest.cs
  src/dsc/v3/PowerToys.DSC.UnitTests/SettingsResourceTests/SettingsResourceAppModuleTest.cs
  src/dsc/v3/PowerToys.DSC.UnitTests/SettingsResourceTests/SettingsResourceAwakeModuleTest.cs
  src/dsc/v3/PowerToys.DSC.UnitTests/SettingsResourceTests/SettingsResourceColorPickerModuleTest.cs
  src/dsc/v3/PowerToys.DSC.UnitTests/SettingsResourceTests/SettingsResourceCommandTest.cs
  src/dsc/v3/PowerToys.DSC.UnitTests/SettingsResourceTests/SettingsResourceCropAndLockModuleTest.cs
  src/dsc/v3/PowerToys.DSC.UnitTests/SettingsResourceTests/SettingsResourceModuleTest`1.cs
  src/dsc/v3/PowerToys.DSC/Commands/BaseCommand.cs
  src/dsc/v3/PowerToys.DSC/Commands/ExportCommand.cs
  src/dsc/v3/PowerToys.DSC/Commands/GetCommand.cs
  src/dsc/v3/PowerToys.DSC/Commands/ManifestCommand.cs
  src/dsc/v3/PowerToys.DSC/Commands/ModulesCommand.cs
  src/dsc/v3/PowerToys.DSC/Commands/SchemaCommand.cs
  src/dsc/v3/PowerToys.DSC/Commands/SetCommand.cs
  src/dsc/v3/PowerToys.DSC/Commands/TestCommand.cs
  src/dsc/v3/PowerToys.DSC/DSCResources/BaseResource.cs
  src/dsc/v3/PowerToys.DSC/DSCResources/SettingsResource.cs
  src/dsc/v3/PowerToys.DSC/Models/DscManifest.cs
  src/dsc/v3/PowerToys.DSC/Models/DscMessageLevel.cs
  src/dsc/v3/PowerToys.DSC/Models/FunctionData/BaseFunctionData.cs
  src/dsc/v3/PowerToys.DSC/Models/FunctionData/ISettingsFunctionData.cs
  src/dsc/v3/PowerToys.DSC/Models/FunctionData/SettingsFunctionData`1.cs
  src/dsc/v3/PowerToys.DSC/Models/ResourceObjects/BaseResourceObject.cs
  src/dsc/v3/PowerToys.DSC/Models/ResourceObjects/ISettingsResourceObject.cs
  src/dsc/v3/PowerToys.DSC/Models/ResourceObjects/SettingsResourceObject`1.cs
  src/dsc/v3/PowerToys.DSC/Options/InputOption.cs
  src/dsc/v3/PowerToys.DSC/Options/ModuleOption.cs
  src/dsc/v3/PowerToys.DSC/Options/OutputDirectoryOption.cs
  src/dsc/v3/PowerToys.DSC/Options/ResourceOption.cs
  src/dsc/v3/PowerToys.DSC/PowerToys.DSC.csproj
  src/dsc/v3/PowerToys.DSC/Program.cs
  src/dsc/v3/PowerToys.DSC/Properties/Resources.Designer.cs
  src/dsc/v3/PowerToys.DSC/Properties/Resources.resx
  src/modules/keyboardmanager/dll/KeyboardManager.vcxproj
  tools/build/build-installer.ps1
  tools/build/generate-dsc-manifests.ps1
Labels: Area-Setup/Install

#41350 [CmdPal] Enable AOT by default
  .pipelines/v2/release.yml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Properties/PublishProfiles/win-arm64.pubxml
  src/modules/cmdpal/Microsoft.CmdPal.UI/Properties/PublishProfiles/win-x64.pubxml
Labels: Product-Command Palette

#41985 Add key to cancel gliding cursor
  src/modules/MouseUtils/MousePointerCrosshairs/MousePointerCrosshairs.vcxproj
  src/modules/MouseUtils/MousePointerCrosshairs/dllmain.cpp
Labels: In for .95

#40639 Dependencies: Upgrade WinUIEx to 2.8.0
  Directory.Packages.props
  src/settings-ui/Settings.UI/Activation/ActivationHandler.cs
  src/settings-ui/Settings.UI/Activation/DefaultActivationHandler.cs
  src/settings-ui/Settings.UI/Services/ActivationService.cs
  src/settings-ui/Settings.UI/Services/NavigationService.cs
Labels: Needs-Triage, Needs-Team-Response, Product-Command Palette

#42096 CmdPal: Fix NavView merge
  src/modules/cmdpal/Microsoft.CmdPal.UI/Settings/SettingsWindow.xaml.cs
Labels: Product-Command Palette
